<template>
  <div class="langding-page-service">
    <section class="landing-service-header-mobile" :style="{background: item.url}">
        <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-push-2">
                <h1 class="landing-service-header-title-mobile">{{item.title}}</h1>
                <div class="landing-service-header-desc-mobile" v-html="item.description"></div>
              </div>
            </div>
        </div>
    </section>
    <section class="landing-block" style="background: #F8F8F8;padding-bottom:0">
      <div class="container">
        <div class="row">
          <div class="col-md-12 productItem productDetailPage productItemMobile"
              v-for="product in listProduct.products" :key="product.product.id"
              :class="{active: picked==product.product.title}"
              @click.self="itemClick(product)">
            <div class="row">
              <div class="col-xs-7">
                <div class="wraper-content">
                  <h5 @click.self="itemClick(product)">{{product.product.title}}</h5>
                  <span>{{product.product.shortContent}}</span>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="serviceCategoryHome" :class="{active: picked==product.product.title}">
                  <div class="box-check" @click.self="itemClick(product)"></div>
                  <img v-lazy="(product.product.featureImage ? product.product.featureImage: '/img/nail-image-example.png')"
                      :alt="product.product.title"
                      style="width:100%;"/>
                </div>
              </div>
            </div>
            <div class="col-md-12 mobile-tabservice">
            <div class="tab-service">
              <span
                  v-for="service in services" :key="service.id"
                  :class="{active: tabChoose==service.title}"
                  class="tabInService"
                  @click="tabClick(service)">
                  {{service.title}}
              </span>
            </div>
            <div v-for="service in services" :key="service.title"
                  v-if="tabChoose==service.title"
                  class="contentInServiceMobile">
                  {{service.description}}
                  <div class="landing-service-time-mobile">
                    <div class="elementServiceMobile">
                      <label>Thời gian: </label><span>{{service.time}} phút</span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="elementServiceMobile">
                      <label>Số tiền: </label> <span>{{getTotalPrice(service.price)}}</span>
                      <div class="clearfix"></div>
                    </div>
                  </div>
              </div>
              <button class="btn btn-bookingInServiceLandingPageMobile" @click="toBooking">ĐẶT LỊCH</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import funciton from "@/assets/js/commons/functions";
export default {
  props: ["item", "listProduct"],
  data() {
    return {
      picked: "",
      tabChoose: "",
      services: [],
      money: "",
      shortContent: "",
      featureImage: ""
    };
  },
  methods: {
    itemClick(item) {
      this.picked = item.product.title;
      this.shortContent = item.product.shortContent;
      this.services = item.services;
      this.featureImage = item.product.featureImage;
      this.tabClick(item.services[0]);
    },
    tabClick(item) {
      this.tabChoose = item.title;
      this.money = item.price;
    },
    getTotalPrice(price) {
      return funciton.FormatThousand(price, "đ");
    },
    toBooking() {
      var bookingIndex = {
        picked: this.picked,
        shortContent: this.shortContent,
        featureImage: this.featureImage,
        services: this.services,
        tabChoose: this.tabChoose,
        money: this.money
      };
      window.localStorage.setItem(
        "bookingLandingPage",
        JSON.stringify(bookingIndex)
      );
      window.localStorage.removeItem("serviceIndex");
      this.$router.push("/booking");
    }
  },
  mounted () {
    var serviceIndex = JSON.parse(window.localStorage.getItem('serviceIndex'))
    if(serviceIndex){
      this.picked = serviceIndex.picked
      this.shortContent = serviceIndex.shortContent
      this.featureImage = serviceIndex.featureImage
      this.services = serviceIndex.services
      this.tabClick(this.services[0])
    }
    if(this.picked == ''){
      document.getElementsByClassName('productDetailPage')[0].click()
    }
  }
};
</script>

<style scoped>
/* base */
.serviceDetailPage {
  backface-visibility: hidden;
  z-index: 1;
}

/* moving */
.serviceDetailPage-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.serviceDetailPage-enter-active {
  transition: all 400ms ease-out;
}

/* disappearing */
.serviceDetailPage-leave-active {
  transition: all 200ms ease-in;
  position: absolute;
  z-index: 0;
  left: 0;
  width: 90%;
}

/* appear at / disappear to */
.serviceDetailPage-enter,
.serviceDetailPage-leave-to {
  opacity: 0;
}
/*collapse*/
.plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: relative;
  width: 21px;
}
.plus-minus-toggle:before,
.plus-minus-toggle:after {
  background: #000;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.plus::after {
  transform: rotate(90deg);
}
.plus-minus-toggle.plus::before {
  transform: rotate(180deg);
}
</style>
