<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Code
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Code</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
          <div class="col-md-6">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Thêm mới</h3>
                </div>
                <div class="box-body">
                  <div class="form-group" :class="{ 'has-error': $v.formData.discountCode.campaignId.$error }">
                    <label>Chiến dịch (*)</label>
                    <select class="form-control" v-model="formData.discountCode.campaignId">
                      <option value="0">Chọn chiến dịch</option>
                      <option v-for="item in listCampaigns.data" :key="item.id" :value="item.id">{{item.name}}</option>
                    </select>
                  </div>
                  <input-group
                    :label="'Code (*)'"
                    v-model="formData.discountCode.code"
                    @blur="$v.formData.discountCode.code.$touch()"
                    :error="$v.formData.discountCode.code.$error"
                    />
                  <div class="form-group">
                    <label>Loại code (*)</label>
                    <select class="form-control" @change="codeTypeChange" v-model="formData.discountCode.codeType">
                      <option value="1">Dành cho một số người</option>
                      <option value="2">Dành cho tất cả</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Hình thức giảm giá (*)</label>
                    <select class="form-control" v-model="formData.discountCode.discountType">
                      <option value="1">Phần trăm</option>
                      <option value="2">Tiền</option>
                    </select>
                  </div>
                  <input-group
                    :label="'Giá trị giảm giá (*)'"
                    v-model="formData.discountCode.discountValue"
                    @blur="$v.formData.discountCode.discountValue.$touch()"
                    :error="$v.formData.discountCode.discountValue.$error"
                    />
                  <input-group
                    :label="'Giới hạn số lần sử dụng (*)'"
                    v-model="formData.discountCode.numberUseLimit"
                    @blur="$v.formData.discountCode.numberUseLimit.$touch()"
                    :error="$v.formData.discountCode.numberUseLimit.$error"
                    />
                  <div class="form-group" :class="{ 'has-error': !$v.dateStartPicker.isCheck }">
                    <label>Ngày bắt đầu (*)</label>
                    <no-ssr>
                      <date-picker class="input-sm" v-model="dateStartPicker" :config="config"></date-picker>
                    </no-ssr>
                  </div>
                  <div class="form-group" :class="{ 'has-error': !$v.dateEndPicker.isCheck }">
                    <label>Ngày kết thúc (*)</label>
                    <no-ssr>
                      <date-picker class="input-sm" v-model="dateEndPicker" :config="config"></date-picker>
                    </no-ssr>
                  </div>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" v-model="formData.discountCode.isActive"> Kích hoạt
                      </label>
                    </div>
                  </div>
                </div>
                <div class="box-footer">
                  <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                  <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                    <i class="fa fa-undo"></i> Hủy
                  </a>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Tùy chọn khác</h3>
                </div>
                <div class="box-body">
                  <div class="form-group" :class="{ 'has-error': $v.formData.accountIds.$error }"  v-if="formData.discountCode.codeType == 1">
                    <label>Khách hàng (*)</label> ({{formData.accountIds && formData.accountIds.length}} / {{listAccounts && listAccounts.length}})
                    <div class="box box-primary">
                      <div class="box-body">
                        <multiselect 
                          v-model="formData.accountIds" 
                          :options="listAccounts"
                          :multiple="true"
                          :searchable="true"
                          :taggable="true"
                          :custom-label="customTagLabel"
                          :loading="isSearching"
                          track-by="id"
                          @search-change="asyncFind"
                          placeholder="Gõ để tìm kiếm khách hàng"
                          >
                        </multiselect>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" v-if="formData.discountCode.codeType == 2">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" v-model="formData.isClone"> Tự động tạo mã tương tự?
                      </label>
                    </div>
                  </div>
                  <input-group
                    v-if="formData.isClone"
                    :label="'Số lượng mã muốn sao chép'"
                    v-model="formData.cloneNumber"
                    />
                  <input-group
                    v-if="formData.isClone"
                    :label="'Tiền tố mã'"
                    v-model="formData.cloneCodePrefix"
                    />
                </div>
              </div>
          </div>  
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import discountApi from '@/assets/js/api/discount'
import { required, minValue, maxValue, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug, formatDate} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import moment from 'moment'
import accountApi from '@/assets/js/api/account'
import TrActive from '@/components/pages/campaign/trActive'
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup,
    TrActive,
    Multiselect
  },
  data () {
    return {
      config: {
        format: 'DD/MM/YYYY HH:mm'
      },
      listCampaigns: {},
      keyword: '',
      isSearching: false,
      formData: {
        discountCode:{
          id: 0,
          campaignId: 0,
          code: '',
          codeType: 2,
          discountType: 1,
          discountValue: 0,
          numberUseLimit: 0,
          isActive: false
          
        },
        accountIds: [],
        dateStart: '',
        hourStart: '',
        dateEnd: '',
        hourEnd: '',
        isClone: false,
        cloneNumber: 0,
        cloneCodePrefix: ''
      },
      dateStartPicker: new Date(),
      dateEndPicker: new Date(),
      listAccounts: []
    }
  },
  validations: {
    formData: {
      discountCode: {
        campaignId: {
          required,
          minValue: minValue(1)
        },
        code: {required},
        discountValue: {
          required,
          minValue: minValue(1)
        },
        numberUseLimit: {
          required,
          minValue: minValue(1)
        }
        
      },
      accountIds:{ 
        required: requiredIf((data) => {
          if(data.codeType == 1) return true
          return false
        })
      }
    },
    dateStartPicker: {
      isCheck (date) {
        var date1 = moment(date, 'DD/MM/YYYY HH:mm').format()
        var date2 = moment(this.dateEndPicker, 'DD/MM/YYYY HH:mm').format()
        if(moment(date1).isSameOrBefore(moment(date2))){
          return true
        }
          return false
      }
    },
    dateEndPicker: {
      isCheck (date) {
        var date1 = moment(date, 'DD/MM/YYYY HH:mm').format()
        var date2 = moment(this.dateStartPicker, 'DD/MM/YYYY HH:mm').format()
        if(moment(date1).isSameOrAfter(moment(date2))){
          return true
        }
        return false
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        this.formData.accountIds = this.formData.accountIds.map(e => {
          return e.id
        })
        var dateTimeStart = moment(this.dateStartPicker, 'DD/MM/YYYY HH:mm').format('DD/MM/YYYY HH:mm').split(' ')
        var dateTimeEnd = moment(this.dateEndPicker, 'DD/MM/YYYY HH:mm').format('DD/MM/YYYY HH:mm').split(' ')
        this.formData.dateStart = dateTimeStart[0]
        this.formData.hourStart = dateTimeStart[1]
        this.formData.dateEnd = dateTimeEnd[0]
        this.formData.hourEnd = dateTimeEnd[1]
        if(this.formData.discountCode.campaignId > 0){
          // add code
          discountApi.createCode(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.$router.push(`/discount`)
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.$v.formData.$touch()
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
    },
    clearForm: function() {
      this.formData = {
        discountCode:{
          id: 0,
          campaignId: 0,
          code: '',
          codeType: 2,
          discountType: 1,
          discountValue: 0,
          numberUseLimit: 0,
          isActive: false
        },
        dateStart: '',
        hourStart: '',
        dateEnd: '',
        hourEnd: '',
        accountIds: []
      },
      this.dateStartPicker = new Date(),
      this.dateEndPicker = new Date()
      this.$v.formData.$reset()
    },
    formatDate (data) {
      return formatDate(data,'DD/MM/YYYY HH:mm')
    },
    codeTypeChange () {
      if(this.formData.discountCode.codeType == 2){
        this.formData.accountIds = []
      }
      else {
        this.formData.isClone = false
        this.formData.cloneNumber = 0
      }
    },
    asyncFind (query) {
      if (query == '') {
        return
      }
      if(this.isSearching) return;
      this.isSearching = true;
      setTimeout(function() {
        accountApi.getListAccounts(this.$authToken, {keyword: query , orderBy: 'userFullName', order: 'asc' ,rowPerPage: 100000}).then(rs => {
          this.listAccounts = rs.data
          this.isSearching = false;
        })
      }.bind(this), 50)
    },
    customTagLabel (option) {
      return option ? option.userFullName+' - '+option.userEmail: ''
    }
  },
  beforeMount() {
    discountApi.getListCampaigns(this.$authToken, {rowPerPage: 100000}).then(rs => {
      this.listCampaigns = rs
    })
  },
}
</script>
