<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Code
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Code</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <router-link :to="`/discount`" class="btn btn-default btn-sm">Danh sách code</router-link>&nbsp;&nbsp;
          </div>
          <!-- Default box -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Chi tiết Code: {{discountCode && discountCode.code}}</h3>
            </div>
            <div class="box-body">
              <div class="form-group col-sm-3">
                <label class="">Code:&nbsp;</label>
                <span>{{discountCode && discountCode.code}}</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Chiến dịch:&nbsp;</label>
                <span>{{campaignName}}</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Loại code:&nbsp;</label>
                <span v-if="discountCode.codeType == 1">Dành cho một số người</span>
                <span v-if="discountCode.codeType == 2">Dành cho tất cả</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Hình thức :&nbsp;</label>
                <span v-if="discountCode.discountType == 1">Phần trăm</span>
                <span v-if="discountCode.discountType == 2">Tiền</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Giá trị :&nbsp;</label>
                <span>{{discountCode.discountValue}}</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Số lượng giới hạn :&nbsp;</label>
                <span>{{discountCode.numberUseLimit}}</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Số lần đã sử dụng :&nbsp;</label>
                <span>{{numberUsed()}}</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Trạng thái :&nbsp;</label>
                  <span v-if="discountCode.isActive == 1">Đã kích hoạt </span>
                <span v-else>Chưa kích hoạt</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Ngày bắt đầu :&nbsp;</label>
                <span>{{formatDate(discountCode.startDateTime)}}</span>
              </div>
              <div class="form-group col-sm-3">
                <label class="">Ngày kết thúc :&nbsp;</label>
                <span>{{formatDate(discountCode.endDateTime)}}</span>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="20">STT</th>
                    <th>Code</th>
                    <th>Người sử dụng</th>
                    <th>Sản phẩm sử dụng</th>
                    <th>Ngày sử dụng </th>
                    <th  class="text-center">Trạng thái code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in listCodeDetail" :key="item.id">
                    <td class="text-center">{{(metaData.page - 1)*metaData.rowPerPage + 1 + index}}</td>
                    <td>{{discountCode && discountCode.code}}</td>
                    <tr-account :accountId="item && item.accountId" />
                    <tr-product :productId="item && item.productId" />
                    <td>{{item.usedDate && formatDate(item.usedDate)}}</td>
                    <td class="text-center" v-if="item.status">
                      Đã sử dụng
                    </td>
                    <td class="text-center" v-else>
                      Chưa sử dụng
                    </td>
                  </tr> 
                </tbody>
              </table>
              <paginate v-if="metaData !== undefined && metaData.totalPage > 1" :page-count="metaData.totalPage"
                :click-handler="callPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'">
              </paginate>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import discountApi from '@/assets/js/api/discount'
import {genSlug, formatDate} from '@/assets/js/commons/functions'
import moment from 'moment'
import accountApi from '@/assets/js/api/account'
import TrAccount from '@/components/pages/campaign/trAccount'
import TrProduct from '@/components/pages/campaign/trProduct'

export default {
  layout: 'master',
  components: {
    Paginate,
    TrAccount,
    TrProduct
  },
  data () {
    return {
      discountCode: {},
      listCodeDetail: [],
      metaData: {},
      searchParams: {
        page: 1,
        rowPerPage: 20
      },
      campaignName: ''
    }
  },
  methods: {
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    fetchData () {
      discountApi.getDetailCode(this.$authToken, this.$route.params.code, this.searchParams).then(rs => {
        this.discountCode = rs.data.discountCode
        discountApi.getCampaignById(this.$authToken, this.discountCode.campaignId).then(rs => {
          this.campaignName = rs.name
        })
        this.listCodeDetail = rs.data.discountCodeDetail
        this.metaData = rs.meta
      })
    },
    formatDate (data) {
      return formatDate(data,'DD/MM/YYYY HH:mm')
    },
    numberUsed () {
      if(this.listCodeDetail){
        if(this.listCodeDetail.length == 0) return 0
        else {
          var num = this.listCodeDetail.filter(e => e.status == 1);
          return num.length
        }
      }
    }
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>
