<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Chiến dịch
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Chiến dịch</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Default box -->
            <div class="form-group">
              <router-link to="/discount/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Tạo mới Code</router-link>
              &nbsp;
              <router-link to="/campaign" :class="'btn btn-default btn-sm'"><i class="fa fa-undo"></i> Quay lại</router-link>
            </div>
            <search :searchParams="searchParams" :isChangeable="false"  v-on:search="sumbitSearch"/>
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách code thuộc chiến dịch:
                  <span class="text-uppercase"><router-link :to="'/campaign'">{{campaign.name}}</router-link></span>
                </h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Code</th>
                      <th>Chiến dịch</th>
                      <th>Loại code</th>
                      <th>Hình thức</th>
                      <th>Giá trị</th>
                      <th>SL giới hạn</th>
                      <th>SL đã sử dụng</th>
                      <th>Ngày bắt đầu</th>
                      <th>Ngày kết thúc</th>
                      <th class="text-center">Trạng thái</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listCodes.data" :key="item.discountCode.id">
                      <td class="text-center">{{(listCodes.meta.page - 1)*listCodes.meta.rowPerPage + 1 + index}}</td>
                      <td>{{item.discountCode.code}}</td>
                      <tr-campaign :campaignId="item.discountCode.campaignId" />
                      <td>
                        <span v-if="item.discountCode.codeType == 1">Một số ngưới</span>
                        <span v-if="item.discountCode.codeType == 2">Tất cả</span>
                      </td>
                      <td>
                        <span v-if="item.discountCode.discountType == 1">Phần trăm</span>
                        <span v-if="item.discountCode.discountType == 2">Tiền</span>
                      </td>
                      <td>{{item.discountCode.discountValue}}</td>
                      <td>{{item.discountCode.numberUseLimit}}</td>
                      <td>{{item.numberUsed}}</td>
                      <td>{{formatDate(item.discountCode.startDateTime)}}</td>
                      <td>{{formatDate(item.discountCode.endDateTime)}}</td>
                      <tr-active :isActive="item.discountCode.isActive" :id="item.discountCode.id" />
                      <td class="text-center">
                        <router-link :to="`/discountdetail/${item.discountCode.code}`" class="btn btn-xs btn-primary">
                          <i title="Chi tiết" aria-hidden="true" class="fa fa-bars"></i>
                        </router-link>&nbsp;
                        <a href="" v-on:click.prevent="deleteCode(item.discountCode.id)" class="btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listCodes.meta !== undefined && listCodes.meta.totalPage > 1" :page-count="listCodes.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import discountApi from '@/assets/js/api/discount'
import {formatDate} from '@/assets/js/commons/functions'
import moment from 'moment'
import Search from '@/components/pages/campaign/searchCode'
import TrActive from '@/components/pages/campaign/trActive'
import TrCampaign from '@/components/pages/campaign/trCampaign'

export default {
  layout: 'master',
  components: {
    Paginate,
    Search,
    TrCampaign,
    TrActive
  },
  data () {
    return {
      config: {
        format: 'DD/MM/YYYY HH:mm'
      },
      campaign: {},
      listCodes: {},
      searchParams: {
        orderBy: 'CreateDate',
        order: 'desc',
        page: 1,
        rowPerPage: 30,
        keyword: '',
        campainId: this.$route.params.id
      }
    }
  },
  methods: {
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    fetchData () {
      discountApi.getListCodeByCampId(this.$authToken, this.searchParams).then(rs => {
        this.listCodes = rs
      })
    },
    formatDate (data) {
      return formatDate(data,'DD/MM/YYYY HH:mm')
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    },
    deleteCode (id) {
      if(confirm('Bạn có chắc chắn muốn xóa không.'))
      discountApi.deleteCode(this.$authToken, {id: id}).then(rs =>{
        this.fetchData()
      })
    }
  },
  beforeMount() {
    this.fetchData()
    discountApi.getCampaignById(this.$authToken, this.$route.params.id).then(rs => {
      this.campaign = rs
    })
  },
}
</script>

