<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Chiến dịch
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Chiến dịch</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Thêm mới & cập nhật</h3>
              </div>
              <div class="box-body">
                <input-group
                  :label="'Tiêu đề (*)'"
                  v-model="formData.campaign.name"
                  @blur="$v.formData.campaign.name.$touch()"
                  :error="$v.formData.campaign.name.$error"
                  />
                <div class="form-group">
                  <label>Mô tả</label>
                  <textarea class="form-control"
                    placeholder="Mô tả"
                    rows="4"
                    v-model="formData.campaign.description"/>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách chiến dịch</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên chiến dịch</th>
                      <th>Mô tả</th>
                      <th class="text-center">Danh sách code</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listCampaigns.data" :key="item.id">
                      <td>{{(listCampaigns.meta.page - 1)*listCampaigns.meta.rowPerPage + 1 + index}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.description}}</td>
                      <td class="text-center"><router-link :to="`/discount/${item.id}`" class="btn btn-xs btn-primary"><i class="fa fa-bars"></i></router-link>&nbsp;</td>
                      <td class="text-center">
                        <a :href="`/campaign/edit/${item.id}`" v-on:click.prevent="loadDetailCampaign(item.id)" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>&nbsp;
                        <a href="" v-on:click.prevent="deleteCampaign(item.id)" class="btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listCampaigns.meta !== undefined && listCampaigns.meta.totalPage > 1" :page-count="listCampaigns.meta.totalPage"
                    :click-handler="callPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import discountApi from '@/assets/js/api/discount'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup
  },
  data () {
    return {
      listCampaigns: {},
      formData: {
        campaign: {
          id: 0,
          name: '',
          description: ''
        }
      },
      searchParams: {
        page: 1,
        rowPerPage: 20,
        keyword: ''
      }
    }
  },
  validations: {
    formData: {
      campaign: {
        name: {required}
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        var id =this.formData.campaign.id
        if(id && id > 0){
          // edit
          discountApi.updateCampaign(this.$authToken, this.formData.campaign).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          // create
          discountApi.createCampaign(this.$authToken, this.formData.campaign).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.$v.formData.$touch()
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
     },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    loadDetailCampaign (id) {
      discountApi.getCampaignById(this.$authToken, id).then(rs => {
        this.formData.campaign = rs
      })
    },
    clearForm: function() {
      this.formData.campaign = {id: 0}
      this.$v.formData.$reset()
    },
    deleteCampaign (id) {
      if (confirm("Bạn có chắc chắn muốn xóa?")) {
        this.formData.campaign.id = id
        discountApi.deleteCampaign(this.$authToken, this.formData.campaign).then(rs => {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    genSlug() {
      // if(this.formData.category.catSlug) return;
      // this.formData.category.catSlug = genSlug(this.formData.category.catTitle)
    },
    fetchData () {
      discountApi.getListCampaigns(this.$authToken, this.searchParams).then(rs => {
        this.listCampaigns = rs
      })
    }
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>
