<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Chỉnh sửa & biên tập bài viết {{id}}
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/post">Quản lý Bài viết</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <form @submit="submitForm">
        <div class="row">
          <!--Content-->
          <div class="col-md-9">
            <!-- content box -->
            <div class="box box-default">
              <div class="box-body">
                <input-group
                :label="'Tiêu đề bài viết (*)'"
                :error="$v.formData.post.postTitle.$error"
                v-model="formData.post.postTitle"
                @blur="$v.formData.post.postTitle.$touch()"
                @change="genPostSlug"
                />
                <input-group
                    :label="'Alias bài viết'"
                    :error="$v.formData.post.postSlug.$error"
                    v-model="formData.post.postSlug"
                    @blur="$v.formData.post.postSlug.$touch()"
                    />
                <div class="form-group">
                  <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToPost')">Chọn ảnh</button>
                  <!-- <no-ssr>
                    <upload-photo
                    @uploadDone="uploadImageEditorDone"
                    :id="'uploadImageContent'"
                    :iscrop="false"
                    :enableResize="true"
                    :enableOrientation="false"
                    ></upload-photo>
                  </no-ssr> -->
                </div>
                <div class="form-group">
                  <no-ssr>
                  <editor
                      id="postContent"
                      :dataChange="dataChange"
                      v-model="formData.post.postContent"
                    >
                    </editor>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <label>Mô tả ngắn cho bài viết (Ký tự: {{formData.post.postExcerpt && formData.post.postExcerpt.length}})</label>
                  <textarea class="form-control" rows="5" v-model="formData.post.postExcerpt"></textarea>
                </div>
              </div>
            </div>
            <!-- Box action -->
              <div class="box box-primary">
                <div class="box-header">
                  <h5>Tags</h5>
                </div>
                <div class="box-body">
                  <multiselect
                    v-model="formData.Tags"
                    :options="tagsOptions"
                    :multiple="true"
                    :searchable="true"
                    :taggable="true"
                    :custom-label="customTagLabel"
                    :loading="isSearching"
                    track-by="tagTitle"
                    @tag="addTag"
                    @search-change="asyncFind"
                    placeholder="Gõ để chọn hoặc thêm mới tag"
                    >
                  </multiselect>
                </div>
              </div>
            <!-- End box action -->
            <!-- Video Source -->
            <div class="box box-default">
              <div class="box-header">
                <h3 class="box-title">Video Options</h3>
                </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                      <label>Nguồn Video</label>
                      <select class="form-control" v-model="formData.post.videoSource">
                        <option value="">Chọn Nguồn</option>
                        <option value="0">YouTube</option>
                        <option value="1">Facebook</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                     <input-group
                      :label="`Video Url`"
                      v-model="formData.post.videoUrl"
                      />
                  </div>
                </div>
              </div>
            </div>
            <!-- End Video Source -->
            <!-- SEO Option -->
            <div class="box box-default">
              <div class="box-header">
                <h3 class="box-title">SEO Options</h3>
                </div>
              <div class="box-body">
                <input-group
                :label="`SEO title (Kí tự: ${formData.post.seoTitle ? formData.post.seoTitle.length: 0})`"
                v-model="formData.post.seoTitle"
                />
                <input-group
                :label="`SEO keywords (Ký tự: ${formData.post.seoKeywords ? formData.post.seoKeywords.length: 0})`"
                v-model="formData.post.seoKeywords"
                />
                <div class="form-group">
                  <label>SEO Description (Ký tự: {{formData.post.seoDescription ? formData.post.seoDescription.length : 0}})</label>
                  <textarea class="form-control" rows="5" v-model="formData.post.seoDescription"></textarea>
                </div>
              </div>
            </div>
          </div>
          <!--Side-->
          <div class="col-md-3">
            <!-- Box action -->
              <div class="box box-primary">
                <div class="box-header">
                  <h4>Hành động</h4>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Trạng thái bài viết</label>
                    <select class="form-control input-sm" v-model="formData.post.status">
                      <option v-for="status in listPostStatus" :value="status.value" :key="status.value">{{status.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Ngày public</label>
                    <no-ssr>
                      <date-picker class="input-sm" v-model="datePicker" :config="configFromDate"></date-picker>
                    </no-ssr>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" :disabled="isSaving">
                      <i :class="{'fa':true, 'fa-save': !isSaving, 'fa-spinner': isSaving, 'fa-spin': isSaving}"></i> {{(isSaving ? 'Đang lưu dữ liệu': 'Lưu thay đổi')}}
                    </button>
                  </div>
                </div>
              </div>
            <!-- End box action -->

            <!-- Box action -->
              <div class="box box-primary">
                <div class="box-header">
                  <h4>Tùy chọn bài viết</h4>
                </div>
                <div class="box-body">
                  <div class="form-group">
                    <label>Loại bài viết</label>
                    <select class="form-control input-sm" v-model="formData.post.postType">
                      <option v-for="postType in listPostTypes" :value="postType.value" :key="postType.value">{{postType.name}}</option>
                    </select>
                  </div>
                  <div class="form-group text-center">
                    <label>Ảnh đại diện</label>
                    <div class="form-group preview-feature-image" v-if="formData.post.featureImage">
                        <img :src="formData.post.featureImage" alt=""/>
                        <button class="btn-remove-feature-image" type="button" @click="formData.post.featureImage = ''"><i class="fa fa-close"></i></button>
                    </div>
                    <div>
                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToAvatar')">Chọn ảnh</button>
                    </div>
                  </div>
                </div>
              </div>
            <!-- End box action -->

            <!-- Box action -->
            <div class="box box-primary">
              <div class="box-header">
                <h4>Ngôn ngữ</h4>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div v-for="(item,index) in languages" :key="item.id">
                    <input type="radio" :id="index" :value="item.slug" v-model="formData.post.language">
                    <label :for="index"> {{item.name}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header">
                <h4>Chuyên mục</h4>
              </div>
              <div class="box-body">
                <div class="form-group" style="max-height: 450px; overflow: hidden; overflow-y: auto;">
                  <div v-for="cat in listCategories" :key="cat.id" style="margin-bottom: 4px; padding-bottom: 4px; border-bottom: 1px dotted #eee;">
                    <input type="checkbox" :value="{id: cat.id}" v-model="formData.Categories">&nbsp;&nbsp;&nbsp;&nbsp; <strong>{{cat.catTitle}}</strong>
                  </div>
                </div>
              </div>
            </div>
            <!-- End box action -->
          </div>
        </div>
      </form>
    </section>
    <!-- /.content -->
    <!-- /.modal -->
    <!-- <no-ssr>
      <media-photo :showmodal="showmodal" @InsertSrcImg="InsertSrcImg" @InsertSrcImgToContent="InsertSrcImgToContent"></media-photo>
    </no-ssr> -->
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import Editor from '@/components/ui-kits/editor'
//import UploadPhoto from '@/components/ui-kits/upload-form'
//import MediaPhoto from '@/components/ui-kits/media-form'

import {postStatus, postType} from '@/assets/js/commons/constants'
import {genSlug} from '@/assets/js/commons/functions'
import catApi from '@/assets/js/api/BlogCategory'
import postApi from '@/assets/js/api/post'
import tagApi from '@/assets/js/api/tag'
import languageApi from '@/assets/js/api/language'

import Multiselect from 'vue-multiselect'
import moment from 'moment'
import 'vue-multiselect/dist/vue-multiselect.min.css'
export default {
  layout: 'master',
  components: {
    InputGroup,
    Editor,
    Multiselect
  },
  data () {
    return {
      showmodal:false,
      configFromDate: {
        format: 'DD/MM/YYYY hh:mm A',
        useCurrent: true,
      },
      datePicker: new Date(),
      formData: {
        post: {
          id: 0,
          postTitle: '',
          language:'',
          postSlug: '',
          postContent: '',
          featureImage: '',
          postExcerpt: '',
          status: 0,
          postType: 0,
          order: 0,
          seoTitle: '',
          seoDescription: '',
          seoKeywords: '',
          videoSource: '',
          videoThumbnail: '',
          videoDuration: '',
          videoUrl: '',
          createdDate: ''
        },
        Categories:[],
        Tags:[]
      },
      listPostStatus: postStatus,
      listPostTypes: postType,
      listCategories: [],
      id: this.$route.params.id,
      isSaving: false,
      dataChange: false,
      tagsOptions: [],
      isSearching: false,
      languages:{}
    }
  },
  validations: {
      formData: {
        post: {
          postTitle: {required},
          postSlug: {required},
          postContent: {required}
        }
      }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        this.isSaving = true;
        this.formData.post.createdDate = moment(this.datePicker, 'DD/MM/YYYY hh:mm').format()
        //chỉnh sửa bài viết
        if(this.formData.post.id>0) {
          postApi.updatePost(this.$authToken,this.id, this.formData).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật bài viết thành công',
              type: 'success'
              })
              this.isSaving = false;
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
              })
            this.isSaving = false;
          })
        }
        // tạo mới bài viết
        else {
          postApi.createPost(this.$authToken,this.formData).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới bài viết thành công',
              type: 'success'
              })
              this.$router.push(`/post/edit/${rs.data.post.id}`)
              this.isSaving = false;
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
              })
              this.isSaving = false;
          })
        }
      } else {
        this.showNotifyMessage({
            title: 'Đã có lỗi xảy ra',
            message: 'Tạo mới bài viết không thành công, kiểm tra lại dữ liệu',
            type: 'error'
            })
      }
    },
    genPostSlug() {
      if(this.formData.post.postSlug) return;
      this.formData.post.postSlug = genSlug(this.formData.post.postTitle)
    },
    uploadImageEditorDone(data) {
      CKEDITOR.instances['postContent'].insertHtml(`<img src="${data.url}" alt="">`);
    },
    uploadFeatureImage (data) {
      this.formData.post.featureImage = data.url
    },
    addTag(tag) {
      var tagItem = {
        "TagTitle": tag,
        "TagSlug":"",
      }
      tagApi.createTag(this.$authToken, tagItem).then(rs=> {
        this.formData.Tags.push(rs.data)
      }).catch(err => {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Không thể thêm tag mới',
          type: 'error'
        })
      })

    },
    asyncFind (query) {
      if(this.isSearching) return;
      this.isSearching = true;
      setTimeout(function() {
         tagApi.getListTags(this.$authToken, query).then((rs)=> {
            this.tagsOptions = rs.data.tags
            this.isSearching = false;
          }).catch(err=> {

          })
      }.bind(this), 50)
    },
    customTagLabel (option) {
      return option ? option.tagTitle: ''
    },
    OpenMediaModal(val){
      this.showmodal = true
      this.$store.dispatch('SET_MEDIA_MODAL_OPEN',val)
      //document.body.className = 'modal-open'
    },
    CloseMediaModal(){
      this.$store.dispatch('SET_MEDIA_MODAL_CLOSE')
      //document.body.className = ''
    }
  },
  computed: {

  },
  mounted() {
    this.$root.$on('InsertSrcImg', (src) => {
      this.formData.post.featureImage = src
    }),
    this.$root.$on('InsertSrcImgToContent', (src) => {
      CKEDITOR.instances['postContent'].insertHtml(`<img src="${src}" alt="">`);
    })
  },
  beforeMount () {
    catApi.getAllCategories(null, null,'id','asc').then((rs)=> {
      this.listCategories = rs.categories
    })
    languageApi.getLanguage().then((rs) => {
      this.languages = rs.data.data
    })
    if(this.id && +this.id >0) {
      postApi.getPostById(this.$authToken,this.id).then((rs)=> {
        this.formData.post = rs.post
        if(this.formData.post.createdDate){
          this.datePicker = moment(this.formData.post.createdDate).format('DD/MM/YYYY hh:mm A')
        }
        this.formData.Categories = rs.categories.map(function(o) {
          return {
            "id": o.id
          }
        })
        this.formData.Tags = rs.tags
        this.formData.options = rs.options
        this.dataChange = true
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 22px;
    top:-5px ; right:-5px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
