<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Bài viết
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/post">Quản lý Bài viết</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="form-group">
        <nuxt-link to="/post/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Tạo mới bài viết</nuxt-link>
      </div>
      <search :searchParams="searchParams"/>
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách Bài viết</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                  <th width="20" valign="middle" align="center"><input ref="check" type="checkbox" v-model="selectAll"></th>
                  <th>Tiêu đề</th>
                  <th>Ngôn ngữ</th>
                  <th>Chuyên mục</th>
                  <th>Tags</th>
                  <th>Trạng thái</th>
                  <th>Loại</th>
                  <th>Ngày cập nhật</th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="item in listPosts.posts" :key="item.post.id">
                <td width="20" valign="middle" align="center"><input ref="checkItem" type="checkbox" :value="item.post.id" v-model="checkItems"></td>
                <td valign="middle"><nuxt-link :to="'/post/edit/'+item.post.id">{{item.post.postTitle}}</nuxt-link></td>
                <td>{{item.post.language}}</td>
                <td valign="middle" v-html="getCategoryName(item.categories)"></td>
                <td valign="middle" v-html="getTagsName(item.tags)"></td>
                <td valign="middle" v-html="getPostStatusName(item.post.status)"></td>
                <td valign="middle" v-html="getPostTypeName(item.post.postType)"></td>
                <td width="100" align="center">{{formatDate(item.post.createdDate)}}</td>
              </tr>
            </tbody>
          </table>
          <button @click="deleteItem" style="margin-top: 10px" class="btn btn-danger btn-sm" v-if="checkItems.length"><i class="fa fa-trash"></i> Xóa dữ liệu đã chọn</button>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <paginate v-if="listPosts.meta" :page-count="listPosts.meta.totalPage"
                    :click-handler="callPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
          </paginate>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import post from '@/assets/js/api/post'
import {postStatus, postType} from '@/assets/js/commons/constants'
import {mapGetters} from 'vuex'
import Search from '@/components/pages/post/search'
import {formatDate} from '@/assets/js/commons/functions'
export default {
  scrollToTop: true,
  layout: 'master',
  components: {
    Search,
    Paginate
  },
  data() {
    return {
      selectAll: false,
      checkItems: []
    }
  },
  beforeMount() {
    this.$store.dispatch('actionGetListPosts', this.searchParams)
  },
  computed: {
    ...mapGetters({
      listPosts: 'getListPosts'
    }),
    searchParams() {
      return {
        token: this.$authToken,
        catId: 0,
        language:"",
        type: -1,
        status: -1,
        page: 1,
        rowPerPage: 30,
        keyword: '',
        orderby: 'CreatedDate',
        order: 'desc'
      }
    }
  },
  watch: {
    listPosts () {
      this.$nuxt.$loading.finish()
    },
    selectAll () {
      if(this.selectAll){
        this.checkItems = []
        this.checkItems = this.$refs.checkItem.map(e => {
          return parseInt(e.value)
        })
      } else {
        this.checkItems = []
      }
    }
  },
  methods: {
    callPage: function(page) {
      this.selectAll = false
      this.searchParams.page = page
      this.$nuxt.$loading.start()
      this.$store.dispatch('actionGetListPosts', this.searchParams)
      window.scrollTo(0, 0)
    },
    deleteItem () {
      if (confirm('Xóa các Bài viết đã chọn?')){
        if (this.checkItems.length > 0){
          this.$nuxt.$loading.start()
          window.scrollTo(0, 0)
          post.deleteListPost(this.$authToken, this.checkItems).then( rs => {
            this.$store.dispatch('actionGetListPosts', this.searchParams).then(() => {
              this.checkItems = []
            })
          })
        }
      }
    },
    formatDate (data) {
      return formatDate(data, 'DD/MM/YYYY hh:mm A')
    },
    getPostTypeName (value) {
      var typeName = ''
      postType.find(e => {
        if (e.value === value){
          switch (value) {
            case 0:
              typeName = `<span class="label label-primary">${e.name}</span>`
              break;
            case 1:
              typeName = `<span class="label label-default">${e.name}</span>`
              break;
            case 2:
              typeName = `<span class="label label-warning">${e.name}</span>`
              break;
            case 3:
              typeName = `<span class="label label-success">${e.name}</span>`
              break;
            default:
              break;
          }
        }
      })
      return typeName
    },
    getPostStatusName (value) {
      var statusName = ''
      postStatus.find(e => {
        if (e.value === value){
          switch (value) {
            case 0:
              statusName = `<span class="label label-default">${e.name}</span>`
              break;
            case 1:
              statusName = `<span class="label label-success">${e.name}</span>`
              break;
            case 2:
              statusName = `<span class="label label-warning">${e.name}</span>`
              break;
            default:
              break;
          }
        }
      })
      return statusName
    },
    getCategoryName (obj) {
      var categoryName = ''
      obj.forEach(element => {
        categoryName += ` <span class="label label-success">${element.catTitle}</span>`
      });
      return categoryName
    },
    getTagsName (obj) {
      var tagName = ''
      obj.forEach(element => {
        tagName += ` <span class="label label-default">${element.tagTitle}</span>`
      });
      return tagName
    }
  }
}
</script>
