<template>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Thêm & chỉnh sửa thông tin Artist - Chuyên gia</h1>
            <ol class="breadcrumb">
                <li>
                    <nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link>
                </li>
                <li>
                    <nuxt-link to="/manage">Quản lý sản phẩm</nuxt-link>
                </li>
                <li>
                    <nuxt-link to="/manage/artist">Artist</nuxt-link>
                </li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="form-group">
                <nuxt-link to="/manage/artist" class="btn btn-success"><i class="fa fa-list"></i> Danh sách Artist - Chuyên gia</nuxt-link>
            </div>
            <form @submit="saveArtist">
                <div class="row">
                <!-- Col -->
                    <div class="col-md-9">
                        <div class="box box-default">
                            <div class="box-body">
                                <div class="form-group artist-cover" v-if="formData.coverImage">
                                    <img :src="formData.coverImage" class="img-responsive" />
                                </div>
                                <div class="form-group text-center">
                                    <!-- <no-ssr>
                                        <upload-photo
                                        @uploadDone="uploadCoverImageDone"
                                        :id="'uploadCoverImage'"
                                        :iscrop="true"
                                        :enableResize="false"
                                        :enableOrientation="false"
                                        :width="850"
                                        :height="315"
                                        :btnlabel="'Upload ảnh cover'"
                                        ></upload-photo>
                                    </no-ssr> -->
                                    <div>
                                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToCover')">
                                        Chọn ảnh
                                      </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input-group :label="'Tên artist - Chuyên gia (*)'"
                                        :error="$v.formData.name.$error"
                                        v-model="formData.name"
                                        @blur="$v.formData.name.$touch()"
                                        />
                                    </div>
                                    <div class="col-md-4" v-if="!artistId || !formData.isConfirm">
                                        <input-group :label="'Tên đăng nhập (*)'"
                                        :error="$v.formData.userName.$error"
                                        v-model="formData.userName"
                                        @blur="$v.formData.userName.$touch()"
                                        />
                                    </div>
                                    <div class="col-md-4" v-if="!artistId || !formData.isConfirm">
                                        <input-group :label="'Mật khẩu (*)'"
                                        :error="$v.formData.password.$error"
                                        v-model="formData.password"
                                        @blur="$v.formData.password.$touch()"
                                        :type="'password'"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input-group :label="'Nghệ danh'"
                                        v-model="formData.nickname"
                                        />
                                    </div>
                                    <div class="col-md-4">
                                        <input-group :label="'Số năm kinh nghiệm'"
                                        v-model="formData.experience"
                                        />
                                    </div>
                                    <div class="col-md-4">
                                        <input-group :label="'Link Facebook/Instagram'"
                                        v-model="formData.link"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input-group :label="'Lĩnh vực'"
                                        v-model="formData.label"
                                        />
                                    </div>
                                    <div class="col-md-4">
                                        <input-group :label="'Số điện thoại (*)'"
                                        :error="$v.formData.contact.$error"
                                        v-model="formData.contact"
                                        @blur="$v.formData.contact.$touch()"
                                        />
                                    </div>
                                    <div class="col-md-4">
                                        <input-group :label="'Địa chỉ email (*)'"
                                        :error="$v.formData.email.$error"
                                        v-model="formData.email"
                                        @blur="$v.formData.email.$touch()"
                                        />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Ngày sinh</label>
                                        <no-ssr>
                                          <date-picker class="form-control" v-model="formData.birthday" :config="config"></date-picker>
                                        </no-ssr>
                                        {{formData.birthday}}
                                    </div>
                                    <div class="col-md-4">
                                      <label>Thành phố</label>
                                      <div class="form-group">
                                        <select v-model="formData.provinceId" class="form-control" v-on:change="getDistrictByProvinceId(formData.provinceId)">
                                          <option value="0">Thành phố</option>
                                          <option v-for="item in provinces" :key="item.provinceid" :value="item.provinceid">{{item.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <label>Quận/Huyện</label>
                                      <div class="form-group">
                                        <select v-model="formData.districtId" class="form-control">
                                          <option value="0">Quận/Huyện</option>
                                          <option v-for="item in districts" :key="item.districtid" :value="item.districtid">{{item.name}}</option>
                                        </select>
                                      </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input-group :label="'Địa chỉ (*)'"
                                        :error="$v.formData.address.$error"
                                        v-model="formData.address"
                                        @blur="$v.formData.address.$touch()"
                                        />
                                    </div>
                                    <div class="col-md-4">
                                        <input-group :label="'Giờ mở cửa (HH:MM)'"
                                        v-model="formData.openTime"
                                        />
                                    </div>
                                    <div class="col-md-4">
                                        <input-group :label="'Giờ đóng cửa (HH:MM)'"
                                        v-model="formData.endTime"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Mô tả chi tiết - Giới thiệu</label>
                                    <editor
                                        id="artistDescription"
                                        :dataChange="dataChange"
                                        v-model="formData.description"
                                    ></editor>
                                </div>
                                <div class="row" v-if="galleriesArray.length">
                                  <div class="col-md-12">
                                    <div class="form-group" >
                                      <label>Ảnh mẫu</label>
                                    </div>
                                    <div class="form-group">
                                      <div v-masonry origin-left="true" transition-duration="1s" item-selector=".item" v-if="galleriesArray.length">
                                        <div v-masonry-tile class="col-md-4 item form-group preview-feature-image" :key="index" v-for="(gallery,index) in galleriesArray">
                                          <img style="cursor:pointer" @click="previewImgClick(gallery, index)" :src="gallery" alt=""/>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Col -->
                    <div class="col-md-3">
                        <div class="box box-default">
                            <div class="box-body">
                                <div class="form-group artist-avatar" v-if="formData.avartar">
                                    <img :src="formData.avartar" class="img-responsive" />
                                </div>
                                <div class="form-group text-center">
                                    <!-- <no-ssr>
                                        <upload-photo
                                        @uploadDone="uploadAvatarImageDone"
                                        :id="'uploadAvatarImage'"
                                        :iscrop="true"
                                        :enableResize="false"
                                        :enableOrientation="false"
                                        :width="250"
                                        :height="250"
                                        :btnlabel="'Upload ảnh Avatar'"
                                        ></upload-photo>
                                    </no-ssr> -->
                                    <div>
                                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToAvatar')">
                                        Chọn ảnh
                                      </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" v-model="formData.isHome" /> Hiển thị trang chủ</label>
                                </div>
                                <input-group :label="'Giá phục vụ (min-max)'"
                                        v-model="formData.prizes"
                                        />
                                <input-group :label="'Tọa độ: Latitude (ex: 16.05208)'"
                                    v-model="formData.latitude"
                                    />
                                <input-group :label="'Tọa độ: Longitude (ex: 108.21828)'"
                                    v-model="formData.longitude"
                                    />
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> Lưu thông tin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <!-- /.content -->
        <!-- Modal -->
        <transition name="modal" v-if="isShowModal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container modal-md">
                <div class="modal-body">
                  <div class="modal-image-wrapper">
                    <img :src="previewImg" alt=""/>
                    <button class="btn-prev" type="button" @click="prevImage"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <button class="btn-next" type="button" @click="nextImage"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                  </div>
                  <button class="btn-close" type="button" @click="close"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
          </div>
        </transition>
    </div>
</template>

<script>
    // lib
    import artistApi from '@/assets/js/api/artist'
    // components
    import InputGroup from '@/components/ui-kits/input-group'
    import Editor from '@/components/ui-kits/editor'
    import UploadPhoto from '@/components/ui-kits/upload-form'
    import {formatDate} from '@/assets/js/commons/functions'
    import moment from 'moment'
    // validate
    import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'

    export default {
        layout: 'master',
        components: {
            InputGroup,
            Editor,
            UploadPhoto
        },
        data() {
            return {
                artistId: this.$route.params.id,
                dataChange: false,
                isShowModal: false,
                previewImg: '',
                indexImg: 0,
                formData: {
                    userName: '',
                    password: '',
                    name: '',
                    label: '',
                    birthday: '',
                    avartar: '',
                    coverImage: '',
                    address: "",
                    description: '',
                    prizes: '',
                    isHome: false,
                    contact: '',
                    email: '',
                    openTime: '',
                    endTime: '',
                    latitude: '',
                    longitude: '',
                    provinceId: 0,
                    districtId: 0,
                    birthday: ''
                },
              config: {
                format: 'MM/DD/YYYY',
                useCurrent: true,
              },
              galleriesArray: [],
              provinces: [],
              districts: []
            }
        },
        validations: {
            formData: {
                userName: {
                    requiredIf: requiredIf((data) => {
                        return !data.id || +data.id <=0 || !data.isConfirm
                    })
                 },
                password: {
                    requiredIf: requiredIf((data) => {
                        return !data.id || +data.id <=0 || !data.isConfirm
                    })
                 },
                // userName: {required},
                // password: {required},
                name: {required},
                contact: {required},
                email: {required},
                address: {required}
            }
        },
        methods: {
            getDistrictByProvinceId (value,cb) {
              return artistApi.getDistrictsByProvinceId(value).then(rs => {
                this.districts = rs.data
                if(cb === undefined) this.formData.districtId = 0
                else{
                  cb()
                }
              })
            },
            uploadCoverImageDone (data) {
                this.formData.coverImage = data.url
            },
            uploadAvatarImageDone (data) {
                this.formData.avartar = data.url
            },
            saveArtist(e) {
                e.preventDefault()
                if(!this.$v.$invalid) {
                    this.formData.birthday = moment(this.formData.birthday, 'DD/MM/YYYY').format()
                    //update artist
                    if(this.artistId) {
                      console.log(1)
                        artistApi.updateArtist(this.$authToken,this.artistId,this.formData).then((rs)=> {
                            this.showNotifyMessage({
                                title: 'Thành công',
                                message: 'Cập nhật thông tin thành công',
                                type: 'success'
                            })
                            this.$router.push('/manage/artist')
                        }).catch(err=> {
                            this.showNotifyMessage({
                                title: 'Đã có lỗi xảy ra',
                                message: err.message,
                                type: 'error'
                            })
                        })
                    }
                    //create artist
                    else {
                        artistApi.createArtist(this.$authToken,this.formData).then((rs)=> {
                            this.showNotifyMessage({
                                title: 'Thành công',
                                message: 'Tạo mới thông tin thành công',
                                type: 'success'
                            })
                            this.$router.push('/manage/artist')
                        }).catch(err=> {
                            this.showNotifyMessage({
                                title: 'Đã có lỗi xảy ra',
                                message: err.message,
                                type: 'error'
                            })
                        })
                    }
                } else {
                    this.showNotifyMessage({
                        title: 'Đã có lỗi xảy ra',
                        message: 'Tạo mới Artist - Chuyên gia không thành công, kiểm tra lại dữ liệu',
                        type: 'error'
                    })
                }
            },
            formatDate (value) {
              return formatDate(value, 'DD/MM/YYYY')
            },
            close () {
              this.isShowModal = false
              this.previewImg = ''
            },
            previewImgClick (src, index) {
              this.isShowModal = true,
              this.previewImg = src
              this.indexImg = index
            },
            prevImage () {
              if(this.indexImg < 0) return
              if(this.indexImg == 0)  this.previewImg = this.galleriesArray[this.indexImg]
              else{
                this.indexImg = this.indexImg - 1
                this.previewImg = this.galleriesArray[this.indexImg]
              }
            },
            nextImage (){
              this.indexImg = this.indexImg + 1
              if(this.indexImg >= this.galleriesArray.length) {
                this.indexImg = this.galleriesArray.length - 1
              }
              else {
                this.previewImg = this.galleriesArray[this.indexImg]
              }
            },
            keyPress (e) {
              console.log(e)
              if(e.key === 'ArrowLeft'){
                this.prevImage()
              }
              if(e.key === 'ArrowRight'){
                this.nextImage()
              }
              if(e.key === 'Escape'){
                this.close()
              }
            },
            OpenMediaModal(val){
              this.showmodal = true
              this.$store.dispatch('SET_MEDIA_MODAL_OPEN',val)
            }
        },
        beforeMount() {
            if (this.artistId) {
                artistApi.getArtistById(this.$authToken, this.artistId).then((rs) => {
                    this.formData = rs.data
                    this.formData.birthday = this.formatDate(rs.data.birthday)
                    if(this.formData.galleries && this.formData.galleries != ''){
                      this.galleriesArray = this.formData.galleries.split(',')
                    }
                    this.getDistrictByProvinceId(rs.data.provinceId, function(){
                      this.formData.districtId = rs.data.districtId
                    }.bind(this))
                    setTimeout(function() {
                        this.dataChange = true
                    }.bind(this),2000)
                })
            }
            artistApi.getAllProvince().then(rs => {
              this.provinces = rs.data
            })
        },
        mounted () {
          window.addEventListener('keydown', this.keyPress),
          this.$root.$on('InsertSrcImg', (src) => {
            this.formData.avartar = src
          }),
          this.$root.$on('InsertSrcImgToContent', (src) => {
            this.formData.coverImage = src
          })
        }
    }
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.modal-body{
  background: #000;
  padding: 0
}
.modal-image-wrapper{
    float: left;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000;
}
.modal-image-wrapper img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.btn-close{
  position: absolute;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  color: #333;
}
.btn-prev{
  position: absolute;
  left: -35px;
  border: none;
  background: #ffffff;
  color: #333;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
.btn-next{
  position: absolute;
  right: -35px;
  border: none;
  background: #ffffff;
  color: #333;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
</style>
