<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Danh sách Artist - Chuyên gia</h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/manage">Quản lý sản phẩm</nuxt-link></li>
        <li><nuxt-link to="/manage/artist">Artist</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="box">
        <div class="box-body">
          <form @submit="searchArtist">
            <div class="row">
              <div class="col-md-4">
                <input type="text" v-model="query.keyword" class="form-control" />
              </div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>&nbsp;
                <nuxt-link class="btn btn-success" to="/manage/artist/create"><i class="fa fa-plus"></i> Thêm mới Artist</nuxt-link>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="box box-primary">
        <div class="box-header">
          <h4 class="box-title">Danh sách artist</h4>
        </div>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th @click="sortArtist('Name')">Name</th>
              <th @click="sortArtist('Address')">Address</th>
              <th @click="sortArtist('Contact')">Contact</th>
              <th @click="sortArtist('Email')">Email</th>
              <th @click="sortArtist('IsHome')">Home</th>
              <th>Trạng thái</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="artist in artists" :key="artist.id">
              <td>{{artist.name}}</td>
              <td>{{artist.address}}</td>
              <td>{{artist.contact}}</td>
              <td>{{artist.email}}</td>
              <td>{{artist.isHome}}</td>
              <td>{{artist.isConfirm ? 'Đã xác nhận':'Chưa xác nhận'}}</td>
              <td class="text-center">
                <nuxt-link :to="`/manage/artist/edit/${artist.id}`" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></nuxt-link>&nbsp;
                <button type="button" class="btn btn-xs btn-danger" @click="deleteArtist(artist.id)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="box-footer">
            <paginate 
              v-if="meta" 
              :page-count="(meta.totalPage ? meta.totalPage: 0)"
              :click-handler="callPage"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'"></paginate>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>

<script>
import artistApi from '@/assets/js/api/artist'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
export default {
  layout: 'master',
  components: {
    Paginate
  },
  data () {
    return {
      query: {
        keyword: '',
        page: 1,
        orderby: 'id',
        order: 'desc',
        rowPerPage: 20
      },
      meta: {},
      artists: []
    }
  },
  watch: {
    query() {
      this.getArtists()
    }
  },
  methods: {
    searchArtist (e) {
      e.preventDefault()
      this.getArtists()
    },
    getArtists() {
      artistApi.getArtists(this.$authToken,this.query).then((rs)=> {
        this.artists = rs.data.data
        this.meta = rs.data.meta        
      })
    },
    deleteArtist(id) {
      if(confirm('Bạn có chắc muốn thực hiện thao tác này ?')) {
        artistApi.deleteArtist(this.$authToken,id).then((rs)=> {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thông tin Artist - Chuyên gia thành công',
            type: 'success'
          })
          this.getArtists()
        })
      }
    },
    callPage (page) {
      this.query.page = page;
      this.getArtists()
    },
    sortArtist(orderby) {
      this.query.orderby = orderby
      this.getArtists()
    }
  },
  beforeMount() {
    this.getArtists();
  }
}
</script>

<style>

</style>
