<template>
  <div>
    <div v-if="!$mobile.isMobile">
      <section id="artist-register-header">
        <nuxt-link to="/">
          <img src="/img/glamme_logo.png" alt="logo" class="glamme_logo"/>
        </nuxt-link>
        <div id="artist-register-header-desc" v-html="benefitText.groupText && benefitText.groupText.description"></div>
      </section>
      <section id="artist-register-benefit">
        <div class="artist-register-benefit-title">
          {{benefitText.groupText && benefitText.groupText.title}}
        </div>
        <div class="container">
          <div class="col-md-4" v-for="item in benefitText.groupTextDetails" :key="item.id">
            <div ref="benefit" class="detail-benefit">
              <div class="detail-benefit-icon">
                <i :class="item.customStyle" aria-hidden="true"></i>
              </div>
              <div class="detail-benefit-main">
                <div class="detail-benefit-title">
                  {{item.title}}
                </div>
                <div class="detail-benefit-desc" v-html="item.description"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="artist-register-main" :style="`background: url('${benefitText.groupText && benefitText.groupText.image}') center center / 100% no-repeat fixed;`">
        <form @submit="submit">
          <div id="artist-register-form">
            <div class="artist-register-benefit-title">
              Tham gia Glamme Artist
            </div>
            <div class="col-md-6">
              <input type="text"
              @blur="$v.formData.name.$touch()"
              :class="{'input-register-error':($v && $v.formData.name.$error)}"
              v-model="formData.name" placeholder="Tên đầy đủ (*)" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text"
              v-model="formData.nickname" placeholder="Nghệ danh của bạn" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.label" placeholder="Lĩnh vực" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.experience" placeholder="Số năm kinh nghiệm" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.email" placeholder="Email" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.contact" placeholder="Điện thoại" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.link" placeholder="Link Facebook/Instagram" class="input-register">
            </div>
            <div class="col-md-6">
              <no-ssr>
                <date-picker id="register-birthday" v-model="datePicker" :config="config" class="input-register" placeholder="Ngày sinh"></date-picker>
              </no-ssr>
            </div>
            <div class="col-md-6 ">
              <select v-model="formData.provinceId" class="input-register" v-on:change="getDistrictByProvinceId(formData.provinceId)">
                <option value="0">Thành phố</option>
                <option v-for="item in provinces" :key="item.provinceid" :value="item.provinceid">{{item.name}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <select v-model="formData.districtId" class="input-register">
                <option value="0">Quận/Huyện</option>
                <option v-for="item in districts" :key="item.districtid" :value="item.districtid">{{item.name}}</option>
              </select>
            </div>
            <div class="col-md-12">
              <input type="text" v-model="formData.address" placeholder="Địa chỉ" class="input-register">
            </div>
            <div class="col-md-12">
              <textarea
                rows="5"
                :maxlength="500" v-model="formData.description" placeholder="Mô tả về bạn (Tối đa 500 ký tự)" class="input-register">
              </textarea>
            </div>
            <div class="col-md-12">
              <p class="register-upload" @click.prevent="uploadImage" >Đính kèm các tác phẩm của bạn đã làm cho khách hàng</p>
              <no-ssr>
                <upload-photo
                  @uploadDone="uploadFeatureImage"
                  :id="'uploadImageFeature'"
                  :iscrop="false"
                  :enableResize="false"
                  :enableOrientation="false"
                  :align="'center'"
                  style="display: none"
                  ></upload-photo>
              </no-ssr>
              <div v-masonry origin-left="false" transition-duration="1s" item-selector=".item">
                <div v-masonry-tile class="col-md-4 item form-group preview-feature-image" :key="index" v-for="(gallery,index) in galleriesArray">
                  <img :src="gallery" alt=""/>
                  <button class="btn-remove-feature-image" type="button" @click="galleriesArray.splice(index,1)"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="policy-register">
                Bạn đồng ý với Chính sách bảo mật và <a href="/page/chinh-sach-su-dung.html" target="_blank">Điều khoản sử dụng</a> của chúng tôi
                <div id="register-action">
                  <div>
                    <button type="submit" class="btn-register">Đăng ký</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
      <site-footer/>
    </div>
    <!-- Mobile -->
    <div v-else>
      <section id="artist-register-header-mobile">
        <nuxt-link to="/">
          <img src="/img/glamme_logo.png" alt="logo" class="glamme_logo"/>
        </nuxt-link>
        <div id="artist-register-header-desc-mobile" v-html="benefitText.groupText && benefitText.groupText.description"></div>
      </section>
      <section id="artist-register-benefit-mobile">
        <div class="artist-register-benefit-title-mobile">
          {{benefitText.groupText && benefitText.groupText.title}}
        </div>
        <div class="container">
          <slick ref="slick" :options="slickOptions">
            <div v-for="item in benefitText.groupTextDetails" :key="item.id">
              <div ref="benefit" class="detail-benefit-mobile">
                <div class="detail-benefit-icon-mobile">
                  <i :class="item.customStyle" aria-hidden="true"></i>
                </div>
                <div class="detail-benefit-main-mobile">
                  <div class="detail-benefit-title-mobile">
                    {{item.title}}
                  </div>
                  <div class="detail-benefit-desc-mobile" v-html="item.description"></div>
                </div>
              </div>
            </div>
          </slick>
        </div>
      </section>
      <section id="artist-register-main" :style="`background: url('${benefitText.groupText && benefitText.groupText.image}')`">
        <form @submit="submit">
          <div id="artist-register-form-mobile">
            <div class="artist-register-benefit-title-mobile">
              Tham gia Glamme Artist
            </div>
            <div class="col-md-6">
              <input type="text"
              @blur="$v.formData.name.$touch()"
              :class="{'input-register-error':($v && $v.formData.name.$error)}"
              v-model="formData.name" placeholder="Tên đầy đủ (*)" class="input-register">
            </div>
            <!-- <div class="col-md-6">
              <input type="text"
              v-model="formData.nickname" placeholder="Nghệ danh của bạn" class="input-register">
            </div> -->
            <div class="col-md-6">
              <input type="text" v-model="formData.label" placeholder="Lĩnh vực" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.experience" placeholder="Số năm kinh nghiệm" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.email" placeholder="Email" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.contact" placeholder="Điện thoại" class="input-register">
            </div>
            <div class="col-md-6">
              <input type="text" v-model="formData.link" placeholder="Link Facebook/Instagram" class="input-register">
            </div>
            <!-- <div class="col-md-6">
              <no-ssr>
                <date-picker id="register-birthday" v-model="datePicker" :config="config" class="input-register" placeholder="Ngày sinh"></date-picker>
              </no-ssr>
            </div> -->
            <div class="col-md-6 ">
              <select v-model="formData.provinceId" class="input-register" v-on:change="getDistrictByProvinceId(formData.provinceId)">
                <option value="0">Thành phố</option>
                <option v-for="item in provinces" :key="item.provinceid" :value="item.provinceid">{{item.name}}</option>
              </select>
            </div>
            <!-- <div class="col-md-6">
              <select v-model="formData.districtId" class="input-register">
                <option value="0">Quận/Huyện</option>
                <option v-for="item in districts" :key="item.districtid" :value="item.districtid">{{item.name}}</option>
              </select>
            </div> -->
            <div class="col-md-6">
              <input type="text" v-model="formData.address" placeholder="Địa chỉ" class="input-register">
            </div>
            <!-- <div class="col-md-12">
              <textarea
                rows="5"
                :maxlength="500" v-model="formData.description" placeholder="Mô tả về bạn (Tối đa 500 ký tự)" class="input-register">
              </textarea>
            </div> -->
            <div class="col-md-12">
              <p class="register-upload" @click.prevent="uploadImage" >Đính kèm các tác phẩm của bạn đã làm cho khách hàng</p>
              <no-ssr>
                <upload-photo
                  @uploadDone="uploadFeatureImage"
                  :id="'uploadImageFeature'"
                  :iscrop="false"
                  :enableResize="false"
                  :enableOrientation="false"
                  :align="'center'"
                  style="display: none"
                  ></upload-photo>
              </no-ssr>
              <div v-masonry origin-left="true" transition-duration="1s" item-selector=".item">
                <div v-masonry-tile class="col-md-4 item form-group preview-feature-image"  :key="index" v-for="(gallery,index) in galleriesArray">
                  <img :src="gallery" alt=""/>
                  <button class="btn-remove-feature-image" type="button" @click="galleriesArray.splice(index,1)"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="policy-register-mobile">
                Bạn đồng ý với Chính sách bảo mật và <a href="/page/chinh-sach-su-dung.html" target="_blank">Điều khoản sử dụng</a> của chúng tôi
                <div id="register-action">
                  <div>
                    <button type="submit" class="btn-register-mobile">Đăng ký</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
      <site-footer/>
    </div>
  </div>
</template>

<script>
const benefitSlug = 'loi-ich-khi-tham-gia-glamme-artist'
import {SiteFooter} from '@/components/commons'
import striptags from 'striptags'
import textApi from '@/assets/js/api/grouptext'
import artistApi from '@/assets/js/api/artist'
import { required, email, numeric, minValue, maxLength} from 'vuelidate/lib/validators'
import moment from 'moment'
import func from '@/assets/js/commons/functions'
import UploadPhoto from '@/components/ui-kits/upload-form'
import Slick from "vue-slick";

export default {
  components: {
    SiteFooter,
    UploadPhoto,
    Slick
  },
  async asyncData() {
    var benefit =  await textApi.getGroupTextBySlug('', benefitSlug)
    return {
      benefitText: benefit.data
    }
  },
  data () {
    return {
      benefitText: {},
      formData: {
        name: '',
        provinceId: 0,
        districtId: 0,
        address: '',
        label: '',
        experience: '',
        email: '',
        contact: '',
        galleries: ''
      },
      slickOptions: {
        slidesToShow: 1,
        dots: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 5000,
        cssEase: "linear"
      },
      galleriesArray: [],
      provinces: [],
      districts: [],
      config: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
      },
      datePicker: ''
    }
  },
  validations: {
    formData: {
      name: {required }
    },
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.$v.$touch()
      if(!this.$v.$invalid) {
        if(this.datePicker && this.datePicker != '') {
          this.formData.birthday = moment(this.datePicker, 'DD/MM/YYYY').format()
        }
        if(this.galleriesArray && this.galleriesArray.length > 0) {
          this.formData.galleries = this.galleriesArray.join(',')
        }
        console.log(this.formData)
        artistApi.registerArtist(this.formData).then(rs => {
          this.showNotification({
            title: 'Đăng ký thành công',
            message: 'Chúng tôi sẽ xem xét thông tin của bạn và sẽ phản hồi lại trong thời gian sớm nhất!',
            type: 'success'
          })
          this.clearForm()
          this.$v.$reset()
        }).catch(err => {
          this.showNotification({
            title: 'Đăng ký thất bại',
            message: 'Kiểm tra lại thông tin!',
            type: 'error'
          })
        })
      } else {
        this.showNotification({
          title: 'Đăng ký thất bại',
          message: 'Kiểm tra lại thông tin & Bạn phải đồng ý với Điểu khoản sử dụng của chúng tôi!',
          type: 'error'
        })
      }
    },
    getDistrictByProvinceId (value) {
      artistApi.getDistrictsByProvinceId(value).then(rs => {
        this.districts = rs.data
        this.formData.districtId = 0
      })
    },
    fortmatDate(date, fortmat){
      return func.formatDate(date, fortmat);
    },
    clearForm () {
      this.formData = {}
      this.formData.districtId = 0,
      this.formData.provinceId = 0,
      this.datePicker = '',
      this.galleriesArray = []
    },
    uploadFeatureImage (data) {
      this.galleriesArray.push(data.url)
    },
    uploadImage () {
      document.getElementById('uploadImageFeature').click()
    }
  },
  beforeMount () {
    artistApi.getAllProvince().then(rs => {
      this.provinces = rs.data
    })
  },
  mounted () {
    var benefitBox = this.$refs.benefit
    var maxHeight = 0
    benefitBox.forEach(element => {
      if(maxHeight <= element.clientHeight) {
        maxHeight = element.clientHeight
      }
    })
    benefitBox.forEach(element => {
      element.style.height = maxHeight + 'px';
    })
  }
}
</script>
<style scoped>
  .input-register-error{
    border: 0;
    border-bottom: 1px solid #ff595d !important;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
     color:  #ff595d;
    transition: border-color 1s ease;
  }
  .input-register-error::placeholder{
    color:  #ff595d;
    transition: 0.5 ease;
    opacity: 0.6 !important;
  }
  .form-control{
    border: 0;
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    outline: none !important;
    height: inherit;
    box-shadow: none;
    border-radius: 0;
    transition: border-color 1s ease;
  }
  .preview-feature-image {
    display: block;
    position: relative
  }
  .preview-feature-image img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 22px;
    top:-6px ;
    right: 4px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
</style>

