<template>
  <langding-mobile v-if="$mobile.isMobile" :item="item" :itemDetails="itemDetails" :seo="seo"/>
  <div v-else class="beauty-on-demand landing">
    <section class="landing-header" :style="{background: item.url}">
      <div class="container">
        <h1 class="landing-header-title">{{item.title}}</h1>
        <div class="landing-header-desc" v-html="item.description"></div>
      </div>
    </section>
    <section class="landing-block" v-for="detail in itemDetails" :key="detail.id" :style="{background: detail.customStyle}">
      <div class="container">
        <div class="row" v-if="detail.htmlClass=='left'">
          <div class="col-md-6">
            <div class="landing-block-order">{{customOrderLabel(detail.order)}}.</div>
            <div class="landing-block-content">
              <h3 class="landing-block-title">{{detail.title}}</h3>
              <div  class="landing-block-desc" v-html="detail.description"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="landing-block-image-cover">
              <img v-lazy="detail.image" :alt="detail.title"/>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-md-6">
            <div class="landing-block-image-cover">
              <img v-lazy="detail.image" :alt="detail.title"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="landing-block-order">{{customOrderLabel(detail.order)}}.</div>
            <div class="landing-block-content">
              <h3 class="landing-block-title">{{detail.title}}</h3>
              <div class="landing-block-desc" v-html="detail.description"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ready-home">
      <ready></ready>
    </section>
  </div>
</template>

<script>
const slug = 'landing-page-lam-dep-tan-noi'
import gtApi from '@/assets/js/api/grouptext'
import Ready from '@/components/pages/home/ReadyBooking'
import LangdingMobile from '@/components/mobile/landing/beautyOnDemandMobile'
import striptags from 'striptags'
export default {
  layout: 'master',
  components: {
    Ready,
    LangdingMobile
  },
  async asyncData ({app,params}) {
    console.log(app.lang)
    var rs = await gtApi.getGroupTextBySlug('',slug,app.lang);
    var seoInfo = await gtApi.getGroupTextBySlug('','seo-page-lam-dep-tan-noi',app.lang)
    return {
      item: rs.data.groupText,
      itemDetails: rs.data.groupTextDetails,
      seo: {
        seoTitle: seoInfo.data.groupText.title,
        seoKeywords: seoInfo.data.groupText.subTitle,
        seoDescription: striptags(seoInfo.data.groupText.description)
      }
    }
  },
  methods: {
    customOrderLabel (number) {
        return (+number< 10 ? '0'+number: number+'')
    }
  },
  head() {
    return {
      title: this.seo.seoTitle,
      meta:
      [
        { hid : "description", name: "description", content: this.seo.seoDescription }
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.seoHome.seoUrl }]
    }
  }
}
</script>

<style>

</style>
