<template>
  <section class="bookingHomeInfo bookingHomeInfoPage" v-if="auth && !$mobile.isMobile">
      <booking-history :maxheight="'none'"></booking-history>
  </section>
  <section v-else>
    <div class="text-center notLoginYet">ĐĂNG NHẬP ĐỂ XEM THÔNG TIN</div>
  </section>
</template>

<script>

import BookingHistory from '@/components/pages/home/BookingHistory'
import {mapGetters} from 'vuex'

export default {
  layout: 'master',
  components: {
    BookingHistory
  },
  computed: {
    ...mapGetters({
        auth: 'GET_AUTH'
    })
  },
  data () {
    return {
      tabHistory: 'lich-hen',
      page : 1
    }
  },
  methods: {
    LoadMore(){

    }
  }
}
</script>

<style scoped>
  .bookingHomeInfoPage .listBookingHistory .content-booking-history{
    max-height: none;
  }
  .notLoginYet {
    margin: 50px 0;
    font-size: 36px;
    font-weight: 500;
    color: #4A556F;
  }

</style>
