<template>
  <div class="beauty-on-demand landing">
    <section :class="{'landing-header':true,'landing-header-mobile':$mobile.isMobile}">
      <div class="container">
        <h1 :class="{'landing-header-title': true, 'landing-header-title-mobile': $mobile.isMobile}">{{item.title}}</h1>
        <div :class="{'landing-header-desc': true, 'landing-header-desc-mobile':  $mobile.isMobile}" v-html="item.description"></div>
      </div>
    </section>
    <div class="container">
      <section class="content-discover">
        <div class="listTagImages">
          <div class="discover-tag">
            <span v-for="(item, t) in listTags" :key="t">
              <nuxt-link :to="getLink(item.tagSlug, $location)">{{item.tagName}}</nuxt-link>
            </span>
          </div>
        </div>
        <!-- <mansory :cols="{default: 4, 1000: 3, 700: 2, 400: 2}" :gutter="{default: '30px', 700: '10px'}">
          </mansory> -->
        <no-ssr >
            <div v-masonry
                transition-duration="0.3s"
                item-selector=".discover-item-wrapper"
                class="masonry-container"
                fit-width="true"
                >
              <div :class="{'discover-item-wrapper': true, 'discover-item-wrapper-w': (imagesMeta.totalRecord<4)}"
                  v-masonry-tile
                  v-for="(item, index) in images" :key="index"
              >
                <div class="discover-item" @click="GoUpModal($event, item)">
                  <img v-if="item.image !== null" :src="item.image.imageUrl"
                  :alt="item.image.imageName" class="img-discover"/>
                  <div class="title-discover" v-if="item.artist !== null">
                    <img v-lazy="item.artist.avartar" :alt="item.artist.name" class=""  v-if="!$mobile.isMobile"/>
                    <h4>{{item.image.imageName}}</h4>
                    <span>{{item.artist.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </no-ssr>
      </section>
      <div class="text-center form-group">
        <label class="label-xemthem" @click="loadmore()" v-if="isLoadMore">
          <span v-if="!isLoading"> XEM THÊM </span>
          <i v-if="isLoading" class="fa fa-spinner fa-spin" style="font-size: 25px;"></i>
        </label>
      </div>
    </div>
    <section class="ready-home">
      <ready></ready>
    </section>
    <no-ssr>
    <discover-modal v-if="showModal" @close="closeModal"></discover-modal>
    </no-ssr>
  </div>
</template>
<script>
const slug = 'landing-page-kham-pha'
import {mapGetters} from 'vuex'
import gtApi from '@/assets/js/api/grouptext'
import ImagesApi from '@/assets/js/api/product'
import {isShowConstant} from '@/assets/js/commons/constants'
import func from '@/assets/js/commons/functions'
import Ready from '@/components/pages/home/ReadyBooking'
import DiscoverModal from '@/components/pages/discover/discover-modal'
import striptags from 'striptags'


export default {
  layout: 'master',
  components: {
    Ready,
    DiscoverModal
  },
  data () {
    return {
      slug: this.$route.params.tagSlug ? this.$route.params.tagSlug: '',
      page: 1
    }
  },
  async asyncData ({route, currentUrl, params, app, store}) {
    var RowPerPage = 12
    var rs = await gtApi.getGroupTextBySlug('',slug,app.lang)
    var seoInfo = await gtApi.getGroupTextBySlug('','seo-page-kham-pha',app.lang)
    var tags = await ImagesApi.getListTagDiscover(isShowConstant.True);
    return {
      currentUrl: currentUrl,
      item: rs.data.groupText,
      images: {},
      imagesMeta: {},
      isLoading: false,
      isLoadMore: false,
      listTags: tags.tags,
      RowPerPage,
      seo: {
        seoTitle: seoInfo.data.groupText.title,
        seoKeywords: seoInfo.data.groupText.subTitle,
        seoDescription: striptags(seoInfo.data.groupText.description),
        seoImage: seoInfo.data.groupText.image
      }
    }
  },
  computed: {
    ...mapGetters({
      showModal: 'DISCOVER_MODAL_STATUS'
    })
  },
  methods: {
    GoUpModal(e, item) {
      e.preventDefault()
      this.$store.dispatch('SET_DISCOVER_MODAL_OPEN',item)
      this.$router.push(`#${item.image.imageSlug}`)
      document.body.className = 'open-modal'
    },
    closeModal () {
      this.$store.dispatch('SET_DISCOVER_MODAL_CLOSE')
      this.$router.push(this.$route.path)
      document.body.className = ''
    },
    loadmore () {
      this.isLoading = true
      this.page += 1
      if(this.slug){
        ImagesApi.getListImagesDiscoverByTag(this.page, this.RowPerPage, this.slug, this.$location).then(data => {
          if(data.data.length>0) {
            this.images = this.images.concat(data.data)
            this.imagesMeta = data.meta
          }
          this.isLoading = false
          this.showLoadMoreButton()
        })
      }
      else{
        ImagesApi.getListImagesDiscover(this.page, this.RowPerPage,isShowConstant.ShowAll, this.$location).then(data => {
          if(data.data.length>0) {
            this.images = this.images.concat(data.data)
            this.imagesMeta = data.meta
          }
            this.isLoading = false
            this.showLoadMoreButton()

        })
      }
    },
    getLink(item,location){
      return func.genLinkTagDiscover(item,location, this.$lang)
    },
    getImagesData () {
      var Slug = this.$route.params.tagSlug
      if(Slug){
        ImagesApi.getListImagesDiscoverByTag(1, this.RowPerPage, Slug, this.$location).then(rs => {
          this.images = rs.data
          this.imagesMeta = rs.meta
          this.showLoadMoreButton()
        })

      }
      else{
        ImagesApi.getListImagesDiscover(1,this.RowPerPage,isShowConstant.ShowAll, this.$location).then(rs=> {
          this.images = rs.data
          this.imagesMeta = rs.meta
          this.showLoadMoreButton()
        })

      }
    },
    showLoadMoreButton () {
      if(this.imagesMeta.totalPage > this.page){
        this.isLoadMore = true
      }
      else{
        this.isLoadMore = false
      }
    }
  },
  created () {
  },
  head() {
    return {
      title: this.seo.seoTitle,
      meta:
      [
        { hid : "description", name: "description", content: this.seo.seoDescription },
        { hid: "og:title",  property: "og:title", content: this.seo.seoTitle },
        { hid: "og:url",  property: "og:url", content: this.currentUrl },
        { hid: "og:image",  property: "og:image", content: this.seo.seoImage },
        { hid: "twitter:title",  name: "twitter:title", content: this.seo.seoImage },
        { hid: "twitter:description",  name: "twitter:description", content:  this.seo.seoDescription },
        { hid: "twitter:image",  name: "twitter:image", content:  this.seo.seoImage },
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.seoHome.seoUrl }]
    }
  },
  beforeMount () {
    this.getImagesData()
  },
  mounted () {
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$redrawVueMasonry()
    }
  }
}
</script>

<style>
 .mini-toastr {
   z-index: 99999999999;
 }
</style>
