<template>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <div class="row">
            <div class="col-md-12">
              <!-- {{auth}} -->
                <div class="form-group">
                    <div class="text-center form-group">
                      <label>Ảnh đại diện</label>
                      <div class="form-group preview-feature-image" v-if="auth.avatar">
                          <img :src="auth.avatar" alt="auth.userFullName"/>
                          <!-- <button class="btn-remove-feature-image"
                           @click="auth.avatar = ''"
                           type="button">
                            <i class="fa fa-close"></i>
                          </button> -->
                      </div>
                       <no-ssr>
                        <upload-photo
                          @uploadDone="uploadFeatureImage"
                          :id="'uploadImageFeature'"
                          :iscrop="true"
                          :enableResize="false"
                          :enableOrientation="false"
                          :width="200"
                          :height="200"
                          :align="'center'"
                          ></upload-photo>
                        </no-ssr>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" v-model="auth.userEmail"  readonly="readonly" placeholder="Địa chỉ email" required="required" type="email">
              </div>
              <div class="form-group">
                <label>Số điện thoại</label>
                <input class="form-control" v-model="auth.userPhone" placeholder="Số điện thoại" required="required" type="text">
              </div>
              <div class="form-group">
                <label>Họ và tên</label>
                <input class="form-control" v-model="auth.userFullName" placeholder="Họ và tên" required="required" type="text">
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label>Địa chỉ</label>
                  <input class="form-control" v-model="auth.address" placeholder="Địa chỉ" type="text">
                </div>
                <div class="form-group">
                  <label>Ngày sinh</label>
                  <no-ssr>
                    <date-picker v-model="auth.birthday" :id="'date-picker'" :dtFormat="'DD/MM/YYYY'"
                    :defaultDate="new Date(auth.birthday)"
                    :icon="['fa','fa-calendar']"></date-picker>
                  </no-ssr>
                </div>
                <div class="form-group">
                  <label>Giới tính</label>
                  <div class="checkbox-booking">
                    <span class="circle-booking" @click="setCircle('Nam')" :class="{active: auth.userGender=='Nam'}"></span>
                    <span class="valueCircle" @click="setCircle('Nam')">Nam</span>
                    <span class="circle-booking" @click="setCircle('Nữ')" :class="{active: auth.userGender=='Nữ'}"></span>
                    <span class="valueCircle" @click="setCircle('Nữ')">Nữ</span>
                    <span class="circle-booking" @click="setCircle('Khác')" :class="{active: auth.userGender=='Khác'}"></span>
                    <span class="valueCircle" @click="setCircle('Khác')">Khác</span>
                  </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                  <label>Thông tin</label>
                  <textarea v-model="auth.userTitle" class="form-control" cols="20" placeholder="Thông tin thêm về bản thân" rows="4">

                  </textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" @click="submitForm()">
                      <i class="fa fa-refresh"></i> Cập nhật thông tin
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import DatePicker from '@/components/pages/home/DatePicker'
import UploadPhoto from '@/components/ui-kits/upload-form'
import moment from 'moment'
import client from '@/assets/js/api/client-authen'
import {CLIENT_AUTH_TOKEN} from '@/assets/js/commons/constants'

export default {
  layout: 'master',
  components: {
    UploadPhoto,
    DatePicker
  },
  data() {
    return {

    }
  },
  computed: {
    ...mapGetters({
        auth: 'GET_AUTH'
    })
  },
  methods: {
    uploadFeatureImage (data) {
      this.auth.avatar = data.url
    },
    setCircle (gender) {
      this.auth.userGender = gender
    },
    submitForm() {
      var birthday = this.auth.birthday
      this.auth.birthday = ""
      client.updateCurrentUser(this.$cookies.get(CLIENT_AUTH_TOKEN), {Account:this.auth,BirthDay:birthday}).then(data => {
        this.showNotification({
          title: 'Thành công.',
          message: 'Bản đã cập nhật thành công',
          type: 'success'
        })
      })
    }
  },
  mounted() {
    if(!this.auth) {
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
  margin: 15px auto;
  max-width: 200px;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}
.btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 22px;
    top:-5px ; right:-5px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
