<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">
            <div class="col-md-2">
              <label>Từ khóa</label>
              <input class="form-control input-sm" id="keyword" v-model="keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
            </div>
            <div class="col-md-2">
              <label>Ngôn ngữ</label>
              <select v-model="languageSelect" class="form-control input-sm" id="langId" name="langId">
                <option value="">Tất cả ngôn ngữ</option>
                <option v-for="item in languages" :key="item.id" :value="item.slug">{{item.name}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Chuyên mục</label>
              <select v-model="categorySelect" class="form-control input-sm" id="catId" name="catId">
                <option value="0">Tất cả chuyên mục</option>
                <option v-for="item in categories" :key="item.id" :value="item.id">{{item.catTitle}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Loại bài viết</label>
              <select v-model="typeSelect" class="form-control input-sm" id="type" name="type">
                <option value="-1">Tất cả loại bài viết</option>
                <option v-for="(item,index) in postType" :key="index" :value="item.value">{{item.name}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Trạng thái </label>
              <select v-model="statusSelect" class="form-control input-sm" id="status" name="status">
                <option value="-1">Tất cả trạng thái</option>
                <option v-for="(item,index) in postStatus" :key="index" :value="item.value">{{item.name}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <div>
                <button style="width: 45%; display: block; float: left" class="btn btn-primary btn-sm btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
                <div class="clear-fix"></div>
                <button style="width: 45%; display: block; float: left; margin-left: 5px;" class="btn btn-default btn-sm btn-block" @click="reset"><i class="fa fa-undo"></i> Reset</button>
                <div class="clear-fix"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import languageApi from '@/assets/js/api/language'
import {postStatus, postType} from '@/assets/js/commons/constants'
export default {
  props: ['searchParams'],
  data () {
    return {
      postType: postType,
      postStatus: postStatus,
      categories: [],
      languages:{},
      keyword: this.searchParams.keyword,
      statusSelect: this.searchParams.status,
      categorySelect: this.searchParams.catId,
      languageSelect: this.searchParams.language,
      typeSelect: this.searchParams.type,
    }
  },
  beforeMount () {
    this.$store.dispatch('getAllCategories', {page: 1, orderby:'catTitle', order:'asc'}).then(rs => {
      this.categories = rs.categories
    })
    languageApi.getLanguage().then((rs) => {
      this.languages = rs.data.data
    })
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.setSearchParams()
      console.log(this.searchParams)
      this.$nuxt.$loading.start()
      this.$store.dispatch('actionGetListPosts', this.searchParams)
    },
    reset (e) {
      e.preventDefault()
      this.keyword = '',
      this.statusSelect = -1,
      this.categorySelect = 0,
      this.languageSelect = "",
      this.typeSelect = -1
      this.setSearchParams()
      this.$nuxt.$loading.start()
      this.$store.dispatch('actionGetListPosts', this.searchParams)
    },
    setSearchParams () {
      this.searchParams.keyword = this.keyword
      this.searchParams.status = this.statusSelect
      this.searchParams.catId = this.categorySelect
      this.searchParams.language = this.languageSelect
      this.searchParams.type = this.typeSelect
    }
  }
}
</script>
