<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">          
            <div class="col-md-3">
              <label>Từ khóa</label>
              <input class="form-control input-sm" id="keyword" v-model="searchParams.keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
            </div>
            <div class="col-md-2">
              <label>Artist</label>
              <select class="form-control input-sm" v-model="searchParams.artistId">
                <option value="0">Chọn Artist</option>
                <option v-for="item in artists" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Sản phẩm</label>
              <select class="form-control input-sm" v-model="searchParams.productId" @change="getServiceByProductId()">
                <option value="0">Chọn sản phẩm</option>
                <option v-for="item in products" :key="item.product.id" :value="item.product.id">
                  {{item.product.title}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Dịch vụ </label>
              <select class="form-control input-sm" v-model="searchParams.serviceId">
                <option value="0">Chọn dịch vụ</option>
                <option v-for="item in services" :key="item.id" :value="item.id">
                  {{item.title}}
                </option>
              </select>
            </div>
            <div class="col-md-2 ">
              <label>Hiển thị trang chủ</label>
              <select v-model="searchParams.isShowHome" class="form-control  input-sm">
                <option value="-1">Tất cả</option>
                <option value="1">Hiển thị trên trang chủ</option>
                <option value="0">Ẩn trên trang chủ</option>
              </select>
            </div>
            <div class="col-md-1">
              <label>&nbsp;</label><br>
              <div>
                <button class="btn btn-primary btn-sm btn-block">Tìm kiềm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import artistApi from '@/assets/js/api/artist'
import productApi from '@/assets/js/api/product'
import serviceApi from '@/assets/js/api/service'
export default {
  props: ['searchParams'],
  data () {
    return {
      artists: [],
      products: [],
      services: []
    }
  },
  beforeMount () {
    artistApi.getArtists(this.$authToken, {rowPerPage: 20000, orderBy:'Name', order: 'asc'}).then((rs)=> {
      this.artists = rs.data.data 
    })
    productApi.getListProducts(this.$authToken, {rowPerPage: 20000, orderBy:'Title', order: 'asc'}).then((rs)=> {
      this.products = rs.data.products 
    })
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.$emit('search', this.searchParams);
    },
    getServiceByProductId () {
      return serviceApi.getServiceByProductId(this.$authToken, this.searchParams.productId).then((rs)=> {
        this.services = rs
        this.searchParams.serviceId = 0
      })
    },
  }
}
</script>
