<template>
  <modal-kit :size="'custom'" :width="'80%'" :showheader="false" :showfooter="false" :padding="'0'"
    :class="{'mobile-discover': $mobile.isMobile}">
    <div slot="body" class="modal-discover clearfix" v-click-outside="closeDiscoverModal">
      <button @click="closeDiscoverModal"
              type="button" class="btn-close-login-modal">
              <i class="fa fa-close"></i>
      </button>
      <div class="left-modal">
         <img :src="imageData.image.imageUrl" :alt="imageData.image.imageName"/>
      </div>
      <div class="right-modal common-title">
        <div class="modal-right-content">
          <div class="modal-right-content-info"  v-if="!ShowBooking">
            <div class="right-modal-top">
              <h5 class="discover-modal-title">{{imageData.image.imageName}}</h5>
              <span class="discover-modal-desc">{{imageData.image.imageDescription}}</span>
              <div class="discover-tag">
                <span v-for="(item,t) in imageData.tags" :key="t">
                  <a @click="goToTagPage(item.tagSlug,currentLocation)" style="cursor: pointer">{{item.tagName}}</a>
                </span>
              </div>
              <fb-like :url="getLinkInfo(`${imageData.image.imageSlug}-${imageData.image.id}`)" style="margin-left: 10px;"></fb-like>
            </div>
            <div class="right-modal-bottom">
              <div class="artist-modal clearfix">
                <div class="pull-left avatar" v-if="imageData.artist !== null">
                  <img :src="imageData.artist.avartar" :alt="imageData.artist.name">
                </div>
                <div class="content-artist" v-if="imageData.artist !== null">
                  <span>Makeup by: {{imageData.artist.name}}</span>
                  <span>{{formatDate(imageData.image.createdDate)}}</span>
                </div>
              </div>
              <div class="service-modal" v-if="imageData.product !== null">
                <div class="form-group">
                  <label>Dịch vụ: </label>
                  <span>{{imageData.product.title}}</span>
                </div>
                <div class="form-group">
                  <label>Loại dịch vụ: </label>
                  <span>{{imageData.service.title}}</span>
                </div>
                <div class="form-group">
                  <label>Số tiền: </label>
                  <span>{{getFormatThousand(imageData.service.price)}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-right-content-booking" v-if="ShowBooking">
            <div class="head-modal-booking">
              <span @click="ShowBooking=false"><i class="fa fa-caret-left" aria-hidden="true"></i> Quay lại</span>
              <h5 class="text-center">Đặt chỗ</h5>
            </div>
            <div class="content-modal-book">
              <div class="bookingHome clearfix" :class="{'mobileBooking': $mobile.isMobile}" style="display:block">
                <div class="location" v-on:click="showListByClick">
                  <i class="fa fa-2x fa-map-marker"></i>
                  <span class="locati"> {{currentCityBooking}} </span>
                  <i class="fa fa-caret-down idownclass"></i>
                  <div class="listLocation"
                      v-if="showList"
                      v-click-outside="closeList">
                    <span v-for="location in locations" :key="location.id" @click="city(location.slug)">{{location.name}}</span>
                  </div>
                </div>
                <div class="datebooking">
                  <date-picker v-model="dateTimePicker" :id="'date-picker'" :dtFormat="'DD/MM/YYYY'"
                      :mindate="new Date()"
                      :defaultDate="new Date()"
                      :icon="['fa','fa-calendar']"></date-picker>
                </div>
                <div class="timebooking">
                  <date-picker v-model="TimePicker" :id="'time-picker'" :dtFormat="'HH:mm'"
                      :icon="['fa','fa-clock-o']"></date-picker>
                </div>
              </div>
              <div class="container" style="width: 90%; margin-top: 20px;">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Họ và tên (*)</label>
                      <input type="text" class="form-control" placeholder="Họ và tên" v-model="name" required>
                    </div>
                    <div class="form-group">
                      <label>Điện thoại (*)</label>
                      <input type="number" class="form-control number-phone" placeholder="Điện thoại" v-model="phone" required>
                    </div>
                    <div class="form-group">
                      <label>Loại địa điểm (*)</label>
                      <div class="input-group">
                        <span class="input-group-addon" id="basic-addon"><i class="fa fa-map-marker"></i></span>
                        <input type="text" class="form-control"
                                placeholder="Tòa nhà Bitexco, Quận 1, TP Hồ Chí Minh"
                              aria-describedby="basic-addon" v-model="detailPosition" required>
                      </div>
                      <div class="checkbox-booking">
                        <span class="circle-booking" @click="setCircle('Nhà')" :class="{active: position=='Nhà'}"></span>
                        <span class="valueCircle" @click="setCircle('Nhà')">Nhà</span>
                        <span class="circle-booking" @click="setCircle('Công sở')" :class="{active: position=='Công sở'}"></span>
                        <span class="valueCircle" @click="setCircle('Công sở')">Công sở</span>
                        <span class="circle-booking" @click="setCircle('Khác')" :class="{active: position=='Khác'}"></span>
                        <span class="valueCircle" @click="setCircle('Khác')">Khác</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Ghi chú</label>
                      <textarea type="text" class="form-control"
                                placeholder="Mô tả vị trí nếu địa điểm của bạn khó tìm kiếm, hoặc ghi chú thêm chi tiết yêu cầu dịch vụ của bạn"
                                rows="5"
                                v-model="note">
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label>Mã giảm giá</label>
                      <div class="input-group">
                        <input type="text" v-model="codeDiscount" class="form-control" placeholder="Mã giảm giá"/>
                        <div class="btn input-group-addon btn-apply" @click="applyDiscountCode()">Áp dụng</div>
                      </div>
                      <p :style="{color:color}" style="margin: 5px 0;">{{messageDiscount}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div :class="{'mobile-footer-booking clearfix':true,'mobile-footer-booking-mobile':$mobile.isMobile}">
          <div class="quantity pull-left">
            <i class="fa fa-plus" aria-hidden="true" @click="pluspeople()"></i>
            <i class="fa fa-minus" aria-hidden="true" @click="minuspeople()"></i>
          </div>
          <div class="moneyBooking pull-right">
            <div class="infoBookingMobile">
                <span>x{{people}} - khách</span>
                <label>{{getTotalPrice(imageData.service.price)}}</label>
            </div>
            <button class="btn btn-default btn-bookingInBooking" type="button" @click="BookingFinal()">ĐẶT LỊCH</button>
          </div>
        </div>
      </div>
    </div>
  </modal-kit>
</template>

<script>
import {mapGetters} from 'vuex'
import modalKit from '@/components/ui-kits/modal'
import FbLike from '@/components/ui-kits/fb-like'
import func from '@/assets/js/commons/functions'
import moment from 'moment'
import DatePicker from '@/components/pages/home/DatePicker'
import BookingApi from '@/assets/js/api/booking'
import CheckCodeApi from '@/assets/js/api/discountCode'
import {CLIENT_AUTH_TOKEN} from '@/assets/js/commons/constants'
import funciton from '@/assets/js/commons/functions'

export default {
  components: {
    modalKit,
    FbLike,
    DatePicker
  },
  data () {
    return {
      people: 1,
      money: 0,
      selectedLocation: '',
      ShowBooking: false,
      dateTimePicker: '',
      TimePicker: '',
      cityBooking: 'Hồ Chí Minh',
      showList: false,
      position: 'Nhà',
      name: '',
      detailPosition: '',
      phone: '',
      note: '',
      contentTemplateEmail: {},
      statusDiscount: false,
      color: '',
      codeDiscount: '',
      messageDiscount:''
    }
  },
  methods: {
    closeDiscoverModal () {
      this.$emit('close')
    },
    goToTagPage (tag,location){
      this.$emit('close')
      if(location==null || location=='' || location==undefined) {
        this.$router.push(`/kham-pha/${tag}.html`)
      } else {
        this.$router.push(`/kham-pha/${location}/${tag}.html`)
      }

    },
    pluspeople(){
      if(this.people < 100) this.people += 1
    },
    minuspeople(){
      if(this.people > 1) this.people -= 1
    },
    getLink(item,location){
      return func.genLinkTagDiscover(item,location)
    },
    getLinkInfo(item){
      return func.genLinkDiscoverDetail(item)
    },
    formatDate(date){
      return func.formatDate(date,'DD/MM/YYYY')
    },
    getFormatThousand(item){
      return func.FormatThousand(item, "đ")
    },
    getTotalPrice (item) {
      return func.FormatThousand(this.people * item, "đ")
    },
    BookingFinal () {
      if(this.ShowBooking){
        if(this.TimePicker <= moment(new Date()).format("HH:mm")
          && moment(this.dateTimePicker, 'DD/MM/YYYY').toDate() <= new Date()){
          this.showNotification({
            title: 'Đã xảy ra lỗi.',
            message: 'Bạn chưa nhập thời gian hoặc thời gian là quá khứ!',
            type: 'error'
          })
          return
        }
        if(!this.name || !this.phone || !this.detailPosition){
          this.showNotification({
            title: 'Đã xảy ra lỗi.',
            message: 'Bạn phải nhập đầy đủ trường (*) để đặt lịch!',
            type: 'error'
          })
          return
        }
        //giống Localstore trang booking1
        var dataParam = {
          name: this.name,
          phone: this.phone,
          detaiPosition: this.detailPosition,
          position: this.position,
          note: this.note
        }
        //giống Localstore trang booking2
        var dataParam2 = {
          picked: this.imageData.product.title,
          shortContent: this.imageData.product.shortContent,
          featureImage: this.imageData.product.featureImage,
          people: this.people,
          tabChoose: this.imageData.service.title,
          TotalPrice: this.getTotalPrice(this.imageData.service.price)
        }
        //Lưu vào trong trang booking
        var dataBooking = {
          Booking: {
            accountId: this.accountId,
            fullName: this.name,
            phone: this.phone,
            BookingAddress: `${this.detailPosition} | ${this.position}`,
            TotalPrice: this.imageData.service.price,
            Status: 1
          },
          Date: `${this.dateTimePicker} ${this.TimePicker}`,
          Details : [
            {
              artistId: this.imageData.artist.id,
              productId: this.imageData.product.id,
              serviceId: this.imageData.service.id
            }
          ]
        }
        BookingApi.booking(dataBooking).then(rs => {
            this.$store.dispatch('sendEmail',
                              { sendTo: "hi@glamme.vn",
                                subject: this.contentTemplateEmail.groupText.title.replace('{date}',moment(new Date()).format('HH:mm:ss DD/MM/YYYY')),
                                ccTo: "",
                                content: this.contentTemplateEmail.groupText.description
                                          .replace('{name}',this.name)
                                          .replace('{phone}',this.phone)
                                          .replace('{address}',this.position + " - " + this.detailPosition)
                                          .replace('{note}',this.note)
                                          .replace('{time}',this.TimePicker + " - " + this.dateTimePicker)
                                          .replace('{people}',this.people)
                                          .replace('{tabChoose}',this.imageData.service.title)
                                          .replace('{TotalPrice}',this.getTotalPrice(this.imageData.service.price))
                                          .replace('{DiscountCode}',this.codeDiscount),
                                isProcessed: 0,
                                retry: 0
                              })
          .then((data) => {
            if (typeof window !== 'undefined') {
                this.closeDiscoverModal()
                window.localStorage.setItem('dataBooking2', JSON.stringify(dataParam))
                window.localStorage.setItem('dataBooking', JSON.stringify(dataParam2))
              }
            this.$router.push('/booking/step-three')
          }).catch((err) => {
            this.showNotification({
              title: 'Đã xảy ra lỗi.',
              message: `Đặt lịch thất bại\n${err.response.data}`,
              type: 'error'
            })
          })
        }).catch((error) => {
          this.showNotification({
              title: 'Đã xảy ra lỗi.',
              message: `Đặt lịch thất bại\n${error.response.data}`,
              type: 'error'
            })
        })

      }
      this.ShowBooking = true
    },
    showListByClick: function(e){
      this.showList = !this.showList
    },
    closeList: function() {
      this.showList = false
    },
    city(ct){
      this.selectedLocation = ct
      this.cityBooking = this.locations.filter(e=>e.slug===ct)[0].name
    },
    setCircle (address) {
      this.position = address
    },
    getDiscountPrice(SttType,value, discount){
      if(SttType == 1){
        value = value - (value*discount/100)
      }
      else{
        value = value - discount
      }
      return value
    },
    applyDiscountCode(){
      if (confirm("Bạn có chắc chắn muốn sử dụng mã code cho sản phẩm này?")){
        if(!this.statusDiscount){
          if(!this.auth){
            this.messageDiscount = 'Bạn phải đăng nhập để sử dụng chức năng này.'
            this.color = 'red'
          }
          else{
            CheckCodeApi.applyDiscountCode(this.$cookies.get(CLIENT_AUTH_TOKEN),
              {
                code: this.codeDiscount,
                productId: this.imageData.product.id
              }).then(data => {
                this.imageData.service.price =
                  this.getDiscountPrice(data.discountType,this.imageData.service.price, data.discountValue)
                this.messageDiscount = 'Áp dụng mã thành công!'
                this.color = '#155724'
                this.statusDiscount = true
              }).catch((err) => {
                if(err.response){
                  this.messageDiscount = err.response.data
                  this.color = 'red'
                }
              })
          }
        }
        else{
          this.messageDiscount = 'Bạn chỉ có thể sử dụng 1 lần cho 1 dịch vụ.'
          this.color = 'red'
        }
      }
    }
  },
  watch: {
    '$route' (to, from) {
      this.closeDiscoverModal()
    }
  },
  computed: {
    ...mapGetters({
      imageData: 'DISCOVER_MODAL_IMAGES',
      auth: 'GET_AUTH',
      locations: 'GET_LOCATIONS',
      currentLocation: 'GET_CURRENT_LOCATION'
    }),
    currentCityBooking() {
        return this.locations.filter(e=>e.slug === this.selectedLocation)[0].name;
    },
  },
  mounted () {
    this.selectedLocation = this.currentLocation
    this.$store.dispatch('getTemplateContentEmail', {groupId: 11}).then(data => {
      this.contentTemplateEmail = data
    })
    document.body.addEventListener('keyup', e => {
      if (e.keyCode === 27) {
        this.closeDiscoverModal()
      }
    })
  }
}
</script>

<style scoped>
  .left-modal{
    float: left;
    width: 55%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: #000;
  }
  .left-modal img{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    margin: 0 auto;
  }
  .right-modal{
    float: left;
    width: 45%;
    height: 90vh;
    position: relative;
  }
  .modal-right-content{
     height: calc(90vh - 62px);
     overflow-y: auto;
  }
  .modal-right-content::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .modal-right-content::-webkit-scrollbar
  {
    width: 5px;
    background-color: #F5F5F5;
  }

  .modal-right-content::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

  .right-modal-top{
    padding: 5px 20px;
    border-bottom: 1px solid #D6D6D6;
  }
  .btn-close-login-modal{
    position: absolute;
    right:12px;
    z-index: 99999;
    top:5px;
    width: 26px;
    height: 26px;
    border:0;
    color: #333;
    background: none;
  }
  .right-modal .discover-modal-title{
    font-size: 20px;
    color: #4A556F;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25px;
  }
  .discover-modal-desc {
    font-size: 14px;
    color: #4A556F;
    display: block;
  }
  .discover-tag {
    margin: 10px 0;
    text-align: left;
  }
  .discover-tag span a{
    background: #EEEEEE;
    font-size: 14px;
    color: #686868;
    padding: 5px 15px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
  }
  /*bottom*/
  .right-modal-bottom {
    padding: 20px;
  }
  .right-modal-bottom .avatar {
    margin-right: 10px;
  }
  .right-modal-bottom .avatar img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  .right-modal-bottom .content-artist {
    margin-left: 20px;
  }
  .right-modal-bottom .content-artist span{
    display: block;
    font-size: 14px;
    color: #4A556F;
    font-weight: 500;
  }
  .service-modal {
    width: 70%;
    margin: 20px 0;
    font-size: 14px;
    color: #4A556F;
  }
  .service-modal span{
    float: right;
  }
  .mobile-footer-booking {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
  }
  .mobile-footer-booking-mobile {
    position: fixed;
  }
  #fb-like-button{margin: 0 !important;}
  /*modal-right-content-booking*/

  .modal-right-content-booking .head-modal-booking {
    padding: 0 20px;
    position: relative;
  }
  .modal-right-content-booking .head-modal-booking span{
    cursor: pointer;
    position: absolute;
    top:0;
    left: 20px;
    font-size: 14px;
    color: #5F5F5F;
    font-weight: 500;
  }
  .modal-right-content-booking .head-modal-booking span i{
    font-size: 25px;
    position: relative;
    top: 5px;
  }
  .modal-right-content-booking .head-modal-booking h5{
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #4A556F;
  }
  /**/
  .content-modal-book .bookingHome{
    width: 100%;
    position: static;
    font-size: 12px;
  }
  .content-modal-book .bookingHome .location{
    width: 40%;
  }
  .content-modal-book .bookingHome .datebooking,
  .content-modal-book .bookingHome .timebooking{
    width: 30%;
    padding: 10px;
    border-bottom: 0 !important;
  }
  .number-phone::-webkit-inner-spin-button,
  .number-phone::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
  }
</style>
