<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Menu con của Menu <strong>{{menu.menuDescription}}</strong>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Menu</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
          <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Thêm mới & cập nhật Menu</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <label>Loại đối tượng</label>
                  <select class="form-control" v-model="formData.menuDetail.objectType">
                    <option value="0">Chọn loại đối tượng</option>
                    <option v-for="item in objectTypeMenu" :key="item.value" :value="item.value">
                      {{item.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group" v-if="formData.menuDetail.objectType === 'category'">
                  <label>Danh sách Category</label>
                  <select class="form-control" v-model="selectedObjectType" @change="setObjectToForm(selectedObjectType)">
                    <option :value="{id: 0, slug: '', title: ''}">Chọn category</option>
                    <option v-for="item in categories" :key="item.value" :value="{id: item.id, slug: item.catSlug, title: item.catTitle}">
                      {{item.catTitle}}
                    </option>
                  </select>
                </div>
                <div class="form-group" v-if="formData.menuDetail.objectType === 'page'">
                  <label>Danh sách Page</label>
                  <select class="form-control" v-model="selectedObjectType" @change="setObjectToForm(selectedObjectType)">
                    <option :value="{id: 0, slug: '', title: ''}">Chọn Page</option>
                    <option v-for="item in pages" :key="item.post.id" :value="{id: item.post.id, slug: item.post.postSlug, title: item.post.postTitle}">
                      {{item.post.postTitle}}
                    </option>
                  </select>
                </div>
                <input-group
                  v-if="formData.menuDetail.objectType === 'custom-link'"
                  :label="'Custom Link (*)'"
                  v-model="formData.menuDetail.objectSlug"
                  @blur="$v.formData.menuDetail.objectSlug.$touch()"

                  />
                <input-group
                  :disabled="'disabled'"
                  :label="'Alias menu (*)'"
                  v-model="formData.menuDetail.objectSlug"
                  @blur="$v.formData.menuDetail.objectSlug.$touch()"
                />
                <input-group
                  :label="'Tên menu (*)'"
                  v-model="formData.menuDetail.name"
                  @blur="$v.formData.menuDetail.name.$touch()"
                />
                <div class="form-group">
                  <label>Menu cha</label>
                  <select class="form-control" v-model="formData.menuDetail.parentId">
                    <option value="0">Chọn Menu cha</option>
                    <option v-for="item in listMenuDetails" :key="item.id" :value="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <input-group
                    :label="'Thứ tự hiển thị'"
                    v-model="formData.menuDetail.order"
                  />
                </div>
                <div class="form-group">
                  <div  v-for="(item,index) in languages" :key="item.id">
                    <input type="radio" :id="index" :value="item.slug" v-model="formData.menuDetail.language">
                    <label :for="index"> {{item.name}}</label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
          </div>
        </form>
        <div class="col-md-8">
          <div class="form-group">
            <nuxt-link :to="`/menu/`" class="btn btn-default">
              <i class="fa fa-undo"></i> Quay lại danh sách menu
            </nuxt-link>
          </div>
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách menu con trong menu <strong>{{menu.menuDescription}}</strong></h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên menu</th>
                      <th>Language</th>
                      <th>Menu cha</th>
                      <th>Thứ tự</th>
                      <th>Loại đối tượng</th>
                      <th>Tiêu đề đối tượng</th>
                      <th>Alias đối tượng</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listMenuDetails" :key="item.id">
                      <td>{{index+1}}</td>
                      <td><a :href="`/menu/menudetail/edit/${item.id}`" v-on:click.prevent="loadMenuDetail(item.id)">{{item.name}}</a></td>
                      <td>{{item.language}}</td>
                      <td>{{item.parentId}}</td>
                      <td>{{item.order}}</td>
                      <td>{{item.objectType}}</td>
                      <td>{{item.objectTitle}}</td>
                      <td>{{item.objectSlug}}</td>
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteMenuDetail(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import menuApi from '@/assets/js/api/menu'
import languageApi from '@/assets/js/api/language'


import { required, minLenght, maxLength, requiredIf, requiredUnless, numeric } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import {MENU_OBJECT_TYPE} from '@/assets/js/commons/constants'
import categoryApi from '@/assets/js/api/BlogCategory'
import postApi from '@/assets/js/api/post'

export default {
  layout: 'master',
  components: {
    InputGroup
  },
  data () {
    return {
      listMenuDetails: [],
      menu: {},
      languages: {},
      formData: {
        menuDetail: {
          menuId: this.$route.params.id,
          objectType: 0,
          objectId: 0,
          parentId: 0,
          order: 0,
        }
      },
      menuId: this.$route.params.id,
      objectTypeMenu: MENU_OBJECT_TYPE,
      categories: [],
      pages: [],
      selectedObjectType: {id: 0, slug: '', title: ''}
    }
  },
  validations: {
    formData: {
      menuDetail: {
        name: {required},
        objectSlug: {required},
        order: {numeric}
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        var id =this.formData.menuDetail.id
        if(id && id > 0){
          // edit
          menuApi.updateMenuDetail(this.$authToken, id, this.formData.menuDetail).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          // create
          menuApi.createMenuDetail(this.$authToken, this.formData.menuDetail).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
    },
    fetchData () {
      menuApi.getMenuById(this.$authToken, this.menuId).then(rs => {
        this.listMenuDetails = rs.menuDetails
        this.menu = rs.menu
      })
      languageApi.getLanguage().then((rs) => {
          this.languages = rs.data.data
        })
    },
    loadMenuDetail(id){
      menuApi.getMenuDetailById(this.$authToken, id).then(rs => {
        this.formData.menuDetail = {
          id: rs.id,
          menuApi: this.menuId,
          language: rs.language,
          parentId: rs.parentId,
          name: rs.name,
          objectId: rs.objectId,
          objectSlug: rs.objectSlug,
          objectTitle: rs.objectTitle,
          objectType: rs.objectType,
          order: rs.order
        }
        this. selectedObjectType.id = this.formData.menuDetail.objectId
        this. selectedObjectType.slug = this.formData.menuDetail.objectSlug
        this. selectedObjectType.title = this.formData.menuDetail.objectTitle
      })
    },
    deleteMenuDetail(id){
      if (confirm("Bạn có chắc chắn muốn xóa?")) {
        menuApi.deleteMenuDetail(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    // genSlug() {
    //   this.formData.menuDetail.objectSlug = genSlug(this.formData.menuDetail.objectSlug)
    // },
    setObjectToForm (obj) {
      this.formData.menuDetail.objectId = obj.id
      this.formData.menuDetail.objectSlug = obj.slug
      this.formData.menuDetail.objectTitle = obj.title
    },
    clearForm () {
      this.formData.menuDetail = {
        menuId : this.$route.params.id,
        objectType: 0,
        objectId: 0,
        parentId: 0
      }
      this.selectedObjectType = {id: 0, slug: '', title: ''}
    }
  },
  beforeMount () {
    this.fetchData()
    categoryApi.getAllCategories(1, 200).then(rs => {
      this.categories = rs.categories
    })
    //list page tham số token, catId = 0, type là page =1, status = -1, page =1, rowPerPage=200
    postApi.getListPosts(this.$authToken,0 , 1, -1, 1, 200).then(rs => {
      this.pages = rs.data.posts
    })
  }
}
</script>

<style>

</style>
