<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Menu
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Menu</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
          <div class="col-md-4">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Thêm mới & cập nhật Danh mục menu</h3>
                </div>
                <div class="box-body">
                  <input-group
                    :label="'Tiêu đề (*)'"
                    v-model="formData.menu.menuName"
                    @blur="$v.formData.menu.menuName.$touch()"
                    @change="genSlug"
                    />
                  <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control"
                      placeholder="Mô tả"
                      rows="4"
                      v-model="formData.menu.menuDescription"/>
                  </div>
                </div>
                <div class="box-footer">
                  <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                  <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                    <i class="fa fa-undo"></i> Hủy
                  </a>
                </div>
              </div>
          </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Danh mục menu</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên</th>
                      <th>Mô tả</th>
                      <th>Ngày tạo</th>
                      <th class="text-center">Danh sách menu</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listMenus" :key="item.id">
                      <td>{{index + 1}}</td>
                      <td><a :href="`/menu/edit/${item.id}`" v-on:click.prevent="loadMenu(item.id)">{{item.menuName}}</a></td>
                      <td>{{item.menuDescription}}</td>
                      <td>{{item.createDate}}</td>
                      <td class="text-center">
                        <nuxt-link :to="`/menu/menudetail/${item.id}`" class="label label-primary" title="Danh sách menu con">
                          <i class="fa fa-bars"></i>
                        </nuxt-link>
                      </td>
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteMenu(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import menuApi from '@/assets/js/api/menu'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'

export default {
  layout: 'master',
  components: {
    InputGroup
  },
  data () {
    return {
      listMenus: {},
      formData: {
        menu: {
          menuName: ''
        }
      }
    }
  },
  validations: {
    formData: {
      menu: {
        menuName: {required}
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        var id =this.formData.menu.id
        if(id && id > 0){
          // edit
          menuApi.updateMenu(this.$authToken, id, this.formData.menu).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          // create
          menuApi.createMenu(this.$authToken, this.formData.menu).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
     },
    loadMenu (id) {
      menuApi.getMenuById(this.$authToken, id).then(rs => {
        this.formData.menu = rs.menu
      })
    },
    clearForm: function() {
      this.formData.menu = {}
    },
    deleteMenu: function(id) {
      if (confirm("Bạn có chắc chắn muốn xóa?")) {
        menuApi.deleteMenu(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    genSlug() {
      this.formData.menu.menuName = genSlug(this.formData.menu.menuName)
    },
    fetchData () {
      menuApi.getMenus(this.$authToken).then(rs => {
        this.listMenus = rs
      })
    }
  },
  beforeMount() {
    this.fetchData()
  },
}
</script>
