<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Tags
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý tags</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submit" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết</h3>
              </div>
              <div class="box-body">
                <input-group
                  :label="`Tiêu đề Tag`"
                  v-model="tagItem.tagTitle"
                  :error="$v.tagItem.tagTitle.$error"
                  @blur="$v.tagItem.tagTitle.$touch()"
                  @change="genTagSlug"
                  />
                <input-group
                  :label="`Tag slug`"
                  v-model="tagItem.tagSlug"
                  :error="$v.tagItem.tagSlug.$error"
                  @blur="$v.tagItem.tagSlug.$touch()"
                  />
                <input-group
                  :label="`Mô tả Tag`"
                  v-model="tagItem.tagDescription"
                />
                <div class="form-group">
                  <label for="">Ngôn ngữ</label>
                  <div v-for="(item,index) in languages" :key="item.id">
                    <input type="radio" :id="index" :value="item.slug" v-model="tagItem.language">
                    <label :for="index"> {{item.name}}</label>
                  </div>
                </div>
                <input-group
                  :label="`Tiêu đề SEO`"
                  v-model="tagItem.seoTitle"
                />
                <input-group
                  :label="`Mô tả SEO`"
                  v-model="tagItem.seoDescription"
                />
                <input-group
                  :label="`Từ khóa SEO`"
                  v-model="tagItem.seoKeywords"
                />
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Tags</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div class="box box-default">
                    <div class="box-body">
                      <div class="row">
                        <form @submit="submitSearch" method="get">
                          <div class="col-md-4">
                            <label>Từ khóa</label>
                            <input class="form-control input-sm" id="keyword" v-model="keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
                          </div>
                          <div class="col-md-2">
                            <label>&nbsp;</label><br>
                            <div>
                              <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
                              <div class="clear-fix"></div>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <label>&nbsp;</label><br>
                            <div>
                             <button @click="deleteItem" class="btn btn-danger btn-sm" v-if="checkItems.length"><i class="fa fa-trash"></i> Xóa dữ liệu đã chọn</button>
                              <div class="clear-fix"></div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20" valign="middle" align="center"><input ref="check" type="checkbox" v-model="selectAll"></th>
                      <th>Tiêu đề tag</th>
                      <th>Ngôn ngữ</th>
                      <th>Mô tả</th>
                      <th>Tiêu đề SEO</th>
                      <th>Từ khóa SEO</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="tag in listTags.tags" :key="tag.id">
                      <td width="20" valign="middle" align="center"><input ref="checkItem" type="checkbox" :value="tag.id" v-model="checkItems"></td>
                      <td><a href="" v-on:click.prevent="loadTag(tag.id)">{{tag.tagTitle}}</a></td>
                      <td>{{tag.language}}</td>
                      <td>{{tag.tagDescription}}</td>
                      <td>{{tag.seoTitle}}</td>
                      <td>{{tag.seoKeywords}}</td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listTags.meta !== undefined" :page-count="listTags.meta.totalPage"
                          :click-handler="callPage"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import {mapGetters} from 'vuex'
import tag from '@/assets/js/api/tag'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import languageApi from '@/assets/js/api/language'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup
  },
  data () {
    return {
      selectAll: false,
      keyword: '',
      tagItem: {},
      checkItems: [],
      languages:{}
    }
  },
  validations: {
    tagItem: {
      tagTitle: {required},
      tagSlug: {required}
    }
  },
  beforeMount() {
    this.$store.dispatch('actionGetListTags', this.searchParams)
    languageApi.getLanguage().then((rs) => {
      this.languages = rs.data.data
    })
  },
  computed: {
     ...mapGetters({
      listTags: 'getListTags'
    }),
    searchParams() {
      return {
        page: 1,
        rowPerPage: 30,
        keyword: '',
        orderby: 'CreatedDate',
        order: 'desc'
      }
    }
  },
  methods: {
    callPage: function(page) {
      this.selectAll = false
      this.searchParams.page = page
      this.$nuxt.$loading.start()
      this.$store.dispatch('actionGetListTags', this.searchParams)
      window.scrollTo(0, 0)
    },
    submitSearch (e) {
      e.preventDefault()
      this.searchParams.keyword = this.keyword
      this.$nuxt.$loading.start()
      this.$store.dispatch('actionGetListTags', this.searchParams)
    },
    submit (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        // chỉnh sửa tag
        if(this.tagItem.id>0) {
          tag.updateTag(this.$authToken,this.tagItem.id, this.tagItem).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật Tag thành công',
              type: 'success'
            })
            this.$nuxt.$loading.start()
            this.$store.dispatch('actionGetListTags', this.searchParams)
            this.clearForm()
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
        // tạo mới tag
        else {
          tag.createTag(this.$authToken,this.tagItem).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới tag thành công',
              type: 'success'
            })
            this.$nuxt.$loading.start()
            this.$store.dispatch('actionGetListTags', this.searchParams)
            this.clearForm()
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới Tag không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
    },
    loadTag (id){
      tag.getTagByTagId(this.$authToken, id).then((rs)=> {
        this.tagItem = rs
      })
    },
    genTagSlug() {
      if(this.tagItem.tagSlug) return;
      this.tagItem.tagSlug = genSlug(this.tagItem.tagTitle)
    },
    clearForm: function() {
      this.tagItem = {}
    },
    deleteItem () {
      if (confirm('Xóa các Tag đã chọn?')){
        if (this.checkItems.length > 0){
          this.$nuxt.$loading.start()
          tag.deleteListTag(this.$authToken, this.checkItems).then( rs => {
            this.$store.dispatch('actionGetListTags', this.searchParams).then(() => {
              this.checkItems = []
            })
          })
        }
      }
    }
  },
  watch: {
    listTags () {
      this.$nuxt.$loading.finish()
    },
    selectAll () {
      if(this.selectAll){
        this.checkItems = []
        this.checkItems = this.$refs.checkItem.map(e => {
          return parseInt(e.value)
        })
      } else {
        this.checkItems = []
      }
    }
  }
}
</script>
