<template>
  <div class="container">
    <div class="row">
      <div class="wraper-container">
        <h3 class="wraper-title">{{ourartist.groupText.title}}</h3>
        <div class="desc" v-html="ourartist.groupText.description"></div>
      </div>
    </div>
    <slick ref="slick" :options="slickOptions" style="margin-bottom:50px;">
      <div class="row our-artist-item" v-for="item in ourartist.groupTextDetails.filter(e=>e.url==$location)" :key="item.id">
        <div class="col-md-4">
          <div class="thumbnail" >
            <img :src="item.image" :alt="item.title" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="info">
            <h5 class="artist-title">{{item.title}}</h5>
            <h5 class="artist-label">{{item.subTitle}}</h5>
            <span class="artist-desc" v-html="item.description"></span>
          </div>
        </div>
      </div>
    </slick>
  </div>
</template>
<script>
import Slick from 'vue-slick'
import artist from '@/assets/js/api/artist'
import {mapGetters} from 'vuex'
export default {
  components: { Slick },
  data () {
    return {
      slickOptions: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: false,
        autoplay: true,
        autoplaySpeed: 5000,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            arrows: false
          }
        }]
      }
    }
  },
  props:['ourartist'],
  computed: {
    // ...mapGetters({
    //   listTopArtists: 'allListTopArtist'
    // })
  },
  beforeCreate () {
    // this.$store.dispatch('getListTopArtist')
  }
}
</script>
