<template>
  <div class="banner" v-if="slideItems && slideItems.length">
    <slick ref="slick" :options="slickOptions">
      <nuxt-link v-for="(item,index) in slideItems" :key="index" :to="(item.url ? item.url: '')" class="slide-item">
        <img :src="item.image" :alt="item.title" />
      </nuxt-link>
    </slick>
  </div>
</template>

<script>
import gtApi from "@/assets/js/api/grouptext";
import Slick from "vue-slick";
export default {
  components: {
    Slick
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        dots: false,
        autoplay: true,
        autoplaySpeed: 10000,
        cssEase: "linear",
        lazyLoad: "ondemand"
      },
      slideItems: {}
    };
  },
  computed: {},
  methods: {
    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick();
      });
    }
  },
  mounted() {
    gtApi.getGroupTextBySlug("", "home-slide", this.$lang).then(rs => {
      this.slideItems = rs.data.groupTextDetails;
      // Helpful if you have to deal with v-for to update dynamic lists
      this.reInit()
    });
  }
};
</script>
