<template>
  <div class="container">
    <div class="tab-booking">
      <span :class="{active: statusType=='uncomplete'}" @click="ChangeTab('uncomplete')">
        Lịch hẹn
      </span>
      <span :class="{active: statusType=='complete'}" @click="ChangeTab('complete')">
        Lịch sử cuộc hẹn
      </span>
    </div>
    <div class="listBookingHistory" v-if="listBooking">
      <div v-if="loadingHistory" class="text-center" style="position: relative;min-height:400px;">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="position: absolute; top:35%;"></i>
      </div>
      <div v-else>
        <div v-if="listBooking.length === 0"
          class="text-center emtyBooking">
        <i class="fa fa-calendar-o fa-5x" aria-hidden="true"></i>
        <span>Bạn chưa có lịch hẹn nào</span>
        <nuxt-link class="btn button-datlich" to="/booking">Đặt Lịch</nuxt-link>
      </div>
      <div v-else>
        <div class="text-center count-booking-history">
          <p>Có {{listBooking.length}} cuộc hẹn</p>
        </div>
        <div class="content-booking-history container" :style="{'max-height': maxheight}">
          <div class="row form-group item-booking-history" v-for="(item,index) in listBooking" :key="index">
            <div class="col-md-2 stt text-center">
              <label>
                {{index+1}}
              </label>
              <span v-if="item.booking">{{HourBooking(item.booking.bookingDate)}}</span>
              <span v-if="item.booking">{{DateBooking(item.booking.bookingDate)}}</span>
            </div>
            <div class="col-md-2" v-if="item.details">
              <img :src="item.details[0].product.featureImage" v-if="item.details[0].product"
                  :alt="item.details[0].product.title" style="width: 100%">
            </div>
            <div class="col-md-5" v-if="item.details && item.details[0].product">
              <h5>{{item.details[0].product.title}}</h5>
              <p v-if="item.details[0].artist">Artist: {{item.details[0].artist.name}}</p>
              <p>Địa điểm cuộc hẹn: {{item.booking.bookingAddress}}</p>
              <p v-if="item.booking">Thời gian: {{HourBooking(item.booking.bookingDate)}} {{DateBooking(item.booking.bookingDate)}}</p>
              <p>Ghi chú: {{item.booking.note}}</p>
            </div>
            <div class="col-md-3 text-right">
              <span class="money" v-if="item.booking" :class="{confirmed:item.booking.status>=2}">
                {{PriceFormat(item.booking.totalPrice)}}
              </span>
              <p class="status-label" v-if="item.booking">{{StatusLabel(item.booking.status)}}</p>
              <button v-if="item.booking && item.booking.status<2" class="btn" @click="UpdateStatus(item.booking.id)">
                <span>Hủy cuộc hẹn</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <nuxt-link class="xemthem" v-if="xemthem" :to="xemthem">XEM THÊM</nuxt-link>
        <span class="xemthem" @click="LoadMore()" v-if="!xemthem && isLoadMore">XEM THÊM</span>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import func from '@/assets/js/commons/functions'
import BookingApi from '@/assets/js/api/booking'
import {CLIENT_AUTH_TOKEN, POST_PER_PAGE} from '@/assets/js/commons/constants'

import {mapGetters} from 'vuex'

export default {
  props: ['maxheight','xemthem'],
  data() {
    return {
      page : 1,
      loadingHistory: false
    }
  },
  computed: {
    ...mapGetters({
      listBooking: 'GET_LISTBOOKINGHISTORY',
      statusType: 'GET_BOOKING_HISTORY_TYPE',
      isLoadMore: 'GET_BOOKING_LOADMORE'
    })
  },
  methods: {
    DateBooking (date) {
      return func.formatDate(date,'DD/MM/YYYY')
    },
    HourBooking (hour) {
      return func.formatDate(hour,'HH:mm')
    },
    PriceFormat (money) {
      return func.FormatThousand(money)
    },
    StatusLabel (status) {
      return func.getStatusLabel(status)
    },
    UpdateStatus(id) {
      if (confirm("Bạn có chắc chắn muốn hủy lịch hẹn này?")) {
        BookingApi.UpdateBooking(this.$cookies.get(CLIENT_AUTH_TOKEN), id, 4)
        this.$store.commit('SET_DELETE_BOOKING', id)
        this.isDeleting = false
      }
    },
    getBookingHistory(commit){
       BookingApi.GetBookingByCurrentACcount(this.$getCookie(CLIENT_AUTH_TOKEN),this.page, POST_PER_PAGE, this.statusType).then(listBK => {
          this.$store.commit(commit,listBK.data)
          if(this.page >= listBK.meta.totalPage){
            this.$store.commit('SET_BOOKING_LOADMORE', false)
          }
          else{
            this.$store.commit('SET_BOOKING_LOADMORE', true)
          }
          this.loadingHistory = false
        })
    },
    ChangeTab(tab){
      this.loadingHistory = true
      this.page=1
      this.$store.commit('SET_BOOKING_HISTORY_TYPE',tab)
      this.getBookingHistory('SET_LISTBOOKINGHISTORY')
    },
    LoadMore() {
      this.page += 1
      this.getBookingHistory('SET_BOOKING_HISTORY_LOADMORE')
    }
  }
}
</script>

<style scoped>
  .button-datlich{
    padding: 16px 30px;
  }
  .xemthem{
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    display: block;
    margin: 10px 0;
    color: #4A556F;
  }
</style>
