<template>
  <div class="input-group date">
    <div class="input-group-addon">
      <span :class="icon"></span>
    </div>
    <date-picker
        v-model="dateTimePicker"
        class="date-time-input"
        :id="id"
        :wrap="false"
        :config="config"
        v-on:keydown="keyhander()">
    </date-picker>
  </div>
</template>

<script>

import moment from 'moment'
export default {
  components: {
      //datePicker
  },
  props: ['value','dtFormat', 'mindate','icon','defaultDate','id'],
  watch: {
    dateTimePicker () {
      this.$emit('input',this.dateTimePicker)
    }
  },
  data () {
    return {
      dateTimePicker: this.defaultDate,
      config: {
        format: this.dtFormat,
        useCurrent: false,
        minDate: this.mindate,
        maxDate: false
      },
      dateInFormat: '',
      timeInFormat: ''
    }
  },
  methods: {
    keyhandler: function(event) {
      event.preventDefault();
    }
  },
  mounted() {
    this.$emit('input',moment(this.dateTimePicker).format(this.dtFormat))
    if(document.getElementById("time-picker")){
      document.getElementById("time-picker").placeholder = this.tran.common_time_label
    }

  }
}
</script>

<style>

</style>
