<template>
   <div class="container">
    <div class="row">
      <div class="wraper-container">
        <h3 class="wraper-title" style="text-transform: uppercase;">{{tran.index_customer_photo_label}}</h3>
      </div>
    </div>
    <div class="row row-eq-height form-group">
      <div class="col-md-4 col-ms-4 col-xs-12 form-group" v-for="item in listImage" :key="item.id">
        <div class="serviceCategoryHome">
          <div class="discoverImage">
            <img v-lazy="(item.image.imageUrl ? item.image.imageUrl: '/img/nail-image-example.png')"
               :alt="item.image.imageName" style="width:100%;"/>
          </div>
          <div class="title-discover" v-if="item.artist !== null">
            <img v-lazy="item.artist.avartar" :alt="item.artist.name" class="" v-if="!$mobile.isMobile"/>
            <h4>{{item.image.imageName}}</h4>
            <span>{{item.artist.name}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center xemthem">
      <nuxt-link :to="`/${this.$lang}/get-inspired/${this.$location}`">{{tran.common_readmore_label}}</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ['listImage']
}
</script>

<style scoped>
  .serviceCategoryHome .discoverImage{
    height: 250px;
    overflow: hidden;
  }
  .xemthem a{
    margin: 20px 0;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #666666;
  }
  .title-discover{
    min-height: 70px;
  }
  .title-discover img{
    margin-bottom: 20px;
  }
</style>
