<template>
  <div class="container">
    <div class="row">
      <h3 class="wraper-title">{{data.groupText.title}}</h3>
      <div class="col-md-4" v-for="item in data.groupTextDetails" :key="item.id">
        <div class="clearfix">
          <div class="stt pull-left">
            <span>{{item.order}}</span>
          </div>
          <div class="content">
            <h5>{{item.title}}</h5>
            <span v-html="item.description"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style>

</style>
