<template>
  <div>
    <div v-for="(post, index) in listPosts" :key="index">
      <!-- First post -->
      <div v-if="index==0" class="first-post-item">
        <div class="first-post-img">
          <router-link :to="{name: 'PostPage', params: {slug: post.postSlug} }">
              <img :src="post.featureImage" alt="">
              <div class="date-overlay">
                <div class="date-wraper">
                  <span>{{getDayAndMonth(post.createdDate)}}</span>
                </div>
              </div>   
          </router-link>
        </div> 
        <h3 class="post-title">
          <router-link :to="{name: 'PostPage', params: {slug: post.postSlug} }">
            {{post.postTitle}}
          </router-link>
        </h3>
        <div class="post-info">
          <span><icon class="post-icon" name="eye" /> {{post.postView}}</span>
          <span><icon class="post-icon" name="commenting-o" /> 0</span>
        </div>
      </div>

      <!--Other post-->
      <div v-else-if="index !==0" class="another-post-item">
        <div class="post-img">
          <img :src="post.featureImage" alt="">
        </div> 
        <div class="post-content">
          <h3 class="post-title">
            <router-link :to="{name: 'PostPage', params: {slug: post.postSlug} }">
              {{post.postTitle}}
            </router-link>
          </h3>
          <div class="post-info">
            <span><icon class="post-icon" name="clock-o" /> {{getDayMonthYear(post.createdDate)}}</span>
            <span><icon class="post-icon" name="eye" /> {{post.postView}}</span>
            <span><icon class="post-icon" name="commenting-o" /> 0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['listPosts'],
  data () {
    return {

    }
  },
  methods: {
    getDayAndMonth (date) {
      var newDate = new Date(date)
      var result = newDate.getDate() + ' Th' + (newDate.getMonth() + 1)
      return result
    },
    getDayMonthYear (date) {
      var newDate = new Date(date)
      var result = newDate.getDate() + '-' + (newDate.getMonth() + 1) + '-' + newDate.getFullYear()
      return result
    }
  }
}
</script>
