<template>
  <div v-if="$mobile.isMobile" class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3 text-center ready-container-mobile">
        <h5 class="ready-title-mobile">{{text.title}}</h5>
        <span class="ready-content-mobile" v-html="text.description">
        </span>
        <nuxt-link :to="text.url+''" class="btn button-datlich-mobile">
          {{text.subTitle}}
        </nuxt-link>
      </div>
    </div>
  </div>
  <div v-else class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3 text-center">
        <h5 class="ready-title">{{text.title}}</h5>
        <span class="ready-content" v-html="text.description">
        </span>
        <nuxt-link :to="text.url+''" class="btn button-datlich">
          {{text.subTitle}}
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import gtApi from '@/assets/js/api/grouptext'
import { mapGetters } from 'vuex';
export default {
  data () {
    return {
      text: {}
    }
  },
  computed: {
    ...mapGetters({
      lang: 'GET_CURRENT_LANG'
    })
  },
  beforeMount () {
    gtApi.getGroupTextBySlug('','ban-da-san-sang', this.lang).then((rs)=> {
      this.text = rs.data.groupText
    })
  }
}
</script>

<style>

</style>
