<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="wraper-container">
          <h3 class="wraper-title">{{tran.index_category_service_label}}</h3>
        </div>
      </div>
      <div class="row row-eq-height">
        <div class="col-md-4 col-ms-4 col-xs-12 form-group" v-for="product in listProduct.products" :key="product.product.id">
          <div class="serviceCategoryHome">
            <img v-lazy="(product.product.featureImage ? product.product.featureImage: '/img/nail-image-example.png')" :alt="product.product.title" style="width:100%;"/>
            <div class="wraper-content">
              <h5>{{product.product.title}}</h5>
              <span>{{product.product.shortContent}}</span>
              <button class="Btn-goToBookingService" @click="GoBookingPage(product)">{{tran.common_booking_label}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  data () {
    return {

    }
  },
  props:['listProduct'],
  computed: {
    ...mapGetters({
      // serviceItems: 'allServiceItems'
    })
  },
  methods: {
    GoBookingPage (product) {
      // var serviceIndex = {
      //   picked: product.product.title,
      //   shortContent: product.product.shortContent,
      //   featureImage: product.product.featureImage,
      //   services: product.services
      // }
      // window.localStorage.setItem('serviceIndex',JSON.stringify(serviceIndex))
      // this.$router.push('/dich-vu')
      var bookingIndex = {
        picked: product.product.title,
        shortContent: product.product.shortContent,
        featureImage: product.product.featureImage,
        services: product.services,
        tabChoose: product.services[0],
        productId: product.product.id
        //money: this.money
      }
      window.localStorage.setItem('bookingLandingPage',JSON.stringify(bookingIndex))
      this.$router.push(`/${this.$lang}/booking/${this.$location}`)
    }
  },
  beforeCreate () {
    // this.$store.dispatch('getServiceItems')
  }
}
</script>
