<template>
  <div class="blog">
    <blog-navigation v-if="!$mobile.isMobile" />
    <blog-nav-mobile v-if="$mobile.isMobile"></blog-nav-mobile>
    <slot name="blog-before"></slot>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <slot></slot>
            </div>
            <div class="col-md-4">
              <slot name="blog-sidebar">
                <aside class="sidebar">
                  <no-ssr v-if="!$mobile.isMobile">
                    <subscribe-section />
                  </no-ssr>
                  <top-view-section />
                  <fb-section v-if="!$mobile.isMobile" />
                  <top-keyword-section v-if="!$mobile.isMobile" />
                </aside>
              </slot>
            </div>
        </div>
    </div>
    <slot name="blog-after"></slot>
</div>
</template>

<script>
import BlogNavMobile from '@/components/mobile/BlogNav'
import BlogNavigation from '@/components/commons/BlogNavigation'
import SubscribeSection from '@/components/pages/blog/SubscribeSection'
import TopKeywordSection from '@/components/pages/blog/TopKeywordSection'
import TopViewSection from '@/components/pages/blog/TopViewSection'
import FbSection from '@/components/pages/blog/FbSection'
export default {
  components: {
    SubscribeSection,
    TopKeywordSection,
    BlogNavigation,
    TopViewSection,
    FbSection,
    BlogNavMobile
  },
  data () {
    return {
      
    }
  },
  methods: {
    submit () {

    }
  }
}
</script>

<style scoped>
  .blog{
    background: #e8e8e8
  }
</style>