<template>
  <div class="bookingpage clearfix">
    <div class="booking-left">
      <img src="/img/logo-500.png" alt="logo">
      <slot name="left"></slot>
      <a @click.prevent="deleteStore()" style="color:red;cursor: pointer;">{{tran.common_home_label}}</a>
    </div>
    <div class="booking-right">
      <span class="line">
        <span :class="{active:activeStep1}" class="circle"></span>
        <span :class="{active:activeStep2}" class="linet"></span>
        <span :class="{active:activeStep2}" class="circle"></span>
        <span :class="{active:activeStep3}" class="linet"></span>
        <span :class="{active:activeStep3}" class="circle"></span>
      </span>
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
import '@/assets/css/booking.scss'
export default {
  data() {
    return {

    }
  },
  methods: {
    deleteStore() {
      window.localStorage.removeItem('bookingIndex')
      window.localStorage.removeItem('bookingLandingPage')
      this.$router.push(`/${this.$lang}/${this.$location}`)
    }
  },
  props: ['activeStep1','activeStep2','activeStep3'],
  computed: {

  },
}
</script>

<style>

</style>
