<template>
  <div class="main">
    <site-header />
      <slot></slot>
    <site-footer/>
  </div>
</template>

<script>
import { SiteHeader, SiteFooter, HeaderNavigation } from '@/components/commons'

export default {
  components: {
    SiteHeader,
    SiteFooter,
    HeaderNavigation
  }
}
</script>

<style>

</style>
