<template>
<blog-layout>
    <div class="blog-wrapper">
    <breadcrumbs :items="breadcrumbItems"></breadcrumbs>
      <div class="category-wrapper">
      <div class="hello">
          <h1>Tag: {{tag.tagTitle}}</h1>
          <p class="text-center">{{tag.tagDescription}}</p>
      </div>
      <div class="category-list">
          <div class="listpost row">
              <div class="col-md-6" v-for="post in postsItems" :key="post.id">
                  <div class="category-item">
                      <nuxt-link title="" class="thumbnail" :to="getPostPath(post.postSlug)">
                      <img v-lazy="post.featureImage" :alt="post.postTitle">
                      </nuxt-link>
                      <h3 class="category-item-title">
                        <nuxt-link :title="post.postTitle" :to="getPostPath(post.postSlug)">{{post.postTitle}}</nuxt-link>
                      </h3>
                  </div>
              </div>
          </div>
      </div>
      <div v-if="isShowLoadmore" class="Xemthem text-center" style="margin:10px 0">
          <button class="btn btn-primary" v-on:click="loadMore(page)">Xem thêm <i v-if="isLoading" class="fa fa-spinner fa-spin"></i></button>
      </div>
      </div>
  </div>
  </blog-layout>
</template>

<script>
import post from '@/assets/js/api/post'
import func from '@/assets/js/commons/functions'
import BlogLayout from '@/components/layouts/blog'
import Breadcrumbs from '@/components/ui-kits/breadcrumbs'
import {postStatus} from '@/assets/js/commons/constants.js'
import {mapGetters} from 'vuex'

export default {
  layout: 'master',
  components: {
    BlogLayout,
    Breadcrumbs
  },
  async asyncData ({params, store}) {
    var dataParam = {
        slug: params.tagSlug,
        status: postStatus.PUBLISH,
        page: 1
    }
    await store.dispatch('getListPostsByTagSlug', dataParam)
    var tag = await store.getters.getCurrentTag
    var posts = await store.getters.getListPostsToListPostState
    return {
      page: 1,
      loadmoreClick: false,
      tag: tag,
      postsItems: posts
    }
  },
  methods: {
    getCategoryPath () {
      return func.genBlogCategoryPath(this.category.catSlug)
    },
    getTagPath () {
      return func.genBlogTagPath(this.tag.tagSlug)
    },
    getPostPath (slug) {
      return func.genBlogPostPath(slug)
    },
    loadMore (page) {
      this.loadmoreClick = true
      this.page += 1
      var dataParam = {
        slug: this.$route.params.tagSlug,
        status: postStatus.PUBLISH,
        page: this.page
      }
      this.$store.dispatch('getListPostsByTagSlug', dataParam)
      this.setData()
    },
    setData () {
      this.tag = this.tagItemState
      this.postsItems = this.postsItemsState
    },
    getDescription() {
      return this.tag.seoDescription
        ? this.tag.seoDescription
        : this.tag.description;
    }
  },
  computed: {
    breadcrumbItems () {
      var items = []
      items.push({
        type: 'link',
        path: '/blog/',
        title: 'Blog',
        icon: null
      })
      items.push({
        type: 'link',
        path: this.getTagPath(),
        title: `Tag: ${this.tag.tagTitle}`,
        icon: null
      })
      return items
    },
    ...mapGetters({
      postsItemsState: 'getListPostsToListPostState',
      tagItemState: 'getCurrentTag',
      isLoading: 'isLoading',
      isShowLoadmore: 'isShowLoadmore'
    })
  },
  watch: {
    '$route' (to, from) {
      this.loadmoreClick = false
    },
    postsItemsState () {
      this.setData()
    }
  },
  head () {
    return {
      title: `Tag: ${this.tag.tagTitle}`,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.getDescription()
        }
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.currentUrl }]
    }
  }
}
</script>
<style scoped>
  .category-wrapper{
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 15px
  }
  .category-wrapper .hello {
    border-bottom: 1px dotted #eee;
    margin-bottom: 10px;
  }
  .category-wrapper .hello h1{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold
  }
</style>
