<template>
  <div class="homePage">
    <div class="section-gray">
      <section>
        <banner />
      </section>
      <div class="bookingHome">
        <div class="location" v-on:click="showListByClick">
          <i class="fa fa-2x fa-map-marker"></i>
          <span class="locati"> {{currentCityBooking}} </span>
          <i class="fa fa-caret-down idownclass"></i>
          <div class="listLocation"
              v-if="showList"
              v-click-outside="closeList">
            <span v-for="location in locations" :key="location.id" @click="city(location.slug)">{{location.name}}</span>
          </div>
        </div>
        <div class="datebooking">
          <no-ssr>
              <date-picker v-model="dateTimePicker" :id="'date-picker'" :dtFormat="'DD/MM/YYYY'"
              :mindate="new Date()"
              :defaultDate="new Date()"
              :icon="['fa','fa-calendar']"></date-picker>
          </no-ssr>
          <!-- {{dateTimePicker}} -->
        </div>
        <div class="timebooking">
          <no-ssr>
              <date-picker v-model="TimePicker" :id="'time-picker'" :dtFormat="'HH:mm'"
              :icon="['fa','fa-clock-o']"></date-picker>
          </no-ssr>
        </div>
        <div class="timebooking" style="padding:4px">
          <button class="btn btn-block button-datlich" @click="toBooking" style="padding: 16px;">{{tran.common_booking_label}}</button>
        </div>
        <!-- {{TimePicker}} -->
      </div>
      <!-- <section class="bookingHomeInfo" v-if="auth && !$mobile.isMobile">
          <booking-history :maxheight="'340px'" :xemthem="'/lich-hen'"></booking-history>
      </section> -->
      <section class="categoryService">
        <service-category :listProduct="listProduct" :maxheight="'340px'"></service-category>
      </section>
      <section class="madeBeautiful">
        <made-beautiful :data="makeBeautiful"></made-beautiful>
      </section>
    </div>
    <section class="artistHome">
      <artist :ourartist="ourArtist"></artist>
    </section>
    <section class="bookingHistoryHome">
      <discover :listImage="discoverHome"></discover>
    </section>
    <section class="ready-home">
      <ready></ready>
    </section>
  </div>
</template>
<script>
import Banner from '@/components/pages/home/Banner'
import ServiceCategory from '@/components/pages/home/Services'
import DatePicker from '@/components/pages/home/DatePicker'
import ImagesApi from '@/assets/js/api/product'
import madeBeautiful from '@/components/pages/home/MakeBeautifult'
import Discover from '@/components/pages/home/DiscoverHome'
import Artist from '@/components/pages/home/Artist'
import Ready from '@/components/pages/home/ReadyBooking'
import {isShowConstant} from '@/assets/js/commons/constants'
import moment from 'moment'
const gtSlug = 'lam-dep-tan-noi'
import gtApi from '@/assets/js/api/grouptext'
import productApi from '@/assets/js/api/product'
import {mapGetters} from 'vuex'

export default {

  layout: 'master',
  components: {
    Banner,
    ServiceCategory,
    DatePicker,
    madeBeautiful,
    Artist,
    Ready,
    Discover
  },
  computed: {
    ...mapGetters({
        auth: 'GET_AUTH',
        listBookingHistory: 'GET_LISTBOOKINGHISTORY',
        statusType: 'GET_BOOKING_HISTORY_TYPE',
        locations: 'GET_LOCATIONS'
    }),
    currentCityBooking() {
        return this.locations.filter(e=>e.slug === this.$location)[0].name;
    }
  },
  data () {
    return {
      dateTimePicker: '',
      TimePicker: '',
      showList: false,
      cityBooking: ''
    }
  },
  async asyncData ({params, store, app,route}) {
    var dataParam = {cateId: 4,page: 1,orderby: 'id',order: 'desc',location: app.location,language: app.lang}
    var getProductByCategoryId = await productApi.getProductByCategoryId(
                                            dataParam.cateId,
                                            dataParam.page,
                                            dataParam.orderby,
                                            dataParam.order,
                                            dataParam.isshowhome,
                                            dataParam.location,
                                            dataParam.language)
    //var getArtistInHome = await store.dispatch('getListArtist',1)
    var groupTextRs = await gtApi.getGroupTextBySlug('',gtSlug,app.lang)
    var ourArtistText = await gtApi.getGroupTextBySlug('','artist-cua-chung-toi',app.lang)
    var discoverHome = await ImagesApi.getListImagesDiscover(1, 3, isShowConstant.True)


    return {
      listProduct: getProductByCategoryId.data,
      //getArtistInHome: getArtistInHome.data,
      makeBeautiful: groupTextRs.data,
      ourArtist: ourArtistText.data,
      discoverHome: discoverHome.data,
      location: params.location
    }
  },
  methods: {
    showListByClick: function(e){
      this.showList = !this.showList
    },
    closeList: function() {
      this.showList = false
    },
    city(ct){
      this.cityBooking = this.locations.filter(e=>e.slug===ct)[0].name
      this.$store.commit('SET_CURRENT_LOCATION',ct)
      this.$store.dispatch('getProductTrangDiem',this.$location).then(rs=> {
        this.listProduct  = rs
      })
    },
    toBooking() {
      if(this.TimePicker <= moment(new Date()).format("HH:mm")
        && moment(this.dateTimePicker, 'DD/MM/YYYY').toDate() <= new Date()){
        this.showNotification({
          title: 'Đã xảy ra lỗi.',
          message: 'Bạn chưa nhập thời gian hoặc thời gian là quá khứ!',
          type: 'error'
        })
        return
      }
      var bookingIndex = {
        location: this.cityBooking,
        datePicker: this.dateTimePicker,
        timePicker: this.TimePicker
      }
      window.localStorage.setItem('bookingIndex',JSON.stringify(bookingIndex))
      this.$router.push('/booking')
    }
  },
  mounted() {

  },
  head() {
    return {
      title: this.seoHome.seoTitle,
      meta: [
        { hid : "description", name: "description", content: this.seoHome.seoDescription }
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.currentUrl }]
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

