<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cài đặt Group text
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/config/grouptext"><i class="fa fa-dashboard"></i> Group Text</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submit" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết</h3>
              </div>
              <div class="box-body">
                <input-group
                :label="'Tiêu đề group text (*)'"
                :error="$v.formData.title.$error"
                v-model="formData.title"
                @blur="$v.formData.title.$touch()"
                @change="genGroupTextSlug"
                />
                <input-group
                :label="'Slug group text (*)'"
                :error="$v.formData.slug.$error"
                v-model="formData.slug"
                @blur="$v.formData.slug.$touch()"
                />
                <input-group
                :label="'Sub title'"
                v-model="formData.subTitle"
                />
                <input-group
                :label="'Url'"
                v-model="formData.url"
                />
                <!-- <div class="form-group">
                    <label>Tùy chọn upload</label>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Crop hình</label><br/>
                            <input type="checkbox" v-model="uploadOptions.isCrop"/> Crop hình
                        </div>
                        <div class="col-md-4" v-show="uploadOptions.isCrop">
                            <label>Chiều rộng</label>
                            <input type="number" min="0" v-model="uploadOptions.width" class="form-control" />
                        </div>
                        <div class="col-md-4" v-show="uploadOptions.isCrop">
                            <label>Chiều cao</label>
                            <input type="number" min="0" v-model="uploadOptions.height" class="form-control" />
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                  <div  v-for="(item,index) in languages" :key="item.id">
                    <input type="radio" :id="index" :value="item.slug" v-model="formData.language">
                    <label :for="index"> {{item.name}}</label>
                  </div>
                </div>
                <div class="form-group">
                    <label for="">Ảnh đại diện</label>
                    <div class="form-group preview-feature-image" v-if="formData.image" >
                        <img :src="formData.image" alt=""/>
                        <button class="btn-remove-feature-image" type="button" @click="formData.image = ''"><i class="fa fa-close"></i></button>
                    </div>
                    <div>
                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToAvatar')">
                        Chọn ảnh
                      </button>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <div class="form-group">
                         <no-ssr>
                        <editor
                            id="postContent"
                            :dataChange="dataChange"
                            v-model="formData.description"
                            >
                            </editor>
                        </no-ssr>
                    </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label>Filter ngôn ngữ</label>
                  <select class="form-control" v-model="language" @change="loadData">
                      <option value="">Tất cả ngôn ngữ</option>
                      <option v-for="lang in languages" :key="lang.slug" :value="lang.slug">{{lang.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách group text</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Language</th>
                      <th>Slug</th>
                      <th>Sub title</th>
                      <th width="10%">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in grouptext.data" :key="item.id">
                        <td><nuxt-link :to="`/config/grouptext/${item.id}`">{{item.title}}</nuxt-link></td>
                        <td>{{item.language}}</td>
                        <td>{{item.slug}}</td>
                        <td>{{item.subTitle}}</td>
                        <td class="text-center">
                            <button class="btn btn-default btn-xs" type="button" @click="bindEditForm(item.id)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-xs" type="button" @click="deleteItem(item.id)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="grouptext.meta" :page-count="grouptext.meta.totalPage"
                          :click-handler="callPage"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>

import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import groupTextApi from '@/assets/js/api/grouptext'
import languageApi from '@/assets/js/api/language'

import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import Editor from '@/components/ui-kits/editor'
import {genSlug} from '@/assets/js/commons/functions'
export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup,
    Editor
  },
  data () {
    return {
      formData: {
          image: '',
          description: ''
      },
      grouptext: {},
      searchKeyWord: '',
      language: '',
      page: 1,
      languages: [],
      dataChange: false,
      // uploadOptions: {
      //     isCrop: false,
      //     width: 0,
      //     height: 0
      // },
    }
  },
  validations: {
      formData: {
        title: {required},
        slug: {required}
      }
  },
  methods: {
     submit(e) {
       e.preventDefault();
       if(this.formData.id && +this.formData.id > 0) {
           groupTextApi.updateGroupText(this.$authToken,this.formData.id,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   massage: 'Cập nhật thông tin thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   massage: err.massage,
                   type: 'error'
               })
           })
       } else {
           groupTextApi.createGroupText(this.$authToken,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   massage: 'Lưu dữ liệu thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   massage: err.massage,
                   type: 'error'
               })
           })
       }
     },
     clearForm() {
         this.formData = { description: '', image: ''}
         this.dataChange = false
         setTimeout(function() { this.dataChange = true}.bind(this),1000)
         this.$v.formData.$reset()
     },
     callPage (page) {
       this.page = page
       this.loadData();
     },
     loadData() {
         groupTextApi.getGroupText(this.$authToken, this.searchKeyWord, this.language,this.page).then((rs)=> {
            this.grouptext = rs.data
         })
     },
     bindEditForm(id) {
        this.dataChange = false
        groupTextApi.getGroupTextByGroupId(this.$authToken,id).then((rs)=> {
            console.log(rs)
            this.formData = rs.data.groupText
            this.dataChange  =true
        })
     },
     deleteItem(id) {
         if(confirm('Bạn có chắc muốn xóa dữ liệu ?')) {
             groupTextApi.deleteGroupText(this.$authToken,id).then((rs)=> {
                 this.showNotifyMessage({
                     title: 'Thành công',
                     message: 'Xóa dữ liệu thành công',
                     type:'success'
                 })
                 this.loadData()
             })
         }
      },
      OpenMediaModal(val){
        this.showmodal = true
        this.$store.dispatch('SET_MEDIA_MODAL_OPEN',val)
      },
     genGroupTextSlug() {
      if(this.formData.slug) return;
      this.formData.slug = genSlug(this.formData.title)
    },
    uploadGroupTextImageDone(data) {
      this.formData.image = data.url
    },
    loadLanguage() {
      languageApi.getLanguage().then((rs) => {
            this.languages = rs.data.data
         })
    }
  },
  beforeMount() {
    this.loadLanguage()
  },
  mounted() {
    this.loadData()
    this.$root.$on('InsertSrcImg', (src) => {
      this.formData.image = src
    })
  }
}
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 22px;
    top:-5px ; right:-5px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
