<template>
  <nav class="blog-nav-mobile">
      <div class="blog-nav-mobile-title cs_pointer" v-click-outside="closeMenu" @click="showMenu = !showMenu">Danh mục blog <i class="fa fa-bars"></i></div>
      <transition name="slide">
          <ul class="blog-nav-container" v-show="showMenu">
            <li v-for="menu in blogMenuItems" :key="menu.id">
                <h4>
                    <nuxt-link :to="{ name: 'CategoryPage', params: {categorySlug: menu.objectSlug}}">{{menu.name}}</nuxt-link>
                </h4>
            </li>
        </ul>
      </transition>
  </nav>
</template>
<script>
import {mapGetters} from 'vuex'
import func from '@/assets/js/commons/functions'
export default {
    name: 'blog-navigation',
    data () {
        return {
          showMenu: false
      }
    },
    computed: {
      ...mapGetters({
        blogMenuItems: 'getBlogMenuItems'
      })
    },
    methods: {
        getCategoryPath (slug) {
            return func.genBlogCategoryPath(slug)
        },
        closeMenu() {
            this.showMenu = false;
        }
    }
}
</script>
<style lang="scss" scoped>
.slide-enter-active, .list-leave-active {
  transition: all .5s;
}
.slide-enter, .slide-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
</style>
