<template>
  <!-- <transition name="page" mode="out-in"> -->
    <div>
      <nuxt/>
      <no-ssr>
        <login-modal></login-modal>
      </no-ssr>
    </div>
  <!-- </transition> -->
</template>

<script>
import LoginModal from '@/components/commons/LoginModal'
export default {
  components: {
    LoginModal
  }
}
</script>

<style>
.page-enter-active, .page-leave-active {
  transition: opacity .8s, transform 1s;
}
.page-enter, .page-leave-to {
  opacity: 0.7;
}
</style>
