<template>
  <div class="container">
    <h1 v-if="error.statusCode === 404">Page not found</h1>
    <h1 v-else>{{error}}</h1>
    <nuxt-link to="/">Home page</nuxt-link>
  </div>
</template>

<script>
import master from './master'
export default {
  props: ['error'],
  layout: 'master',
  beforeCreate () {
    //console.log(this.$route.fullPath)
    // this.$router.go(this.$route.fullPath)
  }
}
</script>