<template>
  <div class="main">
    <site-header v-if="!$mobile.isMobile" />
    <site-header-mobile v-else></site-header-mobile>
    <site-header-nav v-if="!$mobile.isMobile" />
      <nuxt />
    <site-footer/>
    <notify-modal></notify-modal>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
//components
import { SiteHeader, SiteFooter, SiteHeaderMobile, SiteHeaderNav, NotifyModal } from '@/components/commons'
export default {
  components: {
    SiteHeader,
    SiteHeaderNav,
    SiteFooter,
    SiteHeaderMobile,
    NotifyModal
  },
  data () {
    return {
      isFbChat: true
    }
  }
  // ,
  // watch: {
  //   '$route' (to, from) {
  //     if(to.path==='/booking'){
  //       this.isFbChat = false
  //     }
  //   }
  // }
}
</script>
<style lang="scss" scoped>

</style>
