<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Tạo mới & Cập nhật ẢNh
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li class="active">Quản lý Ảnh</li>
      </ol>
    </section>
    <section class="content">
      <form @submit="submitForm">
        <div class="row">
          <div class="col-md-7">
            <div class="box box-default">
              <div class="box-body">
                <input-group
                  :label="'Tên ảnh (*)'"
                  v-model="formData.image.imageName"
                  @blur="genSlug()"
                  />
                <input-group
                  :label="'Slug ảnh (*)'"
                  v-model="formData.image.imageSlug"
                  />
                <div class="form-group">
                  <label>Mô tả ngắn</label>
                  <textarea class="form-control" rows="5" v-model="formData.image.imageDescription"></textarea>
                </div>
                <div class="form-group">
                  <label>Artist  (*)</label>
                  <select class="form-control" v-model="formData.image.artistId">
                    <option value="0">Chọn Artist</option>
                    <option v-for="item in artists" :key="item.id" :value="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Sản phẩm (*)</label>
                  <select class="form-control" v-model="formData.image.productId" @change="getServiceByProductId()">
                    <option value="0">Chọn sản phẩm</option>
                    <option v-for="item in products" :key="item.product.id" :value="item.product.id">
                      {{item.product.title}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Dịch vụ  (*)</label>
                  <select class="form-control" v-model="formData.image.serviceId">
                    <option value="0">Chọn dịch vụ</option>
                    <option v-for="item in services" :key="item.id" :value="item.id">
                      {{item.title}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Khu vực</label>
                  <div v-for="pro in provinces.data" :key="pro.id">
                  <label>
                    <input type="checkbox" :value="pro.id" v-model="formData.provinceIds"> {{pro.name}}
                  </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary">
                <div class="box-header">
                  <h5>Tags</h5>
                </div>
                <div class="box-body">
                  <multiselect
                    v-model="formData.tags"
                    :options="tagsOptions"
                    :multiple="true"
                    :searchable="true"
                    :taggable="true"
                    :custom-label="customTagLabel"
                    :loading="isSearching"
                    track-by="tagName"
                    @tag="addTag"
                    @search-change="asyncFind"
                    placeholder="Gõ để chọn hoặc thêm mới tag"
                    >
                  </multiselect>
                </div>
              </div>
          </div>
          <div class="col-md-5">
            <div class="box box-primary">
              <div class="box-header">
                <h4>Hành động</h4>
              </div>
              <div class="box-body">
                <div class="form-group" style=" display: flex; justify-content: center;">
                  <button class="btn btn-primary " type="submit">
                    <i class="fa fa-save"></i> Lưu thay đổi
                  </button>
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header">
                <h4>Hình ảnh</h4>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <label>Tùy chọn upload</label>
                  <div class="row">
                    <div class="checkbox col-md-4">
                      <label>
                        <input type="checkbox" v-model="uploadOptions.isCrop"/> Crop hình
                      </label>
                    </div>
                    <div class="col-md-4" v-show="uploadOptions.isCrop">
                      <label>Chiều rộng</label>
                      <input type="number" min="0" v-model="uploadOptions.width" class="form-control" />
                    </div>
                    <div class="col-md-4" v-show="uploadOptions.isCrop">
                      <label>Chiều cao</label>
                      <input type="number" min="0" v-model="uploadOptions.height" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="formData.image.isShowHome"> Hiển thị trên trang chủ
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group preview-feature-image" v-if="formData.image.imageUrl">
                    <img :src="formData.image.imageUrl" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="formData.image.imageUrl = ''"><i class="fa fa-close"></i></button>
                  </div>
                  <div class="text-center">
                    <!-- <no-ssr>
                    <upload-photo
                      @uploadDone="uploadFeatureImage"
                      :id="'uploadImageFeature'"
                      :iscrop="uploadOptions.isCrop"
                      :enableResize="true"
                      :enableOrientation="false"
                      :width="uploadOptions.width"
                      :height="uploadOptions.height"
                      :align="'center'"
                      ></upload-photo>
                    </no-ssr> -->
                    <div>
                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToAvatar')">
                        Chọn ảnh
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script>
import InputGroup from '@/components/ui-kits/input-group'
import UploadPhoto from '@/components/ui-kits/upload-form'
import artistApi from '@/assets/js/api/artist'
import productApi from '@/assets/js/api/product'
import serviceApi from '@/assets/js/api/service'
import imageApi from '@/assets/js/api/image'
import tagApi from '@/assets/js/api/tag-product'
import provinceApi from '@/assets/js/api/province'
import Multiselect from 'vue-multiselect'
import {genSlug} from '@/assets/js/commons/functions'
import { required, minLenght, maxLength,minValue, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default {
  layout: 'master',
  components: {
    InputGroup,
    UploadPhoto,
    Multiselect
  },
  data () {
    return {
      formData: {
        image: {
          artistId: 0,
          productId: 0,
          serviceId: 0,
          imageUrl: '',
          imageSlug: '',
          imageName: ''
        },
        tags: [],
        provinceIds: []
      },
      artists: [],
      products: [],
      services: [],
      provinces: [],
      uploadOptions: {
        isCrop: false,
        width: 0,
        height: 0
      },
      tagsOptions: [],
      isSearching: false
    }
  },
  validations: {
    formData: {
      image: {
        artistId: {
          required,
          minValue: minValue(1)
        },
        productId: {
         required,
          minValue: minValue(1)
        },
        serviceId :{
          required,
          minValue: minValue(1)
        },
        imageUrl: {required},
        imageName: {required}
      }
    }
  },
  methods: {
    genSlug() {
      if(this.formData.image.imageSlug) return;
      this.formData.image.imageSlug = genSlug(this.formData.image.imageName)
    },
    uploadFeatureImage (data) {
      this.formData.image.imageUrl = data.url
    },
    submitForm (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        var id =this.formData.image.id
        if(id && id > 0){
          // edit
          imageApi.updateImage(this.$authToken, id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.$router.push('/manage/image')
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          // create
          imageApi.createImage(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.$router.push('/manage/image')
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
    },
    getServiceByProductId (cb) {
      return serviceApi.getServiceByProductId(this.$authToken, this.formData.image.productId).then((rs)=> {
        this.services = rs
        cb()
      })
    },
    addTag(tag) {
      var tagItem = {
        "TagName": tag,
        "TagSlug":"",
      }
      tagApi.createTag(this.$authToken, tagItem).then(rs=> {
        this.formData.tags.push(rs)
      }).catch(err => {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Không thể thêm tag mới',
          type: 'error'
        })
      })

    },
    asyncFind (query) {
      if(this.isSearching) return;
      this.isSearching = true;
      setTimeout(function() {
        tagApi.getTags(this.$authToken, {keyword: query}).then(rs => {
          this.tagsOptions = rs.tags
          this.isSearching = false;
        }).catch(err=> {
          this.isSearching = false;
        })
      }.bind(this), 50)
    },
    customTagLabel (option) {
      return option ? option.tagName: ''
    },
    OpenMediaModal(val){
      this.showmodal = true
      this.$store.dispatch('SET_MEDIA_MODAL_OPEN',val)
      //document.body.className = 'modal-open'
    }
  },
  beforeMount () {
    artistApi.getArtists(this.$authToken, {rowPerPage: 20000, orderBy:'Name', order: 'asc'}).then((rs)=> {
      this.artists = rs.data.data
    })
    productApi.getListProducts(this.$authToken, {rowPerPage: 20000, orderBy:'Title', order: 'asc'}).then((rs)=> {
      this.products = rs.data.products
    })
    if (this.$route .params.id){
      imageApi.getImageById(this.$authToken, this.$route .params.id).then(rs => {
        this.formData.image = rs.image
        this.formData.tags = rs.tags
        this.formData.provinceIds = rs.provinceIds
        this.getServiceByProductId(function(){
          this.formData.image.serviceId = rs.image.serviceId
        }.bind(this))
      })
    }
    provinceApi.getProvince(this.$authToken,"").then(rs=> {
      this.provinces = rs.data
    })
  },
  mounted() {
    this.$root.$on('InsertSrcImg', (src) => {
      this.formData.image.imageUrl = src
    })
  },
}
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 21px;
    top:-5px ; right:-5px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>

