<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Ảnh
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Ảnh</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="form-group">
        <nuxt-link to="/manage/image/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Tạo mới</nuxt-link>
      </div>
      <search :searchParams="searchParams"  v-on:search="sumbitSearch"/>
      <div class="row">
        <div class="col-md-12">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Ảnh</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Ảnh</th>
                      <th>Tên</th>
                      <th>Artist</th>
                      <th>Sản phẩm</th>
                      <th>Dịch vụ</th>
                      <th>Tag</th>
                      <th  width="80" class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listImages.data" :key="item.id">
                      <td class="valign-middle">{{(listImages.meta.page - 1)*listImages.meta.rowPerPage + 1 + index}}</td>
                      <td width="210"><img style="width:200px; height:100px;" :src="item.image.imageUrl"></td>
                      <td class="valign-middle">{{item.image.imageName}}</td>
                      <td class="valign-middle">{{item.artist && item.artist.name}}</td>
                      <td class="valign-middle">{{item.product && item.product.title}}</td>
                      <td class="valign-middle">{{item.service && item.service.title}}</td>
                      <td class="valign-middle" v-html="getTagName(item.tags)"></td>
                      <td  width="80" class="text-center valign-middle">
                        <nuxt-link :to="`/manage/image/edit/${item.image.id}`" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></nuxt-link>&nbsp;
                        <a href="" v-on:click.prevent="deleteImage(item.image.id)" class="btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listImages.meta !== undefined" :page-count="listImages.meta.totalPage"
                    :click-handler="callPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import imageApi from '@/assets/js/api/image'
import Search from '@/components/pages/images/search'
export default {
  layout: 'master',
  components: {
    Paginate,
    Search
  },
  data () {
    return {
      listImages: [],
      searchParams: {
        keyword: '',
        artistId: 0,
        productId: 0,
        serviceId: 0,
        page: 1,
        rowPerPage: 20,
        orderBy: 'CreatedDate',
        order: 'desc',
        isShowHome: -1
      }
    }
  },
  beforeMount () {
    this.fetchData()
  },
  methods: {
    fetchData (){
      imageApi.getImages(this.$authToken, this.searchParams).then(rs => {
        this.listImages = rs.data
      })
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    deleteImage(id){
      if(confirm('Bạn có chắc chắn muốn xóa?')){
        imageApi.deleteImage(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    getTagName (obj) {
      var tagName = ''
      if (obj !== null) {
        obj.forEach(element => {
          tagName += ` <span class="label label-primary">${element.tagName}</span>`
        });
      }
      return tagName
    },
    sumbitSearch (value) {
      this.searchParams = value
      this.fetchData()
    }
  }
}
</script>

<style lang="scss" scoped>
.valign-middle{
  vertical-align: middle
}
</style>