@import "variable.scss";
.bookingpage {
  width: 100%;
  height: 100vh;
}
.booking-left {
  width: 30%;
  float: left;
  height: 100vh;
  background: #20151F;
  box-shadow: 0 1px 9px 0 rgba(0,0,0,0.30);
  padding: 20px 40px;
  text-align: center;
}
.booking-right {
  float: left;
  width: 70%;
  height: 100vh;
  background: #fff;
  position: relative;
}
.booking-right .line {
  display: block;
  margin: 20px auto 30px auto;
  width: 33%;
  position: relative;
  height: 0;
  text-align: center;
}
.booking-right .line .circle,.circle-booking{
  width: 20px;
  height: 20px;
  border:3px solid #E1E1E2;
  border-radius: 50%;
  display: inline-block;
  margin: 0 auto;
  background: #fff;
  position: relative;
}
.booking-right .line .linet{
  display: inline-block;
  width: 80px;
  border-bottom:5px solid #E1E1E2;
  position: relative;
  bottom:8px;
  margin:0 10px;
}
.booking-right .line .circle.active,
.booking-right .line .linet.active,
.circle-booking.active{
  border-color: $color-orange;
  background: $color-yellow;
}
/*Booking content*/
.right-content {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 120px);
  text-align: center;
}
/*title*/
.title-booking-form {
  font-family: $font-text;
  font-size: 20px;
  color: #4A556F;
}
.DtInBookingPage {
  width: 60% !important;
  margin: 20px auto 30px auto !important;
  top:0 !important;
}
.DtInBookingPage .location {
  width: 40% !important;
}
.DtInBookingPage .datebooking,
.DtInBookingPage .timebooking{
  display: table-cell;
  padding: 20px;
  width: 30% !important;
}
.serviceCategoryHome{
  position: relative;
}
.serviceCategoryHome:hover{
  cursor: pointer;
}
.serviceCategoryHome.active{
  border: 3px solid #FFC708;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .3);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, .3);
}
.box-check {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #fff;
  position: absolute;
  top: 10px;
  left:10px;
}
.serviceCategoryHome.active .box-check{
  background: $color-yellow;
}

/*tab*/
.tab-service .tabInService {
  border: 1px solid $color-yellow;
  font-weight: $semibold;
  font-size: 14px;
  color: #4A556F;
  padding: 10px 10px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}
.tab-service .tabInService:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.tab-service .tabInService:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tab-service .tabInService.active{
  background: $color-yellow;
}
.contentInService {
  font-weight: $regular;
  display: block;
  margin: 20px 0;
  font-size: 12px;
  color: #2F2F2F;
  margin-bottom: 30px;
}

.footer-booking{
  position: fixed;
  width: 70%;
  bottom: 0;
  right: 0;
  border-top: 1px solid #DEDEDE;
  background: #fff;
  font-weight: $medium;
  font-size: 14px;
}
.footer-booking .quantity{
  padding: 15px 30px;
}
.footer-booking label{
  padding: 0 20px;
}
.footer-booking .quantity input{
  display: inline-block;
  width: 80px;
  margin: 0 10px;
}
.moneyBooking .btn-bookingInBooking,
.footer-booking .btn-bookingInBooking{
  padding: 20px;
  height: 100%;
  border: 0;
  box-shadow: none;
  background: $color-yellow;
  color: #fff;
  font-family: $font-text;
  font-size: 18px;
  border-radius: 0;
  font-weight: $semibold;
}
.footer-booking .btn-bookingInBooking.btn-block {
  padding: 6px 12px;
  font-size: 16px;
}
.moneyBooking .btn-bookingInBooking:hover,
.moneyBooking .btn-bookingInBooking:active,
.moneyBooking .btn-bookingInBooking:focus,
.moneyBooking .btn-bookingInBooking:active:focus,
.moneyBooking .btn-bookingInBooking:active:hover,
.footer-booking .btn-bookingInBooking:hover,
.footer-booking .btn-bookingInBooking:active,
.footer-booking .btn-bookingInBooking:focus,
.footer-booking .btn-bookingInBooking:active:focus,
.footer-booking .btn-bookingInBooking:active:hover{
  background: $color-yellow;
  color: #fff;
  border: 0;
  outline: none;
}
/*left*/
.booking-left {
  padding-top:50px;
}
.booking-left img{
  width: 50%;
  margin: 0 auto;
}
.booking-left .leftslot {
  padding: 0 20px;
}
.booking-left span{
  font-family: $font-text;
  font-size: 18px;
  color: #FFF;
  display: block;
  margin: 30px 0;
  opacity: 0.6;
}
.booking-left span.step-booking-number{
  opacity: 1;
  color: #E390AC;
}
.booking-left h5{
  font-family: $font-text;
  font-weight: $regular;
  font-size: 38px;
  color: #FFFFFF;
}
/*form booking 2*/
.hr {
  margin: 20px auto;
  width: 80%;
  height: 1px;
  background-color:#DEDEDE;
}
.form-info-booking .link-login{
  font-weight: $semibold;
}
.form-info-booking .cs_pointer, .form-info-booking a{
  color: red;
  font-weight: $semibold;
}
.form-info-booking .cs_pointer:hover,
.form-info-booking a:hover{
  color: red;
  text-decoration: underline !important;
}
.form-info-booking{
  text-align: left;
}
.form-info-booking label,.form-info-booking span{
  font-weight: $semibold;
}
.form-info-booking input{
  height: 40px;
}
.checkbox-booking {
  margin: 10px 0;
}
.checkbox-booking span{
  margin-right: 10px;
  cursor: pointer;
}
.checkbox-booking .valueCircle{
  position: relative;
  top: -5px;
  margin-right: 30px;
}
.detailBooking {
  margin: 30px 0;
  text-align: left;
}
.detailBooking .detail {
  clear: both;
  margin: 10px 0;
}
.detailBooking .detail span,
.detailBooking .detail p{
  display: inline-block;
}
.detailBooking .detail span{
  font-size: 12px;
  color: #B7BECF;
  font-weight: $semibold;
}
.detailBooking .detail p {
  float: right;
  font-size: 12px;
  color: #4A556F;
  font-weight: $semibold;
}
.complete-p {
  font-weight: $semibold;
  font-size: 12px;
  color: #4A556F;
  line-height: 28px;
}

