/**
Declare
*/
@import "variable.scss";
a {
  // color: #fff;
  text-decoration: none !important;
}
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none !important
}
#subscribe-email {
  padding: 20px 10px;
}
/*header navigation*/
#header,#header-mobile {
  font-family: $font-text;
  border-bottom:1px solid #EBEBEB;
  z-index:1071;
  background:#fff;
}
#header-mobile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:1071;
  background: #54949f!important;
  border:0;
}
#header .glamme_logo {
  width: 93px;
  height: 55px;
  background-size:  100%;
  background-position: left center;
  background-repeat: no-repeat;
  margin: 6px 0;
}
#header .location-selector {
  border-bottom: 1px solid rgba(0,0,0,.87);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15px;
}
#header .location-select {
  border:0;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  margin-bottom: 0;
  outline: none;
  box-shadow: none;
  color: rgba(0,0,0,.7);
  margin-bottom: 7px;
}
.header-nav {
  display: block;
}
#header img{ padding: 5px;}
.header-nav ul {
  // display: table;
  display: block;
  list-style: none;
  width:100%;
  padding:0;
  margin: 0;
}
.header-nav  ul > li {
  //display: table-cell;
  position: relative;
  padding: 0;
  display: inline-block;
  margin:0;
}
.header-nav  ul > li > a {
  padding: 17px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-align:center;
  position:relative;
  display: block;
}
.header-nav  ul > li > a > h2 {
  margin:0;
  padding:0;
  font-size: 14px;
  display: inline;
  text-align: center;
}
.header-nav a.router-link-exact-active,
.header-nav a.router-link-active,
.header-nav a:hover {
  background-color: rgba(0,0,0,0.1);
}
#header .cs_pointer:after {
  width: 0;
  height: 4px;
  bottom: -4px;
  position: absolute;
  background-color:#FFC708;
  left: 0;
  -webkit-transition: width 200ms cubic-bezier(.87,.02,.23,1);
  -webkit-transition: width 200ms cubic-bezier(.87,.02,.23,1.005);
  -moz-transition: width 200ms cubic-bezier(.87,.02,.23,1.005);
  -o-transition: width 200ms cubic-bezier(.87,.02,.23,1.005);
  transition: width 200ms cubic-bezier(.87,.02,.23,1.005);
  content: "";
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
}
#header .cs_pointer:hover:after {
  width:100%;
  background-color:#FFC708;
}
.header-nav ul > li.menu-item-has-child:before {
  display: block;
  top: 100%;
  background: transparent;
  height: 5px;
  width: 200px;
  left: 0;
  content: '';
  position: absolute;
}
.header-nav ul li > .sub-menu{
  display: none;
  position: absolute;
  top: 100%;
  left:0;
  width: 250px;
  z-index: 999;
  background-color: #fff;
}
.header-nav ul li > .sub-menu > li{
  display: block;
}
.header-nav  ul > li:hover > .sub-menu {
  display: block;
}
.button-header,#header .cs_pointer {
  display: inline-block;
  padding:15px;
  position: relative;
  top:1px;
  color:#333;
  font-weight:700;
  margin-left:-5px;
}
#header .cs_pointer{
  padding: 0 10px;
  margin: 0 10px;
}
.button-header:hover{
  background-color:$color-yellow;
  color:#fff;
}
/*banner*/
.banner > .slick-slider .slick-slide img{
  width: 100%;
  display: inline-block;
}
.banner > .slick-slider > .slick-prev {
  left: 25px;
  z-index: 1000;
}
.banner > .slick-slider > .slick-next {
  right: 25px;
  z-index: 1000;
}
.banner > .slick-slider > .slick-dots{
  bottom: 25px
}
.banner >.slick-dotted.slick-slider{
  margin-bottom: 0
}
.banner .slide-item {
  //height: 550px;
}
/*Body section */
.section-gray{
  background-color: #F9F9F9;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
/*Booking Home*/
.bookingHome {
  border: 1px solid #EBEBEB;
  background: #fff;
  position: relative;
  width: 55%;
  margin: 0 auto;
  top: -30px;
  display: table;
}
.bookingHome .location,.bookingHome .datebooking,.bookingHome .timebooking {
  width: 25%;
  padding: 15px 10px;
  border-right: 1px solid #EBEBEB;
  position: relative;
  cursor: pointer;
  float: left;
}
.bookingHome .location{
  width: 35%;
}
.bookingHome .location > span {
  position: relative;
  top: -3px;
}
.bookingHome .datebooking{
  padding: 13px 10px;
}
.bookingHome .timebooking {
  border: 0;
  width: 20%;
  padding:12px 10px;
}
.bookingHome .fa-calendar{
  font-size: 20px;
}
.bookingHome .fa-clock-o {
  font-size: 24px;
}
.bookingHome i{
  padding: 0 10px;
}
// .bookingHome .locati{
//   position: absolute;
//   top: 50%;
//   margin-top:-0.5em;
// }
.bookingHome .idownclass {
  font-size: 20px;
  float: right;
  position: relative;
  top: 8px;
}
.location .listLocation{
  position: absolute;
  top:100%;
  left:0;
  background:#fff;
  width:100%;
  text-align:center;
  border: 1px solid #EBEBEB;
  z-index:9;
}
.location .listLocation span{
  display:block;
  padding: 10px;
  border-bottom: 1px solid #EBEBEB;

}
.location .listLocation span:last-child{border:0;}
.bookingHome .input-group-addon {background: transparent;border:0;padding-right:0;}
.bookingHome .date-time-input {border:0;box-shadow: none;}
.button-datlich{
  padding:7px 12px;
  background: $color-yellow;
  color:#fff;
  border: 0;
  box-shadow:none;
  text-transform: uppercase;
  border-radius: 0;
}
.button-datlich:hover,
.button-datlich:active,
.button-datlich:focus{background: $color-yellow; color: #fff;outline:none !important;}
/*Booking History Home*/
.bookingHomeInfo {
  margin: 30px 0;
}
.tab-booking {
  text-align: center;
  margin: 10px 0;
}
.tab-booking span{
  font-weight: $regular;
  font-size: 30px;
  color:$color-black;
  cursor: pointer;
  padding: 10px 30px;
}
.tab-booking span.active {
  color: #FF7A08;
  border-bottom: 3px solid #FF7A08;
}
.emtyBooking i{
  font-size: 100px;
  opacity: 0.18;
  margin-bottom: 30px;
  display: block;
}
.emtyBooking span{
  margin: 30px 0;
  display: block;
  font-weight: $semibold;
  font-size: 18px;
  color: #4A556F;
}
.content-booking-history{
  color: #4A556F;
  width: 90%;
  overflow-y: auto;
}
.content-booking-history .item-booking-history {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #FF7A08;
}
.listBookingHistory {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  padding: 20px 0;
}
.listBookingHistory .stt label{
  font-weight: $semibold;
  font-size: 36px;
  display: block;
}
.listBookingHistory .stt span{
  display:block;
  font-size: 14px;
  font-weight: $regular;
  margin-bottom: 5px;
}
.content-booking-history h5{
  font-weight: $semibold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
}
.content-booking-history p {
  margin-bottom: 5px;
  font-weight: $medium;
  font-size: 14px;
  color: #393D47;
}
.item-booking-history .money{
  font-weight: $semibold;
  font-size: 18px;
  color: #FF7608;
}
.item-booking-history .money.confirmed{
  color: #0875FF;
}
.item-booking-history .status-label {
  font-weight: $medium;
  font-size: 14px;
  margin: 10px 0;
  color: #656E85;
}
.count-booking-history {
  opacity: 0.56;
  font-weight: $semibold;
  font-size: 18px;
  color: #4A556F;
}

.content-booking-history::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.content-booking-history::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.content-booking-history::-webkit-scrollbar-thumb{
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*Service Category Home*/
.wraper-title {
  text-align: center;
  margin: 50px 0;
  font-size:30px;
  font-weight: $regular;
  color: #4A556F;
}
.discover-item-wrapper {
  width: 25%;
  padding: 5px;
}
.discover-item-wrapper-w {
  width: 33.33%;
}
.serviceCategoryHome,
.discover-item {
  padding: 5px;
  background:#fff;
  border: 3px solid transparent;
  height: 100%;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
}
.discover-item{
  height: auto;
  cursor: pointer;
  padding: 0;
  padding-bottom: 5px;
}
.discover-item .title-discover{
  padding: 0 5px;
}
.serviceCategoryHome a{color:#333;}
.wraper-content {text-align: center;}
.wraper-content h5{
  font-size: 14px;
  text-transform: uppercase;
  font-family: $font-text;
  font-weight: $title;
  margin: 20px 0;
}
.wraper-content span{
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #70798C;
  padding: 0 8px;
  font-weight: $regular;
}
.serviceCategoryHome:hover,
.discover-item:hover{
  border: 3px solid $color-yellow;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
}
.Btn-goToBookingService {
  background: $color-yellow;
  border:0;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
}
.Btn-goToBookingService i{
  font-size: 20px;
  position: relative;
  top: 2px;
}
.Btn-goToBookingService:hover,
.Btn-goToBookingService:active,
.Btn-goToBookingService:focus{
  outline:none;
}
/*made beautiful*/
.madeBeautiful .wraper-title {
  color: #393E49;
  font-weight: $regular;
}
.madeBeautiful .stt {
  width: 80px;
  font-size: 64px;
  padding: 0 20px 20px 20px;
}
.madeBeautiful .content h5{
  font-size:18px;
  font-weight:bold;
}
.madeBeautiful .content span{
  opacity: 0.57;
  font-family: $medium;
  font-size: 12px;
  color: #262A35;
  line-height: 23px;
}
/*Artist*/
.artistHome .wraper-title {
  padding-bottom: 50px;
  border-bottom: 1px solid #E2E2E2;
}
.artistHome .slick-prev:before{
  font-family: FontAwesome;
  content: "\F0D9";
  font-size: 55px;
  color: #4A556F;
  position: relative;
  right: 30px;
}
.artistHome .slick-next:before{
  font-family: FontAwesome;
  content: "\F0da";
  font-size: 55px;
  color: #4A556F;
  position: relative;
  left: 30px;
}

.artist-title,.artist-label {
  font-weight:$regular;
  font-size: 30px;
  color: #54121A;
  line-height: 25px;
  display: block;
  text-align: justify;
}
.artist-label {
  margin-bottom: 25px;
  font-size: 14px;
}
.artist-desc {
  $font-weight: $medium;
  font-size: 14px;
  color: #262A35;
  line-height: 25px;
}
.our-artist-item .thumbnail {
  border:0;
  margin:0; padding:0;
  overflow: hidden;
}
.our-artist-item .thumbnail img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
}
.our-artist-item .info {
  margin-top: 10px;
}
.our-artist-item .info ul{
  padding: 0;
  margin: 0;
}
.our-artist-item .info ul li{
  list-style-position: inside;
}
/*Ready Booking Home*/
.ready-home{
  background: #313A4D;
  padding: 50px 0;
  color: #fff;
}
.ready-title {
  font-size: 36px;
  color: #FFFFFF;
  font-weight: $regular;
}
.ready-content {
  display: block;
  font-size: 14px;
  color: #F9f9f9;
  line-height: 25px;
  opacity: 0.6;
  font-weight: $medium;
}
.ready-home .button-datlich{
  margin: 30px 0;
  padding: 20px 50px;
  font-size: 14px;
  font-weight: 700;
}

/*footer*/
#footer{
  margin: 30px 0;
}
#footer .footer{
  border-top: 1px solid #E2E2E2;
  padding: 30px 0;
}
.logo-footer label{
  text-transform: uppercase;
  margin: 12px 0;
  font-family: $font-text;
  font-size: 14px;
  color: #4A556F;
}
.service-footer {
  color: #4A556F;
}
.service-footer h5{
  font-family: $font-text;
  font-size: 14px;
  font-weight: 700;
}
.service-footer #service-footer {
  list-style: none;
  padding:0;
  margin:0;
}
.service-footer #service-footer li{
  padding: 10px 0;
}
.service-footer #service-footer a{
  font-size: 14px;
  color: #4A556F;
  text-transform: uppercase;
  font-family: $font-text;
}
.service-footer .email-footer{
  font-family: $font-text;
  font-size: 14px;
  color: #4A556F;
  display: block;
  margin-top:20px;
}
.service-footer .phone-footer{
  display:block;
  font-family: $font-text;
  font-size: 25px;
  color: #4A556F;
}
.input-footer input{
  height: 50px;
  background: #F6F6F6;
}
.social-footer i{
  border-radius: 50%;
  padding: 10px 12px;
  width:34px;
  height:34px;
  background: #37183d;
  color:#fff;
  margin-right: 10px;
}
#copyright{
  opacity: 0.31;
  font-family: $font-text;
  font-size: 14px;
  color: #4A556F;
}

/*post*/

.post-entry-title {
  margin: 20px 0 0 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.7em;
  font-weight: bold;
}
.post-entry-content h2,
.post-entry-content h3{
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 1.6em;
  font-weight: bold;
}
.post-entry-content img {
  display: block;
  margin: 5px auto;
  border-radius: 4px;
}
.post-tags {
  margin-bottom: 10px;
  padding: 5px;
}
.post-tags span {
  display: inline;
  background: #f2f2f2;
  padding: 2px 7px;
  margin-right: 4px;
  border-radius: 3px;
}
.post-tags span a {
  color: #555;
}
.post-tags span a:hover {
  color: $color-green-hover;
}
.post-meta {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
/* Home style */
.cat-box {
  background: #fff;
  border-top: 4px solid #60c9c5;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
}
.cat-box .cat-box-title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  position: relative;
  color: #2b4053;
}
.cat-box .cat-box-title h3 {
  font-family: $font-text;
  margin: 0;
  padding:0;
}
.cat-box .cat-box-title a {
  text-transform: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  color: #3f3b3b;
}
.home-cat-box{
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px
}
/*catergory*/
.category-item {
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
}
.category-item .thumbnail {
  overflow: hidden;
  height: 220px;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $color-green;
}
.category-item .thumbnail:hover {
  border-color: $color-green-hover;
}
.category-item .thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.category-item .category-item-title {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0;
  padding: 10px;
  height: 60px;
  background: #f9f9f9;
  overflow: hidden;
}
.category-item .category-item-title a{ color: #000000;}

/*Trang ServiceCategory - list product*/
.search-in-category {
  border-radius: 5px;
  background-color: #fff;
  border-top:3px solid $color-green;
}
.search-in-category h5{
  padding: 10px 0;
  margin:5px 0;
  border-bottom: 1px solid #ddd;
  color: $color-green;
  font-weight: bold;
}
.list-search-title {
  list-style: none;
  margin: 0;
  padding: 0 35px;
}
.list-search-title li {
  list-style: none;
  position: relative;
  padding-top: 15px;
}
.list-search-title li label{
  margin-left: 20px;
}
.list-search-title li a {
  color: #333;
}
.list-search-title > li:before{
  content: '';
  width: 10px;
  height: 1px;
  border-top: 5px solid $color-green;
  border-bottom: 5px solid #f7d972;
  position: absolute;
  left: 0;
  top: 19px;
}
.list-search-title li ul{
  margin:0;
  padding:0;
}
.list-search-title .list-child {
  padding: 0 15px;
}
/*Trang discover-landing page discover - khám phá*/
.content-discover {
  border-top: 1px solid #E2E2E2;
  padding-bottom: 30px;
}
.content-discover .img-discover{
  width: 100%;
  height: auto;
}
.content-discover .title-discover h4{
  color: #4A556F;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
}
.content-discover .title-discover span{
  font-size: 12px;
  color: #B7BECF;
  margin-bottom: 10px;
  display: block;
}
.title-discover img{
  float:left;
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.label-xemthem {
  font-size: 18px;
  color: #666666;
  font-weight: $regular;
  cursor: pointer;
}
/*modal tag*/
.discover-tag {
  margin: 20px 0;
  text-align: center;
  text-transform: capitalize;
}
.discover-tag span a{
  background: #EEEEEE;
  font-size: 14px;
  color: #686868;
  font-weight: 500;
  display: inline-block;
  padding: 10px 25px;
  margin: 5px 15px 5px 0;
  border-radius: 10px;
}
/*list Product in Service category*/
.list-product-by-category {
  margin: 30px 0;
}
.listProducts {margin-bottom: 30px; background-color: #fff;height: 100%;}
.listProducts img{
  width: 100%;
}
.listProducts .content-product-detail {
  padding: 10px;
  font-size:13px;
}
.listProducts .content-product-detail h5{font-weight:700}
.listProducts .content-product-detail label{color:$color-green;margin-right:10px;margin-bottom:10px;}
.listProducts .content-product-detail .artist-product-detail {
  border-top:1px solid #eee;
  padding-top: 10px;
}
.listProducts .content-product-detail .artist-product-detail img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.listProducts .content-product-detail .artist-product-detail .content-artist{
  height: 100%;
}
.listProducts .content-product-detail .artist-product-detail .content-artist strong{
  display:block;
  font-weight: 500;
}
.listProducts .content-product-detail .artist-product-detail .content-artist span {font-size:12px;}
.img-product-detail {
  position: relative;
  display: block;
}
.img-product-detail .img-hover{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(8, 194, 207, 0.6);
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  justify-content: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.img-product-detail .img-hover span{
  color: #fff;
  border:1px solid #fff;
  text-transform:uppercase;
  padding:5px 10px;
  border-radius: 4px;
  font-weight: 500;
}
.img-product-detail:hover .img-hover{
  opacity:1;
}
/*equal colum*/
.row-eq-height1 {
  display: table;
}
.row-eq-height1 > [class*='col-'] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.content-modal-book .form-control#date-picker,
.content-modal-book .form-control#time-picker{
  font-size: 12px !important;
}

/*call button*/
.call-button {
  position: fixed;
  right: 18px;
  bottom: 30px;
  top: auto;
}
.call-button span{
  color: #fff;
  background: #498fe3;
  padding: 10px 20px;
  border-radius: 15px;
}
//
.btn-apply {
  background: #FFC708;
  color: #fff;
  text-transform: uppercase;
}

/*V2 Artist register*/
#artist-register-header{
  text-align: center;
  margin-top: 30px;
}
#artist-register-header img{
  width: 200px
}
#artist-register-header-desc{
  padding: 20px 10px;
  font-weight: 500;
}
#artist-register-benefit{
  background-color: #F2F2F2;
  padding: 40px 0
}
.artist-register-benefit-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #505050;
  margin-bottom: 40px;
  margin-top: 30px;
}
.detail-benefit-icon{
  width: 7%;
  vertical-align: middle;
  display: table-cell;
}
.detail-benefit-main{
  width: 90%;
  padding-left: 20px;
  display: table-cell
}
.detail-benefit{
  background-color: #fff;
  padding: 25px 20px;
  display: table
}
.detail-benefit-title{
  font-size: 18px;
  color: #47828B;
  font-weight: 600;
  padding-bottom: 10px;
}
.detail-benefit-desc{
  opacity: 0.92;
  font-size: 13px;
  color: #262A35;
  line-height: 23px;
  text-align: justify
}
#artist-register-main {
  position: relative;
  text-align: center;
}
// #artist-register-main::before {
//   background: rgba(47,47,47,0.61);
//   content: "";
//   opacity: 0.8;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: 1;
// }
#artist-register-form{
  background-color: #ffffff;
  display: inline-block;
  width: 60%;
  margin: 100px 0;
  padding: 30px 100px;
  position: relative;
  z-index: 999
}
#register-action{
  margin-top: 25px;
  display: inline-block;
  width: 100%
}
#register-action .btn-register{
  display: block;
  border: 0;
  background: #FFC708;
  padding: 15px 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto
}
.input-register{
  border: 0;
  border-bottom: 1px solid #ddd;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
  outline: none;
  transition: border-color 1s ease;
}
.input-register:focus{
  border: 0;
  border-bottom: 1px solid #FFC708;
  transition: border-color 1s ease;
}
.input-register:focus::placeholder{
  color:  #FFC708;
  transition: 0.5 ease;
}
.policy-register{
  padding-top: 30px
}
.register-upload{
  text-align: left;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  padding-top: 10px ;
}
