@import "variable.scss";
.landing-header {
    padding: 30px 0;
    text-align: center;
}
.landing-header-title {
    margin-bottom: 30px;
    font-family: $font-text;
}
.landing-header-desc {
    margin: 0 15%;
    font-size: 14px;
}
.landing-block {
    padding: 30px 0;
}
.landing-block-order,
.landing-block-content {
    display: inline-block;
    width: 70%;
}
.landing-block-title {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top:0;
    font-family: $font-text;
}
.landing-block-order {
    font-size: 5em;
    font-weight: bold;
    color: #762828;
    font-family: $font-text;
    width: 20%;
    vertical-align: top;
}
.landing-block-desc {
    font-size: 14px;
}
.landing-block-image-cover {
    text-align: center;
}
// .landing-block-image-cover img {

// }

/*landing page dich vu*/
.langding-page-service .landing-header-title {
  text-transform: uppercase;
}
.listProductPageLanding .productDetailPage {
  padding: 20px;
  position: relative;
  cursor: pointer;
}
.listProductPageLanding .productDetailPage::before,
.listProductPageLanding .productDetailPage::after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  background-color: #B3B3B3;
  height: 2px;
}
.listProductPageLanding .productDetailPage::after{
  top: 100%;
  left:0;
}
.listProductPageLanding .productDetailPage.active::before,
.listProductPageLanding .productDetailPage.active::after{
  z-index: 1;
  background-color: $color-orange;
}
.listProductPageLanding .productDetailPage h5{
  font-family: $font-text;
  font-size: 24px;
  color: $color-black;
}
.listProductPageLanding .productDetailPage .productContentPage{
  font-size: 14px;
  color: #697288;
  font-family: $font-text;
  line-height: 22px;
  text-align: justify;
  font-weight: 300;
  display: block;
  max-height: 0;
  transition: all 0.5s ease-out;
  overflow: hidden;
  opacity: 0;
}
.listProductPageLanding .productDetailPage.active .productContentPage{
  max-height: 1000px;
  transition: all 0.5s ease-in;
  opacity: 1;
}
//right
.listservicePageLanding{
  background: #FFFFFF;
  border: 1px solid #D6D6D6;
  padding: 20px;
  position: relative;
}
.listservicePageLanding .serviceDetailPage .productShort,
.listservicePageLanding .tab-service{
  font-family: $font-text;
  font-size: 14px;
  color: #697288;
  line-height: 25px;
  font-weight: 300;
  padding: 15px 10px;
  display: block;
}
.listservicePageLanding .tab-service{
  text-align: center;
}
.listservicePageLanding img{
  display: block;
  width: 100%;
}
.listservicePageLanding .contentInServicePage {
  padding: 0 10px;
  margin-bottom: 80px;
}
.listservicePageLanding .contentInServicePage p{
  font-size: 14px;
  color: #697288;
  line-height: 25px;
}
.listservicePageLanding .contentInServicePage label{
  opacity: 0.41;
  font-family: $font-text;
  font-size: 24px;
  color: #4A556F;
  line-height: 28px;
}
.listservicePageLanding .contentInServicePage span{
  font-family: $font-text;
  font-size: 22px;
  color: #4A556F;
  line-height: 28px;
  margin-left: 20px;
  font-weight: bold;

}
.btn-bookingInLandingPage {
  position: absolute;
  right: 0;
  bottom: 30px;
  padding: 15px 30px;
  background-color: $color-yellow;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0;
}
.btn-bookingInLandingPage:hover,
.btn-bookingInLandingPage:focus,
.btn-bookingInLandingPage:active {
  background-color: $color-yellow;
  color:#fff;
  outline: none;
}
