@import "variable.scss";
/*Blog navigation mobile*/
.blog-nav-mobile {
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    padding: 7px 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    margin-bottom: 5px;
}
.blog-nav-mobile i.fa-bars {
    float: right;
    font-size: 22px;
}
.blog-nav-mobile .blog-nav-container {
    position: absolute;
    background: #f9f9f9;
    width: 100%;
    z-index: 999;
    left:0;
    top:100%;
    list-style: none;
    padding:0;
    margin:0;
}
.blog-nav-mobile .blog-nav-container > li,
.blog-nav-mobile .blog-nav-container > li>h4 {
    display: block;
    padding:0;
    margin:0;
    font-size: 12px;
}
.blog-nav-mobile .blog-nav-container > li > h4 >a {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px dotted #ddd;
    font-size: 14px;
    color: #333;
}
/*header*/
i.bar-header {
  font-size: 25px;
  color: #63809B;
  //margin-top: 7px;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
}
#header-mobile .imglink{
  // display: block;
  // padding: 2px 0;
  height: 100%;
}
#header-mobile img.glamme_logo,
#header-mobile .button-header-mobile span{
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
}
#header-mobile .button-header-mobile{
  background-color: #FFC708;
  text-align: center;
  height: 100%;
  // display:block;
  // padding: 10px 0;
}
#header-mobile .button-header-mobile span{
  color: #fff;
  // display: block;
}
.header-banner-mobile {
  position: fixed;
  height: 100vh;
  z-index: 1900;
  width: 0;
  left: -100%;
  top:0;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}
.backgroundMenu {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.58);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1800;
}
.header-banner-mobile.open{
  left: 0;
  width: 100%;
}
.header-banner-mobile .content-header-mobile{
  position: relative;
  background: #f9f9f9;
  width: 80%;
  z-index: 1901;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
.content-header-mobile .closeMenu{
  position: absolute;
  right: 0;
  top:0;
  padding: 5px;
  background: #333;
  color:#fff;
  font-size: 20px;
}
.content-header-mobile  .listMenuContent{
  padding: 20px;
  text-align: center;
}
.content-header-mobile  .listMenuContent span{
  display: block;
  font-family: $font-text;
  font-size: 16px;
  color: #4A556F;
  text-transform: uppercase;
  padding:30px 0;
  border-bottom: 1px solid #E2E2E2;
}
.content-header-mobile  .listMenuContent span:last-child{
  border:0;
}
/*Landing page mobile*/
.landing-header-title-mobile{
  font-family: $font-text;
  font-size: 24px;
  color: #4A556F;
}
.landing-header-desc-mobile{
  font-size: 13px;
  color: #4A556F;
  line-height: 22px;
  margin: 0;
}
.landing-block-content-mobile{
  padding: 0 10px;
}
.landing-header-mobile {
  padding: 10px 0;
}
.landing-block-order-mobile{
  font-size: 50px;
  color: #C5CCDE;
  font-family: $font-text;
  padding-left: 15px;
  vertical-align: top;
  display: block;
}
.landing-block-image-cover-mobile_right{
  float: right;
  width: 40%;
  padding-left: 15px;

}
.landing-block-image-cover-mobile_left{
  float: left;
  width: 40%;
  padding-right: 15px;

}
.landing-block-title-group {
    width: 60%;
    float: left;
}
.landing-block-title-group.landing-block-title-mobile_left {
    float: left;
}
.landing-block-title-group.landing-block-title-mobile_right {
    float: right;
}
.landing-block-title-mobile{
  font-family: $font-text;
  font-size: 24px;
  color: #4A556F;
  padding:10px;
  margin-top: 0;
  width: 100%;
}
.landing-block-desc-mobile{
  // float: left;
    font-size: 13px;
    color: #4A556F;
    line-height: 25px;
    padding: 15px 0;
    text-align: justify;
}
/*Blog home*/
/* Home style */
.cat-box-mobile {
  background: #fff;
  border-top: 4px solid #60c9c5;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
}
.cat-box-title-mobile {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  position: relative;
  color: #2b4053;
}
.cat-box-title-mobile h3 {
  font-family: $font-text;
  margin: 0;
  padding:0;
}
.cat-box-title-mobile a {
  color: #2b4053;
}
.home-cat-box-mobile{
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px
}
/*Service mobile*/
.landing-service-header-mobile {
  padding: 15px 0;
  text-align: center;
}
.landing-service-header-title-mobile {
  font-family: $font-text;
  text-transform: uppercase;
  font-size: 24px;
  color: #4A556F;
}
.landing-service-header-desc-mobile {
  font-size: 13px;
  color: #4A556F;
  line-height: 25px;
  padding: 10px 0;
}
.landing-service-time-mobile{
  margin: 20px 20%
}
.landing-service-time-mobile .elementServiceMobile label{
  opacity: 0.81;
  font-size: 14px;
  color: #4A556F;
  line-height: 28px;
  float: left;
}
.landing-service-time-mobile .elementServiceMobile span{
  font-size: 14px;
  color: #4A556F;
  line-height: 28px;
  float: right;
  font-weight: 600
}
.btn-bookingInServiceLandingPageMobile{
    padding: 10px 30px;
    background-color: #FFC708;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
}
.contentInServiceMobile{
  display: block;
  margin-top: 20px;
  font-size: 13px;
  color: #2F2F2F;
}
/*Ready booking*/
.ready-container-mobile{
  margin: -20px 0;
}
.ready-title-mobile{
  font-size: 24px;
  color: #FFFFFF;
  font-family:  $font-text;
}
.ready-content-mobile{
  display: block;
  font-size: 14px;
  color: #F9f9f9;
  line-height: 25px;
  opacity: 0.6;
  font-weight: 300;
  font-family: $font-text;
}
.button-datlich-mobile{
  margin: 20px 0;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 700;
  background: #FFC708;
  color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  border-radius: 0;
}
@media screen and (max-width: $iphone5) {
  #header-mobile img.glamme_logo{
    width: auto !important;
  }
  .discover-item-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .header-banner-mobile .content-header-mobile {
    width: 80%;
  }
  .header-banner-mobile .content-header-mobile span {
    padding: 20px 0;
  }
  #header-mobile img.glamme_logo{
    width: auto !important;
  }
  .discover-item-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 667px) {
  .header-banner-mobile .content-header-mobile {
    width: 50%;
  }
  .header-banner-mobile .content-header-mobile span {
    padding: 15px 0;
  }
  .discover-item-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: 666px) {
  .header-banner-mobile .content-header-mobile {
    width: 80%;
  }
  .header-banner-mobile .content-header-mobile span {
    padding: 20px 0;
  }
  .discover-item-wrapper {
    width: 50%;
  }
}
@media screen and (max-width: $iphone8) {
  .mobile-discover .left-modal,
  .mobile-discover .right-modal {
    display: block !important;
    width: 100%  !important;
    height: auto !important;
  }
  .mobile-discover .left-modal{
    text-align: center;
  }
  .mobile-discover .left-modal img{
    max-height: 300px !important;
    overflow: hidden;
  }
  .mobile-discover .modal-container{
    width: 100% !important;
  }
  .mobile-discover .modal-right-content{
    height: auto !important;
    padding-bottom: 75px;
  }
  .mobile-discover .modal-body{
    max-height: 100vh;
    overflow: scroll;
  }
  .bookingHome {
    display: none;
  }
  #header-mobile img.glamme_logo{
    width: 85% !important;
  }
  .our-artist-item .artist-title,
  .our-artist-item .artist-label{
    text-align: center;
  }
  .our-artist-item .artist-desc ul li{
    list-style-position: inside;
  }
  .service-footer {
    text-align: left;
  }
}
@media screen and (min-width: $tablet){
    .landing-block-desc-mobile,
    .landing-header-desc-mobile {
        font-size: 16px;
    }
    .landing-block-title-mobile,
    .landing-header-title-mobile {
        font-size: 32px;
        font-weight: bold;
    }
    #header-mobile img.glamme_logo{
      width: 50% !important;
    }
    .i.bar-header {
        font-size: 30px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bookingHome {
    width: 80%;
  }
  .mobile-discover .modal-container{
    width: 100% !important;
  }
  .discover-item-wrapper {
    width: 33.33%;
  }
 }



/*booking trên mobile*/
.header-mobile-booking{
  background: #20151F;
  text-align: center;
  padding: 10px;
  position: relative;
}
.header-mobile-booking .returnHome {
  position: absolute;
  color: #fff;
  right: 0;
  top:0;
  font-size: 20px;
  padding: 10px;
}
.header-mobile-booking span{
  font-size: 16px;
  color: #E390AC;
}
.header-mobile-booking h5{
  font-size: 18px;
  color: #FFFFFF;
}
.content-mobile-booking{
  background: #F6F6F6;
}
.mobileBooking {
  top:0;
  width: 100%;
  font-size: 14px !important;
}
.mobileBooking .location{
  display:block !important;
  width: 100% !important;
  float:none !important;
  border:0 !important;
}
.mobileBooking .datebooking,
.mobileBooking .timebooking{
  width: 50% !important;
  float: left !important;
  border-top: 1px solid #EBEBEB !important;
  border-bottom: 1px solid #EBEBEB !important;
}
.mobileBooking .form-control#date-picker,
.mobileBooking .form-control#time-picker{
  font-size: 14px !important;
}
.content-mobile-booking .chooseSerrviceMobile{
  text-align: center;
  padding-bottom: 10px;
}
.productItemMobile{
  background: #F6F6F6;
  padding: 15px;
  border-bottom: 1px solid rgba(93,93,93,0.34);
}
.productItemMobile:first-child{
  border-top: 1px solid rgba(93,93,93,0.34);
}
.productItemMobile.active{
  background: #fff;
}
.productItemMobile .serviceCategoryHome{
  padding: 0;
  border:0;
  box-shadow:none;
  background: #F6F6F6;
}
.productItemMobile.active .serviceCategoryHome{
  background: #fff;
}
.productItemMobile .serviceCategoryHome:hover{
  box-shadow:none;
}
.productItemMobile .serviceCategoryHome.active{
  box-shadow: none;
}
.productItemMobile .box-check{
  left: auto;
  right:2px;
  top:2px;
  border: 1px solid rgba(93,93,93,0.34);
}
.productItemMobile.active .box-check{
  border: 2px solid #fff;
}
.productItemMobile .wraper-content h5{
  margin: 0;
  text-align:left;
  font-size: 13px;
}
.productItemMobile.active .wraper-content h5{
  margin: 0 0 10px 0;
}
.productItemMobile .wraper-content span{
  font-size: 14px;
  color: #3D3D3D;
  text-align: justify;
  max-height: 0;
  opacity:0;
  transition: all 400ms ease-out;
  overflow: hidden;
  padding: 0;
}
.productItemMobile.active .wraper-content span{
  max-height: 1000px;
  transition: all 600ms ease-in;
  opacity: 1;
}
.productItemMobile .serviceCategoryHome img,
.productItemMobile .mobile-tabservice{
  max-height: 0;
  overflow:hidden;
  transition: all 400ms ease-out;
  opacity:0;
}
.productItemMobile.active .serviceCategoryHome img,
.productItemMobile.active .mobile-tabservice{
  max-height: 1000px;
  transition: all 600ms ease-in;
  opacity: 1;
}
.mobile-tabservice {
  background: #fff;
  //padding: 20px;
  text-align: center;
}
.mobile-tabservice .tab-service .tabInService{
  padding: 10px;
}
// .mobile-tabservice::after{
//   content: '';
//   display: block;
//   width: 1px;
//   height: 1px;
//   border: 15px solid transparent;
//   border-left-width: 25px;
//   border-right-width: 25px;
//   border-top-color: #F6f6f6;
//   margin: 0 auto;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: -2px;
// }
// .mobile-tabservice::after,
// .mobile-tabservice::before{
//   content: '';
//   display: block;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: -2px;
//   width: 0;
//   height: 0;
//   margin: 0 auto;
//   border-style: solid;
// }
// .mobile-tabservice::after{
//   border-color: #F6f6f6 transparent transparent transparent;
//   border-width: 15px;
// }
// .mobile-tabservice::before{
//   top: -1px;
//   border-color: rgba(93, 93, 93, .34) transparent transparent transparent;
//   border-width: 16px;
// }
// .mobile-tabservice .tab-service{
//   margin-top: 10px;
// }
.mobile-footer-booking{
  border-top:1px solid rgba(93,93,93,0.34);
}
.mobile-footer-booking .quantity i:first-child{
  border-left:1px solid rgba(93,93,93,0.34);
}
.mobile-footer-booking .quantity i{
  font-size: 15px;
  padding: 18px 10px;
  font-size: 25px;
  color: #4A556F;
  border-right:1px solid rgba(93,93,93,0.34);
  cursor: pointer;
}
.mobile-footer-booking .moneyBooking .btn-bookingInBooking{
  font-size:15px;
}
.mobile-footer-booking .moneyBooking label{ margin-right: 10px;}
.infoBookingMobile {
  display: inline-block;
  position: relative;
  top: 10px;
}
.infoBookingMobile span{display:block;font-size: 14px}
.step-mobile-one{
  margin-bottom: 60px;
}
.step-mobile-one .mobile-footer-booking{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  background: #fff;
}
/*booking 2*/
.content-mobile-booking .btn-bookingInBooking{
  padding: 20px;
  background: $color-yellow;
  color: #fff;
}
/*booking 3*/
.step-mobile-3{
  margin: 20px 0;
  background: #fff;
}
.step-mobile-3 .wraper-content{
  text-align: left;
}
.step-mobile-3 .wraper-content h5{
  margin: 0 0 10px 0;
}
.step-mobile-3 .wraper-content span{
    font-size: 13px;
    color: #3d3d3d;
    text-align: justify;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    padding: 0;
}
.footer-mobile-step3 {
  text-align:center;
  background: #FFFFFF;
  border-top: 3px solid #FFC708;
  -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.3);
  box-shadow: 0 -5px 10px 0 rgba(0,0,0,.3);
}
.footer-mobile-step3 h5{
  font-family: $font-text;
  font-size: 20px;
  color: #4A556F;
}
.footer-mobile-step3 p{
  font-size: 13px;
  color: #4A556F;
  line-height: 22px;
}
.footer-mobile-step3 .btn-bookingInBooking{
  margin: 0;
}
/*Artist register*/
#artist-register-header-mobile{
  text-align: center;
  margin-top: 20px;
}
#artist-register-header-mobile img{
  width: 150px
}
#artist-register-header-desc-mobile{
  padding-left:20px;
  padding-right:20px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: 500;
  opacity: 0.95;
  font-size: 12px;
  color: #262A35;
  line-height: 23px;
}
#artist-register-benefit-mobile{
  background-color: #F2F2F2;
  padding: 30px 0
}
.artist-register-benefit-title-mobile{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #505050;
  margin-bottom: 30px;
}
.detail-benefit-icon-mobile{
  width: 5%;
  vertical-align: middle;
  display: table-cell;
}
.detail-benefit-main-mobile{
  width: 90%;
  padding-left: 20px;
  display: table-cell
}
.detail-benefit-mobile{
  background-color: #fff;
  padding: 15px 20px;
  display: table
}
.detail-benefit-title-mobile{
  font-size: 14px;
  color: #47828B;
  font-weight: 600; 
  padding-bottom: 10px;
}
.detail-benefit-desc-mobile{
  font-size: 12px;
  color: #262A35;
  line-height: 20px;
  text-align: justify
}
#artist-register-form-mobile{
  background-color: #ffffff;
  display: inline-block;
  width: 90%;
  margin: 5% 0;
  padding: 30px 30px;
  position: relative;
  z-index: 999
}
#artist-register-form-mobile .input-register{
  font-size: 12px
}
#artist-register-form-mobile .register-upload{
  font-size: 12px
}
.policy-register-mobile{
  padding-top: 10px;
  font-size: 12px
}
.btn-register-mobile{
  display: block;
  border: 0;
  background: #FFC708;
  padding: 15px 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin: 0 auto
}