@import "variable.scss";
body {
    font-family: $font-text !important;
    color: $color-black;
    line-height: normal!important;
    font-weight: 400!important;
    font-size: 14px!important;
    color: #333a4d!important;
}
/*FA icon*/
.fa-icon {
    position: relative;
    top: 3px;
}
.cs_pointer:hover {
    cursor: pointer;
}
.common-title {
  font-family: $font-text;
}
