$color-orange:#FFA908;
$color-green: #39ccd6;
$color-green-hover: #08c2cf;
$color-yellow: #FFC708;
$color-black: #4A556F;
$font-text: Helvetica,Arial,sans-serif!important;
$title: 700;
$regular: 400;
$medium: 500;
$semibold: 600;
$tablet: 991px;
$iphone8: 767px;
$iphone5: 320px;
