<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Subscribe Email
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Subscribe email</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-10">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Subscribe Email</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div class="box box-default">
                    <div class="box-body">
                      <div class="row">
                        <form @submit="submitSearch" method="get">              
                          <div class="col-md-4">
                            <input class="form-control input-sm" id="keyword" v-model="keyword"  placeholder="Email tìm kiếm" type="text" value="">
                          </div>
                          <div class="col-md-2">
                            <div>
                              <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
                              <div class="clear-fix"></div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <!-- <th width="20" valign="middle" align="center"><input ref="check" type="checkbox" v-model="selectAll"></th> -->
                      <th>STT</th>
                      <th>Email</th>
                      <th>Ngày đăng ký</th>
                      <th>Vị trí đăng ký</th>
                      <th>Link đăng ký</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listEmails.data" :key="item.email">
                      <!-- <td width="20" valign="middle" align="center"><input ref="checkItem" type="checkbox" :value="tag.id" v-model="checkItems"></td> -->
                      <td>{{(listEmails.meta.page - 1)*listEmails.meta.rowPerPage + 1 + index}}</td>
                      <td>{{item.subsEmail}}</td>
                      <td>{{getDayMounthYearTime(item.createdDate)}}</td>
                      <td>{{item.subscribeClick}}</td>
                      <td>{{item.url}}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listEmails.meta !== undefined" :page-count="listEmails.meta.totalPage"
                  :click-handler="callPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :container-class="'pagination'"
                  :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import subscribeEmailApi from '@/assets/js/api/subscribeEmail'

export default {
  layout: 'master',
  components: {
    Paginate
  },
  data () {
    return {
      listEmails: [],
      keyword: ''
    }
  },
  async beforeMount() {
    var params = {
      keyword: this.keyword,
      page: 1,
      rowPerPage: 20,
      orderBy: 'createdDate',
      order: 'desc'
    }
    this.listEmails = await subscribeEmailApi.getListSubscribeEmail(this.$authToken, params)
  },
  methods: {
    async submitSearch (e) {
      e.preventDefault()
      var params = {
        keyword: this.keyword,
        page: 1,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'desc'
      }
      this.listEmails = await subscribeEmailApi.getListSubscribeEmail(this.$authToken, params)
    },
    async callPage (page) {
      var params = {
        keyword: this.keyword,
        page: page,
        rowPerPage: 20,
        orderBy: 'createdDate',
        order: 'desc'
      }
      this.listEmails = await subscribeEmailApi.getListSubscribeEmail(this.$authToken, params)
    },
    getDayMounthYearTime (stringDate) {
      var newDate = new Date(stringDate)
      var result = newDate.getDate() + '-' + (newDate.getMonth() + 1) + '-' + newDate.getFullYear() + ' ' + newDate.getHours() + ':' + newDate.getMinutes()+ ':'+newDate.getSeconds()
      return result
    }
  }
}
</script>