<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">          
            <div class="col-md-3">
              <label>Từ khóa</label>
              <input class="form-control input-sm" id="keyword" placeholder="Từ khoá tìm kiếm" type="text" v-model="searchParams.keyword">
            </div>
            <div class="col-md-2">
              <label>Chiến dịch</label>
              <select :disabled="!isChangeable" class="form-control input-sm" v-model="searchParams.campainId">
                <option value="0">Chọn Chiến dịch</option>
                <option v-for="item in listCampaigns" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-1">
              <label>&nbsp;</label><br>
              <div>
                <button class="btn btn-primary btn-sm btn-block">Tìm kiềm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import discountApi from '@/assets/js/api/discount'
export default {
  props: ['searchParams','isChangeable'],
  data () {
    return {
       listCampaigns: {}
    }
  },
  beforeMount () {
    discountApi.getListCampaigns(this.$authToken,  {rowPerPage: 20000, orderBy:'Name', order: 'asc'}).then(rs => {
      this.listCampaigns = rs.data
      console.log(this.listCampaigns)
    })
  },
   methods: {
    submit (e) {
      e.preventDefault()
      this.$emit('search', this.searchParams);
    }
  }
}
</script>

<style>

</style>
