<template>
  <td class="text-center" v-if="isActiveLocal">
    <i title="Đã kích hoạt" v-on:click.prevent="activeCode(id)" aria-hidden="true" class="fa fa-check-square" style="color: rgb(0, 166, 90); cursor:pointer"></i>
  </td>
  <td class="text-center" v-else>
    <i title="Chưa kích hoạt" v-on:click.prevent="activeCode(id)" aria-hidden="true" class="fa fa-check-square" style="color: rgb(204, 204, 204); cursor:pointer"></i>
  </td>
</template>

<script>
import discountApi from '@/assets/js/api/discount'
export default {
  props: ['isActive', 'id'],
  data () {
    return {
      isActiveLocal: this.isActive
    }
  },
  methods: {
    activeCode (id){
      discountApi.activeCode(this.$authToken, id).then(rs => {
        this.isActiveLocal = !this.isActiveLocal
      })
    },
  }
}
</script>

<style>

</style>
