<template>
  <td>{{userFullName}}</td>
</template>

<script>
import accountApi from '@/assets/js/api/account'
export default {
  props: ['accountId'],
  data () {
    return {
      userFullName: ''
    }
  },
  beforeMount () {
    if(this.accountId && this.accountId > 0){
      accountApi.getAccountById(this.$authToken, this.accountId).then(rs => {
        this.userFullName = rs.userFullName
      })
    }
  }
}
</script>
