<template>
  <td>{{campaignName}}</td>
</template>

<script>
import discountApi from '@/assets/js/api/discount'
export default {
  props: ['campaignId'],
  data () {
    return {
      campaignName: ''
    }
  },
  beforeMount () {
    if(this.campaignId && this.campaignId > 0){
      discountApi.getCampaignById(this.$authToken, this.campaignId).then(rs => {
        this.campaignName = rs.name
      })
    }
  }
}
</script>
