<template>
  <td>{{productName}}</td>
</template>

<script>
import productApi from '@/assets/js/api/product'
export default {
  props: ['productId'],
  data () {
    return {
      productName: ''
    }
  },
  beforeMount () {
    if(this.productId && this.productId > 0){
      productApi.getProductById(this.$authToken, this.productId).then(rs => {
        this.productName = rs.product.title
      })
    }
  }
}
</script>
