<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Tỉnh thành
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Tỉnh thành</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
          <div class="col-md-4">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Thêm mới & cập nhật Tỉnh thành</h3>
                </div>
                <div class="box-body">
                  <input-group
                  :label="'Tên tỉnh thành (*)'"
                  :error="$v.formData.name.$error"
                  v-model="formData.name"
                  @blur="$v.formData.name.$touch()"
                  @change="genValueSlug"
                  />
                  <input-group
                  :label="'Slug (*)'"
                  :error="$v.formData.slug.$error"
                  v-model="formData.slug"
                  @blur="$v.formData.slug.$touch()"
                  />
                </div>
                <div class="box-footer">
                  <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                  <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                    <i class="fa fa-undo"></i> Hủy
                  </a>
                </div>
              </div>
          </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Tỉnh thành</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên</th>
                      <th>Slug</th>
                      <th>Ngày tạo</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in provinces.data" :key="item.id">
                      <td>{{index + 1}}</td>
                      <td><a :href="`/province/edit/${item.id}`" v-on:click.prevent="bindEditForm(item.id)">{{item.name}}</a></td>
                      <td>{{item.slug}}</td>
                      <td>{{item.createDate}}</td>
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteItem(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>

import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import provinceApi from '@/assets/js/api/province'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import Editor from '@/components/ui-kits/editor'
import {genSlug} from '@/assets/js/commons/functions'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup,
    Editor
  },
  data () {
    return {
      provinces: {},
      formData:{},
      searchKeyWord: '',
      page: 1,
      dataChange: false,
    }
  },
  validations: {
      formData: {
        name: {required},
        slug: {required}
      }
  },
  methods: {
    submitForm(e) {
       e.preventDefault();
       if(this.formData.id && +this.formData.id > 0) {
           provinceApi.updateProvince(this.$authToken,this.formData.id,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   massage: 'Cập nhật thông tin thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   massage: err.massage,
                   type: 'error'
               })
           })
       } else {
           provinceApi.createProvince(this.$authToken,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   massage: 'Lưu dữ liệu thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   massage: err.massage,
                   type: 'error'
               })
           })
       }
     },
     clearForm() {
        this.formData = {}
        this.dataChange = false
        setTimeout(function() { this.dataChange = true}.bind(this),1000)
        this.$v.formData.$reset()
     },
     loadData() {
        provinceApi.getProvince(this.$authToken, this.searchKeyWord,this.page).then((rs)=> {
          this.provinces = rs.data
        })
     },
     bindEditForm(id) {
        this.dataChange = false
        provinceApi.getProvinceById(this.$authToken,id).then((rs)=> {
          this.formData = rs.data.province
          this.dataChange  =true
        })
     },
     deleteItem(id) {
        if(confirm('Bạn có chắc muốn xóa dữ liệu ?')) {
             provinceApi.deleteProvince(this.$authToken,id).then((rs)=> {
                 this.showNotifyMessage({
                     title: 'Thành công',
                     message: 'Xóa dữ liệu thành công',
                     type:'success'
                 })
                 this.loadData()
             })
        }
      },
      genValueSlug() {
      if(this.formData.slug) return;
      this.formData.slug = genSlug(this.formData.name)
    }
  },
  beforeMount() {
    this.loadData()
  }
}
</script>

