<template>
  <blog-layout>
    <div class="blog-wrapper">
      <breadcrumbs :items="breadcrumbItems"></breadcrumbs>
      <div class="category-wrapper">
        <div class="hello">
            <h1>{{category.catTitle}}</h1>
            <!-- <p class="text-center">{{category.catDescription}}</p> -->
        </div>
        <div class="category-list">
            <div class="listpost row">
                <div class="col-md-6" v-for="post in postsItems" :key="post.id">
                    <div class="category-item">
                        <nuxt-link title="" class="thumbnail" :to="getPostPath(post.postSlug)">
                        <img v-lazy="post.featureImage" :alt="post.postTitle">
                        </nuxt-link>
                        <h3 class="category-item-title">
                          <nuxt-link :title="post.postTitle" :to="getPostPath(post.postSlug)">{{post.postTitle}}</nuxt-link>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="isShowLoadmore" class="Xemthem text-center">
            <button class="btn btn-primary" v-on:click="loadMore()">Xem thêm <i v-if="isLoading" class="fa fa-spinner fa-spin"></i></button>
        </div>
      </div>
    </div>
  </blog-layout>
</template>

<script>
import post from "@/assets/js/api/post";
import func from "@/assets/js/commons/functions";
import BlogLayout from "@/components/layouts/blog";
import Breadcrumbs from "@/components/ui-kits/breadcrumbs";
import { postStatus } from "@/assets/js/commons/constants.js";
import { mapGetters } from "vuex";
import { POST_PER_PAGE } from "@/assets/js/commons/constants";

export default {
  layout: "master",
  components: {
    BlogLayout,
    Breadcrumbs
  },
  async asyncData({ params, store }) {
    var dataParam = {
      slug: params.categorySlug,
      status: postStatus.PUBLISH,
      rowPerPage: POST_PER_PAGE,
      page: 1
    };
    await store.dispatch("getListPorstsByCateSlug", dataParam);
    var category = await store.getters.getCurrentCategory;
    var posts = await store.getters.getListPostsToListPostState;
    return {
      page: 1,
      loadmoreClick: false,
      category: category,
      postsItems: posts
    };
  },
  methods: {
    getCategoryPath() {
      return func.genBlogCategoryPath(this.category.catSlug);
    },
    getPostPath(slug) {
      return func.genBlogPostPath(slug);
    },
    loadMore() {
      this.loadmoreClick = true;
      this.page += 1;
      var dataParam = {
        slug: this.$route.params.categorySlug,
        status: postStatus.PUBLISH,
        rowPerPage: POST_PER_PAGE,
        page: this.page
      };
      this.$store.dispatch("getListPorstsByCateSlug", dataParam);
      this.setData();
    },
    getPostItem() {
      var dataParam = {
        slug: this.$route.params.categorySlug,
        status: postStatus.PUBLISH,
        rowPerPage: POST_PER_PAGE,
        page: 1
      };
      this.$store.dispatch("getListPorstsByCateSlug", dataParam);
      this.setData();
    },
    setData() {
      this.category = this.categoryItemState;
      this.postsItems = this.postsItemsState;
    },
    getDescription() {
      return this.category.seoDescription
        ? this.category.seoDescription
        : this.category.description;
    }
  },
  computed: {
    breadcrumbItems() {
      var items = [];
      items.push({
        type: "link",
        path: "/blog/",
        title: "Blog",
        icon: null
      });
      return items;
    },
    ...mapGetters({
      postsItemsState: "getListPostsToListPostState",
      categoryItemState: "getCurrentCategory",
      isLoading: "isLoading",
      isShowLoadmore: "isShowLoadmore"
    })
  },
  watch: {
    $route(to, from) {
      this.loadmoreClick = false;
      this.slug = to.params.categorySlug;
      console.log(this.slug);
      this.getPostItem();
    },
    categoryItemState() {
      this.setData();
    }
  },
  head() {
    return {
      title: this.category.catTitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content: this.getDescription()
        }
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.currentUrl }]
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.category-wrapper {
  background: #fff;
  padding: 15px 15px;
  margin-bottom: 15px;
}
.category-wrapper .hello {
  border-bottom: 1px dotted #eee;
  margin-bottom: 10px;
}
.category-wrapper .hello h1 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
</style>
