<template>
  <div class="widget widget-fb">
    <fb-page :url="url" />
  </div>
</template>

<script>
import fbPage from '@/components/ui-kits/fb-page'
export default {
  components: {
    fbPage
  },
  data () {
    return {
      url: 'https://www.facebook.com/glamme.vn/'
    }
  }
}
</script>

<style scoped>
  .widget {
    background: #fff;
    margin-bottom: 20px;
  }
</style>
