<template>
  <section class="top-tags">
    <div class="container">
      <div class="top-tags-title">Quan tâm nhiều nhất</div>
      <div class="top-tags-content">
        <div id="list_tag">
          <slick ref="slick" :options="slickOptions">
            <div class="top-tag-item" v-for="item in listMostUseTags" :key="item.id">
              <nuxt-link :style="setBackgroundColor()" :to="getTagUrl(item.tagSlug)" :title="item.tagTitle"># {{item.tagTitle}}</nuxt-link>
            </div>
          </slick>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Slick from 'vue-slick'
import func from '@/assets/js/commons/functions'
import {TAG_COLOR} from '@/assets/js/commons/constants'

var tag_color_index = 0

export default {
  props: ['listMostUseTags'],
  components: {
    Slick
  },
  data () {
    return {
      slickOptions: {
        slidesToShow: 6,
        slidesToScroll: 2,
        dots: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 5000,
        cssEase: 'linear',
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              infinite: true,
              dots: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      }
    }
  },
  methods: {
    getTagUrl (slug) {
      return func.genBlogTagPath(slug)
    },
    setBackgroundColor () { 
      if (tag_color_index >= TAG_COLOR.length){
        tag_color_index = 0
        var background = `background-color:${TAG_COLOR[0]}`
        return background
      } else {
        var background = `background-color:${TAG_COLOR[tag_color_index]}`
        tag_color_index ++
        return background
      }
    }
  }
}
</script>

<style scoped>
  .top-tags {
    background: #fff;
    border-top: 4px solid #60c9c5;
    margin-bottom: 20px;
  }
  .top-tags-title {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #343f51;
    padding: 10px;
  } 
  #list_tag {
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    padding: 15px 0;
  }
  #list_tag .top-tag-item {
    padding: 0 10px;
  }
  #list_tag .top-tag-item a {
    display: block;
    padding: 15px 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
</style>