<template>
  <div class ="cat-box">
    <div v-if="$mobile.isMobile" class="cat-box-title-mobile">
      <h3>
        <nuxt-link :to="getCategoryUrl(listPosts.category.catSlug)" :title="listPosts.category.catTitle">
          {{listPosts.category.catTitle}}
        </nuxt-link>
      </h3>
    </div>
    <div v-else class="cat-box-title">
      <h3>{{listPosts.category.catTitle}}</h3>
      <nuxt-link :to="getCategoryUrl(listPosts.category.catSlug)" :title="listPosts.category.catTitle">Xem thêm</nuxt-link>
    </div>
    <div class="home-cat-box">
      <div class="post-item post-item--green post-item--border-bottom" v-for="item in listPosts.posts" :key="item.id">
        <div class="post-item__inner">
          <div class="row">
            <div class="col-md-3">
              <nuxt-link :to="getPostPath(item.postSlug)" class="post-item__thumb" :title="item.postTitle">
                <img class="img-responsive" v-lazy="item.featureImage" alt="item.postTitle">
              </nuxt-link>
            </div>
            <div class="col-md-9">
              <div class="post-item__info sm-mt15">
                <h4><nuxt-link class="post-item__title" :title="item.postTitle" :to="getPostPath(item.postSlug)">{{item.postTitle}}</nuxt-link></h4>
                <div class="post-item__desc">
                  {{item.postExcerpt}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import func from '@/assets/js/commons/functions'
export default {
  props: ['listPosts'],
  methods: {
    getPostPath (slug) {
      return func.genBlogPostPath(slug)
    },
    getCategoryUrl (slug) {
      return func.genBlogCategoryPath(slug)
    },
  }
}
</script>

<style scoped>
 
  .post-item--border-bottom {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  a.post-item__thumb {
    display: block;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 55%
  }
  a.post-item__thumb:hover {
    opacity: .6;
  }
  a.post-item__thumb img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .post-item__title {
    display: block;
    margin-bottom: 10px;
    color: #000;
    
    font-weight: 700;
    text-transform: uppercase;
  }
  .post-item__desc {
    color: #333;
  }
  .post-item__info > h3{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.1em;
  }
</style>
