<template>
  <div class="widget widget-subscribe">
    <div class="widget-title">Nhận tin làm đẹp mới nhất</div>
    <div class="widget-content">
      <div class="form-group">
        <p>Hãy nhập địa chỉ Email để không bỏ lỡ những bí kíp &amp; xu hướng làm đẹp mới nhất bạn nhé!</p>
      </div>
      <div class="form-group">
        <form class="subscribe_form" id="subscribe_form" method="post">
          <div class="form-group">
            <input-group
              :id="'subscribe-email'"
              :placeholder="'Email nhận tin khuyến mãi, làm đẹp...'"
              :error="$v.subscribeEmail.$error"
              :errormsg="'Email không được để trống'"
              v-model="subscribeEmail"
              />
            <!-- <input class="form-control" placeholder="Email nhận tin khuyến mãi, làm đẹp..." type="email" v-model="subscribeEmail"> -->
          </div>
          <div class="form-group">
            <button class="btn btn-default btn-block btn-subscribe" @click.prevent="submit()">Đăng ký</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import userApi from '@/assets/js/api/user'

export default {
  components: {
    InputGroup
  },
  data () {
    return {
      subscribeEmail: ''
    }
  },
  validations: {
    subscribeEmail: {
      required,
      email
    }
  },
  methods: {
    submit() {
      if(!this.$v.$invalid) {
        var data = {
          url: this.$route.path,
          subscribeClick: 'side-bar',
          subsEmail: this.subscribeEmail
        }
        userApi.postSubscribeEmail(data).then(rs=> {
            this.showNotification({
              title: 'Đăng ký thành công',
              message: 'Chúng tôi sẽ gữi đền bạn những thông tin mới nhất!',
              type: 'success'
            })
          }).catch(err => {
            this.showNotification({
              title: 'Email này đã được đăng ký',
              message: 'Chúng tôi sẽ gữi đền bạn những thông tin mới nhất!',
              type: 'warn'
            })
          })
        this.clearForm()
      } else {
        this.showNotification({
          title: 'Đăng ký thất bại',
          message: 'Kiểm tra lại địa chỉ email!',
          type: 'error'
        })
      }
    },
    clearForm () {
      this.subscribeEmail = ''
    }
  }
}
</script>

<style scoped>
  .widget {
    background: #fff;
    margin-bottom: 20px;
  }
  .widget .widget-title {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 4px solid #60c9c5;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .widget-subscribe .widget-content {
    padding: 10px;
  }
  #subscribe-email {
    padding: 20px 10px;
  }
  .widget-subscribe .btn-subscribe {
    padding: 12px;
    text-transform: uppercase;
    background: #60c9c5;
    color: #fff;
    font-weight: bold;
    border: 0!important;
  }
</style>
