<template>
  <div class="widget widget-top-keyword">
    <div class="widget-title">Tìm kiếm nhiều nhất</div>
    <div class="widget-content">
      <span v-for="(item, index) in listMostUseTags" :key="index"  v-if="listMostUseTags"><nuxt-link :style="setFontSize(item.numberUsed)" :title="item.tagTitle" :to="{name: 'TagPage', params: {tagSlug: item.tagSlug}}" >{{item.tagTitle}}</nuxt-link>&nbsp;</span>
    </div>
  </div>
</template>

<script>
import {TAG_NUMBER} from '@/assets/js/commons/constants'
import func from '@/assets/js/commons/functions'
import {mapGetters} from 'vuex'

export default {
  data () {
    return {
      
    }
  },
  beforeMount () {
    this.$store.dispatch('getListMostUsedTags', TAG_NUMBER)
  },
  computed: {
    ...mapGetters({
      listMostUseTags: 'getMostUsedTag'
    })
  },
  methods: {
    setFontSize (number) {
      if(number <=5) return 'font-size: 16px'
      if(number <=7) return 'font-size: 17px'              
      if(number <=10) return 'font-size: 18px'              
      if(number <=15) return 'font-size: 19px'              
      if(number <=20) return 'font-size: 20px'              
      if(number >20 ) return 'font-size: 22px'              
    },
    getTagUrl (slug) {
      return func.genBlogTagPath(slug)
    },
  }
}
</script>
<style scoped>
  .widget {
    background: #fff;
    margin-bottom: 20px;
  }
  .widget .widget-title {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 4px solid #60c9c5;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .widget-top-keyword .widget-content {
    padding: 10px;
    line-height: 1.5em;
  }
  .widget-top-keyword .widget-content > a{
    color: #3f3b3b;
  }
  .widget-top-keyword .widget-content > a:hover{
    color: #337ab7;
  }
</style>