<template>
  <div class="widget widget-tab-top-post widget-tab">
    <div class="widget-tab-content">
      <ul class="nav nav-tabs">
        <li :class="{active:hotTopic}"><a @click="changeTabHotTopic()" role="tab">Xem nhiều nhất</a></li>
        <li :class="{active:newTopic}"><a @click="changeTabNewTopic()" role="tab">Mới nhất</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade" :class="{ active: hotTopic, 'in': hotTopic }" v-show="hotTopic">
          <div class="media media-item" v-if="listMostViewPosts" v-for="item in listMostViewPosts" :key="item.id">
            <div class="media-left">
              <nuxt-link :to="getPostPath(item.postSlug)" :title="item.postTitle">
                <img v-lazy="item.featureImage" :title="item.postTitle" :alt="item.postTitle"/>
              </nuxt-link>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <nuxt-link :to="getPostPath(item.postSlug)" :title="item.postTitle">
                  {{item.postTitle}}
                </nuxt-link>  
              </h4>
              <div class="media-meta">
                <i class="fa fa-eye" aria-hidden="true"></i> {{item.postView}}   |   {{getDayMounthYearTime(item.createdDate)}}
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="tab-pane fade" :class="{ active: newTopic, 'in': newTopic }" v-show="newTopic !== false">
          <div class="media media-item" v-if="listNewPosts" v-for="item in listNewPosts.posts" :key="item.post.id">
            <div class="media-left">
              <nuxt-link :to="getPostPath(item.post.postSlug)" :title="item.post.postTitle">
                <img v-lazy="item.post.featureImage" :title="item.post.postTitle" :alt="item.postTitle"/>
              </nuxt-link>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <nuxt-link :to="getPostPath(item.post.postSlug)" :title="item.post.postTitle">
                  {{item.post.postTitle}}
                </nuxt-link>  
              </h4>
              <div class="media-meta">
                <nuxt-link v-if="item.categories.length > 0" :to="getCategoryPath(item.categories[0].catSlug)" :title="item.categories[0].catTitle">
                  {{item.categories[0].catTitle}}
                </nuxt-link>  
                |   {{getDayMounthYearTime(item.post.createdDate)}}
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import posts from '@/assets/js/api/post'
import {postStatus} from '@/assets/js/commons/constants.js'
import func from '@/assets/js/commons/functions'
export default {
  data (){
    return {
      hotTopic: true,
      newTopic: false,
      listMostViewPosts: [],
      listNewPosts: []
    }
  },
  async beforeMount () {
    this.listMostViewPosts = await posts.getListMostViewPosts(postStatus.PUBLISH, 5)
    this.listNewPosts = await posts.getListNewsPosts(postStatus.PUBLISH, 1, 5, 'createddate', 'desc')
  },
  methods: {
    changeTabNewTopic(){
      this.hotTopic = false
      this.newTopic = true
    },
    changeTabHotTopic(){
      this.hotTopic = true
      this.newTopic = false
    },
    getPostPath (slug) {
      return func.genBlogPostPath(slug)
    },
    getCategoryPath (slug) {
      return func.genBlogCategoryPath(slug)
    },
    getDayMounthYearTime (stringDate) {
      var newDate = new Date(stringDate)
      var result = newDate.getHours() + ':' + newDate.getMinutes()+ ' '+newDate.getDate() + '-' + (newDate.getMonth() + 1) + '-' + newDate.getFullYear()
      return result
    },
  }
}
</script>

<style scoped>
  .widget {
    background: #fff;
    margin-bottom: 20px;
  }
  .widget .widget-title {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 4px solid #60c9c5;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .widget-tab .nav-tabs {
    border: 0;
}
.widget-tab-top-post .nav-tabs>li {
    width: 50%;
}
.widget-tab .nav-tabs > li > a {
    border: 0;
    border-top: 3px solid #fff;
    border-radius: 0;
    background: #f9f9f9;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    display: block;
    width: 100%;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.widget-tab .nav-tabs>li.active>a, .widget-tab .nav-tabs>li.active>a:focus {
    border-top-color: #60c9c5;
    background: #fff;
}
.widget-tab .tab-content {
    padding: 10px;
}
.widget-tab .tab-content .tab-pane .media-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.media:first-child {
    margin-top: 0;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.widget-tab .tab-content .tab-pane .media-item img {
    width: 80px;
    height: auto;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.widget-tab .tab-content .media-item .media-heading {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2em;
}
.widget-tab .tab-content .media-item .media-heading >a {
    color: #333
}
.widget-tab .tab-content .media-item .media-meta {
    font-size: 13px;
}
.widget-tab .tab-content .media-item .media-meta > a{
    color: #333
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}

</style>
