<template>
  <div v-if="$mobile.isMobile" class ="cat-box-mobile">
    <div class="cat-box-title-mobile">
      <h3>
        <nuxt-link :to="getCategoryUrl(listPosts.category.catSlug)" :title="listPosts.category.catTitle">
          {{listPosts.category.catTitle}}
        </nuxt-link>
      </h3>
    </div>
    <div class="home-cat-box-mobile">
      <div class="top-news-mobile">
        <div class="top-news-mobile__item col-xs-12 col-sm-6 col-lg-3" v-for="item in listPosts.posts" :key="item.id">
            <nuxt-link :to="getPostPath(item.postSlug)" class="post-item-mobile__thumb" :title="item.postTitle">
              <img class="img-responsive" v-lazy="item.featureImage" alt="item.postTitle">
            </nuxt-link>
            <h4><nuxt-link class="top-news-mobile__title" :title="item.postTitle" :to="getPostPath(item.postSlug)">{{item.postTitle}}</nuxt-link></h4>
        </div>
      </div>
    </div>
  </div>
  <div v-else class ="cat-box">
    <div class="cat-box-title">
      <h3>{{listPosts.category.catTitle}}</h3>
      <nuxt-link :to="getCategoryUrl(listPosts.category.catSlug)" :title="listPosts.category.catTitle">Xem thêm</nuxt-link>
    </div>
    <div class="home-cat-box">
      <div class="top-news">
        <div class="top-news__item" v-for="item in listPosts.posts" :key="item.id">
            <nuxt-link :to="getPostPath(item.postSlug)" class="post-item__thumb" :title="item.postTitle">
              <img class="img-responsive" v-lazy="item.featureImage" alt="item.postTitle">
            </nuxt-link>
            <h4><nuxt-link class="top-news__title" :title="item.postTitle" :to="getPostPath(item.postSlug)">{{item.postTitle}}</nuxt-link></h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import func from '@/assets/js/commons/functions'
export default {
  props: ['listPosts'],
  methods: {
    getPostPath (slug) {
      return func.genBlogPostPath(slug)
    },
    getCategoryUrl (slug) {
      return func.genBlogCategoryPath(slug)
    },
  }
}
</script>

<style scoped>
  
  .top-news{
    display: inline-block
  }
  .top-news__item{
    width: calc(100% / 5);
    display: block;
    float: left;
  }
  .top-news__item > h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
  }
  .top-news__item::after{
    clear: both;
  }
  .top-news__item::before{
    clear: both;
  }
  a.post-item__thumb {
    display: block;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
  }
  a.post-item__thumb:hover {
    opacity: .6;
  }
  a.post-item__thumb img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .top-news__title {
    display: block;
    padding: 10px 5px;
    line-height: 20px;
    
    color: #000;
    font-weight: 500;
    transition: color .3s ease-out;
  }
  .top-news__title:hover {
    color: #999;
    transition: color .3s ease-out;
  }
  /* mobile */
  .top-news-mobile{
    display: inline-block
  }
  .top-news-mobile__item{
    /* width: 100%; */
    display: block;
    float: left;
  }
  .top-news-mobile__item:last-child{
    display: none;
  }
  .top-news-mobile__item > h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.9em;
  }
  .top-news-mobile__item::after{
    clear: both;
  }
  .top-news-mobile__item::before{
    clear: both;
  }
  a.post-item-mobile__thumb {
    display: block;
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
  }
  a.post-item-mobile__thumb:hover {
    opacity: .6;
  }
  a.post-item-mobile__thumb img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .top-news-mobile__title {
    display: block;
    padding: 10px 5px;
    line-height: 20px;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    transition: color .3s ease-out;
  }
  .top-news-mobile__title:hover {
    color: #999;
    transition: color .3s ease-out;
  }
</style>
