<template>
  <div class ="cat-box">
    <div v-if="$mobile.isMobile" class="cat-box-title-mobile">
      <h3>
        <nuxt-link :to="getCategoryUrl(listPosts.category.catSlug)" :title="listPosts.category.catTitle">
          {{listPosts.category.catTitle}}
        </nuxt-link>
      </h3>
    </div>
    <div v-else class="cat-box-title">
      <h3>{{listPosts.category.catTitle}}</h3>
      <nuxt-link :to="getCategoryUrl(listPosts.category.catSlug)" :title="listPosts.category.catTitle">Xem thêm</nuxt-link>
    </div>
    <div class="home-cat-box">
      <slick id="home_slide_video" ref="slick" :options="slickOptions">
        <div class="home-video-item" v-for="item in listPosts.posts" :key="item.id">
          <div class="home-cat-item home-cat-item-feature">
            <div class="thumbnail">
              <img :data-lazy="item.featureImage" :alt="item.postTitle">
              <div class="play-button">
                <nuxt-link :to="getPostPath(item.postSlug)" class="" :title="item.postTitle">
                  <i class="fa fa-play-circle fa-3x" aria-hidden="true"></i>
                </nuxt-link>
              </div>
            </div>
            <div class="home-cat-item-title">
              <h4><nuxt-link :title="item.postTitle" :to="getPostPath(item.postSlug)">{{item.postTitle}}</nuxt-link></h4>
            </div>
          </div>
        </div>
      </slick>
    </div>
  </div>
</template>

<script>
import func from '@/assets/js/commons/functions'
import Slick from 'vue-slick'

export default {
  components: {
    Slick
  },
  data () {
    return {
      slickOptions: {
        slidesToShow: 4,
        slidesToScroll: 1,
        lazyLoad: 'ondemand',
        dots: false,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 2000,
        cssEase: 'linear',
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2,
              infinite: true,
              dots: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
      }
    }
  },
  props: ['listPosts'],
  methods: {
    getPostPath (slug) {
      return func.genBlogPostPath(slug)
    },
    getCategoryUrl (slug) {
      return func.genBlogCategoryPath(slug)
    },
  }
}
</script>

<style scoped>
  .home-cat-box{
    width: 100%;
  }
  .thumbnail {
    padding: 0;
    margin: 0;
    display: block;
    border: 0;
    border-radius: 0
  }
  .thumbnail img {
      width: 100%;
      height: auto
  }
  #home_slide_video .home-video-item {
    padding: 0 5px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }

  #home_slide_video .home-video-item .home-cat-item,
  #home_slide_video .home-video-item .home-cat-item .thumbnail {
    position: relative
  }

  #home_slide_video .home-video-item .home-cat-item .home-cat-item-title {
    margin: 0;
    padding: 5px;
    line-height: 1.1em;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 400;
    display: none;
    text-align: left;
    width: 100%
  }
  #home_slide_video .home-video-item .home-cat-item .home-cat-item-title > h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
  }

  #home_slide_video .home-video-item:hover .home-cat-item-title {
    display: block
  }

  #home_slide_video .home-video-item .home-cat-item .home-cat-item-title a {
    color: #fff
  }

  #home_slide_video .home-video-item .home-cat-item .thumbnail .play-button {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
  }

  #home_slide_video .home-video-item .home-cat-item .thumbnail .play-button a {
    position: relative;
    top: 39%;
    color: #fff
  }

  #home_slide_video .home-video-item .home-cat-item .thumbnail .play-button:hover {
    background: rgba(0, 0, 0, .7)
  }

  #home_slide_video .home-video-item .home-cat-item .thumbnail .play-button:hover a {
    color: #60c9c5
  }
</style>
