<template>
<blog-layout>
  <div class="blog-wrapper">
    <breadcrumbs :items="breadcrumbItems"></breadcrumbs>
      <fb-video v-if="postItem.postType==2 && postItem.videoUrl" :url="getVideoSource()"/>
      <div class="post-entry">
          <h2 class="post-entry-title">{{postItem.postTitle}}</h2>
          <div class="post-meta" id="like-social">
            <span style="margin-right: 10px;"><i class="fa fa-clock-o"></i> {{postDate}}</span>
            <span style="margin-right: 10px;"><i class="fa fa-folder"></i>&nbsp;&nbsp;<nuxt-link :to="getCategoryUrl()">{{category.catTitle}}</nuxt-link>  </span>
            <fb-like :url="currentUrl" style="margin-left: 10px;"></fb-like>
          </div>
          <div class="post-entry-content" v-html="postItem.postContent"></div>
          <div class="post-tags">
            Tags:
            <span v-for="tag in tags" :key="tag.id">
              <nuxt-link :to="getTagUrl(tag.tagSlug)">{{tag.tagTitle}}</nuxt-link>
            </span>
          </div>
      </div>
      <fb-comment :url="currentUrl"/>
  </div>
</blog-layout>
</template>

<script>
import {mapGetters} from 'vuex'
import BlogLayout from '@/components/layouts/blog'
import Breadcrumbs from '@/components/ui-kits/breadcrumbs'
import FbLike from '@/components/ui-kits/fb-like'
import FbVideo from '@/components/ui-kits/fb-video'
import FbComment from '@/components/ui-kits/fb-comment'
import post from '@/assets/js/api/post'
import func from '@/assets/js/commons/functions'
export default {
  layout: 'master',
  components: {
    BlogLayout,
    Breadcrumbs,
    FbLike,
    FbVideo,
    FbComment
  },
  asyncData ({params, store, currentUrl}) {
    return post.getPostBySlug(params.postSlug).then((rs) => {
      return {
        currentUrl: currentUrl,
        postItem: rs.post,
        category: rs.categories[0],
        tags: rs.tags
      }
    })
  },
  fetch ({params,store}) {

  },
  head () {
    return {
      title: this.postItem.postTitle,
      meta:[
          { hid: 'description',  name: 'description', content: this.getDescription() },
          { hid: "og:title",  property: "og:title", content: this.postItem.postTitle },
          { hid: "og:url",  property: "og:url", content: this.currentUrl },
          { hid: "og:description",  property: "og:description", content: this.getDescription()  },
          { hid: "og:image",  property: "og:image", content: this.postItem.featureImage },
          { hid: "twitter:title",  name: "twitter:title", content: this.postItem.postTitle },
          { hid: "twitter:description",  name: "twitter:description", content: this.getDescription() },
          { hid: "twitter:image",  name: "twitter:image", content:  this.postItem.featureImage },
      ],
      link: [
        { hid: 'canonical',  rel:"canonical" , href: this.currentUrl},
      ]
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('route change')
    },
    postItem () {
      console.log('watcher')
    }
  },
  computed: {
    breadcrumbItems () {
      var items = []
      items.push({
        type: 'link',
        path: '/blog/',
        title: 'Blog',
        icon: null
      })
      items.push({
        type: 'link',
        path: this.getCategoryUrl(),
        title: this.category.catTitle,
        icon: null
      })
      return items
    },
    postDate() {
      return func.formatDate(this.postItem.createdDate,'HH:MM DD/MM/YYYY')
    },
    ...mapGetters({
      // postItem: 'getPostItem'
    })
  },
  methods: {
    getTagUrl (slug) {
      return func.genBlogTagPath(slug)
    },
    getCategoryUrl () {
      return func.genBlogCategoryPath(this.category.catSlug)
    },
    getDescription () {
      return (this.postItem.seoDescription ? this.postItem.seoDescription : this.postItem.postExcerpt)
    },
    getVideoSource () {
      return this.postItem.videoUrl ? this.postItem.videoUrl.replace('Glampy.vn','glamme.vn'): ''
    }
  },
  beforeCreate () {
    // this.$store.dispatch('getPostBySlug', this.$route.params.postSlug);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .post-entry{
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 15px;
  }
</style>
