<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý tài khoản User
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/user">Quản lý tài khoản</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- <div class="form-group">
        <nuxt-link to="/user/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Thêm user</nuxt-link>
      </div> -->
      <!-- Default box -->
      <div class="row">
         <div class="col-md-4">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới & Chỉnh sửa</h3>
            </div>
            <form @submit="submitForm">
              <div class="box-body">
                <input-group v-if="this.formData.user.id > 0 "
                  :label="'Tên đăng nhập (*)'"
                  :error="$v.formData.user.userName.$error" 
                  v-model="formData.user.userName" 
                  @blur="$v.formData.user.userName.$touch()"
                  :disabled="'disabled'"
                />
                <input-group v-else
                  :label="'Tên đăng nhập (*)'"
                  :error="$v.formData.user.userName.$error" 
                  v-model="formData.user.userName" 
                  @blur="$v.formData.user.userName.$touch()"
                />
                <input-group 
                  :type="'password'"
                  :label="'Mật khẩu (*)'"
                  :error="$v.formData.user.password.$error" 
                  v-model="formData.user.password" 
                  @blur="$v.formData.user.password.$touch()"
                  />
                <div>
                  <label>Vai trò (*)</label>
                  <multiselect
                    v-model="rolesSelected"  
                    :multiple="true"
                    placeholder="Chọn vai trò"
                    :searchable="false"
                    :options="rolesOption">
                  </multiselect>
                </div>
                <div class="clearfix"></div>
                <input-group 
                  :label="'Họ tên'"
                  v-model="formData.user.fullName" 
                  />
                <input-group 
                  :label="'Điện thoại'"
                  v-model="formData.user.phone" 
                  />
                <input-group 
                  :label="'Địa chỉ'"
                  v-model="formData.user.address" 
                  />
                <div>
                  <label>Ảnh đại diện</label>
                  <div class="form-group preview-feature-image" v-if="formData.user.avatar">
                    <img :src="formData.user.avatar" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="formData.user.avatar = ''"><i class="fa fa-close"></i></button>
                  </div>
                  <no-ssr>
                    <upload-photo
                      @uploadDone="uploadAvataImage"
                      :id="'uploadImageFeature'"
                      :iscrop="true"
                      :enableResize="false"
                      :enableOrientation="false"
                      :width="300"
                      :height="300"
                      ></upload-photo>
                  </no-ssr>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-8">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách người dùng trên hệ thống</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <div class="row">
                  <form @submit="submitSearch" method="get">              
                    <div class="col-md-4">
                      <input class="form-control input-sm" id="keyword" v-model="keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
                    </div>
                    <div class="col-md-2">
                      <div>
                        <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
                        <div class="clear-fix"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <table class="table table-striped table-condensed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tài khoản</th>
                    <th>Họ tên</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Vai trò</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in users.data" :key="item.user.id">
                    <td>{{item.user.id}}</td>
                    <td><a href="" v-on:click.prevent="loadUser(item.user.id)">{{item.user.userName}}</a></td>
                    <td>{{item.user.fullName}}</td>
                    <td>{{item.user.phone}}</td>
                    <td>{{item.user.address}}</td>
                    <td>{{item.roles}}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-xs btn-danger" @click="deleteUser(item.user.id)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box-footer">
              <paginate v-if="users.meta !== undefined" 
                        :page-count="users.meta.totalPage"
                        :click-handler="callPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination'"
                        :page-class="'page-item'">
              </paginate>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import UploadPhoto from '@/components/ui-kits/upload-form'
import Multiselect from 'vue-multiselect'
import userApi from '@/assets/js/api/user'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default {
    layout: 'master',
    components: {
      InputGroup,
      UploadPhoto,
      Multiselect,
      Paginate 
    },
    data() {
      return {
        formData: {
          user: {
            id: 0,
            userName: '',
            password: '',
            fullName: '',
            phone: '',
            address: '',
            avatar: '',
          },
          roles: ''
        },
        rolesSelected: [],
        rolesOption: [],
        keyword: '',
      }
    },
  validations: {
    formData: {
      user: {
        userName: {required},
        password: {required}
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        // cập nhật user
        var userId = this.formData.user.id
        this.formData.roles = this.rolesSelected.join(',')
        if(userId > 0) {
          console.log(this.formData.roles)
          userApi.updateUser(this.$authToken, userId, this.formData).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công', 
              message: 'Cập nhật user thành công', 
              type: 'success'
              })
              this.clearForm()
              this.$store.dispatch('DP_GET_USERS', this.searchParams)
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra', 
              message: err.message, 
              type: 'error'
              })
          })
        }
        else {
          userApi.createUser(this.$authToken, this.formData).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công', 
              message: 'Tạo mới user thành công', 
              type: 'success'
            })
            this.clearForm()
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra', 
              message: err.message, 
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Tạo mới User không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    },
    uploadAvataImage (data) {
      this.formData.user.avatar = data.url
    },
    clearForm () {
      this.formData.user = {}
      this.formData.roles = ''
      this.rolesSelected = []
    },
    loadUser (userId){
      userApi.getUserById(this.$authToken, userId).then(rs => {
        this.formData.user = rs.user
        this.formData.roles = rs.roles
        this.rolesSelected = this.formData.roles.split(',')
      })
    },
     callPage: function(page) {
      this.searchParams.page = page
      this.$nuxt.$loading.start()
      this.$store.dispatch('DP_GET_USERS', this.searchParams)
      window.scrollTo(0, 0)
    },
    submitSearch(e){
      e.preventDefault()
      this.searchParams.keyword = this.keyword
      this.$nuxt.$loading.start()
      this.$store.dispatch('DP_GET_USERS', this.searchParams)
    },
    deleteUser(userId){
      if (confirm('Xóa các User đã chọn?')){
        userApi.deleteUser(this.$authToken, userId).then((rs)=> {
          this.showNotifyMessage({
            title: 'Thành công', 
            message: 'Xóa user thành công', 
            type: 'success'
            })
            this.$store.dispatch('DP_GET_USERS', this.searchParams)
        }).catch((err)=> {
          this.showNotifyMessage({
            title: 'Đã có lỗi xảy ra', 
            message: err.message, 
            type: 'error'
            })
        })
      }
    }
  },
  beforeMount () {
    userApi.getRoles(this.$authToken).then(rs => {
      this.rolesOption = rs.map(e=>{
        return e.roleName
      })
    })
    this.$store.dispatch('DP_GET_USERS', this.searchParams)
  },
  computed: {
    ...mapGetters({
      users: 'GET_USERS'
    }),
    searchParams() {
      return {
          page: 1,
          rowPerPage: 20,
          keyword: '',
          orderby: 'CreateDate',
          order: 'desc',
          token: this.$authToken
      }
    }
  },
  watch: {
    users () {
      this.$nuxt.$loading.finish()
    }
  }
}
</script>
