<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="@/assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <nuxt-link to="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </nuxt-link>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Quản lý CMS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><nuxt-link to="/post"><i class="fa fa-circle-o"></i> Bài viết</nuxt-link></li>
            <li><nuxt-link to="/category"><i class="fa fa-circle-o"></i> Chuyên mục</nuxt-link></li>
            <li><nuxt-link to="/tag"><i class="fa fa-circle-o"></i> Tag</nuxt-link></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Quản lý sản phẩm</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><nuxt-link to="/manage/artist"><i class="fa fa-circle-o"></i> Artist</nuxt-link></li>
            <li><nuxt-link to="/manage/category"><i class="fa fa-circle-o"></i> Chuyên mục sản phẩm</nuxt-link></li>
            <li><nuxt-link to="/manage/product"><i class="fa fa-circle-o"></i> Sản phẩm</nuxt-link></li>
            <li><nuxt-link to="/manage/image"><i class="fa fa-circle-o"></i> Quản lý Ảnh</nuxt-link></li>
            <li><nuxt-link to="/manage/tag"><i class="fa fa-circle-o"></i> Quản lý Tag</nuxt-link></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span> Quản lý hệ thống</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><nuxt-link to="/media"><i class="fa fa-video-camera"></i> <span>Media</span></nuxt-link></li>
            <li><nuxt-link to="/menu"><i class="fa fa-bars"></i> <span>Menu</span></nuxt-link></li>
            <li><nuxt-link to="/user"><i class="fa fa-users"></i> <span>User</span></nuxt-link></li>
            <li><nuxt-link to="/config/grouptext"><i class="fa fa-file-text"></i> <span>Text</span></nuxt-link></li>
            <li><nuxt-link to="/language"><i class="fa fa-language"></i> <span>Ngôn ngữ</span></nuxt-link></li>
            <li><nuxt-link to="/province"><i class="fa fa-map-marker"></i> <span>Tỉnh thành</span></nuxt-link></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-free-code-camp"></i>
            <span> Quản lý khuyến mãi</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><nuxt-link to="/campaign"><i class="fa  fa-circle-o"></i> <span> Danh sách chiến dịch</span></nuxt-link></li>
            <li><nuxt-link to="/discount"><i class="fa  fa-circle-o"></i> <span> Danh sách Code</span></nuxt-link></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-info"></i>
            <span> Quản lý CRM</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><nuxt-link to="/subscribe"><i class="fa fa-envelope-o"></i> <span>Danh sách Subscribe email</span></nuxt-link></li>
            <li><nuxt-link to="/booking"><i class="fa fa-shopping-cart"></i> <span>Quản lý Booking</span></nuxt-link></li>
            <li><nuxt-link to="/account"><i class="fa fa-users"></i> <span>Quản lý Khách hàng</span></nuxt-link></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {

}
</script>
