<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Media
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Media</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Media</h3>
              </div>
              <div class="box-body">
                <div v-masonry origin-left="true" transition-duration="1s" item-selector=".item">
                  <div v-masonry-tile class="col-md-3 padding-5 item" v-for="(item, index) in listImages.data" :key="item.photo.id">
                    <div class="img-wrapper">
                      <img style="cursor:pointer" :src="item.photo.url"  @click="previewImgClick(item.photo.url, index)"/>
                    </div>
                  </div>
                </div>
              </div>
              <paginate v-if="listImages.meta !== undefined"
                    :page-count="listImages.meta.totalPage"
                    :click-handler="callPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
              </paginate>
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
    <!-- Modal -->
    <transition name="modal" v-if="isShowModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container modal-md">
            <div class="modal-body">
              <div class="modal-image-wrapper">
                <img :src="previewImg" alt=""/>
                <button class="btn-prev" type="button" @click="prevImage"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <button class="btn-next" type="button" @click="nextImage"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
              </div>
              <button class="btn-close" type="button" @click="close"><i class="fa fa-close"></i></button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import mediaApi from '@/assets/js/api/media'
export default {
  layout: 'master',
  components: {
    Paginate
  },
  data () {
    return {
      listImages: [],
      isShowModal: false,
      previewImg: '',
      indexImg: 0,
      searchParams: {
        page: 1,
        rowPerPage: 52,
        orderBy: 'CreateDate',
        order: 'desc'
      }
    }
  },
  beforeMount () {
    this.fetchData()
  },
  methods: {
    fetchData (){
      mediaApi.getListMedias(this.$authToken, this.searchParams).then(rs => {
        this.listImages = rs
      })
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    close () {
      this.isShowModal = false
      this.previewImg = ''
    },
    previewImgClick (src, index) {
      this.isShowModal = true,
      this.previewImg = src
      this.indexImg = index
    },
    prevImage () {
      if(this.indexImg < 0) return
      if(this.indexImg == 0)  this.previewImg = this.listImages.data[this.indexImg].photo.url
      else{
        this.indexImg = this.indexImg - 1
        this.previewImg = this.listImages.data[this.indexImg].photo.url
      }
    },
    nextImage (){
      this.indexImg = this.indexImg + 1
      if(this.indexImg >= this.listImages.data.length) {
        this.indexImg = this.listImages.data.length - 1
      }
      else {
        this.previewImg = this.listImages.data[this.indexImg].photo.url
      }
    },
    keyPress (e) {
      if(e.key === 'ArrowLeft'){
        this.prevImage()
      }
      if(e.key === 'ArrowRight'){
        this.nextImage()
      }
      if(e.key === 'Escape'){
        this.close()
      }
    }
  },
  mounted () {
    window.addEventListener('keydown', this.keyPress)
  }
}
</script>

<style lang="scss" scoped>
.valign-middle{
  vertical-align: middle
}
.padding-5{
  padding: 5px
}
.img-wrapper{
  overflow: hidden;
  height: auto
}
.img-wrapper img{
  width: 100%;
}
.modal-body{
  background: #000;
  padding: 0
}
.modal-image-wrapper{
    float: left;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000;
}
.modal-image-wrapper img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
.btn-close{
  position: absolute;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  color: #333;
}
.btn-prev{
  position: absolute;
  left: -35px;
  border: none;
  background: #ffffff;
  color: #333;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
.btn-next{
  position: absolute;
  right: -35px;
  border: none;
  background: #ffffff;
  color: #333;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
</style>
