<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Tag sản phẩm
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Tag sản phẩm</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submit" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết</h3>
              </div>
              <div class="box-body">
                <input-group 
                  :label="`Tiêu đề Tag`"
                  v-model="tagItem.tagName" 
                  :error="$v.tagItem.tagName.$error" 
                  @blur="$v.tagItem.tagName.$touch()"
                  @change="genTagSlug"
                  />
                <input-group 
                  :label="`Tag slug`"
                  v-model="tagItem.tagSlug" 
                  :error="$v.tagItem.tagSlug.$error" 
                  @blur="$v.tagItem.tagSlug.$touch()"
                  />
                <input-group 
                  :label="`Mô tả Tag`"
                  v-model="tagItem.tagDescription" 
                />
                <input-group 
                  :label="`Tiêu đề SEO`"
                  v-model="tagItem.seoTitle" 
                />
                <input-group 
                  :label="`Mô tả SEO`"
                  v-model="tagItem.seoDescription" 
                />
                <input-group 
                  :label="`Từ khóa SEO`"
                  v-model="tagItem.seoKeywords" 
                />
                <input-group
                  :label="'Thứ tự hiển thị'"
                  v-model="tagItem.order"
                />
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="tagItem.isShowOnPage"> Hiển thị Tag tiêu biểu
                    </label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Tag sản phẩm</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div class="box box-default">
                    <div class="box-body">
                      <div class="row">
                        <form @submit="submitSearch" method="get">              
                          <div class="col-md-4">
                            <label>Từ khóa</label>
                            <input class="form-control input-sm" id="keyword" v-model="searchParams.keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
                          </div>
                          <div class="col-md-2">
                            <label>&nbsp;</label><br>
                            <div>
                              <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
                              <div class="clear-fix"></div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20" valign="middle" align="center">STT</th>
                      <th>Tiêu đề tag</th>
                      <th>Mô tả</th>
                      <th>Thứ tự</th>
                      <th>Từ khóa SEO</th>
                      <th  width="80" class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(tag,index) in listTags.tags" :key="tag.id">
                      <td>{{(listTags.meta.page - 1)*listTags.meta.rowPerPage + 1 + index}}</td>
                      <td>{{tag.tagName}}</td>
                      <td>{{tag.tagDescription}}</td>
                      <td>{{tag.order}}</td>
                      <td>{{tag.seoKeywords}}</td>
                      <td  width="80" class="text-center valign-middle">
                        <a class="btn btn-xs btn-default" href="" v-on:click.prevent="loadTag(tag.id)"><i class="fa fa-pencil"></i></a>&nbsp;
                        <a v-on:click.prevent="deleteItem(tag.id)" class="btn btn-xs btn-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listTags.meta !== undefined" :page-count="listTags.meta.totalPage"
                          :click-handler="callPage"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import tagApi from '@/assets/js/api/tag-product'
import { required, minLenght, maxLength, requiredIf, requiredUnless, numeric } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup
  },
  data () {
    return {
      keyword: '',
      tagItem: {
        order: 0
      },
      checkItems: [],
      listTags: [],
      searchParams: {
        page: 1,
        rowPerPage: 20,
        keyword: '',
        orderBy: 'order',
        order: 'asc'
      }
    }
  },
  validations: {
    tagItem: {
      tagName: {required},
      tagSlug: {required},
      order: {numeric}
    }
  },
  beforeMount() {
    this.fetchData()
  },
  methods: {
    callPage: function(page) {
      this.searchParams.page = page
      this.fetchData()
    },
    submitSearch (e) {
      e.preventDefault()
      this.fetchData()
    },
    submit (e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        // chỉnh sửa tag
        if(this.tagItem.id>0) {
          tagApi.updateTag(this.$authToken,this.tagItem.id, this.tagItem).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công', 
              message: 'Cập nhật Tag thành công', 
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra', 
              message: err.message, 
              type: 'error'
            })
          })
        }
        // tạo mới tag
        else {
          tagApi.createTag(this.$authToken, this.tagItem).then((rs)=> {
            this.showNotifyMessage({
              title: 'Thành công', 
              message: 'Tạo mới tag thành công', 
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch((err)=> {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra', 
              message: err.message, 
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra', 
          message: 'Tạo mới Tag không thành công, kiểm tra lại dữ liệu', 
          type: 'error'
        })
      }
    },
    loadTag (id){
      tagApi.getTagById(this.$authToken, id).then((rs)=> {
        this.tagItem = rs
      })
    },
    genTagSlug() {
      if(this.tagItem.tagSlug) return;
      this.tagItem.tagSlug = genSlug(this.tagItem.tagName)
    },
    clearForm: function() {
      this.tagItem = {
        order: 0
      }
    },
    deleteItem (id) {
      if (confirm('Xóa các Tag đã chọn?')){
        tagApi.deleteTag(this.$authToken, id).then( rs => {
          this.showNotifyMessage({
            title: 'Thành công', 
            message: 'Xóa thành công', 
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    fetchData () {
      tagApi.getTags(this.$authToken, this.searchParams).then(rs => {
        this.listTags = rs
      })
    }
  }
}
</script>