<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Khách hàng
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li><nuxt-link to="/user">Quản lý Khách hàng</nuxt-link></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách khách hàng</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                <div class="row">
                  <form @submit="submitSearch" method="get">              
                    <div class="col-md-4">
                      <input class="form-control input-sm" v-model="keyword"  placeholder="Từ khoá tìm kiếm" type="text">
                    </div>
                    <div class="col-md-2">
                      <div>
                        <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
                        <div class="clear-fix"></div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th class="text-center">STT</th>
                    <th>Họ tên</th>
                    <th>Email</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Giới tính</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in listAccounts.data" :key="item.id">
                    <td class="text-center">{{(listAccounts.meta.page - 1)*listAccounts.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.userFullName}}</td>
                    <td>{{item.userEmail}}</td>
                    <td>{{item.userPhone}}</td>
                    <td></td>
                    <td>{{item.userGender}}</td>
                    <td class="text-center">
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box-footer">
              <paginate v-if="listAccounts.meta !== undefined" 
                        :page-count="listAccounts.meta.totalPage"
                        :click-handler="callPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination'"
                        :page-class="'page-item'">
              </paginate>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import accountApi from '@/assets/js/api/account'
export default {
  layout: 'master',
  components: {
    Paginate
  },
  data () {
    return {
      keyword: '',
      listAccounts: [],
      searchParams: {
        page: 1,
        rowPerPage: 30,
        keyword: '',
        orderBy: 'createdDate',
        order: 'desc'
      }
    }
  },
  methods: {
    submitSearch (e) {
      e.preventDefault()
      this.searchParams.keyword = this.keyword
      console.log(this.searchParams.keyword)
      this.fetchData()
    },
    fetchData () {
      accountApi.getListAccounts(this.$authToken, this.searchParams).then(rs => {
        this.listAccounts = rs
      })
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    }
  },
  beforeMount() {
    this.fetchData()
  }
}
</script>

<style>

</style>
