<template>
  <div>
    <div v-if="showModal">
    <transition class="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
            <div :class="['modal-container','modal-dialog']" style="width:70%;">
            <div class="modal-header">
               <button @click="CloseMediaModal"
                      type="button" class="btn-close-login-modal">
                      <i class="fa fa-close"></i>
              </button>
            </div>
            <div class="modal-body">
                <div class="">
                  <div class="row">
                    <div origin-left="true" transition-duration="1s" item-selector=".item">
                      <div style="width:20%" class="col-md-1 form-group" v-for="(item) in listImages.data" :key="item.photo.id">
                        <div :class="[{active: isActive == item.photo.id },'img-wrapper']" @click="chooseImage(item)">
                          <i class="fa fa-check"></i>
                          <img width="100%" style="cursor:pointer" :src="item.photo.url"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-left button-footer-modal" style="margin:20px 0;">
                  <button @click="chooseThisImage()" class="btn btn-primary">Chọn ảnh</button>
                  <no-ssr>
                    <upload-photo
                    @uploadDone="uploadFeatureImage"
                    :id="'uploadImageFeature'"
                    :iscrop="false"
                    :enableResize="false"
                    :enableOrientation="false"
                    :width="400"
                    :height="320"
                    :align="'center'"
                    ></upload-photo>
                  </no-ssr>
                </div>

                <paginate v-if="listImages.meta !== undefined"
                    :page-count="listImages.meta.totalPage"
                    :click-handler="callPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                </paginate>
            </div>
            </div>
        </div>
      </div>
    </transition>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import mediaApi from '@/assets/js/api/media'
import UploadPhoto from '@/components/ui-kits/upload-form'
import modal from './modal'
export default {
  components: {
    Paginate,
    UploadPhoto
  },
  //props: ["showmodal"],
  data () {
    return {
      listImages: [],
      isShowModal: true,
      indexImg: 0,
      searchParams: {
        page: 1,
        rowPerPage: 20,
        orderBy: 'CreateDate',
        order: 'desc'
      },
      isActive: 0,
      srcImg: '',
      itemImg: {}
    }
  },
  beforeMount () {
    this.fetchData()
  },
  methods: {
    fetchData (){
      mediaApi.getListMedias(this.$authToken, this.searchParams).then(rs => {
        this.listImages = rs
      })
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    CloseMediaModal(){
      this.$store.dispatch('SET_MEDIA_MODAL_CLOSE')
    },
    chooseImage(item){
      this.isActive = item.photo.id
      this.srcImg  = item.photo.url
      this.itemImg = item.photo
    },
    chooseThisImage(){
      if(this.functionClickImageModal == 'InsertToAvatar'){
        this.$root.$emit('InsertSrcImg',this.srcImg)
      }
      else{
        this.$root.$emit('InsertSrcImgToContent',this.srcImg)
      }
      this.CloseMediaModal()
    },
    uploadFeatureImage () {
      this.fetchData()
    }
  },
  computed: {
    ...mapGetters({
      showModal: 'MEDIA_MODAL_STATUS',
      functionClickImageModal: 'MEDIA_MODAL_FUNCTION'
    })
  },
  mounted () {
    window.addEventListener('keydown', this.keyPress),
    document.body.addEventListener('keyup', e => {
      if (e.keyCode === 27) {
        this.CloseMediaModal()
      }
    })
  }
}
</script>

<style>
.modal-header {position: relative;}
.btn-close-login-modal{
    position: absolute;
    right:12px;
    z-index: 99999;
    top:5px;
    width: 26px;
    height: 26px;
    border:0;
    color: #333;
    background: none;
  }
  .img-wrapper{height: 110px;overflow: hidden;position: relative;}
  .img-wrapper i{
    position:absolute;
    right: 0;
    top:0;
    background: #4CAF50;
    color: #fff;
    display: none;
    z-index: 9;
  }
  .img-wrapper.active::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(51, 51, 51, 0.42);
    z-index: 8;
  }
  .img-wrapper.active i{display: block;}
  .button-footer-modal button{display: inline-block;margin-right: 10px;}
  .button-footer-modal > div{display: inline-block;}
</style>
