<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Tạo mới & Cập nhật sản phẩm
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li class="active">Quản lý Sản phẩm</li>
      </ol>
    </section>
    <section class="content">
      <form @submit="submitForm">
        <div class="row">
          <div class="col-md-9">
            <div class="box box-default">
              <div class="box-body">
                <input-group
                  class="col-md-12"
                  :label="'Tên sản phẩm (*)'"
                  :error="$v.formData.product.title.$error"
                  v-model="formData.product.title"
                  @blur="$v.formData.product.title.$touch()"
                  @change="genSlug"
                  />
                <input-group
                  class="col-md-12"
                  :label="'Alias sản phẩm'"
                  :error="$v.formData.product.name.$error"
                  v-model="formData.product.name"
                  @blur="$v.formData.product.name.$touch()"
                  />
                <input-group
                  class="col-md-6"
                  :label="'Giá thấp nhất (*)'"
                  :error="$v.formData.product.minPrice.$error"
                  :errormsg="formData.product.minPrice === '' ? 'Trường này là bắt buộc':'Chỉ nhận ký tự số'"
                  v-model="formData.product.minPrice"
                  @blur="$v.formData.product.minPrice.$touch()"
                  />
                <input-group
                  class="col-md-6"
                  :label="'Giá cao nhất (*)'"
                  :error="$v.formData.product.maxPrice.$error"
                  :errormsg="formData.product.minPrice === '' ? 'Trường này là bắt buộc':'Chỉ nhận ký tự số'"
                  v-model="formData.product.maxPrice"
                  @blur="$v.formData.product.maxPrice.$touch()"
                  />
                <div class="form-group col-md-12">
                  <label>Nội dung</label>
                  <no-ssr>
                    <editor
                      id="product_content"
                      :dataChange="dataChange"
                      v-model="formData.product.content"
                    >
                    </editor>
                  </no-ssr>
                </div>
                <div class="form-group col-md-12">
                  <label>Mô tả ngắn</label>
                  <textarea class="form-control" rows="5" v-model="formData.product.shortContent"></textarea>
                </div>
                <div class="form-group col-md-12">
                  <label>Galleries</label>
                  <!-- <no-ssr>
                    <upload-photo
                    @uploadDone="uploadGalleries"
                    :id="'uploadGalleries'"
                    :iscrop="false"
                    :enableResize="true"
                    :enableOrientation="false"
                    ></upload-photo>
                  </no-ssr> -->
                  <div>
                    <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToGalerry')">
                      Chọn ảnh
                    </button>
                  </div>
                  <div v-if="galleriesArray.length">
                    <div class="form-group preview-feature-image col-md-3" :key="index" v-for="(gallery,index) in galleriesArray">
                      <img :src="gallery" alt=""/>
                      <button class="btn-remove-feature-image" type="button" @click="galleriesArray.splice(index,1)"><i class="fa fa-close"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-default">
              <div class="box-header">
                <h4 class="box-title">SEO Options</h4>
              </div>
              <div class="box-body">
                <input-group
                  :label="'SEO Title'"
                  v-model="formData.product.seoTitle"
                  />
                   <input-group
                  :label="'SEO Keywords'"
                  v-model="formData.product.seoKeywords"
                  />
                   <div class="form-group">
                  <label>SEO Description</label>
                  <textarea class="form-control"
                    placeholder="Mô tả"
                    rows="4"
                    v-model="formData.product.seoDescription"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box box-primary">
              <div class="box-header">
                <h4>Hành động</h4>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <button class="btn btn-primary btn-block" type="submit">
                    <i class="fa fa-save"></i> Lưu thay đổi
                  </button>
                </div>
                <div class="form-group" v-if="$route.params.id">
                  <nuxt-link class="btn btn-primary btn-block" :to="`/manage/service/${formData.product.id}`">
                    <i class="fa fa-list"></i> Quản lý dịch vụ
                  </nuxt-link>
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header">
                <h4>Danh mục sản phẩm</h4>
              </div>
              <div class="box-body">
                <div class="form-group" style="max-height: 450px; overflow: hidden; overflow-y: auto;">
                  <div v-for="cat in categories.data" :key="cat.id" style="border-bottom: 1px dotted #eee;">
                    <div class="checkbox" style="margin: 5px 0">
                      <label>
                        <input type="checkbox" :value="{categoryId: cat.id}" v-model="formData.categoryIds"> {{cat.catTitle}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header">
                <h4>Chọn khu vực hiển thị</h4>
              </div>
              <div class="box-body">
                <div class="form-group" style="max-height: 450px; overflow: hidden; overflow-y: auto;">
                  <div v-for="pro in provinces.data" :key="pro.id" style="border-bottom: 1px dotted #eee;">
                    <div class="checkbox" style="margin: 5px 0">
                      <label>
                        <input type="checkbox" :value="pro.id" v-model="formData.provinceIds"> {{pro.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-primary">
              <div class="box-header">
                <h4>Chọn ngôn ngữ</h4>
              </div>
              <div class="box-body">
               <div class="form-group">
                  <select class="form-control" v-model="formData.product.language">
                     <option v-for="lang in languages.data" :key="lang.slug" :value="lang.slug">{{lang.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="box box-primary">
              <div class="box-header">
                <h4>Tùy chọn</h4>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="formData.product.isShowHome"> Hiển thị trên trang chủ
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="formData.product.isShowWidget"> Hiển thị trên Widget
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Ảnh đại diện</label>
                  <div class="form-group preview-feature-image" v-if="formData.product.featureImage">
                    <img :src="formData.product.featureImage" alt=""/>
                    <button class="btn-remove-feature-image" type="button" @click="formData.product.featureImage = ''"><i class="fa fa-close"></i></button>
                  </div>
                  <div class="text-center">
                    <!-- <no-ssr>
                    <upload-photo
                      @uploadDone="uploadFeatureImage"
                      :id="'uploadImageFeature'"
                      :iscrop="true"
                      :enableResize="false"
                      :enableOrientation="false"
                      :width="500"
                      :height="400"
                      ></upload-photo>
                    </no-ssr> -->
                    <div>
                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToAvatar')">
                        Chọn ảnh
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</template>

<script>
import UploadPhoto from '@/components/ui-kits/upload-form'
import { required, minLenght, maxLength, requiredIf, requiredUnless, numeric } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import Editor from '@/components/ui-kits/editor'
import productCategoryApi from '@/assets/js/api/productCategory'
import productApi from '@/assets/js/api/product'
import provinceApi from '@/assets/js/api/province'
import userApi from '@/assets/js/api/user'
import languageApi from '@/assets/js/api/language'
export default {
  layout: 'master',
  components: {
    InputGroup,
    Editor,
    UploadPhoto
  },
  data () {
    return {
      formData: {
        product: {
          title: '',
          name: '',
          content: '',
          shortContent: '',
          isShowHome: false,
          isShowWidget: false,
          minPrice: 0,
          maxPrice: 0,
          featureImage: '',
          galleries: '',
          artistId: 0,
          language: 'vi'
        },
        categoryIds: [],
        provinceIds: []
      },
      dataChange: false,
      categories: [],
      provinces: [],
      galleriesArray: [],
      languages: []
    }
  },
  validations: {
    formData: {
      product: {
        title: {required},
        name: {required},
        minPrice: {required, numeric},
        maxPrice: {required, numeric},
      }
    }
  },
  methods: {
    genSlug() {
      if(this.formData.product.name) return;
      this.formData.product.name = genSlug(this.formData.product.title)
    },
    submitForm (e) {
      e.preventDefault()
      console.log(this.formData)
      this.formData.product.galleries = this.galleriesArray.join(',')
      if(!this.$v.$invalid) {
        var id = this.$route.params.id
        if(id && id >0){
          // edit
          productApi.updateProduct(this.$authToken, id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.$router.push('/manage/product')
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          //create
          productApi.createProduct(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.$router.push('/manage/product')
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
    },
    uploadFeatureImage (data) {
      this.formData.product.featureImage = data.url
    },
    uploadGalleries (data) {
      this.galleriesArray.push(data.url)
    },
    OpenMediaModal(val){
      this.showmodal = true
      this.$store.dispatch('SET_MEDIA_MODAL_OPEN',val)
      //document.body.className = 'modal-open'
    },
    loadLanguage() {
      languageApi.getLanguage(this.$authToken, '',1).then((rs)=> {
             this.languages = rs.data
      })
    }
  },
  beforeMount () {
    this.loadLanguage();
    var id = this.$route.params.id
    if(id && id > 0) {
      productApi.getProductById(this.$authToken, id).then(rs=> {
        this.formData.product = rs.product
        this.formData.categoryIds = rs.categories.map(item => {
          return {
            categoryId: item.id
          }
        })
        this.formData.provinceIds = rs.provinceIds
        this.galleriesArray = this.formData.product.galleries.split(',')
        this.dataChange=false
        setTimeout(function() {
          this.dataChange = true
        }.bind(this),1000)
      })
    } else {
      userApi.getCurrentUser(this.$authToken).then(rs => {
        this.formData.product.artistId = rs.data.user.id
      })
    }
    productCategoryApi.getProductCategories(this.$authToken, null).then(rs => {
      this.categories = rs
    })

    provinceApi.getProvince(this.$authToken,"").then(rs=> {
      this.provinces = rs.data
    })
  },
  mounted() {
    this.$root.$on('InsertSrcImg', (src) => {
      this.formData.product.featureImage = src
    }),
    this.$root.$on('InsertSrcImgToContent', (src) => {
      this.galleriesArray.push(src)
    })
  },
}
</script>

<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 22px;
    top:-5px ; right:-5px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
