<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý Sản phẩm
      </h1>
      <ol class="breadcrumb">
        <li><nuxt-link to="/"><i class="fa fa-dashboard"></i> Home</nuxt-link></li>
        <li class="active">Quản lý Sản phẩm</li>
      </ol>
    </section>
    <section class="content">
      <div class="form-group">
        <nuxt-link to="/manage/product/create" :class="'btn btn-success btn-sm'"><i class="fa fa-plus"></i> Tạo mới sản phẩm</nuxt-link>
      </div>
      <search :searchParams="params.searchParams"/>
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách Sản phẩm</h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                  <th width="20" valign="middle" align="center">STT</th>
                  <th>Tên sản phẩm</th>
                  <th>Dịch vụ</th>
                  <th>Danh mục</th>
                  <th>Artist</th>
                  <th class="text-center">Show Home</th>
                  <th class="text-center">Show Widget</th>
                  <th class="text-center" >#</th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in (listProducts.data && listProducts.data.products)" :key="item.product.id">
                <td width="20" valign="middle" align="center">{{(listProducts.meta.page - 1)*listProducts.meta.rowPerPage + 1 + index}}</td>
                <td valign="middle"><nuxt-link :to="`/manage/product/edit/${item.product.id}`">{{item.product.title}}</nuxt-link></td>
                <td valign="middle" v-html="getServiceName(item.services)"></td>
                <td valign="middle" v-html="getCategoryName(item.categories)"></td>
                <artist-td :artistId="item.product.artistId" />
                <td class="text-center">
                  <i title="Hiển thị trên trang chủ" v-if="item.product.isShowHome" class="fa fa-check-square" aria-hidden="true" style="color:#00a65a"></i>
                  <i title="Không hiển thị trên trang chủ" v-else class="fa fa-square" aria-hidden="true" style="color:#ccc"></i>
                </td>
                <td class="text-center">
                  <i title="Hiển thị trên Widget" v-if="item.product.isShowWidget" class="fa fa-check-square" aria-hidden="true" style="color:#00a65a"></i>
                  <i title="Không hiển thị trên Widget" v-else class="fa fa-square" aria-hidden="true" style="color:#ccc"></i>
                </td>
                <td class="text-center">
                  <nuxt-link :to="`/manage/product/edit/${item.product.id}`" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></nuxt-link>&nbsp;
                  <button type="button" class="btn btn-xs btn-danger" @click="deleteProduct(item.product.id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <paginate v-if="listProducts.meta" :page-count="listProducts.meta && listProducts.meta.totalPage"
              :click-handler="callPage"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'">
          </paginate>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import productApi from '@/assets/js/api/product'
import {mapGetters} from 'vuex'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import ArtistTd from '@/components/pages/product/artist'
import Search from '@/components/pages/product/search'

export default {
  layout: 'master',
  components: {
    Paginate,
    ArtistTd,
    Search
  },
  data () {
    return {

    }
  },
  methods: {
    callPage (page) {
      this.params.searchParams.page = page
      this.$store.dispatch('actionGetListProducts', this.params)
    },
    getServiceName (obj) {
      var serviceName = ''
      if (obj !== null) {
        obj.forEach(element => {
          serviceName += ` <span class="label label-success">${element.title}</span>`
        });
      }
      return serviceName
    },
    getCategoryName (obj) {
      var categoryName = ''
      if (obj !== null) {
        obj.forEach(element => {
          categoryName += ` <span class="label label-default">${element.catTitle}</span>`
        });
      }
      return categoryName
    },
    deleteProduct (productId) {
      if(confirm('Bạn có muốn xóa sản phẩm này không?')){
        productApi.deleteProduct(this.$authToken, productId).then(rs => {
          this.$store.dispatch('actionGetListProducts', this.params)
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
        })
      }
    }
  },
  beforeMount () {
    this.$store.dispatch('actionGetListProducts', this.params)
  },
  computed: {
    params() {
      return {
        token: this.$authToken,
        searchParams: {
          categoryId: 0,
          isShowHome: -1,
          isShowWidget: -1,
          language: '',
          page: 1,
          rowPerPage: 10,
          keyword: '',
          orderby: 'CreateDate',
          order: 'desc'
        }
      }
    },
    ...mapGetters({
      listProducts: 'getListProducts'
    })
  }
}
</script>

<style>

</style>
