<template>
<blog-layout>
  <div class="blog-wrapper">
    <breadcrumbs :items="breadcrumbItems"></breadcrumbs>
      <div class="post-entry">
          <h2 class="post-entry-title">{{postItem.postTitle}}</h2>
          <div class="post-meta" id="like-social">
            <span style="margin-right: 10px;"><i class="fa fa-clock-o"></i> {{postDate}}</span>
          </div>
          <div class="post-entry-content" v-html="postItem.postContent"></div>
      </div>
  </div>
</blog-layout>
</template>

<script>
import {mapGetters} from 'vuex'
import BlogLayout from '@/components/layouts/blog'
import Breadcrumbs from '@/components/ui-kits/breadcrumbs'
import post from '@/assets/js/api/post'
import func from '@/assets/js/commons/functions'
export default {
  layout: 'master',
  components: {
    BlogLayout,
    Breadcrumbs
  },
  asyncData ({params, store, currentUrl}) {
    return post.getPostBySlug(params.postSlug).then((rs) => {
      return {
        currentUrl: currentUrl,
        postItem: rs.post,
      }
    })
  },
  fetch ({params,store}) {

  },
  head () {
    return {
      title: this.postItem.postTitle,
      meta:[
          { hid: 'description',  name: 'description', content: this.getDescription() },
          { hid: "og:title",  property: "og:title", content: this.postItem.postTitle },
          { hid: "og:url",  property: "og:url", content: this.currentUrl },
          { hid: "og:description",  property: "og:description", content: this.getDescription()  },
          { hid: "og:image",  property: "og:image", content: this.postItem.featureImage },
          { hid: "twitter:title",  name: "twitter:title", content: this.postItem.postTitle },
          { hid: "twitter:description",  name: "twitter:description", content: this.getDescription() },
          { hid: "twitter:image",  name: "twitter:image", content:  this.postItem.featureImage },
      ],
      link: [
        { hid: 'canonical',  rel:"canonical" , href: this.currentUrl},
      ]
    }
  },
  watch: {
    '$route' (to, from) {
      console.log('route change')
    },
    postItem () {
      console.log('watcher')
    }
  },
  computed: {
    breadcrumbItems () {
      var items = []
      items.push({
        type: 'link',
        path: this.getPageUrl(),
        title: this.postItem.postTitle,
        icon: null
      })
      return items
    },
    postDate() {
      return func.formatDate(this.postItem.createdDate,'HH:MM DD/MM/YYYY')
    },
    ...mapGetters({
      // postItem: 'getPostItem'
    })
  },
  methods: {
    getPageUrl () {
      return func.genBlogPagePath(this.postItem.postSlug)
    },
    getDescription () {
      return (this.postItem.seoDescription ? this.postItem.seoDescription : this.postItem.postExcerpt)
    }
  },
  beforeCreate () {
    // this.$store.dispatch('getPostBySlug', this.$route.params.postSlug);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .post-entry{
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 15px;
  }
</style>
