<template>
  <div>
    <div id="rating-wrapper">
      <!-- <div class="col-md-12">
        <div class="col-md-6">
          Điểm đánh giá trung bình
          <div id="intro-point">
            <span>4.0</span>
          </div>
          <div class="rating">
            <span>
              <icon class="checked" name="star" />
              <icon class="checked" name="star" />
              <icon class="checked" name="star" />
              <icon name="star" />
              <icon name="star" />
            </span>
            <span>(100 đánh giá)</span>
          </div>
        </div>
        <div class="col-md-6">
          <span>(100 đánh giá)</span>
        </div>
      </div> -->
    </div>
    <div id="comments-wrapper">
      <div class="comment-wrapper" v-for="item in commentNumber" :key="item">
        <div class="comment-header">
          <div class="comment-rating">
            <div class="rating">
              <span>
                <icon class="checked" name="star" />
                <icon class="checked" name="star" />
                <icon class="checked" name="star" />
                <icon name="star" />
                <icon name="star" />
              </span>
            </div>
          </div>
          <div class="comment-title">Chất lượng tốt, rất hài lòng</div>
        </div>
        <div class="comment-body">
          <div><span  class="comment-user">Nhimisu</span> <span class="comment-time">17 giờ trước</span></div>
          <div class="comment-content">
            Mình lần này sử dụng dịch vụ nails rất may mắn trúng đợt giảm giá hehe. Hàng xuất xứ ở Mỹ nên rất an tâm, sẽ luôn ủng hộ ạ =)))
          </div>
        </div>
      </div>
    </div>
    <div class="comment-view-more" v-if="commentNumber > 5">Xem thêm đánh giá</div>
  </div>
</template>

<script>
export default {
  props: ['commentNumber']
}
</script>

<style>

</style>
