<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Chi tiết Lịch hẹn của khách hàng: <strong>{{detailBooking.booking && detailBooking.booking.fullName}}</strong>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Booking</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <nuxt-link :to="`/booking/`" class="btn btn-default">
              <i class="fa fa-undo"></i> Quay lại danh sách booking
            </nuxt-link>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-default">
            <div class="box-header">
              <h4>Booking</h4>
            </div>
            <div class="box-body">
              <!-- <div class="form-group" style=" display: flex; justify-content: center;">
                <button class="btn btn-primary " type="submit">
                  <i class="fa fa-save"></i> Lưu thay đổi
                </button>
              </div> -->
              <div class="form-group">
                <label class="col-sm-3">Họ tên:</label>
                <p>{{detailBooking.booking && detailBooking.booking.fullName}}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Điện thoại:</label>
                <p>{{detailBooking.booking && detailBooking.booking.phone}}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Địa chỉ hẹn:</label>
                <p>{{detailBooking.booking && detailBooking.booking.bookingAddress}}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Ngày hẹn:</label>
                <p>{{detailBooking.booking && formatDateTime(detailBooking.booking.bookingDate)}}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Tổng tiền:</label>
                <p>{{detailBooking.booking && formatThousand(detailBooking.booking.totalPrice, 'VNĐ')}}</p>
              </div>
              <div class="form-group" v-if="detailBooking.booking && detailBooking.booking.note">
                <label class="col-sm-3">Ghi chú:</label>
                <p>{{detailBooking.booking && detailBooking.booking.note}}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Trạng thái:</label>
                <p v-html="detailBooking.booking && getStatusName(detailBooking.booking.status)"></p>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Ngày tạo booking:</label>
                <p>{{detailBooking.booking && formatDateTime(detailBooking.booking.createdDate)}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-default" v-if="detailBooking.details">
            <div class="box-header">
              <h4>Chi tiết</h4>
            </div>
            <div v-for="item in detailBooking.details" :key="item.id">
              <div class="box-body">
                <div class="form-group"  v-if="item.artist">
                  <label class="col-sm-3">Artist:</label>
                  <p>{{item.artist && item.artist.name}}</p>
                </div>
                <div class="form-group"  v-if="item.product">
                  <label class="col-sm-3">Product:</label>
                  <p>{{item.product && item.product.title}}</p>
                </div>
                <div class="form-group"  v-if="item.service">
                  <label class="col-sm-3">Service:</label>
                  <p>{{item.service && item.service.title}}</p>
                </div>
                <div class="form-group"  v-if="item.note">
                  <label class="col-sm-3">Ghi chú:</label>
                  <p>{{item.note}}</p>
                </div>
                <div class="form-group"  v-if="item.quantity">
                  <label class="col-sm-3">Số lượng:</label>
                  <p>{{item.quantity}}</p>
                </div>
                <div class="form-group"  v-if="item.price">
                  <label class="col-sm-3">Giá:</label>
                  <p>{{formatThousand(item.price, 'VNĐ')}}</p>
                </div>
              </div>
              <div class="box-footer" style="padding-bottom:0; padding-top:0"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header">
              <h4>Cập nhật trạng thái Booking</h4>
            </div>
            <div class="box-body">
              <form @submit="submit" method="get">
                <div class="form-group col-md-6">
                  <select class="form-control input-sm" v-model="status">
                    <option value="-1">Trạng thái</option>
                    <option v-for="item in listStatus" :key="item.value" :value="item.value">
                      {{item.name}}
                    </option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <div>
                    <button class="btn btn-primary btn-sm btn-block">Cập nhật</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import bookingApi from '@/assets/js/api/booking'
import {formatDate, FormatThousand} from '@/assets/js/commons/functions'
import {BOOKING_STATUS} from '@/assets/js/commons/constants'
import { required, minValue} from 'vuelidate/lib/validators'
export default {
  layout: 'master',
  data () {
    return {
      detailBooking: {},
      listStatus: BOOKING_STATUS,
      status: -1
    }
  },
  validations: {
    status: {
      required,
      minValue: minValue(0)
    },
  },
  methods: {
    submit (e) {
      e.preventDefault()
      if(!this.$v.$invalid) {
        bookingApi.updateBookingStatus (this.$authToken, this.$route.params.id, this.status).then(rs => {
          this.showNotifyMessage({
            title: 'Cập nhật trạng thái thành công',
            type: 'success'
          })
          this.$router.push('/booking')
        })
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Chọn trạng thái',
          type: 'error'
        })
      }
    },
    formatDateTime (date) {
      return formatDate(date,'DD/MM/YYYY HH:mm')
    },
    formatThousand (data){
      return FormatThousand(data, 'VNĐ')
    },
    getStatusName (value){
      var status = ''
      BOOKING_STATUS.find(e => {
        if (e.value === value){
          switch (value) {
            case 1:
              status = `<span class="label label-default">${e.name}</span>`
              break;
            case 2:
              status = `<span class="label label-info">${e.name}</span>`
              break;
            case 3:
              status = `<span class="label label-success">${e.name}</span>`
              break;
            case 4:
              status = `<span class="label label-warning">${e.name}</span>`
              break;
            default:
              break;
          }
        }
      })
      return status
    }
  },
  beforeMount () {
    bookingApi.getDetailBooking (this.$authToken, this.$route.params.id).then(rs => {
      this.detailBooking = rs.data
      this.status = this.detailBooking.booking.status
    })
  }
}
</script>

<style>

</style>
