<template>
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Booking
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Booking</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Danh sách Booking</h3>
            </div>
            <div class="box-body">
              <search :searchParams="searchParams" v-on:search="submitSearch"/>
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th width="40" class="text-center">STT</th>
                    <th>Họ tên</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ hẹn</th>
                    <th>Ngày hẹn</th>
                    <th>Giá</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo booking</th>
                    <th class="text-center">#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,index) in listBookings.data" :key="item.booking.id">
                    <td class="text-center">{{(listBookings.meta.page - 1)*listBookings.meta.rowPerPage + 1 + index}}</td>
                    <td>{{item.booking.fullName}}</td>
                    <td>{{item.booking.phone}}</td>
                    <td>{{item.booking.bookingAddress}}</td>
                    <td>{{formatDateTime(item.booking.bookingDate)}}</td>
                    <td>{{formatThousand(item.booking.totalPrice)}}</td>
                    <!-- <td v-html="getStatusName(item.booking.status)"></td> -->
                    <select-status :status="item.booking.status" :bookingId="item.booking.id"/>
                    <td>{{formatDateTime(item.booking.createdDate)}}</td>
                    <td  width="80" class="text-center valign-middle">
                      <nuxt-link :to="`/booking/detail/${item.booking.id}`" title="Xem chi tiết" class="btn btn-xs btn-default"><i class="fa fa-bars"></i></nuxt-link>
                    </td>
                  </tr>
                </tbody>
              </table>
              <paginate v-if="listBookings.meta !== undefined" :page-count="listBookings.meta.totalPage"
                :click-handler="callPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination'"
                :page-class="'page-item'">
              </paginate>
            </div>
            <!-- /.box-body -->
          </div>
      </div>
    </section>
  </div>
</template>

<script>
import bookingApi from '@/assets/js/api/booking'
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import {formatDate, FormatThousand} from '@/assets/js/commons/functions'
import {BOOKING_STATUS} from '@/assets/js/commons/constants'
import Search from '@/components/pages/booking/search'
import SelectStatus from '@/components/pages/booking/selectStatus'
export default {
  layout: 'master',
  components: {
    Paginate,
    Search,
    SelectStatus
  },
  data () {
    return {
      listStatus: BOOKING_STATUS,
      listBookings: [],
      searchParams: {
        keyword: '',
        accountId: -1,
        artistId: -1,
        productId: -1,
        serviceId: -1,
        status: -1,
        fromDate: '',
        toDate: '',
        page: 1,
        rowPerPage: 30
      }
    }
  },
  methods: {
    fetchData () {
      bookingApi.getListBooking(this.$authToken, this.searchParams).then(rs => {
        this.listBookings = rs
      })
    },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    formatDateTime (date) {
      return formatDate(date,'DD/MM/YYYY HH:mm')
    },
    formatThousand (data){
      return FormatThousand(data, 'VNĐ')
    },
    getStatusName (value){
      var status = ''
      BOOKING_STATUS.find(e => {
        if (e.value === value){
          switch (value) {
            case 1:
              status = `<span class="label label-default">${e.name}</span>`
              break;
            case 2:
              status = `<span class="label label-info">${e.name}</span>`
              break;
            case 3:
              status = `<span class="label label-success">${e.name}</span>`
              break;
            case 4:
              status = `<span class="label label-warning">${e.name}</span>`
              break;
            default:
              break;
          }
        }
      })
      return status
    },
    submitSearch (data){
      this.searchParams = data
      this.fetchData()
    }
  },
  beforeMount() {
    this.fetchData()
  }
}
</script>

