<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Chuyên mục sản phẩm
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Chuyên mục sản phẩm</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Thêm mới & cập nhật</h3>
              </div>
              <div class="box-body">
                <input-group
                  :label="'Tiêu đề (*)'"
                  v-model="formData.category.catTitle"
                  @blur="$v.formData.category.catTitle.$touch()"
                  @change="genSlug"
                  />
                <input-group
                  :label="'Slug (*)'"
                  v-model="formData.category.catSlug"
                  @blur="$v.formData.category.catSlug.$touch()"
                />
                <div class="form-group">
                  <label>Chuyên mục cha</label>
                  <select class="form-control" v-model="formData.category.catParentId">
                    <option value="0">Chuyên mục cha</option>
                    <option v-for="item in listCategories.data" :key="item.id" v-show="item.catParentId == 0" :value="item.id">
                      {{item.catTitle}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Mô tả</label>
                  <textarea class="form-control"
                    placeholder="Mô tả"
                    rows="4"
                    v-model="formData.category.catDescription"/>
                </div>
                <div class="form-group">
                  <label>Seo Title</label>
                  <input class="form-control"
                    placeholder="Seo Title"
                    v-model="formData.category.seoTitle"/>
                </div>
                <div class="form-group">
                  <label>Seo Description</label>
                  <textarea class="form-control"
                    placeholder="Seo Description"
                    rows="4"
                    v-model="formData.category.seoDescription"/>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" v-model="formData.category.isShowHome"> Hiển thị trên trang chủ
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Chọn ngôn ngữ</label>
                  <select class="form-control" v-model="formData.category.language">
                     <option v-for="lang in languages.data" :key="lang.slug" :value="lang.slug">{{lang.name}}</option>
                  </select>
                </div>
                <input-group
                  :label="'SEO Title'"
                  v-model="formData.category.seoTitle"
                />
                <input-group
                  :label="'SEO Keywords'"
                  v-model="formData.category.seoKeywords"
                />
                <div class="form-group">
                  <label>SEO Description</label>
                  <textarea class="form-control"
                    placeholder="Mô tả"
                    rows="4"
                    v-model="formData.category.seoDescription"/>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách chuyên mục sản phẩm</h3>
              </div>
              <div class="box-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Filter ngôn ngữ</label>
                      <select class="form-control" v-model="searchParams.language" @change="fetchData">
                          <option value="">Tất cả ngôn ngữ</option>
                          <option v-for="lang in languages.data" :key="lang.slug" :value="lang.slug">{{lang.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên danh mục</th>
                      <th>Mô tả</th>
                      <th>Danh mục Cha</th>
                      <th>Hiển thị trang chủ</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listCategories.data" :key="item.id">
                      <td>{{(listCategories.meta.page - 1)*listCategories.meta.rowPerPage + 1 + index}}</td>
                      <td><a href="" v-on:click.prevent="loadDetailCategory(item.id)">{{item.catTitle}}</a></td>
                      <td>{{item.catDescription}}</td>
                      <td>{{item.catParentId}}</td>
                      <td v-if="item.isShowHome">Có</td>
                      <td v-else>Không</td>
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteCategory(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <paginate v-if="listCategories.meta !== undefined" :page-count="listCategories.meta.totalPage"
                    :click-handler="callPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :container-class="'pagination'"
                    :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import productCategoryApi from '@/assets/js/api/productCategory'
import languageApi from '@/assets/js/api/language'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import {genSlug} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup
  },
  data () {
    return {
      listCategories: {},
      formData: {
        category: {
          catParentId: 0,
          language: 'vi'
        },
        artistIds: []
      },
      searchParams: {
        page: 1,
        rowPerPage: 10,
        keyword: '',
        isShowHome: -1,
        language: ''
      },
      languages: []
    }
  },
  validations: {
    formData: {
      category: {
        catTitle: {required},
        catSlug: {required}
      }
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        var id =this.formData.category.id
        if(id && id > 0){
          // edit
          productCategoryApi.updateCategory(this.$authToken, id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          // create
          productCategoryApi.createCategory(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
     },
    callPage (page) {
      this.searchParams.page = page
      productCategoryApi.getProductCategories(this.$authToken, this.searchParams).then(rs => {
        this.listCategories = rs
      })
    },
    loadDetailCategory (id) {
      productCategoryApi.getCategoryById(this.$authToken, id).then(rs => {
        this.formData.category = rs
      })
    },
    clearForm: function() {
      this.formData.category = {catParentId: 0}
      this.$v.formData.$reset()
    },
    deleteCategory: function(id) {
      if (confirm("Bạn có chắc chắn muốn xóa?")) {
        productCategoryApi.deleteCategory(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    genSlug() {
      if(this.formData.category.catSlug) return;
      this.formData.category.catSlug = genSlug(this.formData.category.catTitle)
    },
    fetchData () {
      productCategoryApi.getProductCategories(this.$authToken, this.searchParams).then(rs => {
        this.listCategories = rs
      })
    },
    loadLanguage() {
      languageApi.getLanguage(this.$authToken, '',1).then((rs)=> {
             this.languages = rs.data
      })
    }
  },
  beforeMount() {
    this.loadLanguage();
    this.fetchData()
  },
}
</script>
