<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Ngôn ngữ
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Ngôn ngữ</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
          <div class="col-md-4">
              <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">Thêm mới & cập nhật Ngôn ngữ</h3>
                </div>
                <div class="box-body">
                  <input-group
                  :label="'Tên ngôn ngữ (*)'"
                  :error="$v.formData.name.$error"
                  v-model="formData.name"
                  @blur="$v.formData.name.$touch()"
                  @change="genLanguageSlug"
                  />
                  <input-group
                  :label="'Slug language (*)'"
                  :error="$v.formData.slug.$error"
                  v-model="formData.slug"
                  @blur="$v.formData.slug.$touch()"
                  />
                  <div class="form-group">
                    <label for="">Ảnh đại diện</label>
                    <div class="form-group preview-feature-image" v-if="formData.image" >
                        <img :src="formData.image" alt=""/>
                        <button class="btn-remove-feature-image" type="button" @click="formData.image = ''"><i class="fa fa-close"></i></button>
                    </div>
                    <div>
                      <button class="btn btn-primary" type="button" @click="OpenMediaModal('InsertToAvatar')">
                        Chọn ảnh
                      </button>
                    </div>
                </div>
                </div>
                <div class="box-footer">
                  <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                  <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                    <i class="fa fa-undo"></i> Hủy
                  </a>
                </div>
              </div>
          </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách Ngôn ngữ</h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên</th>
                      <th>Slug</th>
                      <th>Ảnh</th>
                      <th>Ngày tạo</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listlanguage.data" :key="item.id">
                      <td>{{index + 1}}</td>
                      <td><a :href="`/language/edit/${item.id}`" v-on:click.prevent="bindEditForm(item.id)">{{item.name}}</a></td>
                      <td>{{item.slug}}</td>
                      <td><img style="width:200px; height:auto;" :src="item.image"></td>
                      <td>{{item.createDate}}</td>
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteItem(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>

import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import languageApi from '@/assets/js/api/language'
import { required, minLenght, maxLength, requiredIf, requiredUnless } from 'vuelidate/lib/validators'
import InputGroup from '@/components/ui-kits/input-group'
import Editor from '@/components/ui-kits/editor'
import {genSlug} from '@/assets/js/commons/functions'

export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup,
    Editor
  },
  data () {
    return {
      listlanguage: {},
      formData: {
          image: ''
      },
      searchKeyWord: '',
      page: 1,
      dataChange: false,
    }
  },
  validations: {
      formData: {
        name: {required},
        slug: {required}
      }
  },
  methods: {
    submitForm(e) {
       e.preventDefault();
       if(this.formData.id && +this.formData.id > 0) {
           languageApi.updateLanguage(this.$authToken,this.formData.id,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   massage: 'Cập nhật thông tin thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   massage: err.massage,
                   type: 'error'
               })
           })
       } else {
           languageApi.createLanguage(this.$authToken,this.formData).then((rs) => {
               this.showNotifyMessage({
                   title: 'Thành công',
                   massage: 'Lưu dữ liệu thành công',
                   type: 'success'
               })
               this.loadData()
               this.clearForm()
           }).catch(err => {
               this.showNotifyMessage({
                   title: 'Thất bại',
                   massage: err.massage,
                   type: 'error'
               })
           })
       }
     },
     clearForm() {
         this.formData = {image: ''}
         this.dataChange = false
         setTimeout(function() { this.dataChange = true}.bind(this),1000)
         this.$v.formData.$reset()
     },
     loadData() {
         languageApi.getLanguage(this.$authToken, this.searchKeyWord,this.page).then((rs)=> {
             this.listlanguage = rs.data
         })
     },
     bindEditForm(id) {
        this.dataChange = false
        languageApi.getLanguageById(this.$authToken,id).then((rs)=> {
            this.formData = rs.data.language
            this.dataChange  =true
        })
     },
     deleteItem(id) {
         if(confirm('Bạn có chắc muốn xóa dữ liệu ?')) {
             languageApi.deleteLanguage(this.$authToken,id).then((rs)=> {
                 this.showNotifyMessage({
                     title: 'Thành công',
                     message: 'Xóa dữ liệu thành công',
                     type:'success'
                 })
                 this.loadData()
             })
         }
      },
      OpenMediaModal(val){
        this.showmodal = true
        this.$store.dispatch('SET_MEDIA_MODAL_OPEN',val)
      },
      genLanguageSlug() {
      if(this.formData.slug) return;
      this.formData.slug = genSlug(this.formData.name)
    },
    uploadGroupTextImageDone(data) {
      this.formData.image = data.url
    }
  },
  beforeMount() {
    this.loadData()
  },
  mounted() {
    this.$root.$on('InsertSrcImg', (src) => {
      this.formData.image = src
    })
  }
}
</script>
<style lang="scss" scoped>
.preview-feature-image {
  display: block;
  position: relative;
}
.preview-feature-image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.btn-remove-feature-image {
    position: absolute;
    display: block;
    overflow: hidden;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 22px;
    top:-5px ; right:-5px;
    border: 0;
    color: #fff;
    background: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>
