<template>
  <div class="beauty-on-demand landing">
    <section class="landing-header" :style="{background: item.url}">
      <div class="container">
        <h1 class="landing-header-title-mobile">{{item.title}}</h1>
        <div class="landing-header-desc-mobile" v-html="item.description"></div>
      </div>
    </section>
    <section class="landing-block-mobile" v-for="detail in itemDetails" :key="detail.id" :style="{background: detail.customStyle}">
      <div class="container">
        <div class="row" v-if="detail.htmlClass=='left'">
          <div class="landing-block-mobile">
            <div class="landing-block-image-cover-mobile_right">
              <img style="width: 100%" v-lazy="detail.image" :alt="detail.title"/>
            </div>
            <div class="landing-block-title-group landing-block-title_right">
              <div class="landing-block-order-mobile">{{customOrderLabel(detail.order)}}.</div>
              <h3 class="landing-block-title-mobile">{{detail.title}}</h3>
            </div>
            <div class="landing-block-content-mobile">
              <div  class="landing-block-desc-mobile" v-html="detail.description"></div>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="landing-block-mobile">
             <div class="landing-block-image-cover-mobile_left">
              <img style="width: 100%" v-lazy="detail.image" :alt="detail.title"/>
            </div>
            <div class="landing-block-title-group landing-block-title_left">
              <div class="landing-block-order-mobile">{{customOrderLabel(detail.order)}}.</div>
              <h3 class="landing-block-title-mobile">{{detail.title}}</h3>
            </div>
            <div class="landing-block-content-mobile">
              <div  class="landing-block-desc-mobile" v-html="detail.description"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ready-home">
      <ready></ready>
    </section>
  </div>
</template>

<script>
import Ready from '@/components/pages/home/ReadyBooking'
export default {
  props: ['item', 'itemDetails', 'seo'],
  components: {
    Ready
  },
  methods: {
    customOrderLabel (number) {
      return (+number< 10 ? '0'+number: number+'')
    }
  }
}
</script>

<style>

</style>
