<template>
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <nuxt-link to="/" itemprop="item">
                <i class="fa fa-home"></i>&nbsp;
                <span itemprop="name">Trang chủ</span>
                <meta itemprop="position" content="1" />
            </nuxt-link>
        </li>
        <li v-for="(item,index) in items" :key="index" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <nuxt-link :to="item.path" itemprop="item">
                <span v-if="item.icon"><i v-bind:class="['fa','fa-'+item.icon]"></i> &nbsp;</span>
                <span itemprop="name">{{item.title}}</span>
                <meta itemprop="position" :content="(index+2)" />
                </nuxt-link>
        </li>
    </ol>
</template>

<script>
export default {
    props: ['items'],
    data() {
        return {

        }
    }
}
</script>

<style lang="scss" scoped>
    .breadcrumb {
        background: #f2f2f2;
    }
    .breadcrumb a {
        color: #555;
    }
    .breadcrumb a:hover {
        color: #333;
    }
</style>
