<template>
  <div id="fb-chat">
    <div class="fb-customerchat"
      :messenger_app_id="fbSdkConfig"
      page_id="1259859154196226"
      logged_in_greeting="Xin chào! Glamme có thể giúp gì cho bạn?"
      logged_out_greeting="Xin chào! Glamme có thể giúp gì cho bạn?">
    </div>
  </div>
</template>

<script>
import {fbSdkConfig} from '@/assets/js/commons/constants'
export default {
  data () {
    return {
      fbSdkConfig: fbSdkConfig.appId,
    }
  },
  mounted() {
    if (window.FB) {
      window.FB.XFBML.parse(document.getElementById('fb-chat'));
    }
  },
  destroyed() {
    if (window.FB) {
        window.FB.XFBML.parse();
      }
  }
}
</script>

<style>

</style>

