<template>
  <div id="fb-comment-box">
      <div class="fb-comments" :data-href="url" data-width="100%" data-numposts="10"></div>
  </div>
</template>

<script>
export default {
    props: ['url'],
    mounted () {
        if(window.FB) {
            window.FB.XFBML.parse(document.getElementById('fb-comment-box'))
        }
    }
}
</script>

<style>
#fb-comment-box {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
</style>
