<template>
    <div id="fb-like-button">
        <div class="fb-like" :data-href="url" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    </div>
</template>

<script>
export default {
    props: ['url'],
    mounted () {
        if(window.FB) {
            window.FB.XFBML.parse(document.getElementById('fb-like-button'))
        }
    }
}
</script>

<style>
#fb-like-button {
    display: inline;
}
</style>
