<template>
  <div id="fb_like_box">
      <div class="fb-page"
      :data-href="url"
      data-tabs="timeline"
      data-height="400"
      data-width="1000"
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
      >
      </div>
    </div>
</template>

<script>
export default {
  props: ["url"],
  mounted() {
    if (window.FB) {
      window.FB.XFBML.parse(document.getElementById('fb_like_box'));
    }
  }
};
</script>
<style lang="scss">
#fb_like_box .fb_page {
  margin: 0 auto;
}
</style>
