<template>
  <div id="fb_video_box">
      <!-- Your embedded video player code -->
    <div class="fb-video" :data-href="url" data-width="auto" data-height="400" data-show-text="false"></div>
    </div>
</template>

<script>
export default {
  props: ["url"],
  mounted() {
    if (window.FB) {
      window.FB.XFBML.parse(document.getElementById('fb_video_box'));
    }
  }
};
</script>
<style lang="scss">
#fb_video_box {
  background: #000;
}
</style>
