<template>
  <transition name="modal" >
    <div class="modal-mask" @click.self="maskClick">
      <div class="modal-wrapper">
        <div :class="['modal-container','modal-'+size]" :style="{width: $mobile.isMobile ? customSizeMb : customSize}">
          <div class="modal-header" v-if="showheader">
            <slot name="header">
              default header
            </slot>
          </div>
          <div class="modal-body" :style="{padding: padding}">
            <slot name="body">
              default body
            </slot>
          </div>
          <div class="modal-footer" v-if="showfooter">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
    props: {
        size: {
            type: String,
            default: 'md'
        },
        mbwidth:{
          type: String,
          default: ''
        },
        width: {
          type: String,
          default: ''
        },
        showheader: {
          type: Boolean,
          default: true
        },
        showfooter: {
          type: Boolean,
          default: true
        },
        padding: {
          type: String,
          default: '15px'
        }
    },
    data () {
        return {

        }
    },
    computed: {
      customSize () {
        return this.size ==='custom' ? this.width : ''
      },
      customSizeMb () {
        return this.size ==='custom' ? this.mbwidth : ''
      }
    },
    methods: {
      maskClick() {
        alert('mask click')
      }
    },
}
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 99999999998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 0px auto;
  padding: 0px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-container.modal-lg {
    width: 90%;
}
.modal-container.modal-md {
    width: 60%;
}
.modal-container.moda-sm {
    width: 40%;
}
.modal-container.moda-xs {
    width: 300px;
}
.modal-header {
  margin-top: 0;
  font-weight: bold;
}

.modal-body {
  margin:0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
