<template>
  <td><span class="label label-default">{{service && service.title}}</span></td>
</template>

<script>
import serviceApi from '@/assets/js/api/service'
export default {
  props: ['serviceId'],
  data () {
    return {
      service: {}
    }
  },
  beforeMount () {
    if (this.serviceId) {
      serviceApi.getServiceById(this.$authToken, this.serviceId).then(rs => {
        this.service = rs
      })
    }
  }
}
</script>

<style>

</style>
