<template>
  <td><span class="label label-primary">{{product && product.title}}</span></td>
</template>

<script>
import productApi from '@/assets/js/api/product'
export default {
  props: ['productId'],
  data () {
    return {
      product: {}
    }
  },
  beforeMount () {
    if (this.productId) {
      productApi.getProductById(this.$authToken, this.productId).then(rs => {
        this.product = rs.product
      })
    }
  }
}
</script>

<style>

</style>
