<template>
  <td><span class="label label-primary">{{artist && artist.name}}</span></td>
</template>

<script>
import artistApi from '@/assets/js/api/artist'
export default {
  props: ['artistId'],
  data () {
    return {
      artist: {}
    }
  },
  beforeMount () {
    if (this.artistId) {
      artistApi.getArtistById(this.$authToken, this.artistId).then(rs => {
        this.artist = rs.data
      })
    }
  }
}
</script>

<style>

</style>
