<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">
            <div class="col-md-2">
              <label>Từ khóa</label>
              <input class="form-control" id="keyword" v-model="keyword"  placeholder="Từ khoá tìm kiếm" type="text">
            </div>
            <div class="col-md-2">
              <label>Ngôn ngữ</label>
              <select class="form-control" v-model="language">
                  <option value="">Tất cả ngôn ngữ</option>
                  <option v-for="lang in languages.data" :key="lang.slug" :value="lang.slug">{{lang.name}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Danh mục sản phẩm</label>
              <select v-model="categoryId" class="form-control">
                <option value="0">Tất cả chuyên mục</option>
                <option v-for="item in categories.data" :key="item.id" :value="item.id">{{item.catTitle}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Hiển thị Trang chủ</label>
              <select v-model="isShowHome" class="form-control">
                <option value="-1">Tất cả</option>
                <option value="1">Hiển thị trên trang chủ</option>
                <option value="0">Ẩn trên trang chủ</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Hiển thị Widget</label>
              <select v-model="isShowWidget" class="form-control">
                <option value="-1">Tất cả</option>
                <option value="1">Hiển thị trên Widget</option>
                <option value="0">Ẩn trên Widget</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>&nbsp;</label><br>
              <div>
                <button class="btn btn-primary btn-block"><i class="fa fa-search"></i> Tìm kiềm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import productCategoryApi from '@/assets/js/api/productCategory'
import languageApi from '@/assets/js/api/language'
export default {
  props: ['searchParams'],
  data () {
    return {
      categories: [],
      keyword: this.searchParams.keyword,
      isShowHome: -1,
      isShowWidget: -1,
      categoryId: 0,
      language: '',
      languages: []
    }
  },
  beforeMount () {
    this.loadLanguage()
    var params ={
      rowPerPage: 100
    }
    productCategoryApi.getProductCategories(this.$authToken, params).then(rs => {
      this.categories = rs
    })
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.setSearchParams()
      var params = {
        token: this.$authToken,
        searchParams: this.searchParams
      }
      this.$store.dispatch('actionGetListProducts', params)
    },
    setSearchParams () {
      this.searchParams.keyword = this.keyword
      this.searchParams.categoryId = this.categoryId
      this.searchParams.isShowHome = this.isShowHome
      this.searchParams.isShowWidget = this.isShowWidget
      this.searchParams.language = this.language
    },
    loadLanguage() {
      languageApi.getLanguage(this.$authToken, '',1).then((rs)=> {
        this.languages = rs.data
      })
    }
  }
}
</script>
