<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Blank page
        <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submit" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chi tiết</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <div class="form-group">
                    <label>Tiêu đề</label>
                    <input class="form-control input-sm"
                           placeholder="Tiêu đề chuyên mục"
                           required="required"
                           v-model="detail.catTitle">
                </div>
                <div class="form-group">
                    <label>Slug</label>
                    <input class="form-control input-sm"
                           placeholder="Slug chuyên mục"
                           required="required"
                           v-model="detail.catSlug">
                </div>
                <div class="form-group">
                    <label>Sắp xếp</label>
                    <input class="form-control input-sm"
                           placeholder="Sắp xếp"
                           required="required"
                           v-model="detail.order"
                           type="number">
                </div>
                <div class="form-group">
                    <label>Chuyên mục cha</label>
                    <select class="form-control input-sm" v-model="detail.catParentId">
                      <option value="0">Chuyên mục cha</option>
                      <option v-for="item in categoryParent.categories" :key="item.id" v-show="item.catParentId == 0" :value="item.id">
                        {{item.catTitle}}
                      </option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="">Ngôn ngữ</label>
                  <div v-for="(item,index) in languages" :key="item.id">
                    <input type="radio" :id="index" :value="item.slug" v-model="detail.language">
                    <label :for="index"> {{item.name}}</label>
                  </div>
                </div>
                <div class="form-group">
                    <label>Tiêu đề SEO</label>
                    <input class="form-control input-sm"
                           placeholder="Tiêu đề SEO"
                           v-model="detail.seoTitle">
                </div>
                <div class="form-group">
                    <label>Từ khóa</label>
                    <input class="form-control input-sm"
                           placeholder="Từ khóa SEO"
                           v-model="detail.seoKeywords">
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea class="form-control input-sm"
                              placeholder="Mô tả"
                              rows="3"
                              v-model="detail.catDescription"/>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Chuyên mục</h3>
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                          title="Collapse">
                    <i class="fa fa-minus"></i></button>
                  <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
                </div>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="30%">Tên</th>
                      <th>Ngôn ngữ</th>
                      <th>Mô tả</th>
                      <th>Id Cha</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in category.categories" :key="item.id">
                      <td><a href="" v-on:click.prevent="loadDetailCategory(item.id)">{{item.catTitle}}</a></td>
                      <td>{{item.language}}</td>
                      <td>{{item.catDescription}}</td>
                      <td v-if="item.catParentId !== 0">{{item.catParentId}}</td>
                      <td v-else>None</td>
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteCategory(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <paginate :page-count="category.meta.totalPage"
                          :click-handler="callPage"
                          :prev-text="'Prev'"
                          :next-text="'Next'"
                          :container-class="'pagination'"
                          :page-class="'page-item'">
                </paginate>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import languageApi from '@/assets/js/api/language'

import {mapGetters} from 'vuex'
import BlogCategory from '@/assets/js/api/BlogCategory'
import {POST_PER_PAGE} from '@/assets/js/commons/constants'

const fetchInitialData = (store, page, rowPerPage) => {
  if(page === undefined) page = 1
  if(rowPerPage === undefined) rowPerPage = POST_PER_PAGE
  return store.dispatch('getAllCategories', {page: page, rowPerPage: rowPerPage, orderby:'Order', order:'asc'})
}
export default {
  layout: 'master',
  components: {
    Paginate
  },
  data () {
    return {
      detail: {id:0, language:'', catParentId:0, order:0},
      categoryParent: {},
      languages:{}
    }
  },
  async asyncData ({store}) {
    var category = await fetchInitialData(store)
    return {
      category: category,
      page: 1
    }

  },
  methods: {
     submit(e) {
       e.preventDefault();
       if(this.detail.id === 0){
         this.$store.dispatch('addNewCategory', {token: this.$authToken, detail: this.detail})
         .then((data) => {
           this.detail = {id:0, catParentId:0}
           if( data.status===204 || data.status===201 ){
             this.callPage(this.page)
           }
         })
       }
       else{
         this.$store.dispatch('editCategory', {token: this.$authToken, detail: this.detail})
         .then((data) => {
           this.detail = {id:0, catParentId:0, order:0}
           if( data.status===204 ){
             this.callPage(this.page)
           }
         })
       }
     },
    loadCategory() {
      return fetchInitialData(this.$store, 1, 10000).then((data) => {
          this.categoryParent = data
      })
    },
    callPage: function(page) {
      return fetchInitialData(this.$store, page).then((data) => {
          this.page = page
          this.category = data
        })
    },
    loadDetailCategory: function(id) {
      return this.$store.dispatch('getCategoryDetail', id).then((data) => {
        this.detail = data
      })
    },
    clearForm: function() {
      this.detail = {id:0, catParentId:0, order:0}
    },
    deleteCategory: function(id) {
      if (confirm("Bạn có chắc chắn muốn xóa?")) {
        this.$store.dispatch('deleteCategory', {token: this.$authToken, id: id})
         .then((data) => {
           if( data.status===204 ){
             this.callPage(this.page)
           }
         })
      }
    }
  },
  computed: {
    ...mapGetters({
      // category: 'BlogCategory/getlistBlogCategory'
    })
  },
  created () {
    this.loadCategory()
    languageApi.getLanguage().then((rs) => {
      this.languages = rs.data.data
    })
  }
}
</script>

<style>

</style>
