<template>
  <div class="form-group">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <form @submit="submit" method="get">          
            <div class="col-md-3 padding-label">
              <label>Từ khóa</label>
              <input class="form-control input-sm" id="keyword" v-model="searchParams.keyword"  placeholder="Từ khoá tìm kiếm" type="text" value="">
            </div>
            <div class="col-md-3 padding-label">
              <label>Artist</label>
              <select class="form-control input-sm" v-model="searchParams.artistId">
                <option value="-1">Chọn Artist</option>
                <option v-for="item in artists" :key="item.id" :value="item.id">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-3 padding-label">
              <label>Sản phẩm</label>
              <select class="form-control input-sm" v-model="searchParams.productId" @change="getServiceByProductId()">
                <option value="-1">Chọn sản phẩm</option>
                <option v-for="item in products" :key="item.product.id" :value="item.product.id">
                  {{item.product.title}}
                </option>
              </select>
            </div>
            <div class="col-md-3 padding-label">
              <label>Dịch vụ </label>
              <select class="form-control input-sm" v-model="searchParams.serviceId">
                <option value="-1">Chọn dịch vụ</option>
                <option v-for="item in services" :key="item.id" :value="item.id">
                  {{item.title}}
                </option>
              </select>
            </div>
            <div class="col-md-3 padding-label">
              <label>Trạng thái </label>
              <select class="form-control input-sm" v-model="searchParams.status">
                <option value="-1">Tất cả</option>
                <option v-for="item in listStatus" :key="item.value" :value="item.value">
                  {{item.name}}
                </option>
              </select>
            </div>
            <div class="col-md-3 padding-label">
              <label>Từ ngày</label>
              <no-ssr>
                <date-picker class="input-sm" v-model="searchParams.fromDate" :config="configFromDate"></date-picker>
              </no-ssr>
            </div>
            <div class="col-md-3 padding-label">
              <label>Đến ngày</label>
              <no-ssr>
                <date-picker class="input-sm" v-model="searchParams.toDate" :config="configToDate"></date-picker>
              </no-ssr>
            </div>
            <div class="col-md-3 padding-label">
              <label>&nbsp;</label><br>
              <div>
                <button class="btn btn-primary btn-sm btn-block">Tìm kiềm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import artistApi from '@/assets/js/api/artist'
import productApi from '@/assets/js/api/product'
import serviceApi from '@/assets/js/api/service'
import {BOOKING_STATUS} from '@/assets/js/commons/constants'
import moment from 'moment'
export default {
  props: ['searchParams'],
  data () {
    return {
      date: new Date(),
      configFromDate: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
      },
      configToDate: {
        format: 'DD/MM/YYYY',
        useCurrent: false,
        // minDate: moment(this.searchParams.fromDate).add(1, 'days')
      },  
      artists: [],
      products: [],
      services: [],
      listStatus: BOOKING_STATUS
    }
  },
  beforeMount () {
    artistApi.getArtists(this.$authToken, {rowPerPage: 20000, orderBy:'Name', order: 'asc'}).then((rs)=> {
      this.artists = rs.data.data 
    })
    productApi.getListProducts(this.$authToken, {rowPerPage: 20000, orderBy:'Title', order: 'asc'}).then((rs)=> {
      this.products = rs.data.products 
    })
  },
  methods: {
    submit (e) {
      e.preventDefault()
      this.$emit('search', this.searchParams);
    },
    getServiceByProductId () {
      return serviceApi.getServiceByProductId(this.$authToken, this.searchParams.productId).then((rs)=> {
        this.services = rs
        this.searchParams.serviceId = 0
      })
    },
  }
}
</script>
<style scoped>
  .padding-label{
    padding-top: 3px;
    padding-bottom: 3px;
  }
</style>
