<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý Dịch vụ sản phẩm <strong>{{productItem.title}}</strong>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quản lý Dịch vụ</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <form @submit="submitForm" method="post">
        <div class="col-md-4">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Thêm mới & cập nhật</h3>
              </div>
              <div class="box-body">
                <input-group
                  :label="'Tên dịch vụ (*)'"
                  :error="$v.formData.service.title.$error"
                  v-model="formData.service.title"
                  @blur="$v.formData.service.title.$touch()"
                  />
                <input-group
                  :label="'Giá (*)'"
                  v-model="formData.service.price"
                  :error="$v.formData.service.price.$error"
                  :errormsg="formData.service.price === '' ? 'Trường này là bắt buộc':'Chỉ nhận ký tự số'"
                  @blur="$v.formData.service.price.$touch()"
                />
                <input-group
                  :label="'Thời gian'"
                  v-model="formData.service.time"
                />
                <div class="form-group">
                  <label>Dịch vụ cha</label>
                  <select class="form-control" v-model="formData.service.parentId">
                    <option value="0">Dịch vụ cha</option>
                    <option v-for="item in parentServices" :key="item.id"  :value="item.id">
                      {{item.title}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Mô tả</label>
                  <textarea class="form-control"
                    placeholder="Mô tả"
                    rows="4"
                    v-model="formData.service.description"/>
                </div>
                <div class="form-group">
                  <label>Khu vực</label>
                  <div v-for="pro in provinces.data" :key="pro.id">
                  <label>
                    <input type="checkbox" :value="pro.id" v-model="formData.provinceIds"> {{pro.name}}
                  </label>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button class="btn btn-primary" style="submit"><i class="fa fa-save"></i> Lưu thay đổi</button>
                <a href="#" class="btn btn-default" style="margin-left:20px;" v-on:click.prevent="clearForm()">
                  <i class="fa fa-undo"></i> Hủy
                </a>
              </div>
            </div>
        </div>
        </form>
        <div class="col-md-8">
          <div class="form-group">
            <nuxt-link :to="`/manage/product/edit/${$route.params.productId}`" class="btn btn-default">
              <i class="fa fa-undo"></i> Quay lại: {{productItem.title}}</nuxt-link>&nbsp;
            <nuxt-link to="/manage/product" class="btn btn-primary"><i class="fa fa-list"></i> Danh sách sản phẩm</nuxt-link>
          </div>
          <!-- Default box -->
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Danh sách dịch vụ sản phẩm <strong>{{productItem.title}}</strong></h3>
              </div>
              <div class="box-body">
                <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr>
                      <th width="20">STT</th>
                      <th>Tên dịch vụ</th>
                      <th>Thời gian</th>
                      <th>Giá</th>
                      <th>Dịch vụ cha</th>
                      <th class="text-center">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item,index) in listServices" :key="item.id">
                      <td>{{index+1}}</td>
                      <td><a href="" v-on:click.prevent="loadDetailService(item.id)">{{item.title}}</a></td>
                      <td>{{item.time}}</td>
                      <td>{{fortmatMoney(item.price)}}</td>
                      <parent-service-td :serviceId="item.parentId" />
                      <td class="text-center">
                        <a href="" v-on:click.prevent="deleteService(item.id)" class="label label-danger">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          <!-- /.box -->
        <!-- /.content -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Paginate from 'vuejs-paginate/src/components/Paginate.vue'
import productApi from '@/assets/js/api/product'
import serviceApi from '@/assets/js/api/service'
import { required, minLenght, maxLength, requiredIf, requiredUnless, numeric } from 'vuelidate/lib/validators'
import {genSlug, FormatThousand} from '@/assets/js/commons/functions'
import InputGroup from '@/components/ui-kits/input-group'
import ProductTd from '@/components/pages/service/product'
import ParentServiceTd from '@/components/pages/service/parentService'
import provinceApi from '@/assets/js/api/province'
export default {
  layout: 'master',
  components: {
    Paginate,
    InputGroup,
    ProductTd,
    ParentServiceTd
  },
  data () {
    return {
      listServices: [],
      provinces: [],
      productId: this.$route.params.productId,
      formData: {
        service: {
          id: 0,
          title: '',
          time: null,
          description: '',
          price: '',
          parentId: 0,
          productId: this.$route.params.productId
        },
        provinceIds: []
      },
      productItem: {}
    }
  },
  validations: {
    formData: {
      service: {
        title: {required},
        price: {required, numeric}
      }
    }
  },
  computed: {
    parentServices() {
      return this.listServices ? this.listServices.filter(e=>e.parentId===0 || e.parentId===null): []
    }
  },
  methods: {
    submitForm(e) {
      e.preventDefault();
      if(!this.$v.$invalid) {
        var id = this.formData.service.id
        if(id && id > 0){
          // edit
          serviceApi.updateService(this.$authToken, id, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Cập nhật thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        } else {
          // create
          serviceApi.createService(this.$authToken, this.formData).then(rs => {
            this.showNotifyMessage({
              title: 'Thành công',
              message: 'Tạo mới thành công',
              type: 'success'
            })
            this.fetchData()
            this.clearForm()
          }).catch(err => {
            this.showNotifyMessage({
              title: 'Đã có lỗi xảy ra',
              message: err.message,
              type: 'error'
            })
          })
        }
      } else {
        this.showNotifyMessage({
          title: 'Đã có lỗi xảy ra',
          message: 'Tạo mới không thành công, kiểm tra lại dữ liệu',
          type: 'error'
        })
      }
     },
    callPage (page) {
      this.searchParams.page = page
      this.fetchData()
    },
    loadDetailService (id) {
      serviceApi.getServiceById(this.$authToken, id).then(rs => {
        this.formData.service = rs.service
        this.formData.provinceIds = rs.provinceIds
      })
    },
    clearForm: function() {
      this.formData.service = {}
      this.$v.formData.$reset()
    },
    deleteService: function(id) {
      if (confirm("Bạn có chắc chắn muốn xóa?")) {
        serviceApi.deleteService(this.$authToken, id).then(rs => {
          this.showNotifyMessage({
            title: 'Thành công',
            message: 'Xóa thành công',
            type: 'success'
          })
          this.fetchData()
        })
      }
    },
    fortmatMoney (data) {
      return FormatThousand(data, 'vnđ')
    },
    fetchData () {
      serviceApi.getServiceByProductId(this.$authToken, this.productId).then(rs => {
        this.listServices = rs
      })
    }
  },
  beforeMount() {
    this.fetchData()
    productApi.getProductById(this.$authToken, this.productId).then(rs => {
      this.productItem = rs.product
    })
    provinceApi.getProvince(this.$authToken,"").then(rs=> {
      this.provinces = rs.data
    })
  },
}
</script>
