<template>
  <booking-layout :activeStep1="true" :activeStep2="true" :activeStep3="true" v-if="!$mobile.isMobile">
    <div slot="left">
      <span class="step-booking-number">{{stepInfo.title}}</span>
      <h5>{{stepInfo.subTitle}}</h5>
      <span v-html="stepInfo.description"></span>
    </div>
    <div slot="right">
      <div class="right-content">
        <div class="title-booking-form">{{stepInfo.subTitle}}</div>
        <div class="hr"></div>
        <div class="completeBooking">
          <div class="container" style="width: 90%">
            <div class="row">
              <div class="col-md-4 col-md-push-1">
                <div class="serviceCategoryHome active">
                  <div class="box-check"></div>
                  <img :src="(dataBooking.featureImage ? dataBooking.featureImage: '/img/nail-image-example.png')"
                       :alt="dataBooking.picked"
                       style="width:100%;"/>
                  <div class="wraper-content">
                    <h5 v-if="dataBooking">{{dataBooking.picked}}</h5>
                    <span v-if="dataBooking">{{dataBooking.shortContent}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-md-push-2">
                <div class="detailBooking" style="margin:0">
                  <div class="detail">
                    <span>{{tran.common_fullname_label}}: </span>
                    <p v-if="dataBooking2">{{dataBooking2.name}}</p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_phonenumber_label}}: </span>
                    <p v-if="dataBooking2">{{dataBooking2.phone}}</p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_address_label}}: </span>
                    <p v-if="dataBooking2">{{dataBooking2.detaiPosition}} - {{dataBooking2.position}}</p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_note_label}}: </span>
                    <p style="width: 80%;text-align:right;"
                       v-if="dataBooking2">
                       {{dataBooking2.note}}
                    </p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_time_label}}:</span>
                    <p v-if="dataBooking">{{dataBooking.timePicker}} - {{dataBooking.datePicker}}</p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_quantity_label}}:</span>
                    <p v-if="dataBooking">{{dataBooking.people}} người</p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_service_label}}:</span>
                    <p v-if="dataBooking">{{dataBooking.tabChoose}}</p>
                  </div>
                  <div class="detail">
                    <span>{{tran.common_amount_label}}:</span>
                    <p v-if="dataBooking">{{dataBooking.TotalPrice}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hr"></div>
        <div class="container" style="width: 90%">
          <div class="row">
            <div class="col-md-8 col-md-push-2">
              <p class="complete-p">{{tran.booking_done_text}}
              </p>
            </div>
          </div>
        </div>
        <div class="footer-booking" style="padding-bottom: 10px;border:0;">
          <button class="btn btn-bookingInBooking" style="padding: 10px" @click="comeBackHome">{{tran.common_back_to_home_label}}</button>
        </div>
      </div>
    </div>
  </booking-layout>
  <div class="mobile-booking" v-else>
    <div class="header-mobile-booking">
      <a @click="deleteStore()" style="color:red;cursor: pointer;">
        <i aria-hidden="true" class="fa fa-times returnHome"></i>
      </a>
      <span>{{stepInfo.title}} / 3</span>
      <h5>{{stepInfo.subTitle}}</h5>
    </div>
    <div class="content-mobile-booking step-mobile-3">
     <div class="container">
       <div class="row">
          <div class="col-xs-5">
            <img :src="(dataBooking.featureImage ? dataBooking.featureImage: '/img/nail-image-example.png')"
                :alt="dataBooking.picked"
                style="width:100%;"/>
          </div>
        <div class="col-xs-7">
          <div class="wraper-content">
            <h5 v-if="dataBooking">{{dataBooking.picked}}</h5>
            <span v-if="dataBooking">{{dataBooking.shortContent}}</span>
          </div>
        </div>
       </div>
       <div class="row">
         <div class="col-md-12">
           <div class="detailBooking" style="margin:0">
              <div class="detail">
                <span>{{tran.common_fullname_label}}: </span>
                <p v-if="dataBooking2">{{dataBooking2.name}}</p>
              </div>
              <div class="detail">
                <span>{{tran.common_phonenumber_label}}: </span>
                <p v-if="dataBooking2">{{dataBooking2.phone}}</p>
              </div>
              <div class="detail">
                <span>{{tran.common_address_label}}: </span>
                <p v-if="dataBooking2">{{dataBooking2.detaiPosition}} - {{dataBooking2.position}}</p>
              </div>
              <div class="detail">
                <span>{{tran.common_note_label}}: </span>
                <p style="width: 80%;text-align:right;"
                    v-if="dataBooking2">
                    {{dataBooking2.note}}
                </p>
              </div>
              <div class="detail">
                <span>{{tran.common_time_label}}:</span>
                <p v-if="dataBooking">{{dataBooking.timePicker}} - {{dataBooking.datePicker}}</p>
              </div>
              <div class="detail">
                <span>{{tran.common_quantity_label}}:</span>
                <p v-if="dataBooking">{{dataBooking.people}} {{tran.common_people_label}}</p>
              </div>
              <div class="detail">
                <span>{{tran.common_service_label}}:</span>
                <p v-if="dataBooking">{{dataBooking.tabChoose}}</p>
              </div>
              <div class="detail">
                <span>{{tran.common_amount_label}}:</span>
                <p v-if="dataBooking">{{dataBooking.TotalPrice}}</p>
              </div>
            </div>
         </div>
       </div>
       <div class="row footer-mobile-step3">
         <div class="col-md-12">
           <!-- <h5>Hoàn Tất</h5> -->
            <p class="complete-p">
                {{tran.booking_done_text}}
            </p>
           <button class="btn btn-bookingInBooking" style="padding: 10px" @click="comeBackHome">{{tran.common_back_to_home_label}}</button>
         </div>
       </div>
      </div>
    </div>
  </div>
</template>
<script>

import bookingLayout from '@/components/layouts/booking'
import gtApi from '@/assets/js/api/grouptext'
export default {
  layout: 'blank',
  components: {
    bookingLayout
  },
  data () {
    return {
      dataBooking: {},
      dataBooking2: {}
    }
  },
  async asyncData ({store,app}) {
    var stepInfoData = await gtApi.getGroupTextBySlug('','booking-step-3',app.lang)
    return {
      stepInfo: stepInfoData.data ? stepInfoData.data.groupText : {}
    }
  },
  methods: {
    comeBackHome () {
      window.localStorage.removeItem('dataBooking')
      this.$router.push(`/${this.$lang}/${this.$location}`)
    },
    deleteStore() {
      window.localStorage.removeItem('bookingIndex')
      window.localStorage.removeItem('bookingLandingPage')
      this.$router.push(`/${this.$lang}/${this.$location}`)
    }
  },
  created () {
    if (typeof window !== 'undefined') {
        var dt = window.localStorage.getItem('dataBooking')
        var dt2 = window.localStorage.getItem('dataBooking2')
        if(!dt || !dt2) {
          this.$router.push(`/${this.$lang}/booking/${this.$location}`)
        }
        this.dataBooking = JSON.parse(dt)
        this.dataBooking2 = JSON.parse(dt2)
    }
  }
}
</script>

