<template>
  <booking-layout :activeStep1="true" :activeStep2="true" v-if="!$mobile.isMobile">
    <div slot="left" class="leftslot">
      <span class="step-booking-number">{{stepInfo.title}}</span>
      <h5>{{stepInfo.subTitle}}</h5>
      <span v-html="stepInfo.description"></span>
    </div>
    <div slot="right">
      <div class="right-content">
        <form @submit="submit">
          <div class="title-booking-form">{{stepInfo.subTitle}}</div>
          <div class="hr"></div>
          <div class="form-info-booking">
            <div class="container" style="width: 90%">
              <div class="row">
                <div class="col-md-5">
                  <div class="link-login form-group" v-if="!auth"><span @click="showLoginModal" class="cs_pointer">{{tran.booking_remind_login_text}}</span></div>
                  <div class="form-group">
                    <label>{{tran.common_fullname_label}}</label>
                    <input type="text" class="form-control" :placeholder="tran.common_fullname_label" v-model="name" required>
                  </div>
                  <div class="form-group">
                    <label>{{tran.common_phonenumber_label}}</label>
                    <input type="number" class="form-control number-phone" :placeholder="tran.common_phonenumber_label" v-model="phone" required>
                  </div>
                  <div class="form-group">
                    <label>{{tran.booking_location_type_label}}</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon"><i class="fa fa-map-marker"></i></span>
                      <input type="text" class="form-control"
                              placeholder="Tòa nhà Bitexco, Quận 1, TP Hồ Chí Minh"
                             aria-describedby="basic-addon" v-model="detailPosition" required>
                    </div>
                    <div class="checkbox-booking">
                      <span class="circle-booking" @click="setCircle('Nhà')" :class="{active: position=='Nhà'}"></span>
                      <span class="valueCircle" @click="setCircle('Nhà')">{{tran.booking_location_type_home_label}}</span>
                      <span class="circle-booking" @click="setCircle('Công sở')" :class="{active: position=='Công sở'}"></span>
                      <span class="valueCircle" @click="setCircle('Công sở')">{{tran.booking_location_type_office_label}}</span>
                      <span class="circle-booking" @click="setCircle('Khác')" :class="{active: position=='Khác'}"></span>
                      <span class="valueCircle" @click="setCircle('Khác')">{{tran.booking_location_type_other_label}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{tran.common_note_label}}</label>
                    <textarea type="text" class="form-control"
                              placeholder="Mô tả vị trí nếu địa điểm của bạn khó tìm kiếm, hoặc ghi chú thêm chi tiết yêu cầu dịch vụ của bạn"
                              rows="5"
                              v-model="note">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label>{{tran.booking_discount_code_label}}</label>
                    <div class="input-group">
                      <input type="text" v-model="codeDiscount" class="form-control" :placeholder="tran.booking_discount_code_label"/>
                      <div class="btn input-group-addon btn-apply" @click="applyDiscountCode()">{{tran.common_apply_label}}</div>
                    </div>
                    <p :style="{color:color}" style="margin: 5px 0;">{{messageDiscount}}</p>
                  </div>
                </div>
                <div class="col-md-4 col-md-push-3">
                  <div class="serviceCategoryHome active">
                    <div class="box-check"></div>
                    <img :src="(dataBooking.featureImage ? dataBooking.featureImage: '/img/nail-image-example.png')"
                         :alt="dataBooking.picked"
                         style="width:100%;"/>
                    <div class="wraper-content">
                      <h5>{{dataBooking.picked}}</h5>
                      <span>{{dataBooking.shortContent}}</span>
                    </div>
                  </div>
                  <div class="detailBooking">
                    <div class="detail">
                      <span>{{tran.common_time_label}}:</span>
                      <p>{{dataBooking.timePicker}} - {{dataBooking.datePicker}}</p>
                    </div>
                    <div class="detail">
                      <span>{{tran.common_quantity_label}}:</span>
                      <p>{{dataBooking.people}} {{tran.common_people_label}}</p>
                    </div>
                    <div class="detail">
                      <span>{{tran.common_service_label}}:</span>
                      <p>{{dataBooking.tabChoose}}</p>
                    </div>
                    <div class="detail">
                      <span>{{tran.common_amount_label}}:</span>
                      <p>{{getTotalPrice(dataBooking.TotalPriceInt)}}</p>
                    </div>
                  </div>
                  <nuxt-link :to="`${this.$lang}/booking/${this.$location}`" class="pull-right">{{tran.common_change_label}}</nuxt-link>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-booking" style="padding: 10px 0;border:0;">
            <div class="container" style="width:90%">
              <div class="row">
                <div class="col-md-5">
                  <button type="submit" class="btn btn-bookingInBooking btn-block" style="text-transform: uppercase;">
                    {{tran.booking_send_book_request_label}}
                    <i v-if="isProcesses" class="fa fa-spinner fa-spin" style="font-size: 20px;color:#fff;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </booking-layout>
  <div class="mobile-booking" v-else>
    <div class="header-mobile-booking">
      <a @click="deleteStore()" style="color:red;cursor: pointer;">
        <i aria-hidden="true" class="fa fa-times returnHome"></i>
      </a>
      <span>{{stepInfo.title}} / 3</span>
      <h5>{{stepInfo.subTitle}}</h5>
    </div>
    <div class="content-mobile-booking">
      <form @submit="submit">
          <div class="form-info-booking">
            <div class="container" style="width: 90%">
              <div class="row">
                <div class="col-md-5">
                  <div class="link-login form-group text-center" v-if="!auth">
                    <span @click="showLoginModal" class="cs_pointer"
                          style="display: block;margin: 10px 0;font-weight:bold;text-decoration: underline">{{tran.booking_remind_login_text}}</span>
                  </div>
                  <div class="form-group" style="margin-top: 10px;">
                    <label>{{tran.common_fullname_label}}</label>
                    <input type="text" class="form-control" :placeholder="tran.common_fullname_label" v-model="name" required>
                  </div>
                  <div class="form-group">
                    <label>{{tran.common_phonenumber_label}}</label>
                    <input type="number" class="form-control number-phone" :placeholder="tran.common_phonenumber_label" v-model="phone" required>
                  </div>
                  <div class="form-group">
                    <label>{{tran.booking_location_type_label}}</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon"><i class="fa fa-map-marker"></i></span>
                      <input type="text" class="form-control"
                              placeholder="Tòa nhà Bitexco, Quận 1, TP Hồ Chí Minh"
                             aria-describedby="basic-addon" v-model="detailPosition" required>
                    </div>
                    <div class="checkbox-booking">
                      <span class="circle-booking" @click="setCircle('Nhà')" :class="{active: position=='Nhà'}"></span>
                      <span class="valueCircle" @click="setCircle('Nhà')">{{tran.booking_location_type_home_label}}</span>
                      <span class="circle-booking" @click="setCircle('Công sở')" :class="{active: position=='Công sở'}"></span>
                      <span class="valueCircle" @click="setCircle('Công sở')">{{tran.booking_location_type_office_label}}</span>
                      <span class="circle-booking" @click="setCircle('Khác')" :class="{active: position=='Khác'}"></span>
                      <span class="valueCircle" @click="setCircle('Khác')">{{tran.booking_location_type_other_label}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{tran.common_note_label}}</label>
                    <textarea type="text" class="form-control"
                              placeholder="Mô tả vị trí nếu địa điểm của bạn khó tìm kiếm, hoặc ghi chú thêm chi tiết yêu cầu dịch vụ của bạn"
                              rows="5"
                              v-model="note">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label>{{tran.booking_discount_code_label}}</label>
                    <div class="input-group">
                      <input type="text" v-model="codeDiscount" class="form-control" :placeholder="tran.booking_discount_code_label"/>
                      <div class="btn input-group-addon btn-apply" @click="applyDiscountCode()">{{tran.common_apply_label}}</div>
                    </div>
                    <p :style="{color:color}" style="margin: 5px 0;">{{messageDiscount}}</p>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" :disabled="isProcesses" class="btn btn-bookingInBooking btn-block" style="margin-top:50px;">
              {{tran.booking_send_book_request_label}}
              <i v-if="isProcesses" class="fa fa-spinner fa-spin" style="font-size: 20px;color:#fff;"></i>
            </button>
          </div>
        </form>
    </div>
  </div>
</template>
<script>
import bookingLayout from '@/components/layouts/booking'
import {mapSetters, mapGetters} from 'vuex'
import CommonsMixin from '@/assets/js/mixins/commons'
import moment from 'moment'
import BookingApi from '@/assets/js/api/booking'
import CheckCodeApi from '@/assets/js/api/discountCode'
import {CLIENT_AUTH_TOKEN} from '@/assets/js/commons/constants'
import funciton from '@/assets/js/commons/functions'
import gtApi from '@/assets/js/api/grouptext'

export default {
  layout: 'blank',
  mixins: [CommonsMixin],
  components: {
    bookingLayout
  },
  watch: {
    auth () {
      this.name = this.auth.userFullName
      this.phone = this.auth.userPhone
      this.detailPosition = this.auth.address
      this.statusDiscount = ''
      this.color = ''
    }
  },
  data () {
    return {
      dataBooking: {},
      position: 'Nhà',
      name: '',
      detailPosition: '',
      phone: '',
      note: '',
      accountId: '',
      isProcesses: false,
      statusDiscount: false,
      color: '',
      codeDiscount: '',
      messageDiscount:''
    }
  },
  async asyncData ({store,app}) {
    var getTemplateContentEmail = await store.dispatch('getTemplateContentEmail', {groupId: 11})
    var stepInfoData = await gtApi.getGroupTextBySlug('','booking-step-2',app.lang)
    return {
      contentTemplateEmail: getTemplateContentEmail,
      stepInfo: stepInfoData.data ? stepInfoData.data.groupText : {}
    }
  },
  computed: {
    ...mapGetters({
      auth: 'GET_AUTH'
    })
  },
  methods: {
    getTotalPrice (value) {
      if(value){
        return funciton.FormatThousand(value, "đ")
      }
    },
    getDiscountPrice(SttType,value, discount){
      if(SttType == 1){
        value = value - (value*discount/100)
      }
      else{
        value = value - discount
      }
      return value
    },
    applyDiscountCode(){
      if (confirm("Bạn có chắc chắn muốn sử dụng mã code cho sản phẩm này?")){
        if(!this.statusDiscount){
          if(!this.auth){
            this.messageDiscount = 'Bạn phải đăng nhập để sử dụng chức năng này.'
            this.color = 'red'
          }
          else{
            CheckCodeApi.applyDiscountCode(this.$cookies.get(CLIENT_AUTH_TOKEN),
              {
                code: this.codeDiscount,
                productId: this.dataBooking.productId
              }).then(data => {
                this.dataBooking.TotalPriceInt = this.getDiscountPrice(data.discountType,this.dataBooking.TotalPriceInt, data.discountValue)
                this.messageDiscount = 'Áp dụng mã thành công!'
                this.color = '#155724'
                this.statusDiscount = true
              }).catch((err) => {
                this.messageDiscount = err.response.data
                this.color = 'red'
              })
          }
        }
        else{
          this.messageDiscount = 'Bạn chỉ có thể sử dụng 1 lần cho 1 dịch vụ.'
          this.color = 'red'
        }
      }
    },
    deleteStore() {
      window.localStorage.removeItem('bookingIndex')
      window.localStorage.removeItem('bookingLandingPage')
      this.$router.push(`/${this.$lang}/${this.$location}`)
    },
    setCircle (address) {
      this.position = address
    },
    submit: function(e) {
      e.preventDefault()
      this.isProcesses = true
      var dataParam = {
        name: this.name,
        phone: this.phone,
        detaiPosition: this.detailPosition,
        position: this.position,
        note: this.note
      }
      var dataBooking = {
        Booking: {
          accountId: this.accountId,
          fullName: this.name,
          phone: this.phone,
          BookingAddress: `${this.detailPosition} | ${this.position}`,
          TotalPrice: this.dataBooking.TotalPriceInt,
          Status: 1
        },
        Date: `${this.dataBooking.datePicker} ${this.dataBooking.timePicker}`,
        Details : [
          {
            artistId: this.dataBooking.artistId,
            productId: this.dataBooking.productId,
            serviceId: this.dataBooking.serviceId
          }
        ]
      }
      BookingApi.booking(dataBooking).then(rs => {
        this.$store.dispatch('sendEmail',
                      { sendTo: "hi@glamme.vn",
                        subject: this.contentTemplateEmail.groupText.title.replace('{date}',moment(new Date()).format('HH:mm:ss DD/MM/YYYY')),
                        ccTo: "",
                        content: this.contentTemplateEmail.groupText.description
                                  .replace('{name}',this.name)
                                  .replace('{phone}',this.phone)
                                  .replace('{address}',this.position + " - " + this.detailPosition)
                                  .replace('{note}',this.note)
                                  .replace('{time}',this.dataBooking.timePicker + " - " + this.dataBooking.datePicker)
                                  .replace('{people}',this.dataBooking.people)
                                  .replace('{tabChoose}',this.dataBooking.tabChoose)
                                  .replace('{TotalPrice}',this.getTotalPrice(this.dataBooking.TotalPriceInt))
                                  .replace('{city}',this.dataBooking.city)
                                  .replace('{DiscountCode}',this.statusDiscount ? this.codeDiscount : ''),
                        isProcessed: 0,
                        retry: 0
                      })
        .then((data) => {
          if (typeof window !== 'undefined') {
            window.localStorage.setItem('dataBooking2', JSON.stringify(dataParam))
          }
          this.isProcesses = false
          this.$router.push(`/${this.$lang}/booking/step-three/${this.$location}`)
        }).catch((err) => {
          this.showNotification({
            title: 'Đã xảy ra lỗi.',
            message: `Đặt lịch thất bại\n${err.response.data}`,
            type: 'error'
          })
          this.isProcesses = false
        })
      }).catch((error) => {
        this.showNotification({
            title: 'Đã xảy ra lỗi.',
            message: `Đặt lịch thất bại\n${error.response.data}`,
            type: 'error'
          })
        this.isProcesses = false
      })
    }
  },
  mounted () {
    if (typeof window !== 'undefined') {
      this.dataBooking = JSON.parse(window.localStorage.getItem('dataBooking'))
      if(!this.dataBooking){
        this.$router.push(`/${this.$lang}/booking/${this.$location}`)
      }
      var info = JSON.parse(window.localStorage.getItem('dataBooking2'))
      if(info){
        this.name = info.name
        this.phone = info.phone
        this.detailPosition = info.detaiPosition
        this.position = info.position
        this.note = info.note
      }
      if(this.auth) {
        this.name = this.auth.userFullName
        this.phone = this.auth.userPhone
        this.detailPosition = this.auth.address
        this.accountId = this.auth.id
      }
    }
  }
}
</script>
<style>
.number-phone::-webkit-inner-spin-button,
.number-phone::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
</style>
