<template>
  <booking-layout :activeStep1="true" v-if="!$mobile.isMobile">
    <div slot="left" class="leftslot">
      <span class="step-booking-number">{{stepInfo.title}}</span>
      <h5>{{stepInfo.subTitle}}</h5>
      <span v-html="stepInfo.description"></span>
    </div>
    <div slot="right">
      <div class="right-content">
        <div class="title-booking-form">{{stepInfo.subTitle}}</div>
        <div class="DtInBookingPage bookingHome">
          <div class="location" v-on:click="showListByClick">
            <i class="fa fa-2x fa-map-marker"></i>
            <span class="locati"> {{currentCityBooking}} </span>
            <i class="fa fa-caret-down idownclass"></i>
            <div class="listLocation"
                v-if="showList"
                v-click-outside="closeList">
              <span v-for="location in locations" :key="location.id" @click="city(location.slug)">{{location.name}}</span>
            </div>
          </div>
          <div class="datebooking">
            <no-ssr>
                <date-picker v-model="dateTimePicker" :dtFormat="'DD/MM/YYYY'"
                :mindate="mindate()"
                :defaultDate="newDate"
                :icon="['fa','fa-calendar']"></date-picker>
            </no-ssr>
          </div>
          <div class="timebooking">
            <no-ssr>
                <date-picker v-model="TimePicker" :dtFormat="'HH:mm'"
                :id="'time-picker'"
                :defaultDate="newTime"
                :icon="['fa','fa-clock-o']"></date-picker>
            </no-ssr>
          </div>
        </div>
        <div class="listcategoryBooking">
          <div class="container" style="width: 90%">
            <div class="row row-eq-height form-group">
              <div class="col-md-4 form-group productItem"
                v-for="product in listProduct.products" :key="product.product.id"
                @click="itemClick(product)">
                <div class="serviceCategoryHome" :class="{active: picked==product.product.title}">
                  <div class="box-check"></div>
                  <img v-lazy="(product.product.featureImage ? product.product.featureImage: '/img/nail-image-example.png')"
                       :alt="product.product.title"
                       style="width:100%;"/>
                  <div class="wraper-content">
                    <h5>{{product.product.title}}</h5>
                    <span>{{product.product.shortContent}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-6 col-md-push-3" >
                <div class="tab-service">
                  <span
                      v-for="service in services" :key="service.id"
                      :class="{active: tabChoose==service.title}"
                      class="tabInService"
                      @click="tabClick(service)">
                      {{service.title}}
                  </span>
                </div>
                <p v-for="service in services.filter(o=>o.title==tabChoose)" :key="service.title"
                    class="contentInService">
                    {{service.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-booking clearfix">
          <div class="quantity pull-left">
            <span>{{tran.common_quantity_label}}</span>
            <input type="number" class="form-control" v-model="people" min="1" max="999">
            <span>{{tran.common_people_label}}</span>
          </div>
          <div class="moneyBooking pull-right">
            <label>{{getTotalPrice}}</label>
            <button class="btn btn-default btn-bookingInBooking" type="button" @click="nextScreen" style="text-transform: uppercase;">{{tran.common_booking_label}}</button>
          </div>
        </div>
      </div>
    </div>
  </booking-layout>
  <div class="mobile-booking" v-else>
    <div class="header-mobile-booking">
      <a @click="deleteStore()" style="color:red;cursor: pointer;">
        <i aria-hidden="true" class="fa fa-times returnHome"></i>
      </a>
      <span>{{stepInfo.title}} / 3</span>
      <h5>{{stepInfo.subTitle}}</h5>
    </div>
    <div class="content-mobile-booking step-mobile-one">
      <div class="bookingHome mobileBooking clearfix" style="display:block">
          <div class="location" v-on:click="showListByClick">
            <i class="fa fa-2x fa-map-marker"></i>
            <span class="locati"> {{currentCityBooking}} </span>
            <i class="fa fa-caret-down idownclass"></i>
            <div class="listLocation"
                v-if="showList"
                v-click-outside="closeList">
              <span v-for="location in locations" :key="location.id" @click="city(location.slug)">{{location.name}}</span>
            </div>
          </div>
          <div class="datebooking">
            <no-ssr>
                <date-picker v-model="dateTimePicker" :dtFormat="'DD/MM/YYYY'"
                :mindate="mindate()"
                :defaultDate="newDate"
                :icon="['fa','fa-calendar']"></date-picker>
            </no-ssr>
          </div>
          <div class="timebooking">
            <no-ssr>
                <date-picker v-model="TimePicker" :dtFormat="'HH:mm'"
                :id="'time-picker'"
                :defaultDate="newTime"
                :icon="['fa','fa-clock-o']"></date-picker>
            </no-ssr>
          </div>
        </div>
        <h5 class="chooseSerrviceMobile">{{stepInfo.subTitle}}</h5>
        <div class="container">
          <div class="row">
            <div class="col-md-12 productItem productItemMobile"
                v-for="product in listProduct.products" :key="product.product.id"
                :class="{active: picked==product.product.title}"
                @click.self="itemClick(product)">
                <div class="row">
                  <div class="col-xs-7">
                    <div class="wraper-content">
                      <h5 @click.self="itemClick(product)">{{product.product.title}}</h5>
                      <span>{{product.product.shortContent}}</span>
                    </div>
                  </div>
                  <div class="col-xs-5">
                    <div class="serviceCategoryHome" :class="{active: picked==product.product.title}">
                      <div class="box-check" @click.self="itemClick(product)"></div>
                      <img v-lazy="(product.product.featureImage ? product.product.featureImage: '/img/nail-image-example.png')"
                          :alt="product.product.title"
                          style="width:100%;"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mobile-tabservice">
                  <div class="tab-service">
                    <span
                        v-for="service in services" :key="service.id"
                        :class="{active: tabChoose==service.title}"
                        class="tabInService"
                        @click="tabClick(service)">
                        {{service.title}}
                    </span>
                  </div>
                  <p v-for="service in services.filter(o=>o.title ==tabChoose)" :key="service.id"
                      class="contentInService" style="margin: 10px">
                      {{service.description}}
                  </p>
                </div>
            </div>

          </div>
        </div>
        <div class="mobile-footer-booking clearfix">
          <div class="quantity pull-left">
            <i class="fa fa-plus" aria-hidden="true" @click="pluspeople"></i>
            <i class="fa fa-minus" aria-hidden="true" @click="minuspeople"></i>
          </div>
          <div class="moneyBooking pull-right">
            <div class="infoBookingMobile">
                <span>x{{people}} - {{tran.common_people_label}}</span>
                <label>{{getTotalPrice}}</label>
            </div>
            <button class="btn btn-default btn-bookingInBooking" type="button" @click="nextScreen" style="text-transform: uppercase;">{{tran.common_booking_label}}</button>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import DatePicker from '@/components/pages/home/DatePicker'
import bookingLayout from '@/components/layouts/booking'
import funciton from '@/assets/js/commons/functions'
import productApi from '@/assets/js/api/product'
import gtApi from '@/assets/js/api/grouptext'
import { mapGetters } from 'vuex';
export default {
  layout: 'blank',
  components: {
    bookingLayout,
    DatePicker
  },
  data () {
    return {
      newDate: new Date(),
      newTime: new Date(),
      dateTimePicker: '',
      TimePicker: '',
      picked: '',
      shortContent: '',
      artistId: '',
      featureImage: '',
      tabChoose: '',
      money: 0,
      people: 1,
      productId: '',
      services: [],
      showList: false,
      serviceId: '',
      cityBooking: 'Hồ Chí Minh'
    }
  },
  async asyncData ({store, params, app}) {
    var dataParam = {cateId: 4,page: 1,orderby: 'id',order: 'desc',location: app.location,language: app.lang}
    var getProductByCategoryId = await productApi.getProductByCategoryId(
                                            dataParam.cateId,
                                            dataParam.page,
                                            dataParam.orderby,
                                            dataParam.order,
                                            dataParam.isshowhome,
                                            dataParam.location,
                                            dataParam.language)
    console.log(app.lang)
    var stepInfoData = await gtApi.getGroupTextBySlug('','booking-step-1',app.lang)
    return {
      listProduct: getProductByCategoryId.data,
      stepInfo: stepInfoData.data ? stepInfoData.data.groupText : {}
    }
  },
  computed:{
    getTotalPrice () {
      return funciton.FormatThousand(this.people * this.money, "đ")
    },
    ...mapGetters({
      currentLocation: 'GET_CURRENT_LOCATION',
      locations: 'GET_LOCATIONS'
    }),
    currentCityBooking() {
        return this.locations.filter(e=>e.slug === this.currentLocation)[0].name;
    }
  },
  methods: {
    itemClick (item) {
      this.picked = item.product.title
      this.shortContent = item.product.shortContent
      this.featureImage = item.product.featureImage
      this.services = item.services
      this.artistId = item.product.artistId
      this.productId = item.product.id
      this.tabClick(this.services[0])
    },
    tabClick (service) {
      this.tabChoose = service.title
      this.money = service.price
      this.serviceId = service.id
    },
    stringDateToDate(str){
      return moment(str, 'DD/MM/YYYY').toDate()
    },
    stringTimeToDate(date, time){
      var str = date +" "+ time
      return moment(str, 'DD/MM/YYYY HH:mm').toDate()
    },
    nextScreen() {
      if(this.TimePicker <= moment(new Date()).format("HH:mm")
        && moment(this.dateTimePicker, 'DD/MM/YYYY').toDate() <= new Date()){
        this.showNotification({
          title: 'Đã xảy ra lỗi.',
          message: 'Bạn chưa nhập thời gian hoặc thời gian là quá khứ!',
          type: 'error'
        })
        return
      }
      var dataParam = {
        picked: this.picked,
        shortContent: this.shortContent,
        featureImage: this.featureImage,
        datePicker: this.dateTimePicker,
        timePicker: this.TimePicker,
        people: this.people,
        tabChoose: this.tabChoose,
        TotalPrice: this.getTotalPrice,
        artistId: this.artistId,
        productId: this.productId,
        serviceId: this.serviceId,
        TotalPriceInt: this.people * this.money,
        city: this.currentCityBooking
      }
      if (typeof window !== 'undefined') {
        window.localStorage.setItem('dataBooking', JSON.stringify(dataParam))
        window.localStorage.removeItem('bookingIndex')
        window.localStorage.removeItem('bookingLandingPage')
      }
      this.$router.push(`/${this.$lang}/booking/step-two/${this.$location}`)
    },
    showListByClick: function(e){
      this.showList = !this.showList
    },
    closeList: function() {
      this.showList = false
    },
    city(ct){
      this.cityBooking = this.locations.filter(e=>e.slug===ct)[0].name
      this.$store.commit('SET_CURRENT_LOCATION',ct)

      this.$store.dispatch('getProductTrangDiem',ct).then(rs=> {
        this.listProduct = rs
        this.itemClick(this.listProduct.products[0])
      })

    },
    mindate(){
      return moment(0, "HH")
    },
    deleteStore() {
      window.localStorage.removeItem('bookingIndex')
      window.localStorage.removeItem('bookingLandingPage')
      this.$router.push('/')
    },
    pluspeople(){
      if(this.people < 100) this.people += 1
    },
    minuspeople(){
      if(this.people > 1) this.people -= 1
    }
  },
  mounted() {
    var indexBooking = JSON.parse(window.localStorage.getItem('bookingIndex'))
    if(indexBooking){
      this.cityBooking = indexBooking.location
      this.newDate = this.stringDateToDate(indexBooking.datePicker)
      this.newTime = this.stringTimeToDate(indexBooking.datePicker, indexBooking.timePicker)
    }
    var bookingLandingPage = JSON.parse(window.localStorage.getItem('bookingLandingPage'))
    if(bookingLandingPage) {
      this.picked = bookingLandingPage.picked
      this.shortContent = bookingLandingPage.shortContent
      this.featureImage = bookingLandingPage.featureImage
      this.services = bookingLandingPage.services
      this.tabChoose = bookingLandingPage.tabChoose
      this.productId = bookingLandingPage.productId
      this.money = bookingLandingPage.money
      this.serviceId = bookingLandingPage.serviceId
      if(!bookingLandingPage.change){
        this.tabClick(bookingLandingPage.services[0])
      }
    }
    if(this.picked == ''){
      document.getElementsByClassName('productItem')[0].click()
    }
  }
}

</script>
