<!DOCTYPE html>
<!--[if IE 9]><html lang="vi-VN" class="lt-ie9 ie9" {{ HTML_ATTRS }}><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html {{ HTML_ATTRS }}>
<!--<![endif]-->

<head>
  {{ HEAD }}
  <script type="application/ld+json">
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://glamme.vn",
      "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+84931931000",
      "contactType": "customer service"
      }],
      "address": {
      "@type": "PostalAddress",
      "addressLocality": "Danang, Vietnam",
      "postalCode": "550000",
      "streetAddress": "108 Nui Thanh, Hoa Cuong Bac, Hai Chau"
      },
      "email": "hi(at)glamme.vn",
      "name": "Glampy (glamme.vn)",
      "logo" : "https://glamme.vn/Content/Images/glampy-logo.png",
      "sameAs" : [ "https://www.facebook.com/glamme.vn"]
      }
  </script>
  <script type="application/ld+json">
          {
          "@context": "http://schema.org",
          "@type": "NewsArticle",
          "mainEntityOfPage": "https://glamme.vn/page/chinh-sach-su-dung.html",
          "headline": "Chính sách sử dụng",
          "datePublished": "2017-02-08T10:21:51Z",
          "dateModified": "2017-02-08T10:21:51Z",
          "description": "",
          "author": {
          "@type": "Person",
          "name": "Phạm Xuân Diệu"
          },
          "publisher": {
          "@type": "Organization",
          "name": "Glampy",
          "logo": {
          "@type": "ImageObject",
          "url": "https://glamme.vn/Content/Images/glampy4002.png"
          }
          },
          "image": {
          "@type": "ImageObject",
          "url": "",
          "height": 1280,
          "width": 720
          }
          }
      </script>
</head>

<body {{ BODY_ATTRS }}>
  <div id="fb-root"></div>
  {{ APP }}
</body>

</html>
