<template>
   <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
    <no-ssr>
      <media-photo></media-photo>
    </no-ssr>
  </footer>
</template>

<script>
import MediaPhoto from '@/components/ui-kits/media-form'

export default {
  components:{
    MediaPhoto
  }
}
</script>
