<template>
  <dich-vu-mobile
      :item="item"
      :listProduct="listProduct"
      v-if="$mobile.isMobile" />
  <div v-else class="langding-page-service">
    <section class="landing-header" :style="{background: item.url}">
        <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-push-2">
                <h1 class="landing-header-title">{{item.title}}</h1>
                <div class="landing-header-desc" v-html="item.description"></div>
              </div>
            </div>
        </div>
    </section>
    <section class="landing-block" style="background: #F8F8F8">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="listProductPageLanding" v-if="listProduct.products.length">
              <div class="productDetailPage"
                        v-for="product in listProduct.products"
                        :key="product.product.id"
                        :class="{active: picked==product.product.title}"
                        @click="itemClick(product)">
                <h5>
                  {{product.product.title}}
                  <div class="plus-minus-toggle pull-right" :class="{plus: picked!==product.product.title }"></div>
                </h5>
                <div v-html="product.product.content" class="productContentPage"></div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="listservicePageLanding">
               <transition-group name="serviceDetailPage" tag="div">
                <div class="serviceDetailPage"
                          v-for="product in listProduct.products.filter(e=>e.product.title==picked)"
                          :key="product.product.id">
                    <img v-lazy="(product.product.featureImage ? product.product.featureImage: '/img/nail-image-example.png')"
                         :alt="product.product.title" style="width:100%;">
                    <span class="productShort">{{product.product.shortContent}}</span>
                    <div class="tab-service">
                      <span
                        v-for="service in services" :key="service.id"
                        :class="{active: tabChoose==service.title}"
                        class="tabInService"
                        @click="tabClick(service)">
                        {{service.title}}
                      </span>
                    </div>
                    <div v-for="service in services.filter(e=>e.title===tabChoose)" :key="service.title"
                        class="contentInServicePage">
                        <p>{{service.description}}</p>
                        <div class="elementService">
                          <label>{{tran.common_time_label}}: </label> <span>{{service.time}} {{tran.common_minute_label}}</span>
                        </div>
                        <div class="elementService">
                          <label>{{tran.common_price_label}}: </label> <span>{{getTotalPrice(service.price)}}</span>
                        </div>
                    </div>
                    <button class="btn btn-bookingInLandingPage" @click="toBooking" style="text-transform: uppercase;">{{tran.common_booking_label}}</button>
                </div>
              </transition-group>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import DichVuMobile from '@/components/mobile/dichvu/index'
import gtApi from '@/assets/js/api/grouptext'
import funciton from '@/assets/js/commons/functions'
import productApi from '@/assets/js/api/product'
const slug = 'landing-page-dich-vu'
export default {
  layout: 'master',
  components: {
    DichVuMobile
  },
  data () {
    return {
      picked: '',
      tabChoose: '',
      services: [],
      money: '',
      shortContent: '',
      featureImage: '',
      productId: '',
      change: false,
      serviceId: ''
    }
  },
  async asyncData ({store, params, app}) {

    var rs = await gtApi.getGroupTextBySlug('',slug, app.lang)
    var dataParam = {cateId: 4,page: 1,orderby: 'id',order: 'desc',location: app.location,language: app.lang}
    var getProductByCategoryId = await productApi.getProductByCategoryId(
                                            dataParam.cateId,
                                            dataParam.page,
                                            dataParam.orderby,
                                            dataParam.order,
                                            dataParam.isshowhome,
                                            dataParam.location,
                                            dataParam.language)
      return {
          item: rs.data.groupText,
          listProduct: getProductByCategoryId.data
      }
  },
  methods: {
    itemClick (item) {
      this.picked = item.product.title
      this.productId = item.product.id
      this.shortContent = item.product.shortContent
      this.services = item.services
      this.featureImage = item.product.featureImage
      this.change = true
      this.tabClick(item.services[0])
    },
    tabClick(item) {
      this.tabChoose = item.title
      this.money = item.price
      this.serviceId = item.id
    },
    getTotalPrice (price) {
      return funciton.FormatThousand(price, "đ")
    },
    toBooking() {
      var bookingIndex = {
        picked: this.picked,
        shortContent: this.shortContent,
        featureImage: this.featureImage,
        services: this.services,
        tabChoose: this.tabChoose,
        money: this.money,
        productId: this.productId,
        change : this.change,
        serviceId: this.serviceId
      }
      window.localStorage.setItem('bookingLandingPage',JSON.stringify(bookingIndex))
      window.localStorage.removeItem('serviceIndex')
      this.$router.push('/booking')
    }
  },
  mounted () {
    var serviceIndex = JSON.parse(window.localStorage.getItem('serviceIndex'))
    if(serviceIndex){
      this.picked = serviceIndex.picked
      this.shortContent = serviceIndex.shortContent
      this.featureImage = serviceIndex.featureImage
      this.services = serviceIndex.services
      this.tabClick(this.services[0])
    }
    if(this.picked == ''){
      document.getElementsByClassName('productDetailPage')[0].click()
    }
  },
  head () {
    return {
      title: this.listProduct.category.seoTitle,
      meta: [
        { hid: 'description', name: 'description', content: this.listProduct.category.seoDescription }
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.seoHome.seoUrl }]
    }
  }
}
</script>

<style scoped>
  /* base */
  .serviceDetailPage {
    backface-visibility: hidden;
    z-index: 1;
  }

  /* moving */
  .serviceDetailPage-move {
    transition: all 600ms ease-in-out 50ms;
  }

  /* appearing */
  .serviceDetailPage-enter-active {
    transition: all 400ms ease-out;
  }

  /* disappearing */
  .serviceDetailPage-leave-active {
    transition: all 200ms ease-in;
    position: absolute;
    z-index: 0;
    left: 0;
    width: 90%;
  }

  /* appear at / disappear to */
  .serviceDetailPage-enter,
  .serviceDetailPage-leave-to {
    opacity: 0;
  }
  /*collapse*/
  .plus-minus-toggle{
    cursor: pointer;
    height: 21px;
    position: relative;
    width: 21px;
  }
  .plus-minus-toggle:before,
  .plus-minus-toggle:after{
      background: #000;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }
  .plus-minus-toggle:after {
      transform-origin: center;
    }
  .plus-minus-toggle.plus::after {
    transform: rotate(90deg);
  }
  .plus-minus-toggle.plus::before{
    transform: rotate(180deg);
  }
</style>
