<template>
  <nav class="blog-nav">
      <div class="container">
        <ul class="blog-nav-container">
            <li v-for="menu in blogMenuItems" :key="menu.id">
                <h4>
                    <nuxt-link :to="getCategoryPath(menu.objectSlug)">{{menu.name}}</nuxt-link>
                </h4>
            </li>
        </ul>
      </div>
  </nav>
</template>
<script>
import {mapGetters} from 'vuex'
import func from '@/assets/js/commons/functions'
export default {
    name: 'blog-navigation',
    data () {
        return {
          // blogMenuItems: {}
      }
    },
    computed: {
      ...mapGetters({
        blogMenuItems: 'getBlogMenuItems',
        lang:'GET_CURRENT_LANG'
      })
    },
    methods: {
        getCategoryPath (slug) {
            return func.genBlogCategoryPath(slug,this.lang)
        }
    }
}
</script>
<style lang="scss" scoped>
$color-green : #39ccd6;
.blog-nav {
    background: #f9f9f9;
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.blog-nav .blog-nav-container {
    display: block;
    margin:0;
    padding:0;
    text-align: center;
}
.blog-nav .blog-nav-container > li {
    display: inline-block;
}
.blog-nav .blog-nav-container > li > h4 {
    margin:0;padding:0;
    font-size: 12px;
}
.blog-nav .blog-nav-container > li > h4 >a {
    display: block;
    padding: 7px 20px;
    font-size: 14px;
    color: #555;
    border-right: 1px dotted #ccc;
}
.blog-nav .blog-nav-container > li:last-child > h4 >a {
    border:0;
}
.blog-nav .blog-nav-container > li > h4 >a.router-link-exact-active {
    color: $color-green;
}
</style>
