<template>
  <nav class="header-nav">
      <ul class="header-nav-container">
          <li v-for="menu in listMenuDetails" :key="menu.id">
              <a v-if="menu.objectType=='custom-link' && menu.objectSlug.indexOf('http')!=-1" :href="menu.objectSlug"><h2>{{menu.name}}</h2></a>
              <router-link  v-else  :to="getlink(menu.objectSlug, menu.objectType, lang)"><h2>{{menu.name}}</h2></router-link>
          </li>
      </ul>
  </nav>
</template>

<script>
import {mapGetters} from 'vuex'
import func from '@/assets/js/commons/functions'
export default {
  name: 'header-navigation',
  data () {
    return {
      abc: ''
    }
  },
  computed: {
    ...mapGetters({
      headerMenus: 'GET_HEADER_MENU',
      lang: 'GET_CURRENT_LANG'
    }),
    listMenuDetails () {
      return this.headerMenus.menuDetails
    }
  },
  methods: {
    getlink (link,type) {
      return func.getLink(link,type, this.lang)
    }
  },
  beforeCreate () {

  },
  mounted () {

  }
}
</script>
