<template>
    <div class="header-registration-info">
        <div v-if="isLogin">
            Login
        </div>
        <div v-else>
            <i class="fa fa-user"></i> 
            <nuxt-link :to="{name: 'RegisterPage'}">Đăng ký</nuxt-link> /
            <nuxt-link :to="{name: 'LoginPage'}">Đăng nhập</nuxt-link>
        </div>
    </div>
</template>
<script>
import '@/assets/css/components.scss'
export default {
  name: 'header-registration-info',
  data () {
      return {
          isLogin: false
      }
  }
}
</script>
<style scoped>

</style>
