<template>
  <form class="" id="header-search">
    <div class="input-group">
        <select class="form-control" v-model="search.location">
            <option value="da-nang">Đà Nẵng</option>
            <option value="ho-chi-minh">Hồ Chí Minh</option>
            <option value="ha-noi">Hà Nội</option>
        </select>   
        <input class="form-control" v-model="search.keyword" placeholder="Tìm kiếm dịch vụ">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div>
  </form>
</template>
<script>
import '@/assets/css/components.scss'
export default {
  name: 'header-search',
  data () {
    return {
      search: {
        location: 'ho-chi-minh',
        keyword: ''
      }
    }
  }
}
</script>
