<template>
  <login-modal
    v-if="$store.state.showLoginModal"
    @close="closeLoginModal"
    :size="'custom'"
    :width="'360px'"
    class="modal-login"
    :mbwidth= "'90%'"
    :showfooter="false"
    :showheader="false"
    >
      <div slot="body" class="login-box" v-click-outside="closeLoginModal"
            :class="{'login-box-mobile':$mobile.isMobile}">
          <button @click="closeLoginModal" type="button" class="btn-close-login-modal"><i class="fa fa-close"></i></button>
          <div class="login-box-header">
              <img src="/img/glamme_logo.png" class="logo" alt="Glamme" />
          </div>
          <div class="box-login-body">
              <div class="tabs">
                  <div :class="{'tab-item': true, 'cs_pointer': true, active: tabActive=='login'}" @click="tabActive='login'">{{lg.common_login_label}}</div>
                  <div :class="{'tab-item': true, 'cs_pointer': true, active: tabActive=='register'}" @click="tabActive='register'">{{lg.common_register_label}}</div>
              </div>
              <div class="tab-content">
                  <div class="login" v-if="tabActive=='login'">
                      <form @submit="login" >
                          <div class="form-group">
                                <input type="email" :required="true" v-model="formData.email" class="input-login" :placeholder="lg.login_email_placeholder" />
                                <input type="password" v-model="formData.password" class="input-login" :placeholder="lg.login_password_placeholder" />
                          </div>
                          <div class="row login-action">
                              <div class="col-md-6"><label class="btn-label"><input type="checkbox" v-model="formData.remember"> Remember me</label></div>
                              <div class="col-md-6"><button type="submit" class="btn-login" :disabled="isSubmit"><i class="fa fa-spinner fa-spin" v-if="isSubmit"></i> {{isSubmit ? 'Processing': lg.common_login_label}}</button></div>
                          </div>
                      </form>
                  </div>
                  <div class="register" v-if="tabActive=='register'">
                      <form @submit="register">
                          <div class="form-group">
                                <input type="text" :required="true" v-model="formData.name" class="input-login" :placeholder="lg.login_name_placeholder" />
                                <input type="email" :required="true" v-model="formData.email" class="input-login" :placeholder="lg.login_email_placeholder" />
                                <input type="password" v-model="formData.password" class="input-login" :placeholder="lg.login_password_placeholder" />
                                <input type="password" v-model="formData.repassword" class="input-login" :placeholder="lg.login_repassword_placeholder" />
                          </div>
                          <div class="form-group">
                              <a href="/page/chinh-sach-su-dung.html" target="_blank">{{lg.login_policy_text}}</a>
                          </div>
                          <div class="row login-action">
                              <div class="col-md-6"><label class="btn-label"><input type="checkbox" v-model="formData.agreeTerm"> {{lg.login_agree_policy}}</label></div>
                              <div class="col-md-6"><button type="submit" class="btn-login" :disabled="isSubmit"><i class="fa fa-spinner fa-spin" v-if="isSubmit"></i> {{isSubmit ? 'Processing': lg.common_register_label}}</button></div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="social-login">
                  <div class="title">{{lg.common_login_with}}</div>
                  <div class="fb-btn cs_pointer" @click="loginFacebook">Facebook</div>
              </div>
          </div>
      </div>
  </login-modal>
</template>

<script>
import CommonsMixin from '@/assets/js/mixins/commons'
import LoginModal from '@/components/ui-kits/modal'
import AuthenApi from '@/assets/js/api/client-authen'
import BookingApi from '@/assets/js/api/booking'
import {mapGetters} from 'vuex'
import {POST_PER_PAGE} from '@/assets/js/commons/constants'
export default {
    mixins: [CommonsMixin],
    data () {
        return {
            tabActive: 'login',
            isSubmit: false,
            formData: {
                name: '',
                email: '',
                password: '',
                repassword: '',
                remember: false,
                agreeTerm: false
            }
        }
    },
    components: {
        LoginModal
    },
    computed: {
      ...mapGetters({
          statusType: 'GET_BOOKING_HISTORY_TYPE',
          lg: 'GET_TRANSLATE'
      })
    },
    methods: {
        login (e) {
            e.preventDefault()
            this.isSubmit = true
            AuthenApi.login('',{
                email: this.formData.email,
                password: this.formData.password
            }).then((rs)=> {
                this.$setAuthToken(rs.data.token, {expires: this.setDateExpire(rs.data.expTokenDate)});
                this.$setAuthRefreshToken(rs.data.refreshToken,
                                          {expires: this.setDateExpire(rs.data.expRefreshTokenDate)})
                AuthenApi.getCurrentUser(rs.data.token).then((us)=> {
                    this.$store.commit('SET_AUTH',us.data)
                    BookingApi.GetBookingByCurrentACcount(rs.data.token,1, POST_PER_PAGE, this.statusType).then(listBK => {
                      this.$store.commit('SET_LISTBOOKINGHISTORY',listBK.data)
                      if(listBK.meta.totalPage <= 1){
                        this.$store.commit('SET_BOOKING_LOADMORE', false)
                      }
                      else{
                        this.$store.commit('SET_BOOKING_LOADMORE', true)
                      }
                    })
                    this.closeLoginModal()
                    this.isSubmit = false
                })
              }).catch((error) => {
                alert(`Đăng nhập thất bại:\n${error.response.data}`)
                this.isSubmit = false
            })
        },
        register (e) {
            e.preventDefault()
            var err = '';
            if(!this.formData.name) err+='- Tên không được để trống \n'
            if(!this.formData.email) err+='- Email không được để trống \n'
            if(!this.formData.password) err+='- Password không được để trống \n'
            if(this.formData.password !== this.formData.repassword) err+= '- Xác nhận mật khẩu không đúng \n'
            if(!this.formData.agreeTerm) err+='- Bạn chưa đồng ý với chính sách sử dụng dịch vụ\n'
            if(err!='') {
                alert(`Đã xảy ra lỗi:\n${err}`)
                return;
            }
            var registerData = {
                FacebookId: "",
                FacebookUrl: "",
                UserEmail: this.formData.email,
                UserPassword: this.formData.password,
                UserFullName: this.formData.name,
                Avatar: "",
                UserPhone: "",
                UserTitle: "",
                Birthday: "",
                Province: "",
                District: "",
                Ward: "",
                Address: "",
                UserGender: "U"
            }
            this.isSubmit = true
            AuthenApi.register('',registerData).then((rs)=> {
                alert('Đăng ký thành công\nĐăng nhập để sử dụng dịch vụ')
                this.tabActive = 'login'
                this.isSubmit = false
            }).catch((error) => {
                alert(`Đăng ký thất bại:\n${error.response.data}`)
                this.isSubmit = false
            })
        },
        loginFacebook(e) {
            let self = this
            FB.login(function (response) {
              if (response.authResponse) {
                  //access_token = response.authResponse.accessToken; //get access token
                  //user_id = response.authResponse.userID; //get FB UID
                  FB.api('/me',
                      { fields: "id,age_range,picture,email,first_name,gender,hometown,link,middle_name,name" }
                      , function (response) {
                          var data = {
                              facebookId: response.id,
                              avatar: "https://graph.facebook.com/" + response.id + "/picture?type=large",
                              userEmail: response.email ? response.email: response.id+'@glamme.vn',
                              address: "",
                              userPassword: '',
                              userFullName: response.name,
                              facebookUrl: response.link,
                              userGender: response.gender,
                              userPhone: '',
                              userTitle: '',
                              birthday: '',
                              district: '',
                              province: '',
                              ward: ''
                          };
                          AuthenApi.loginFacebook('',data).then((rs)=> {
                              self.$setAuthToken(rs.data.token, {expires: self.setDateExpire(rs.data.expTokenDate)});
                              self.$setAuthRefreshToken(rs.data.refreshToken,
                                          {expires: self.setDateExpire(rs.data.expRefreshTokenDate)})
                              AuthenApi.getCurrentUser(rs.data.token).then((us)=> {
                                  self.$store.commit('SET_AUTH',us.data)
                                  BookingApi.GetBookingByCurrentACcount(rs.data.token,1, POST_PER_PAGE, self.statusType).then(listBK => {
                                    self.$store.commit('SET_LISTBOOKINGHISTORY',listBK.data)
                                    if(listBK.meta.totalPage <= 1){
                                      self.$store.commit('SET_BOOKING_LOADMORE', false)
                                    }
                                    else{
                                      self.$store.commit('SET_BOOKING_LOADMORE', true)
                                    }
                                  })
                                  self.closeLoginModal()
                              })
                          })
                      });
              } else {
                  //user hit cancel button
                  console.log('User cancelled login or did not fully authorize.');
              }
          },
          {
            scope: 'public_profile,email,user_likes,user_hometown'
          });
        },
        setDateExpire(date){
          var dateTime = new Date()
          dateTime.setDate(dateTime.getDate() + date)
          return dateTime
        }
    },
    mounted () {
      document.body.addEventListener('keyup', e => {
        if (e.keyCode === 27) {
          this.closeLoginModal()
        }
      })
    }
}
</script>

<style scoped>
.login-box {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
.login-box .logo {
    display: block;
    margin: 10px auto;
    max-height: 90px;
    width: auto;
}
.login-box .tabs {
    display: block;
    text-align: center;
}
.login-box .tabs > .tab-item {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 20px;
    border-bottom: 4px solid transparent;
    color: #777;
    font-weight: 600;
}
.login-box.login-box-mobile .tabs > .tab-item{
  padding: 5px 10px;
  margin: 0 5px;
}
.login-box .tabs > .tab-item.active {
    border-color: #FFC708;
    color: #333;
}
.login-box .social-login {
    margin: 10px 0;
}
.login-box .social-login > .title {
    text-align: center;
    color: #505050;
}
.login-box .social-login > .fb-btn {
    display: block;
    background: #3FA0E9;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0;
    border-radius: 30px;
    margin-top: 20px;
}
.login-box .tab-content {
    padding: 10px 33px;
    width: 120%;
    position: relative;
    margin: 0 auto;
    background: #fff;
    left: -10%;
    border: 1px solid #eee;
}
.login-box .input-login {
    border:0;
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
}
/* .login-box .input-login:last-child {
    border-bottom:0;
} */
.input-login::-webkit-input-placeholder {
   text-align: center;
}

.input-login:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

.input-login::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

.input-login:-ms-input-placeholder {
   text-align: center;
}
.login-box .login-action {
    margin-top: 25px;
}
.login-box .btn-login {
    display: block;
    width: 100%;
    border:0;
    background: #FFC708;
    padding: 15px 0;
    text-align: center;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
}
.login-box .btn-label {
    position: relative;
    top: 15px;
    margin-bottom: 15px;
}
.login-box .btn-close-login-modal {
    position: absolute;
    right:-25px;
    top:-35px;
    width: 26px;
    height: 26px;
    border:0;
    border-radius: 50%;
    background: rgba(0,0,0,1);
    color: #fff;
}
</style>
