<template>
<div>
  <notify-modal v-if="$store.state.showNotifyModal" :size="'custom'" :showheader="false" :showfooter="false" :width="'40%'">
      <div slot="body" class="notify-body" v-click-outside="closeNotifyModal">
        <button @click="closeNotifyModal" type="button" class="btn-close-notify-modal"><i class="fa fa-close"></i></button>
        <img :src="image" :alt="''" />
        <p v-if="grouptext" v-html="grouptext.description"></p>
      </div>
  </notify-modal>


  <location-modal v-if="$store.state.showLocationModal" :size="'sm'" :showheader="false" :showfooter="false" >
      <div slot="body" class="notify-location-body" v-click-outside="handleCLoseLocationModal">
        <button @click="handleCLoseLocationModal" type="button" class="btn-close-location-modal"><i class="fa fa-close"></i></button>
        <h4 class="text-center">CHỌN KHU VỰC CỦA BẠN</h4>
        <div class="text-center">
            <span v-for="location in locations" :key="location.id" style="margin-bottom: 10px; display: block;">
              <button class="btn btn-primary btn-block" @click="setLocation(location.slug)">{{location.name}}</button>
            </span>
        </div>
      </div>
  </location-modal>
</div>

</template>

<script>
import NotifyModal from '@/components/ui-kits/modal'
import LocationModal from '@/components/ui-kits/modal'
import gtApi from '@/assets/js/api/grouptext'
import CommonsMixin from '@/assets/js/mixins/commons'
import { mapGetters } from 'vuex';
export default {
  mixins: [CommonsMixin],
  data() {
    return {
      grouptext: null,
      image: '',
    }
  },
  components: {
    NotifyModal,
    LocationModal
  },
  computed: {
    ...mapGetters({
      currentLocation: 'GET_CURRENT_LOCATION',
      locations: 'GET_LOCATIONS'
    })
  },
  methods: {
    handleSiteNotify() {
      gtApi.getGroupTextBySlug('','site-notification').then(rs=> {
        this.grouptext = rs.data.groupText
        this.image = rs.data.groupText.image
        if(this.grouptext.url==='show') {
          this.showNotifyModal();
        }
      })
    },
    setLocation(location) {
        this.closeLocationModal();
        this.$cookies.set('location',location);
        this.$store.commit('SET_CURRENT_LOCATION',location)
        this.$router.push('/'+location)
        this.handleSiteNotify();
    },
    handleCLoseLocationModal() {
      if(!this.$cookies.get('location')) {
          this.$cookies.set('location',this.currentLocation);
          //this.$router.push(`/${this.currentLocation}`)
      }
      this.closeLocationModal();
      this.handleSiteNotify();
    }
  },
  mounted() {
    if(this.$cookies.get('location')) {
      this.$store.commit('SET_CURRENT_LOCATION',this.$cookies.get('location'))
      this.handleSiteNotify();
    } else {
      this.showLocationModal();
      //this.setLocation('ho-chi-minh')
    }

  },
}
</script>

<style scoped>
  .notify-body img {
    display: block;
    margin:0 auto;padding:0;
    width: 100%;
    height: auto;

  }
  .btn-close-notify-modal {
    position: absolute;
    right:-10px;
    top:-10px;
    width: 26px;
    height: 26px;
    border:0;
    border-radius: 50%;
    background: rgba(0,0,0,1);
    color: #fff;
}
.notify-location-body img {
    display: block;
    margin:0 auto;padding:0;
    width: 100%;
    height: auto;

  }
  .btn-close-location-modal {
    position: absolute;
    right:-10px;
    top:-10px;
    width: 26px;
    height: 26px;
    border:0;
    border-radius: 50%;
    background: rgba(0,0,0,1);
    color: #fff;
}
</style>
