<template>
  <div class="header-nav-wrapper">
      <div class="container">
        <header-menu></header-menu>
      </div>
  </div>
</template>

<script>
import HeaderMenu from "./HeaderNavigation";
export default {
  components: {
    HeaderMenu
    // HeaderRegistrationInfo
  },
}
</script>

<style>
.header-nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:1071;
  background: #54949f!important;
  border:0;
}
</style>
