<template>
  <footer id="footer">
    <div class="container">
      <div class="row ">
        <div class="footer">
          <div class="col-md-4">
            <div class="logo-footer hidden-xs">
              <img src="/img/glamme_logo.png" alt="logo"/>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-6">
              <div class="service-footer">
                <h5>{{tran.footer_service_title}}</h5>
                <ul id="service-footer">
                  <li v-for="product in ListProduct.products" :key="product.product.id">
                    <a @click="GoBookingPage(product)" style="cursor: pointer">{{product.product.title}}</a>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="service-footer">
                <h5>{{tran.footer_glamme_title}}</h5>
                <ul id="service-footer">
                  <li v-for="menu in glammeMenus" :key="menu.id">
                    <router-link :to="getlink(menu.objectSlug, menu.objectType)">{{menu.name}}</router-link>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-5 col-xs-12 text-right">
              <div class="service-footer">
                <h5>{{tran.footer_contact_title}}</h5>
                <span class="email-footer"><strong style="font-size: 14px;">E:</strong> HI@GLAMME.VN</span>
                <span class="phone-footer"><strong style="font-size: 14px;">HOTLINE:</strong> 0931 931 000</span>
              </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:10px;margin-bottom:20px;" >
        <div class="col-md-4" v-if="!$mobile.isMobile">
          <label>{{tran.footer_subscribe_title}}</label>
          <div class="input-footer">
            <input type="text" :placeholder="tran.footer_subscribe_placeholder" class="form-control" v-model="subscribeEmail" v-on:keyup.enter="submit">
          </div>
        </div>
        <div class="col-md-3" v-if="!$mobile.isMobile">
          <div class="social-footer" style="margin-top:30px;">
              <nuxt-link to="/"><i class="fa fa-facebook"></i></nuxt-link>
              <nuxt-link to="/"><i class="fa fa-twitter"></i></nuxt-link>
              <nuxt-link to="/"><i class="fa fa-pinterest-p"></i></nuxt-link>
            </div>
        </div>
        <div class="col-md-5 text-right">
          <div class="language-bar form-group">
            <label>{{tran.common_language_label}}</label> :
            <nuxt-link :to="getLanguageRoute(language.slug)" v-for="language in languages" :key="language.slug" class="language-item" style="margin-left: 10px;">{{language.name}}</nuxt-link>

          </div>
          <span id="copyright">GLAMME-COPYRIGHT {{year}}</span>
        </div>
      </div>
    </div>
    <no-ssr>
      <div v-if="!isRegisterArtist">
        <div v-if="!$mobile.isMobile">
          <fb-chat v-if="isFbChat"></fb-chat>
        </div>
        <div v-else>
          <a href="tel:0931931000" class="call-button">
            <span><i class="fa fa-phone" aria-hidden="true"></i> Call Us</span>
          </a>
        </div>
      </div>
    </no-ssr>
    <no-ssr>
      <login-modal></login-modal>
    </no-ssr>
  </footer>
</template>
<script>
import {mapGetters} from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import userApi from '@/assets/js/api/user'
import func from '@/assets/js/commons/functions'
import LoginModal from '@/components/commons/LoginModal'
import FbChat from '@/components/ui-kits/fb-chat'
import languageApi from '@/assets/js/api/language'
import productApi from '@/assets/js/api/product'
import menuApi from '@/assets/js/api/menu'
export default {
  components: {
    LoginModal,
    FbChat
  },
  data () {
    return {
      year: new Date().getFullYear(),
      subscribeEmail: '',
      isFbChat: true,
      isRegisterArtist: false,
      languages: [],
      ListProduct: {},
      glammeMenus: []
    }
  },
  validations: {
    subscribeEmail: {
      required,
      email
    }
  },
  notifications: {
    showNotification: { // You can have any name you want instead of 'showLoginError'
      title: '',
      message: '',
      type: '', // You also can use 'VueNotifications.types.error' instead of 'error'
      timeout: 3000
    }
  },
  watch: {
    '$route' (to, from) {
      if(to.path.indexOf('/booking') > -1){
        this.isFbChat = false
      }
    },
    '$lang' (nv,old) {
      this.getMenuFooter()
    }
  },
  computed: {

  },
  methods: {
    getlink (slug, type) {
      return func.getLink(slug,type)
    },
    submit() {
      if(!this.$v.$invalid) {
        var data = {
          url: this.$route.path,
          subscribeClick: 'footer',
          subsEmail: this.subscribeEmail
        }
        userApi.postSubscribeEmail(data).then(rs=> {
            this.showNotification({
              title: 'Đăng ký thành công',
              message: 'Chúng tôi sẽ gữi đền bạn những thông tin mới nhất!',
              type: 'success'
            })
          }).catch(err => {
            this.showNotification({
              title: 'Email này đã được đăng ký',
              message: 'Chúng tôi sẽ gữi đền bạn những thông tin mới nhất!',
              type: 'warn'
            })
          })
        this.clearForm()
      } else {
        this.showNotification({
          title: 'Đăng ký thất bại',
          message: 'Kiểm tra lại địa chỉ email!',
          type: 'error'
        })
      }
    },
    clearForm () {
      this.subscribeEmail = ''
    },
    GoBookingPage (product) {
      var serviceIndex = {
        picked: product.product.title,
        shortContent: product.product.shortContent,
        featureImage: product.product.featureImage,
        services: product.services
      }
      window.localStorage.setItem('serviceIndex',JSON.stringify(serviceIndex))
      this.$router.push(`/${this.$lang}/services/${this.$location}`)
    },
    getMenuFooter() {
      var dataParam = {cateId: 4,page: 1,orderby: 'id',order: 'desc',location: this.$location,language: this.$lang}
      productApi.getProductByCategoryId(
                                              dataParam.cateId,
                                              dataParam.page,
                                              dataParam.orderby,
                                              dataParam.order,
                                              dataParam.isshowhome,
                                              dataParam.location,
                                              dataParam.language).
                                              then(rs=> {
                                                this.ListProduct = rs.data
                                              })
      menuApi.getMenuItemsByMenuId(5,this.$lang).then(rs=> {
        this.glammeMenus = rs.menuDetails
      })
    },
    getLanguageRoute(slug) {
      var currentUrl = this.$route.fullPath
      var data = currentUrl.split('/')
      var findLang = false;
      for(var i=0; i< this.languages.length;i++) {
        var item = this.languages[i];
        if(data[1]===item.slug) {
          data[1] = slug
          findLang = true
          break;
        }
      }
      if(findLang) {
        return `/${data.join('/')}`.replace('//','/')
      }
      return `/${slug}/${currentUrl}`.replace('//','/')
    }
  },
  beforeMount () {
    if(this.$route.path === '/tro-thanh-artist') {
      this.isRegisterArtist = true
    }
    languageApi.getLanguage().then(rs=> {
        this.languages = rs.data.data
    })
    this.getMenuFooter();
  }
}
</script>
