<template>
    <header id="header">
      <div class="container">
        <div class="row" style="margin:0;">
          <div class="col-md-2 text-left">
            <a href="https://glamme.vn">
              <div class="glamme_logo" style="background-image: url('/img/glamme_logo.png');"></div>
            </a>
          </div>
          <div class="col-md-3">
            <span class="location-selector">
              <select
                class="form-control location-select"
                v-model="selectedLocation"
                @change="locationChange(selectedLocation)"
              >
                <option
                  v-for="location in locations"
                  :key="location.id"
                  :value="location.slug"
                >{{location.name}}</option>
              </select>
            </span>
          </div>
          <div class="col-md-7 text-right" style="padding-right: 0">
            <div class="header-info-right">
              <span
                class="login-btn"
                v-if="!auth"
                @click="showLoginModal"
              >{{tran.common_login_label}}</span>
              <span class="user-info" v-else>
                <span class="avatar avatar-image" v-if="auth.avatar">
                  <img :src="auth.avatar" :alt="auth.userFullName">
                </span>
                <span class="avatar" v-else>
                  <span class="avatar-icon">
                    <i class="fa fa-user"></i>
                  </span>
                </span>
                <ul class="user-info-detail">
                  <li>
                    <nuxt-link to="/tai-khoan">{{auth.userFullName}}</nuxt-link>
                  </li>
                  <li>
                    <nuxt-link to="/lich-hen">{{tran.common_booking_history_label}}</nuxt-link>
                  </li>
                  <li>
                    <span class="cs_pointer" @click="logout">{{tran.common_logout_label}}</span>
                  </li>
                </ul>
              </span>
              <!-- <nuxt-link :to="`/${lang}/booking`" class="button-header" style="background: #FFC708;color:#fff;padding: 15px;text-transform: uppercase;">{{tran.common_booking_label}}</nuxt-link> -->
            </div>
          </div>
        </div>
      </div>
    </header>
</template>
<script>
import CommonsMixin from "@/assets/js/mixins/commons";
import { mapGetters } from "vuex";
import locationApi from "@/assets/js/api/location";
export default {
  name: "site-header",
  mixins: [CommonsMixin],
  watch: {
    currentLocation(oldVal, newVal) {
      this.selectedLocation = oldVal;
      this.locationChange(oldVal);
    }
  },
  data() {
    return {
      item: {},
      selectedLocation: "ho-chi-minh"
    };
  },
  methods: {
    logout() {
      this.$removeAuthToken();
      this.$store.commit("REMOVE_AUTH");
    },
    locationChange(location) {
      this.$cookies.set("location", location);
      this.$store.commit("SET_CURRENT_LOCATION", location);
      this.$router.push(`/${this.lang}/${location}`);
    }
  },
  computed: {
    ...mapGetters({
      auth: "GET_AUTH",
      currentLocation: "GET_CURRENT_LOCATION",
      locations: "GET_LOCATIONS",
      lang: "GET_CURRENT_LANG",
      location: "GET_CURRENT_LOCATION"
    }),
    homeUrl() {
      if (this.lang) {
        return `/${this.lang}/${this.location}`;
      }
      return `/${this.location}`;
    }
  },
  mounted() {
    this.selectedLocation = this.currentLocation;
  }
};
</script>
<style lang="scss" scoped>
.user-info {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding: 0 50px;
}
.user-info .avatar {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  top: 10px;
}
.user-info .avatar > img,
.user-info .avatar > .avatar-icon {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
}
.user-info .avatar-icon {
  font-size: 35px;
  background: #f2f2f2;
  text-align: center;
}
.user-info > .user-info-detail {
  border: 1px solid #ebebeb;
  position: absolute;
  top: 52px;
  right: -15px;
  width: 186px;
  background: #fff;
  padding: 0 10px;
  list-style: none;
  text-align: center;
  text-transform: none;
  display: none;
}
.user-info > .user-info-detail > li {
  padding: 10px;
  border-bottom: 1px dotted #eee;
}
.user-info > .user-info-detail > li a {
  color: #333;
}
.user-info > .user-info-detail > li:last-child {
  border: 0;
}
.user-info:after {
  display: block;
  content: "";
  position: absolute;
  height: 30px;
  width: 100px;
  background: transparent;
  right: 0;
}
.user-info:hover > .user-info-detail {
  display: block;
}
.header-info-right {
  display: flex;
  width: 100%;
  height: 60px;
  flex-direction: column-reverse;
  text-align: right;
  align-content: center;
  align-items: flex-end;
  justify-content: center;
}
.header-info-right .login-btn {
  text-transform: Normal;
  background-color: #54949f;
  border-color: #54949f;
  border-radius: 4px;
  color: #fff;
  padding: 11px 20px;
  font-weight: 300;
  cursor: pointer;
}
</style>
