<template>
  <div id="header-mobile">
    <transition name="fade">
      <div class="backgroundMenu"
        v-if="isOpen">
      </div>
    </transition>
    <div class="header-banner-mobile"
         :class="{open: isOpen}"
         @click.self="closeMenu">
      <div class="content-header-mobile">
        <i class="fa fa-times closeMenu" aria-hidden="true" @click="closeMenu"></i>
        <div class="listMenuContent">
            <span @click="closeMenu">
              <div v-if="!auth">
                <nuxt-link to="/">
                  <img src="/img/glamme_logo.png" alt="logo" style="width:50%"/>
                </nuxt-link>
              </div>
              <div v-else>
                <span class="avatar avatar-image" v-if="auth.avatar">
                  <img :src="auth.avatar" :alt="auth.userFullName" style="width: 50%;border-radius: 50%"/>
                </span>
                <span class="avatar" v-else><span class="avatar-icon"><i class="fa fa-user"></i></span></span>
              </div>
            </span>
            <span v-for="menu in listMenuDetails" :key="menu.id" @click="closeMenu">
              <router-link :to="getlink(menu.objectSlug, menu.objectType)">{{menu.name}}</router-link>
            </span>
            <span @click="closeMenu">
              <a v-if="!auth" @click="showLoginModal">
                Đăng ký / Đăng nhập
              </a>
              <a href="" v-else @click="logout">Thoát</a>
            </span>
        </div>
      </div>
    </div>
    <header class="header-mobile">
      <div class="row row-eq-height1" style="margin:0;">
        <div class="col-xs-2 col-md-2">
          <i class="fa fa-bars bar-header" aria-hidden="true"
             @click="openMenu"></i>
        </div>
        <div class="col-xs-4 col-md-2 text-center">
            <nuxt-link to="/" class="imglink">
              <img src="/img/glamme_logo.png" alt="logo" class="glamme_logo" style="width: auto;max-width: 100%;max-height: 80%;"/>
            </nuxt-link>
        </div>
        <div class=" col-xs-2 col-md-4">

        </div>
        <div class="col-xs-4" style="background-color: #FFC708;">
          <nuxt-link to="/booking" class="button-header-mobile"><span>ĐẶT LỊCH</span></nuxt-link>
        </div>
      </div>
    </header>
  </div>
</template>
<script>
  import CommonsMixin from '@/assets/js/mixins/commons'
  import func from '@/assets/js/commons/functions'
  import {mapGetters} from 'vuex'
  export default {
    name: 'site-header',
    mixins: [CommonsMixin],
    components: {
        // HeaderRegistrationInfo
    },
    data () {
      return {
        item: {},
        isOpen: false
      }
    },
    methods: {
      logout() {
        this.$removeAuthToken()
        this.$store.commit('REMOVE_AUTH')
      },
      openMenu(){
        this.isOpen = true
        document.body.className = 'open-modal'
      },
      closeMenu(){
        this.isOpen = false
        document.body.className = ''
      },
      getlink (link,type) {
        return func.getLink(link,type)
      }
    },
    computed: {
      ...mapGetters({
        auth: 'GET_AUTH',
        headerMenus: 'GET_HEADER_MENU'
      }),
      listMenuDetails () {
        return this.headerMenus.menuDetails
      }
    },
    mounted  () {

    }
  }
</script>
<style lang="scss" scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
