<template>
  <div class="demo-cpn">{{name}}</div>
</template>

<script>
export default {
 data() {
     return {
         name: 'demo component'
     }
 }
}
</script>

<style>
    .demo-cpm {
        background: red;
    }
</style>
