<template>
  <ul class="menu">
      <li v-for="menu in allMenuItems" :key="menu.id" v-bind:id="'menu-item-'+menu.id" v-bind:class="'menu-items'">
          <router-link :to="{name: menu.name}" >
              <span>{{menu.title}}</span>
          </router-link>
      </li>
  </ul>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  mounted () {
    this.getMenuItems()
  },
  computed: {
    ...mapGetters([
      'allMenuItems'
    ])
  },
  methods: {
    ...mapActions([
      'getMenuItems'
    ])
  }
}
</script>
