<template>
  <div>
      <blog-navigation v-if="!$mobile.isMobile" />
      <blog-nav-mobile v-if="$mobile.isMobile"></blog-nav-mobile>
      <most-used-tag :listMostUseTags="listMostUseTags"/>
      <section class="main">
        <div class="container">
          <component v-for="(item, index) in listSectionItems" :key="index" v-bind:is="item.componentName" :listPosts="item.listPosts">
            <!-- component changes when vm.currentView changes! -->
          </component>
        </div>
      </section>
  </div>
</template>

<script>
import postApi from '@/assets/js/api/post'
import gtApi from '@/assets/js/api/grouptext'

import {postStatus} from '@/assets/js/commons/constants.js'
import {BlogNavigation} from '@/components/commons'
import BlogNavMobile from '@/components/mobile/BlogNav'
import {TAG_NUMBER} from '@/assets/js/commons/constants'
import MostUsedTag from '@/components/pages/blog/MostUsedTag'
import TrendSection from '@/components/pages/blog/TrendSection'
import InspiredSection from '@/components/pages/blog/InspiredSection'
import NeedToKnowSection from '@/components/pages/blog/NeedToKnowSection'
import ProSection from '@/components/pages/blog/ProSection'
import VideoSection from '@/components/pages/blog/VideoSection'
import BlogLayout from '@/components/layouts/blog'
import striptags from 'striptags'
export default {
  components: {
    BlogNavigation,
    BlogNavMobile,
    BlogLayout,
    MostUsedTag,
    TrendSection,
    InspiredSection,
    NeedToKnowSection,
    ProSection,
    VideoSection
  },
  layout: 'master',
  async asyncData (context) {
    await context.store.dispatch('getListMostUsedTags', TAG_NUMBER)
    var tags = await context.store.getters.getMostUsedTag
    var seoInfo = await gtApi.getGroupTextBySlug('','seo-blog-index')
    return {
      seo: {
          seoTitle: seoInfo.data.groupText.title,
          seoKeywords: seoInfo.data.groupText.subTitle,
          seoDescription: striptags(seoInfo.data.groupText.description)
      },
      listMostUseTags: tags,
      listSectionItems : [
        {
          componentName:'trend-section',
          listPosts: await postApi.getListPorstsByCateSlug('xu-huong', postStatus.PUBLISH, 1, 5)
        },
        {
          componentName:'inspired-section',
          listPosts: await postApi.getListPorstsByCateSlug('cam-hung', postStatus.PUBLISH, 1, 3)
        },
        {
          componentName:'need-to-know-section',
          listPosts: await postApi.getListPorstsByCateSlug('bi-kip-can-biet', postStatus.PUBLISH, 1, 4)
        },
        {
          componentName:'pro-section',
          listPosts: await postApi.getListPorstsByCateSlug('goc-chuyen-gia', postStatus.PUBLISH, 1, 4)
        },
        {
          componentName:'video-section',
          listPosts: await postApi.getListPorstsByCateSlug('video', postStatus.PUBLISH, 1, 5)
        }
      ]
    }
  },
  head () {
    return {
      title: this.seo.seoTitle,
      meta:
      [
          { hid : "description", name: "description", content: this.seo.seoDescription }
      ],
      link: [{ hid: "canonical", rel: "canonical", href: this.seoHome.seoUrl }]
    }
  }
}
</script>
<style scoped>
  .main{
    background: #e8e8e8;
    padding-top: 20px
  }
</style>

